<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <div>
        <h2 class="text-2xl text-gray-700">
          <nuxt-link :to="'/'">
            <b>Каталог</b>
          </nuxt-link> /
          <b>Корзина</b>
        </h2>
        <client-only>
          <div v-if="sortedByShopProducts.length > 0" class="my-3">
            <div v-for="(shop, shopIndex) in sortedByShopProducts" v-bind:key="shop.id" class="mb-10">
              <div class="mt-5 text-gray-700 text-xl flex items-center">
                <span class="mr-2"><fa v-if="checkIfTotalMoreThanShopPriceMin(shop.shop, shop.shopPriceMin)" :icon="['fas', 'check-circle']" class="text-green-500" /></span>
                <span class="mr-2"><fa v-if="!checkIfTotalMoreThanShopPriceMin(shop.shop, shop.shopPriceMin)" :icon="['fas', 'exclamation-triangle']" class="text-red-rf" /></span>
                <b class="text-xl lg:text-3xl">Товары из магазина: {{ shop.shopName }}</b>
              </div>
              <div v-for="(item, index) in shop.products" v-bind:key="item.id" class="text-sm py-3 px-3 rounded hover:border-gray-400 hover:bg-gray-200 flex items-center justify-between flex-wrap">
                <div class="flex items-top items-center justify-between w-full flex-wrap">
                  <div class="flex items-center justify-start">
                    <div class="px-3 hidden lg:block text-gray-400">
                      {{ index+1 }}
                    </div>
                    <div class="flex items-start lg:items-center justify-start">
                      <div v-if="item.product.media !== 'group'" class="mr-2">
                        <nuxt-link :to="/products/+item.product.url" v-if="item.product.media.mainImage !== null">
                          <img v-lazy="item.product.media.mainImage.url" class="object-cover rounded w-32 h-32 lg:w-24 lg:h-24">
                        </nuxt-link>
                        <nuxt-link :to="/products/+item.product.url" v-if="item.product.media.mainImage === null">
                          <img src="~assets/img/nophoto.svg" class=" object-cover rounded w-10 h-10 filter-grayscale">
                        </nuxt-link>
                      </div>
                    </div>
                  </div>
                  <div class="flex items-center justify-between flex-wrap lg:flex-no-wrap flex-1">
                    <div class="text-gray-700">
                      <nuxt-link :to="/products/+item.product.url" class="bolder text-sm lg:text-xl">
                        {{ item.product.name }}
                      </nuxt-link>
                      <div v-if="item.product.breadcrumbs !== null" class="text-gray-700 mt-2 flex-wrap hidden lg:flex">
                        <div v-for="(crumb, indexP) in item.product.breadcrumbs" v-bind:key="crumb.id">
                          <nuxt-link :to="crumb.slug" :class="indexP != Object.keys(item.product.breadcrumbs).length - 1 ? 'text-gray-500' : 'text-gray-500'" class="cursor-pointer bolder hover:text-gray-700">
                            {{ crumb.title }}
                          </nuxt-link>
                          <span v-if="indexP != Object.keys(item.product.breadcrumbs).length - 1" class="px-1 text-gray-300">/</span>
                        </div>
                      </div>
                      <div v-if="item.product.media === 'group'">
                        <div v-for="inItem in item.product.group.items.data" v-bind:key="inItem.product.id" class="my-1 lg:my-2 px-1 lg:px-2 flex items-center justify-start ">
                          <div v-if="inItem.product.media.mainImage !== null">
                            <img v-lazy="inItem.product.media.mainImage.url" class="object-cover rounded w-8 h-8 lg:w-8 lg:h-8">
                          </div>
                          <div v-if="inItem.product.media.mainImage === null">
                            <img src="~assets/img/nophoto.svg" class=" object-cover rounded w-8 h-8 filter-grayscale">
                          </div>
                          <div class="bolder ml-1">
                            {{ inItem.product.name }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="flex items-center justify-end flex-wrap">
                      <div class="w-full lg:w-auto text-sm text-gray-600 text-center lg:text-right">
                        <b v-if="item.product.priceWithDiscount === null" class="text-xl">{{ item.product.price | numFormat }} ₽</b><b v-if="item.product.priceWithDiscount !== null" class="text-xl">{{ item.product.priceWithDiscount | numFormat }} ₽</b> /
                        <span v-if="item.product.isWeightedGoods">{{ item.product.weight }} {{ item.product.measure }}</span>
                        <span v-if="!item.product.isWeightedGoods">1 шт</span>
                      </div>
                      <div class="ml-0 lg:ml-5 text-left w-full lg:w-auto flex items-center justify-center lg:justify-end">
                        <span class="mr-2 text-gray-500 text-base bolder">Итого:</span>
                        <animated-number
                          :value="calculateTotalForProduct(item)"
                          :formatValue="formatToPrice"
                          :duration="500"
                          class="text-xl text-gray-700 w-auto lg:w-32 text-right"
                          style="font-weight: bolder;"
                        />
                      </div>
                      <div class="ml-0 lg:ml-5 w-full py-2">
                        <div class="flex items-center justify-center lg:justify-end">
                          <button v-on:click="changeItemCartQuantity('minus', item.product.id)" :disabled="!isButtonActive(item)" :class="isButtonActive(item) ? 'bg-gray-400' : 'bg-gray-200'" class="mr-2 text-white text-sm rounded-full w-6 h-6 focus:outline-none flex items-center justify-center">
                            <fa :icon="['fas', 'minus-circle']" />
                          </button>
                          <input v-if="!item.product.isWeightedGoods" :value="item.quantity" type="number" disabled class="bolder px-1 py-2 bg-gray-200 w-20 text-center text-base text-gray-700 rounded opacity-100">
                          <input v-if="item.product.isWeightedGoods" :value="item.weight+' '+item.product.measure" type="text" disabled class="bolder px-1 py-2 bg-gray-200 w-20 text-center text-base text-gray-700 rounded opacity-100">
                          <button v-on:click="changeItemCartQuantity('plus', item.product.id)" class="ml-2 text-white text-sm rounded-full w-6 h-6 bg-gray-400 focus:outline-none flex items-center justify-center">
                            <fa :icon="['fas', 'plus-circle']" />
                          </button>
                          <button v-on:click="deleteProductFromCart(item.product.id)" class="ml-2 text-white text-sm rounded-full w-6 h-6 gradiend-red-button focus:outline-none flex items-center justify-center">
                            <fa :icon="['fas', 'times']" />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="checkIfTotalMoreThanShopPriceMin(shop.shop, shop.shopPriceMin)" class="flex items-center justify-between flex-wrap my-5 border-t border-gray-200 p-3">
                <div class="text-gray-700 flex items-center justify-end lg:justify-start w-full lg:w-auto">
                  <span class="mr-2">Позиций в заказе по магазину:</span>
                  <animated-number
                    :value="calculateTotalItemsByShop(shop.shop)"
                    :formatValue="formatToItems"
                    :duration="500"
                    class="text-xl text-gray-700"
                    style="font-weight: bolder;"
                  />
                </div>
                <div class="flex items-center justify-end w-full lg:w-auto">
                  <span class="mr-2 text-gray-700">Итого по магазину:</span>
                  <animated-number
                    :value="calculateTotalByShop(shop.shop)"
                    :formatValue="formatToPrice"
                    :duration="500"
                    class="text-xl text-gray-700"
                    style="font-weight: bolder;"
                  />
                </div>
              </div>
              <div v-if="!checkIfTotalMoreThanShopPriceMin(shop.shop, shop.shopPriceMin)" class="flex items-center justify-between my-5 border-t border-gray-200 p-3 flex-wrap">
                <div :class="{'animate__animated animate__pulse': animated}" class="text-red-500 text-sm lg:text-base">
                  Минимальная сумма заказа из магазина "{{ shop.shopName }}" составляет {{ shop.shopPriceMin | numFormat }} ₽.<br>
                  Вам необходимо либо донабрать товаров на недостающую сумму, либо <span v-on:click="deleteShopFromCart(shopIndex, shop)" class="border-b border-dashed border-blue-500 text-blue-500 cursor-pointer">отказаться</span> от доставки товаров из этого магазина.
                </div>
                <div class="flex items-center justify-end w-full lg:w-auto">
                  <span class="mr-2 text-gray-700">Итого по магазину:</span>
                  <animated-number
                    :value="calculateTotalByShop(shop.shop)"
                    :formatValue="formatToPrice"
                    :duration="500"
                    class="text-xl text-gray-700"
                    style="font-weight: bolder;"
                  />
                </div>
              </div>
            </div>
          <!-- <div class="flex items-center justify-between px-0 lg:p-3 flex-wrap">
            <button v-on:click="goToCheckoutPage" class="rounded bg-gray-600 hover:bg-gray-500 w-full lg:w-auto py-2 px-10 text-sm text-white focus:outline-none">
              Оформить заказ
            </button>
            <div class="text-xl w-full lg:w-auto text-center order-first lg:order-last mb-2 lg:mb-0">
              <b class="text-xl lg:text-2xl text-gray-700">Итого по заказу: </b>
              <animated-number
                :value="calculateTotal()"
                :formatValue="formatToPrice"
                :duration="500"
                class="text-3xl text-gray-700"
                style="font-weight: bolder;"
              />
            </div>
          </div> -->
          </div>
          <div v-if="$store.state.cart.items.length === 0" class="p-5 rounded bg-red-100 text-xl bolder my-5 border-l-2 text-gray-700 rounded-l-none border-red-400">
            В вашей корзине нет ни одного товара для оформления заказа.<br>
            Перейдите в каталог товаров и добавьте в корзину то, что вам необходимо!
          </div>
        </client-only>
        <div v-if="sortedByShopProducts.length > 0" class="sticky bottom-0 left-0 pb-3">
          <div class="bg-gray-700 rounded p-2 pb-16 lg:p-5 flex items-center justify-between flex-wrap">
            <button v-on:click="goToCheckoutPage" class="rounded bg-white hover:bg-gray-500 w-full lg:w-auto py-2 px-10 text-sm text-gray-700 bolder focus:outline-none">
              Оформить заказ
            </button>
            <div class="text-xl w-full lg:w-auto text-center order-first lg:order-last mb-2 lg:mb-0">
              <b class="text-xl lg:text-2xl text-white">Итого по заказу: </b>
              <animated-number
                :value="calculateTotal()"
                :formatValue="formatToPrice"
                :duration="500"
                class="text-3xl text-white"
                style="font-weight: bolder;"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="my-2 lg:my-5">
        <h2 class="text-2xl text-gray-700 bolder">
          Возможно вас заинтересует
        </h2>
        <mainPageProductsByCategoryComponent :categoryId="1009" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import AnimatedNumber from 'animated-number-vue'
import axios from 'axios'
import mainPageProductsByCategoryComponent from '~/components/shops/mainPageProductsByCategoryComponent'

export default {
  layout: 'mainPage',
  auth: false,
  components: { AnimatedNumber, mainPageProductsByCategoryComponent },
  data: () => ({
    currentShop: null,
    isCartValidated: [],
    animated: true
  }),
  computed: {
    ...mapState({
      cartItems: state => state.cart.items
    }),
    ...mapGetters({
      sortedByShopProducts: 'cart/sortedByShopProducts'
    })
  },
  async fetch ({ store, params }) {
    const { data } = await axios.get(process.env.API_URL + `/api/index`)
    store.commit('shops/setIndexData', data.topProductsByCategory)
  },
  created () {
    const _self = this
    setTimeout(function () { _self.animated = false }, 1000)
  },
  methods: {

    isButtonActive (item) {
      if (item.isWeighted) {
        if (item.weight === item.minWeight) {
          return false
        } else {
          return true
        }
      } else if (item.quantity === 1) {
        return false
      } else {
        return true
      }
    },
    async deleteShopFromCart (index, shop) {
      await this.$swal({
        title: 'Вы уверены, что хотите удалить заказ из магазина "' + shop.shopName + '"?',
        text: 'После подтверждения этого действия все товары из этого магазина будут удалены из вашей корзины.',
        showCancelButton: true,
        confirmButtonClass: 'bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 w-48 rounded inline-flex items-center mr-0 lg:mr-2 focus:outline-none',
        cancelButtonClass: 'bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 w-48 px-4 rounded inline-flex items-center mt-2 lg:mt-0 focus:outline-none',
        buttonsStyling: false,
        cancelButtonText: 'Отмена',
        confirmButtonText: 'Да'
      }).then(async (result) => {
        if (result.value) {
          await this.$store.dispatch('cart/removeShopFromCart', shop.shop)
        }
      })
    },
    formatToItems (value) {
      return `${this.$options.filters.numFormat(value.toFixed(0))}`
    },
    formatToPrice (value) {
      return `${this.$options.filters.numFormat(value.toFixed(2), '0,0') + '<span class="text-gray-500">' + this.$options.filters.numFormat(value.toFixed(2), '.00 $') + '</span>'}`
    },
    declOfNum (number, titles) {
      const cases = [2, 0, 1, 1, 1, 2]
      return titles[ (number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5] ]
    },
    goToCheckoutPage () {
      if (this.isCartValidated.filter(e => e.isValid === false).length > 0) {
        const numOfInvalidShops = this.isCartValidated.filter(e => e.isValid === false).length
        this.animated = true
        const _self = this
        setTimeout(function () { _self.animated = false }, 1000)
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'error',
          title: 'В корзине не соблюдена минимальная сумма заказа для ' + numOfInvalidShops + ' ' + this.declOfNum(numOfInvalidShops, ['магазина', 'магазинов', 'магазинов']),
          timer: 3000,
          showConfirmButton: false
        })
      } else {
        this.$router.push({ path: '/cart/checkout' })
      }
    },
    formatMeasure (measure) {
      switch (measure) {
        case 'штук': return '<span class="bg-gray-200 px-2 py-1 rounded">шт</span>'
        case 'грамм': return '<span class="bg-gray-200 px-2 py-1 rounded">гр</span>'
        case 'килограмм': return '<span class="bg-gray-200 px-2 py-1 rounded">кг</span>'
        case 'милилитров': return '<span class="bg-gray-200 px-2 py-1 rounded">мл</span>'
        case 'литров': return '<span class="bg-gray-200 px-2 py-1 rounded">л</span>'
        case 'метров': return '<span class="bg-gray-200 px-2 py-1 rounded">м</span>'
        case 'квадратных метров': return '<span class="bg-gray-200 px-2 py-1 rounded">м2</span>'
        default: return ''
      }
    },
    formatShop (name) {
      if (this.currentShop !== name) {
        this.currentShop = name
        return 'block'
      } else {
        return 'hidden'
      }
    },
    deleteProductFromCart (productId) {
      this.$store.dispatch('cart/removeFromCart', productId).then(() => {
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'success',
          title: 'Позиция удалена из корзины',
          timer: 3000,
          showConfirmButton: false
        })

        this.validateShops()
      })
    },
    changeItemCartQuantity (param, productId) {
      if (param === 'plus') {
        this.$store.dispatch('cart/plusOneItemOfProductInCart', productId).then(() => {
          this.$swal({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: 'Количество товаров позиции увеличено на один',
            timer: 3000,
            showConfirmButton: false
          })
        })
      } else {
        this.$store.dispatch('cart/minusOneItemOfProductInCart', productId).then(() => {
          this.$swal({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: 'Количество товаров позиции уменьшено на один',
            timer: 3000,
            showConfirmButton: false
          })
        })
      }
      this.validateShops()
    },
    calculateTotalForProduct (p) {
      let price = p.product.price
      if (p.product.priceWithDiscount !== null) {
        price = p.product.priceWithDiscount
      }
      if (p.isWeighted) {
        // console.log(price * p.weight / p.minWeight)
        return price * p.weight / p.minWeight
      } else {
        return price * p.quantity
      }
    },
    calculateTotal () {
      const totalPrice = this.cartItems.reduce((total, p) => {
        let price = p.product.price
        if (p.product.priceWithDiscount !== null) {
          price = p.product.priceWithDiscount
        }

        if (p.isWeighted) {
          return total + price * p.weight / p.minWeight
        } else {
          return total + price * p.quantity
        }
      }, 0)

      // return this.$options.filters.numFormat(totalPrice.toFixed(2))
      return totalPrice
    },
    calculateTotalByShop (shopId) {
      const totalPriceByShop = this.cartItems.reduce((total, p) => {
        let price = p.product.price
        if (p.product.priceWithDiscount !== null) {
          price = p.product.priceWithDiscount
        }

        if (p.shopId === shopId) {
          if (p.isWeighted) {
            return total + price * p.weight / p.minWeight
          } else {
            return total + price * p.quantity
          }
        } else {
          return total
        }
      }, 0)
      return totalPriceByShop
    },
    calculateTotalItemsByShop (shopId) {
      const totalItemsByShop = this.cartItems.reduce((total, p) => {
        if (p.shopId === shopId) {
          return total + 1 * p.quantity
        } else {
          return total
        }
      }, 0)
      return totalItemsByShop
    },
    validateShops () {
      const _self = this
      this.isCartValidated = []
      this.sortedByShopProducts.forEach(function (shop) {
        _self.checkIfTotalMoreThanShopPriceMin(shop.shop, shop.shopPriceMin)
      })
    },
    checkIfTotalMoreThanShopPriceMin (shopId, shopPriceMin) {
      const totalPriceByShop = this.calculateTotalByShop(shopId)
      if (parseFloat(totalPriceByShop) < parseFloat(shopPriceMin)) {
        if (this.isCartValidated.filter(e => e.shopId === shopId).length > 0) {
          const index = this.isCartValidated.findIndex(e => e.shopId === shopId)
          this.isCartValidated[index].isValid = false
        } else {
          this.isCartValidated.push({ shopId, isValid: false })
        }
        // this.animated = true
        // const _self = this
        // setTimeout(function () { _self.animated = false }, 1000)
        return false
      } else {
        if (this.isCartValidated.filter(e => e.shopId === shopId).length > 0) {
          const index = this.isCartValidated.findIndex(e => e.shopId === shopId)
          this.isCartValidated[index].isValid = true
        } else {
          this.isCartValidated.push({ shopId, isValid: true })
        }
        return true
      }
    }
  }
}
</script>
