<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <h2 class="text-2xl text-gray-700">
        <b>О нас</b>
      </h2>
      <div class="text-gray-700 leading-relaxed">
        <p class="py-5">
          Компания RF.market основана профессиональными закупщиками, у которых за плечами 10 лет опыта в закупках продуктов питания и товаров народного потребления.
        </p>

        <p class="pb-5">
          «В нашей работе, прежде всего мы руководствуемся качеством предоставляемых товаров на платформе RF.market. Отдельным направлением является безопасность покупок, поэтому мы используем «Холдирование» средств покупателя, то есть в момент покупки продавец получит деньги только, когда вы примите товар по качеству и в течении 24 часов не будет нареканий, так же советующие группы товаров можно вернуть в течении 14 дней согласно законодательству Российской Федерации»
        </p>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  layout: 'mainPage',
  auth: false,
  components: { },
  data: () => ({

  }),
  computed: {

  },
  created () {

  },
  methods: {

  }
}
</script>
