<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <h2 class="text-2xl text-gray-700">
        <b>Пользовательское соглашение</b>
      </h2>
      <div class="text-gray-700 leading-relaxed">
        <p class="py-5">
          На основании Федерального закона Российской Федерации от 27 июля 2006 г N 152-ФЗ «О персональных данных» даю свое согласие на обработку моих персональных данных (Фамилия, Имя, Отчество, Дата рождения, Пол, Портретный снимок, Сведения об аккаунтах в социальных сетях, Контактный телефон, Адрес электронной почты, Адрес нахождения субъекта, Дата и время заказа, Дата и время доставки, Перечень и количество заказанного товара, Стоимость заказа и доставки, а также иные сведения, которые я сообщу) ИП Рябов К.И.. Подтверждаю, что даю согласие по своей воле и в своем интересе.
        </p><p class="py-5">
          Согласие дается с целью продвижения онлайн-платформы товаров, работ, услуг на рынке, в том числе получения мной услуг и приобретения товаров на онлайн-гплатформе «RF.market».
        </p><p class="py-5">
          На основании ч.1 ст.8 Федерального закона Российской Федерации от 27 июля 2006 г N 152-ФЗ «О персональных данных» даю свое согласие на включение предоставленных мной персональных данных в общедоступные источники персональных данных ИП Рябов К.И..
        </p><p class="py-5">
          Согласие дается на осуществление автоматизированной, а также без использования средств автоматизации обработки моих персональных данных включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение) в документарной и электронной форме. Настоящим согласием я подтверждаю, что согласен на передачу информации в электронной форме (в том числе персональных данных) по открытым каналам связи сети Интернет.
        </p><p class="py-5">
          Настоящим я даю согласие Обществу на использование Обществом файлов «cookie» (представляют собой небольшие файлы, содержащие информацию о предыдущих посещениях веб-сайта) с целью персонализации сервисов и повышения удобства пользования веб-сайтом www.rf.market.
        </p><p class="py-5">
          Настоящим согласием я безусловно соглашаюсь, что Общество вправе предоставить мне информацию по моему заказу в устной, письменной или электронной форме, в том числе на отправку на мой телефон и адрес электронной почты сообщений о статусе заказа, используя мои персональные данные.
        </p><p class="py-5">
          Настоящим согласием в соответствии с п. 1. ст. 18 Федерального закона Российской Федерации от 13 марта 2006 г. N 38-Ф3 «О рекламе» я безусловно соглашаюсь, на отправку на мой телефон и адрес электронной почты сообщений, содержащих информацию о новостях и акциях Общества.
        </p><p class="py-5">
          Согласие дается на использование Обществом сервисов Google Analytics и/или Яндекс.Метрика, на трансграничную передачу персональных данных, на передачу моих персональных данных для их обработки третьим лицам (в том числе партнерам онлайн платформы) для их обработки способами, указанными выше, а также для достижения указанных выше целей.
        </p><p class="py-5">
          Срок, в течение которого действует настоящее Согласие, составляет 3 (три) года со дня последнего посещения сайта. Условием прекращения обработки персональных данных является окончание указанного срока или получение ИП Рябовым К.И. моего письменного отзыва настоящего согласия. Прекращается обработка моих персональных данных и уничтожает их в срок, не превышающий 30 дней с даты поступления отзыва настоящего согласия. ИП Рябов К.И. вправе после получения отзыва настоящего согласия, а равно после истечения срока действия настоящего согласия, продолжать обработку моих персональных данных в той части, в которой для ее осуществления согласие не требуется или не будет требоваться в силу действующего законодательства.
        </p>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  layout: 'mainPage',
  auth: false,
  components: { },
  data: () => ({

  }),
  computed: {

  },
  created () {

  },
  methods: {

  }
}
</script>
