<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <h2 class="text-2xl text-gray-700">
        <b>Контакты</b>
      </h2>
      <div class="text-gray-700 leading-relaxed">
        <h3 class="bolder text-xl py-5">
          Отдел по работе с покупателями:
        </h3>
        <div class="flex items-end">
          <ul class="bolder">
            <li class="text-xl">
              +7 495 128 87 97
            </li>
            <li class="text-xl">
              +7 995 917 05 96
            </li>
          </ul>
          <div class="flex ml-5">
            <span v-on:click="openWhatsApp" class="ml-3"><fa :icon="['fab', 'whatsapp']" class="h-8 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer" /></span>
            <span v-on:click="openTelegram" class="ml-2"><fa :icon="['fab', 'telegram']" class="h-8 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer" /></span>
            <span v-on:click="openViber" class="ml-2"><fa :icon="['fab', 'viber']" class="h-8 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer" /></span>
            <span v-on:click="openFacebook" class="ml-2"><fa :icon="['fab', 'facebook']" class="h-8 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer" /></span>
            <span v-on:click="openInstagram" class="ml-2"><fa :icon="['fab', 'instagram']" class="h-8 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer" /></span>
          </div>
        </div>
        <h3 class="bolder text-xl py-5">
          Отдел закупок и продаж B2B:
        </h3>
        <ul class="bolder">
          <li class="text-xl">
            +7 995 905 75 55
          </li>
        </ul>
        <ul class="pt-10 list-disc ml-5">
          <li><span class="bolder">ИТ офис:</span> г. Москва, Ленинский проспект 109, офис 89</li>
          <li><span class="bolder">Логистика:</span> г. Москва, Калужское шоссе 22-киллометр. 10</li>
        </ul>
        <h3 class="bolder text-xl py-5">
          Социальные сети:
        </h3>
        <ul class="pb-5 list-disc ml-5">
          <li>Инстаграмм <a class="text-blue-600" href="https://www.instagram.com/rf.market/">https://www.instagram.com/rf.market/</a></li>
          <li>Facebook <a class="text-blue-600" href="https://www.facebook.com/rfmarketofficial/">https://www.facebook.com/rfmarketofficial/</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  layout: 'mainPage',
  auth: false,
  components: { },
  data: () => ({

  }),
  computed: {

  },
  created () {

  },
  methods: {
    openWhatsApp () {
      window.open('https://wa.me/79959170596', '_blank')
    },
    openTelegram () {
      window.open('https://t.me/rf_market', '_blank')
    },
    openViber () {
      window.open('viber://chat?number=+79959170596', '_blank')
    },
    openFacebook () {
      window.open('https://www.instagram.com/rf.market/', '_blank')
    },
    openInstagram () {
      window.open('https://www.facebook.com/rfmarketofficial/', '_blank')
    }
  }
}
</script>
