<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <h1 class="text-2xl text-gray-700 bolder">
        Доставка ваших заказов
      </h1>
      <div class="text-gray-700 leading-relaxed pt-5">
        <p>
          Доставка продуктов питания и сопутствующих товаров от компании РФ маркет на дом, в офис, на дачу или в любое другое удобное для вас место в Москве и Московской области. Выбирайте подходящий для вас сервис и оформляйте заказ.
        </p>
      </div>
      <div class="flex flex-wrap overflow-hidden lg:-mx-2 text-gray-700 leading-relaxed items-stretch">
        <div class="w-full overflow-hidden lg:my-2 lg:px-2 lg:w-1/2">
          <div class="rounded bg-gray-200 hover:bg-gray-300 p-5 h-full">
            <h3 class="bolder">
              В пределах МКАД
            </h3>
            <p class="text-sm">
              Минимальная сумма заказа - отсутствует<br>Бесплатная доставка - от 4000 ₽<br><b>349 ₽</b> - при заказе до 4000 ₽
            </p>
          </div>
        </div>
        <div class="w-full overflow-hidden mt-2 lg:my-2 lg:px-2 lg:w-1/2">
          <div class="rounded bg-gray-200 hover:bg-gray-300 p-5 h-full">
            <h3 class="bolder">
              За МКАД
            </h3>
            <p class="text-sm">
              Минимальная сумма - 4000 ₽<br>Бесплатная доставка - от 7500 ₽, в радиусе 30 км. От МКАД<br>
              <b>499 ₽</b> - при заказе до 4000 ₽ (+ 50 ₽ за каждый км свыше 20 км от МКАД, до 100 км)
            </p>
          </div>
        </div>
      </div>
      <div class="text-gray-700 leading-relaxed mt-5">
        <h2 class="text-2xl text-gray-700 bolder">
          Как быстро привозите?
        </h2>
        При оформлении заказа <span class="bg-gray-200 px-2 bolder py-1 rounded text-sm cursor-pointer mb-2 lg:mb-0">до 12:00</span> текущего дня, доставить можем день в день
        При оформлении <span class="bg-gray-200 px-2 bolder py-1 rounded text-sm cursor-pointer mb-2 lg:mb-0">после 12:00</span> текущего дня, доставка переносится на следующий день.
        Время доставки <span class="bg-green-rf px-2 bolder py-1 rounded text-white text-sm cursor-pointer mb-2 lg:mb-0">с 9:00 до 22:00</span>
      </div>
      <div class="my-5 text-gray-700 leading-relaxed ">
        <div class="bg-green-100 hover:bg-green-200 rounded flex flex-wrap">
          <div class="flex-1 p-10">
            <h3 class="bolder">
              МЫ ЗАБОТИМСЯ О БЕЗОПАСНОСТИ ДОСТАВКИ:
            </h3>
            <ul class="list-disc mt-5 ml-5 lg:ml-10">
              <li class="py-3">
                Курьеры обеспечены медицинскими масками и санитайзерами для обработки рук.
              </li>
              <li class="py-3">
                Все сотрудники склада и службы доставки проходят ежедневные медосмотры.
              </li>
              <li class="py-3">
                Введена бесконтактная доставка. Во время оформления заказа отметьте галочкой функцию "Оставить у двери" и оплатите заказ онлайн. Курьер оставит заказ у вашей двери, позвонит и скажет, что заказ доставлен.
              </li>
            </ul>
          </div>
          <div class="w-full lg:w-1/3 relative">
            <img class="object-cover w-full h-auto rounded rounded-l-none" src="~assets/img/safety_pack.jpg">
            <div class="absolute bottom-0 left-0 w-full">
              <div class="p-5 rounded rounded-l-none bg-green-rf w-full">
                <h3 class="bolder text-white text-xl lg:text-4xl">
                  Безопасная упаковка
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-gray-700 leading-relaxed mb-5">
        <h2 class="text-2xl text-gray-700 bolder">
          Способы оплаты
        </h2>

        <div>
          <p class="text-gray-700 leading-relaxed">
            Вы можете оплатить заказ и банковской картой. Кассовый чек будет выслан на электронную почту, указанную в личном кабинете.
          </p>
        </div>
        <div class="flex flex-wrap overflow-hidden lg:-mx-2 text-gray-700 leading-relaxed items-stretch">
          <div class="w-full overflow-hidden lg:my-2 lg:px-2 lg:w-1/2">
            <div class="rounded bg-gray-200 hover:bg-gray-300 p-5 h-full">
              <h3 class="bolder">
                Картой онлайн
              </h3>
              <p class="text-sm">
                Во время оформления заказа выполняется резервирование его суммы на карте. Фактически средства снимаются, когда вы уже ознакомились с товарами и подтвердили покупку.
              </p>
            </div>
          </div>
          <div class="w-full overflow-hidden mt-2 lg:my-2 lg:px-2 lg:w-1/2">
            <div class="rounded bg-gray-200 hover:bg-gray-300 p-5 h-full">
              <h3 class="bolder">
                Картой при получении
              </h3>
              <p class="text-sm">
                Оплата осуществляется после проверки заказа при доставке курьером.
              </p>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-start flex-wrap my-3">
          <div class="w-12 h-12 lg:w-20 lg:h-20 rounded-full bg-gray-200 flex items-center justify-center ml-2">
            <img src="~assets/img/brands/mir-logo-h14px.svg" class="h-3 lg:h-4 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer">
          </div>
          <div class="w-12 h-12 lg:w-20 lg:h-20 rounded-full bg-gray-200 flex items-center justify-center ml-2">
            <img src="~assets/img/brands/mc_vrt_pos.svg" class="h-8 lg:h-10 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer">
          </div>
          <div class="w-12 h-12 lg:w-20 lg:h-20 rounded-full bg-gray-200 flex items-center justify-center ml-2">
            <img src="~assets/img/brands/Visa_Inc._logo.svg" class="h-3 lg:h-5 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer">
          </div>
          <div class="w-12 h-12 lg:w-20 lg:h-20 rounded-full bg-gray-200 flex items-center justify-center ml-2">
            <img src="~assets/img/brands/Apple_Pay_logo.svg" class="h-4 lg:h-6 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer">
          </div>
          <div class="w-12 h-12 lg:w-20 lg:h-20 rounded-full bg-gray-200 flex items-center justify-center ml-2">
            <img src="~assets/img/brands/Google_Pay_(GPay)_Logo.svg" class="h-4 lg:h-6 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer">
          </div>
        </div>
        <div class="text-gray-700 leading-relaxed">
          <p class="my-5">
            В случае отказа покупателя от предоплаченного заказа или его отмены по инициативе онлайн-магазина РФ маркет, зарезервированная сумма разблокируется автоматически в течение 3 рабочих дней.
          </p>
          <p class="mb-5">
            При отказе покупателя от товара или товаров из доставленного заказа разница между фактической суммой и зарезервированными при оформлении заказа средствами автоматически вернется на карту в течение 3 рабочих дней.
          </p>
          <p>При отсутствии товара или товаров в доставленном заказе разница между фактической суммой и зарезервированными при оформлении заказа средствами автоматически вернется на карту в течение 3 рабочих дней.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  layout: 'mainPage',
  auth: false,
  components: { },
  data: () => ({

  }),
  computed: {

  },
  created () {

  },
  methods: {

  }
}
</script>
