<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <h2 class="text-2xl text-gray-700">
        <b>Доставка</b>
      </h2>
      <div class="text-gray-700 leading-relaxed">
        <ul class="py-5 list-disc ml-5">
          <li>Соблюдение температурных режимов на складе и при доставке.</li>
          <li>100% контроль качества и свежести.</li>
          <li>Удобные 2-х часовые интервалы.</li>
          <li>Широкий ассортимент свежих продуктов и товаров на каждый день.</li>
          <li>Возможность отказаться от любого товара при получении бесплатно.</li>
        </ul>
        <h3 class="bolder text-xl">
          МЫ ЗАБОТИМСЯ О БЕЗОПАСНОСТИ ДОСТАВКИ:
        </h3>
        <ul class="py-5 list-disc ml-5">
          <li>Курьеры обеспечены медицинскими масками и санитайзерами для обработки рук.</li>
          <li>Все сотрудники склада и службы доставки проходят ежедневные медосмотры.</li>
          <li>Введена бесконтактная доставка. Во время оформления заказа отметьте галочкой функцию "Оставить у двери" и оплатите заказ онлайн. Курьер оставит заказ у вашей двери, позвонит и скажет, что заказ доставлен.</li>
        </ul>
        <h3 class="bolder text-xl">
          Доставка курьером по Москве в пределах МКАД
        </h3>
        <ul class="py-5 list-disc ml-5">
          <li>при заказе до 3 000 рублей стоимость доставки 249 рублей</li>
          <li>при заказе от 3 000 рублей доставка бесплатная</li>
        </ul>
        <h3 class="bolder text-xl">
          Доставка курьером за пределы МКАД
        </h3>
        <ul class="py-5 list-disc ml-5">
          <li>при заказе до 3 500 рублей стоимость доставки 349 рублей</li>
          <li>при заказе от 3 500 рублей доставка бесплатная</li>
        </ul>
        <p class="pt-5">
          Доставляем своими курьерами.
        </p>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  layout: 'mainPage',
  auth: false,
  components: { },
  data: () => ({

  }),
  computed: {

  },
  created () {

  },
  methods: {

  }
}
</script>
