<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <h1 class="text-2xl text-gray-700 bolder">
        Сотрудничество
      </h1>
      <div class="text-gray-700 leading-relaxed">
        <h3 class="bolder text-xl py-5">
          Хотите открыть представительство RF.market в своем регионе?
        </h3>
        <p>
          Изначально платформа RF market планировалась, как продуктовый маркет плэйс и агрегатор, но мы столкнулись со следующими проблемами:
        </p>
        <ul class="my-5 ml-5 lg:ml-10 list-disc">
          <li>Нестабильное качество товаров</li>
          <li>Отсутствие многих товаров на остатках, в момент заказа</li>
          <li>Неправильная упаковка и нарушение санитарных норм</li>
          <li>Нестабильное ценообразование</li>
        </ul>

        <p>
          Как следствие мы просто теряли наших покупателей, поэтому мы были вынуждены организовать процессы от закупки, хранения и комплектации до доставки покупателю.
          Наша команда сформировала определенный компетенции и навыки, которыми мы можем поделится с нашими партнерами.
        </p>

        <h3 class="bolder text-xl py-5">
          Кто наш партнер в г. Москве и г. Санкт-Петербург?
        </h3>
        <ul class="ml-5 lg:ml-10 list-disc">
          <li>Магазин формата «У дома», который хочет начать торговать онлайн в радиусе 2,5-5 км.</li>
          <li>Оптово-розничная база</li>
          <li>Рынки и ярмарки</li>
        </ul>
        <p class="py-5">
          Если вы хотите развивать онлайн продажи на эксклюзивных условия в своем Регионе, просто свяжитесь с нами.
        </p>
        <p>
          Условия по сотрудничеству вы можете обсудить по телефону <a href="tel:+79959057555" class="bolder">+7 995 905 75 55</a>
        </p>
        <h3 class="mt-5 bolder text-xl py-5">
          Что мы предлагаем:
        </h3>
        <ul class="ml-5 lg:ml-10 list-disc mb-5">
          <li>Быстрый выход в онлайн продажи</li>
          <li>Готовые модули по оплатам</li>
          <li>Готовое решение по логистики</li>
          <li>Закрепление территории именно за Вами</li>
          <li>Сами настроим и подготовим Ваш каталог продаж</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  layout: 'mainPage',
  auth: false,
  components: { },
  data: () => ({

  }),
  computed: {

  },
  created () {

  },
  methods: {

  }
}
</script>
