<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <h2 class="text-2xl text-gray-700">
        <b>Оплата</b>
      </h2>
      <div class="text-gray-700 leading-relaxed">
        <p class="py-5">
          Мы внимательно относимся к нашим покупателям, поэтому используем в расчетах принцип «безопасной сделки» - после того, как вы совершили оплату, денежные средства поступят к нам на счет только, поле того, как вы примите товар и он устроит вас по качеству.
        </p>

        <h3 class="bolder text-xl">
          Мы принимаем к оплате:
        </h3>
        <ul class="pb-5">
          <li>Visa Electron;</li>
          <li>Visa Classic;</li>
          <li>Visa Gold;</li>
          <li>MasterCard Electronic;</li>
          <li>MasterCard Standart;</li>
          <li>MasterCard Gold;</li>
          <li>Cirrus Maestro;</li>
          <li>а также электронными виртуальными картами.</li>
        </ul>
        <h3 class="bolder text-xl">
          Описание процесса передачи данных:
        </h3>
        <p class="pb-5">
          Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платежный шлюз АО «Тинькофф Банк», официальный сайт, лицензия ЦБ РФ № 2673
          . Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa, MasterCard SecureCode, MIR Accept, J-Secure для проведения платежа также может потребоваться ввод специального пароля.
          Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается АО «Тинькофф Банк», официальный сайт, лицензия ЦБ РФ № 2673. Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int., MasterCard Europe Sprl, JCB.
        </p>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  layout: 'mainPage',
  auth: false,
  components: { },
  data: () => ({

  }),
  computed: {

  },
  created () {

  },
  methods: {

  }
}
</script>
