<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <h2 class="text-2xl text-gray-700">
        <b>Политика в области обработки и защиты персональных данных</b>
      </h2>
      <div class="text-gray-700 leading-relaxed">
        <h3 class="bolder text-xl py-5">
          Цель политики
        </h3>
        <p>
          Обеспечение защиты прав и свобод человека и гражданина (субъекта ПДн), в том числе защиты прав на неприкосновенность его частной жизни, личную и семейную тайну, при обработке его персональных данных (ПДн) в ИП Рябов К.И., в соответствии с законодательством.
        </p>

        <h3 class="bolder text-xl py-5">
          Принципы обработки персональных данных
        </h3>
        <ul class="py-5 list-disc ml-5">
          <li>
            Соблюдение прав субъектов ПДн при обработке их ПДн.
          </li><li>
            Осуществление обработки ПДн на законной и справедливой основе для достижения целей их обработки.
          </li><li>
            Недопущение обработки ПДн, которые: не отвечают целям обработки, избыточны, или содержатся в базах данных, цели обработки которых несовместимы.
          </li><li>
            Обеспечение точности, достаточности и актуальности ПДн по отношению к целям их обработки.
          </li><li>
            Хранение ПДн в форме, позволяющей определить субъекта ПДн, не дольше, чем этого требуют цели обработки ПДн.
          </li><li>
            Уничтожение или обезличивание ПДн по достижении целей обработки или в случае утраты необходимости в достижении этих целей.
          </li>
        </ul>
        <h3 class="bolder text-xl py-5">
          Условия обработки персональных данных
        </h3>
        <ul class="py-5 list-disc ml-5">
          <li>
            Обработка ПДн осуществляется с соблюдением принципов и правил, предусмотренных нормативно-правовыми актами в области ПДн.
          </li><li>
            Обработка ПДн осуществляется с согласия субъекта ПДн или в случаях, предусмотренных федеральным законом.
          </li><li>
            Запись, систематизация, накопление, хранение, уточнение, извлечение ПДн граждан РФ при сборе ПДн осуществляются с использованием баз данных, находящихся на территории РФ, если иное не предусмотрено законодательством.
          </li><li>
            Трансграничная передача ПДн осуществляется только после сбора ПДн на территории РФ, в соответствии с законодательством.
          </li><li>
            Лица, получившие доступ к ПДн, обязаны сохранять конфиденциальность и не распространять их без согласия субъекта ПДн, если иное не предусмотрено федеральным законом.
          </li>
        </ul>
        <h3 class="bolder text-xl py-5">
          Способы достижения цели
        </h3>
        <ul class="py-5 list-disc ml-5">
          <li>
            Обеспечение защищенности информационных систем ПДн от воздействия актуальных угроз безопасности ПДн с учетом оценки вреда субъектам ПДн;
          </li><li>
            Применение комплекса организационных и технических мер по обеспечению безопасности ПДн, необходимых для выполнения требований законодательства к защите ПДн, при их обработке в информационных системах (ИС) ПДн, а также без использования средств автоматизации.
          </li><li>
            Систематический контроль соответствия обработки ПДн требованиям законодательства и локальным нормативным актам.
          </li><li>
            Проведение мероприятий по информированию и обучению персонала правилам обработки и защиты ПДн.
          </li><li>
            Неотвратимость наступления ответственности за нарушение настоящей Политики.
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  layout: 'mainPage',
  auth: false,
  components: { },
  data: () => ({

  }),
  computed: {

  },
  created () {

  },
  methods: {

  }
}
</script>
