<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <h2 class="text-2xl text-gray-700">
        <b>О проекте</b>
      </h2>
      <div class="text-gray-700 leading-relaxed mb-5">
        <h3 class="bolder text-xl py-5">
          RF.market – платформа для удобных онлайн покупок и ведения бизнеса.
        </h3>

        <p>Наши преимущества для покупателей:</p>
        <ul class="pb-5 list-disc ml-5">
          <li>Безопасная сделка: продавец получит деньги только после того, как вы примите товар по качеству.</li>
          <li>Регулярные акции и скидки.</li>
          <li>Выберите любимый продукт и получите на него максимально низку цену.</li>
          <li>Участие в закрытых распродажах.</li>
          <li>Персональный менеджер.</li>
        </ul>

        <p>
          Все данные, представленные на сайте, носят сугубо информационный характер и не являются исчерпывающими. Для более подробной информации следует обращаться к менеджерам компании по указанным на сайте телефонам. Вся представленная на сайте информация, касающаяся комплектации, технических характеристик, цветовых сочетаний, а также стоимости продукции, носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями пункта 2 статьи 437 Гражданского Кодекса Российской Федерации. Указанные цены являются рекомендованными и могут отличаться от действительных цен.
        </p>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  layout: 'mainPage',
  auth: false,
  components: { },
  data: () => ({

  }),
  computed: {

  },
  created () {

  },
  methods: {

  }
}
</script>
