<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <h2 class="text-2xl text-gray-700">
        <b>Поставщикам</b>
      </h2>
      <div class="text-gray-700 leading-relaxed">
        <p class="py-5">
          Если вы производите или торгуете уникальным по качеству товаром, предлагаем вам разместить его на платформе RF.market
        </p>
        <p>Наши сотрудники самостоятельно занесут товары на платформу и предоставят вам доступы к личному кабинету</p>
        <p>Ваш личный кабинет – это удобный инструмент продвижения своих товаров, вы можете создавать самостоятельные акции или присоединяться к текущим</p>

        <h3 class="bolder text-xl py-5">
          Преимущества для вас:
        </h3>
        <ul class="pb-5 list-disc ml-5">
          <li>Мы самостоятельно занесем ваши товары на платформу, от вас необходимо только предоставить информацию в электронном виде</li>
          <li>Поможем сделать фотосессию товаров</li>
          <li>Предоставим уже готовую онлайн кассу и все интеграции с платежными системами</li>

          <li>Вы можете торговать, как со своего склада так и с нашего логистического центра</li>
          <li>Выплата средств происходит сразу после получения товара покупателем и приемки его по качеству</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  layout: 'mainPage',
  auth: false,
  components: { },
  data: () => ({

  }),
  computed: {

  },
  created () {

  },
  methods: {

  }
}
</script>
