<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <h2 class="text-2xl text-gray-700">
        <b>Возврат товаров</b>
      </h2>
      <div class="text-gray-700 leading-relaxed">
        <h3 class="bolder text-xl py-5">
          Если вы разочаровались в качестве поставленного товара, позвоните нам +74951288797 или напишите на whatsapp <span v-on:click="openWhatsApp" class="cursor-pointer text-green-600">+79959170596</span>.
        </h3>

        <h3 class="bolder text-xl pt-5">
          Возврат продовольственных товаров:
        </h3>
        <p>
          Клиент может вернуть продовольственный товар <span class="bolder">только</span> НЕНАДЛЕЖАЩЕГО качества.<br>
          <span class="bolder">Продовольственный товар ненадлежащего качества</span> — это товар:
        </p>
        <ul class="pb-5 list-disc ml-5">
          <li>непригодный для использования по назначению</li>
          <li>брак или товар с недостатком (недостаток —это нарушение обязательных требований к товару), не соответствующий описанию на сайте, с истекшим сроком годности, товар, доставленный клиенту с нарушенной упаковкой.</li>
        </ul>
        <p>
          Продовольственный товар НАДЛЕЖАЩЕГО качества возврату или обмену НЕ ПОДЛЕЖИТ.
          Возврат товаров после оплаты осуществляется на общих основаниях и регламентируется Законодательством РФ.
        </p>
        <h3 class="bolder text-xl pt-5">
          Возврат непродовольственных товаров:
        </h3>
        <p>
          Клиент может вернуть непродовольственный товар НАДЛЕЖАЩЕГО качества <span class="bolder">в течение 14 дней</span>, не считая дня покупки, если указанный товар не подошел по:
        </p>
        <ul class="pb-5 list-disc ml-5">
          <li>форме</li>
          <li>габаритам</li>
          <li>фасону</li>
          <li>расцветке</li>
          <li>размеру</li>
          <li>комплектации</li>
        </ul>
        <p>
          <span class="bolder">Возврат непродовольственного товара надлежащего качества</span> производится, <span class="bolder">только</span> если указанный товар:
        </p>
        <ul class="pb-5 list-disc ml-5">
          <li>не был в употреблении</li>
          <li>сохранил свой товарный вид</li>
          <li>сохранил потребительские свойства</li>
          <li>сохранил фабричные ярлыки</li>
          <li>имеет товарный или кассовый чек (должны быть соблюдены все вышеперечисленные требования)</li>
        </ul>
        <p>
          Возврат непродовольственного товара производится с учетом ограничений, закрепленных Постановлением Правительства РФ от 19 января 1998 года № 55.
          (см. Перечень непродовольственных товаров надлежащего качества, не подлежащих возврату и обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки и комплектации).
        </p>
        <p class="pt-5 pb-10">
          <span class="bolder">Необходимо предварительно позвонить в Компанию</span> для уточнения всех вопросов, связанных с возвратом товара, по номеру +7(495) 128-87-97 или на правьте свой вопрос в мессенджер.
        </p>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  layout: 'mainPage',
  auth: false,
  components: { },
  data: () => ({

  }),
  computed: {

  },
  created () {

  },
  methods: {
    openWhatsApp () {
      window.open('https://wa.me/79959170596', '_blank')
    }
  }
}
</script>
