@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('HelveticaNeueCyr-Light.eot');
	src: local('HelveticaNeueCyr-Light'),
		url('HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeueCyr-Light.woff') format('woff'),
		url('HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyrBold';
	src: url('HelveticaNeueCyr-Medium.eot');
	src: local('HelveticaNeueCyr-Medium'),
		url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeueCyr-Medium.woff') format('woff'),
		url('HelveticaNeueCyr-Medium.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyrHeavy';
	src: url('HelveticaNeueCyr-Heavy.eot');
	src: local('HelveticaNeueCyr-Heavy'),
		url('HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeueCyr-Heavy.woff') format('woff'),
		url('HelveticaNeueCyr-Heavy.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}


