<template>
  <div class="rounded bg-gray-200 px-2 lg:px-5 py-5 my-2 lg:my-10 hover:bg-gray-100">
    <h2 class="text-3xl text-gray-700 bolder flex items-center justify-start lg:justify-between flex-wrap">
      <span>{{ receipt.name }}</span>
      <nuxt-link :to="'/recipes/'+receipt.url" :title="'Подробнее о '+receipt.name" class="focus:outline-none h-6 w-6 text-blue-600 ml-2 lg:ml-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
        </svg>
      </nuxt-link>
    </h2>

    <div :class="fullReceipts.includes(receipt.id) ? '': 'truncate-8-lines'" class="my-5 text-gray-700 break-word whitespace-pre-wrap inline-block transition duration-500 ease-in-out transform">
      <p>{{ receipt.description }}</p>
    </div>
    <div class="flex items-center justify-between">
      <div v-if="!fullReceipts.includes(receipt.id)">
        <button @click="showFullReceipt(receipt.id)" class="text-blue-600 border-b border-blue-600 border-dashed focus:outline-none">
          Показать весь рецепт
        </button>
      </div>
      <nuxt-link :to="'/recipes/'+receipt.url" :title="'Подробнее о '+receipt.name" class=" text-blue-600 border-b border-blue-600 border-dashed">
        Подробнее
      </nuxt-link>
    </div>
    <div class="flex items-center justify-between flex-wrap pt-3">
      <h3 class="text-gray-700 text-2xl bolder order-last lg:order-first pt-3">
        Что вам нужно
      </h3>
      <div class="flex justify-end items-center">
        <ShareNetwork
          v-for="network in networks"
          :network="network.network"
          :key="network.network"
          :url="'https://rf.market/recipes/'+receipt.url"
          :title="receipt.name"

          :hashtags="'рецепты,rf.market,доставка'"
          class="h-8 w-8 rounded-full bg-white flex items-center justify-center mr-1  transition duration-500 ease-in-out transform hover:scale-125"
        >
          <fa :style="{color: network.color}" :icon="[network.iPfx, network.icon]" />
        </ShareNetwork>
      </div>
    </div>
    <div>
      <client-only>
        <carousel
          :ref="'sectionCarousel'+receipt.id"
          :perPage="6"
          :paginationEnabled="true"
          :navigationEnabled="false"
          :paginationColor="'#e53e3e'"
          :paginationActiveColor="'#3182ce'"
          :perPageCustom="[[320, 2], [425, 2], [768, 3], [1024, 6]]"
          class="mt-2"
        >
          <slide v-for="item in receipt.group.items.data" v-bind:key="item.id" class="bg-white rounded px-0 lg:px-1 bounceIn">
            <productCardComponent :isShowInCartBtn="false" :isForGroup="true" :product="item.product" />
          </slide>
        </carousel>
      </client-only>
    </div>
    <div class="w-full flex justify-center text-center">
      <div class="pt-3">
        <div class="text-gray-500 bolder">
          Стоимость за все указанные товары
        </div>
        <div>
          <span class="text-gray-700 text-5xl bolder">{{ receipt.priceWithDiscount }}</span>
          <span class="text-gray-500 ml-1 text-xl"><fa :icon="['fas', 'ruble-sign']" /></span>
        </div>
        <div class="mt-5">
          <button v-if="!checkInCart(receipt.id)" v-on:click="addProductToCart(receipt)" title="Добавить в корзину" class="rounded w-full h-12 bg-gray-600 hover:bg-gray-500 shadow-lg flex items-center justify-center focus:outline-none">
            <fa :icon="['fas', 'plus']" class="text-white" />
            <span class="ml-2 bolder text-white text-base">Купить набор</span>
          </button>
          <span v-else class="bolder text-gray-700">Набор уже добавлен в Вашу корзину</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import productCardComponent from '~/components/shops/productCardComponent'

export default {
  components: {
    productCardComponent
  },
  props: {
    receipt: {
      type: Object,
      default: null
    }
  },
  data: () => ({
    fullReceipts: [],
    networks: [
      { network: 'facebook', name: 'Facebook', iPfx: 'fab', icon: 'facebook-f', color: '#1877f2' },
      { network: 'odnoklassniki', name: 'Odnoklassniki', iPfx: 'fab', icon: 'odnoklassniki', color: '#ed812b' },
      { network: 'pinterest', name: 'Pinterest', iPfx: 'fab', icon: 'pinterest', color: '#bd081c' },
      { network: 'telegram', name: 'Telegram', iPfx: 'fab', icon: 'telegram-plane', color: '#0088cc' },
      { network: 'twitter', name: 'Twitter', iPfx: 'fab', icon: 'twitter', color: '#1da1f2' },
      { network: 'viber', name: 'Viber', iPfx: 'fab', icon: 'viber', color: '#59267c' },
      { network: 'vk', name: 'Vk', iPfx: 'fab', icon: 'vk', color: '#4a76a8' },
      { network: 'whatsapp', name: 'Whatsapp', iPfx: 'fab', icon: 'whatsapp', color: '#25d366' }

    ]
  }),
  mounted () {

  },
  methods: {
    showFullReceipt (id) {
      this.fullReceipts.includes(id) ? this.fullReceipts.splice(this.fullReceipts.indexOf(id), 1) : this.fullReceipts.push(id)
    },
    checkInCart (id) {
      if (this.$store.state.cart.items.filter(e => e.product.id === id).length > 0) {
        return true
      } else {
        return false
      }
    },
    async addProductToCart (product) {
      this.$yandexMetrika.reachGoal('В корзину')
      // this.$store.dispatch('wait/start', 'adding to cart', { root: true })
      await this.$store.dispatch('cart/addProductToCart', product).then(() => {
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'success',
          title: 'Товар добавлен в корзину',
          timer: 5000,
          showConfirmButton: false
        })
      })
      // this.$store.dispatch('wait/end', 'adding to cart', { root: true })
    }
  }

}
</script>
