<template>
  <div>
    <v-wait for="loading checkout user info" class="h-full">
      <template slot="waiting">
        <div class="flex items-center justify-center">
          <fulfilling-bouncing-circle-spinner
            :animation-duration="2500"
            :size="70"
            color="#CBD5E0"
          />
        </div>
      </template>

      <ValidationObserver ref="observerCheckout" v-if="!isOrderCreated && $store.state.cart.items.length > 0">
        <form @submit.prevent="submitCheckoutForm">
          <h2 class="mb-3 text-xl text-gray-700 bolder">
            Ваши личные данные для формирования доставки
          </h2>
          <div class="flex items-top justify-start flex-wrap">
            <div class="w-full lg:w-1/3 pr-0 lg:pr-2 mb-2">
              <ValidationProvider ref="observerCheckoutUserFirstName" v-slot="{classes, errors}" name="Ваше имя" rules="required" class="w-full">
                <label class="text-sm text-gray-500">Ваше имя</label>
                <input v-model="userFirstName" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full" placeholder="Введите Ваше имя">
                <span class="text-sm text-red-400">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>

            <div class="w-full lg:w-1/3 pr-0 lg:pr-2 mb-2">
              <ValidationProvider ref="observerCheckoutUserSurName" v-slot="{classes, errors}" name="Ваш телефон" rules="required|min:12" class="w-full">
                <label class="text-sm text-gray-500">Ваш телефон</label>

                <the-mask
                  v-model="userPhone"
                  :class="classes"
                  :tokens="maskTokens"
                  mask="+7 (S##)-###-##-##"
                  type="tel"
                  class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full"
                  placeholder="Введите номер телефона"
                />

                <span class="text-sm text-red-400">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>
            <div class="w-full lg:w-1/3 pr-0 lg:pr-2 mb-2">
              <ValidationProvider ref="observerCheckoutUserSurName" v-slot="{classes, errors}" name="Ваш E-mail" rules="required|email" class="w-full">
                <label class="text-sm text-gray-500">Ваш E-mail</label>
                <input v-model="userEmail" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full" placeholder="Введите Ваш E-mail">
                <span class="text-sm text-red-400">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>
          </div>
          <h2 class="mt-5 mb-3 text-xl text-gray-700 bolder">
            Адрес и время доставки
          </h2>
          <div class="flex items-top justify-start flex-wrap">
            <div class="w-full lg:w-1/2 pr-0 lg:pr-2 mb-2">
              <ValidationProvider ref="observerCheckoutUserLocation" v-slot="{classes, errors}" name="Город (населенный пункт)" rules="required" class="w-full">
                <label class="text-sm text-gray-500">Город (населенный пункт)</label>
                <dadata-autocomplete ref="locationAutocomplete" v-model="userLocation" type="address" />
                <span class="text-sm text-red-400">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>
            <div class="w-full lg:w-1/2 mb-2">
              <ValidationProvider ref="observerCheckoutUserAddress" v-slot="{classes, errors}" name="Адрес" rules="required" class="w-full">
                <label class="text-sm text-gray-500">Адрес</label>
                <input v-model="userAddress" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full" placeholder="Введите адрес">
                <span class="text-sm text-red-400">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>
          </div>
          <div class="flex items-top justify-start flex-wrap">
            <div class="w-full lg:w-1/2 pr-0 lg:pr-2 mb-2">
              <ValidationProvider ref="observerCheckoutUserFrontDoor" v-slot="{classes, errors}" name="Подъезд" class="w-full">
                <label class="text-sm text-gray-500">Подъезд/корпус</label>
                <input v-model="userFrontDoor" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full" placeholder="Введите номер подъезда">
                <span class="text-sm text-red-400">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>
            <div class="w-full lg:w-1/2 mb-2">
              <ValidationProvider ref="observerCheckoutUserApartment" v-slot="{classes, errors}" name="Адрес" class="w-full">
                <label class="text-sm text-gray-500">Квартира</label>
                <input v-model="userApartment" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full" placeholder="Введите номер квартиры">
                <span class="text-sm text-red-400">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>
          </div>
          <div class="my-3">
            <label class="text-sm text-gray-500">Желаемая дата доставки</label>
            <div class="flex items-center justify-start flex-wrap">
              <span v-for="(date, index) in availableDeliveryDates" v-bind:key="index" :class="checkDate(date)" v-on:click="setDeliveryDate(date)" class="bg-gray-200 px-2 py-1 rounded mr-2 text-sm cursor-pointer mb-2 lg:mb-0">
                {{ date.format("DD-MM-YYYY") }}
              </span>
              <!-- <date-picker v-model="deliveryDate" /> -->
            </div>
            <div class="text-sm text-gray-500 mt-3">
              По умолчанию мы формируем доставку заказа на следующий день после оформления. Если вам необходимо осуществить доставку в другой день, укажите требуемую дату. После формирования заказа с вами свяжется менеджер резервации товаров и подтвердит возможность доставки в указанную вами дату.<br>
              <span class="text-red-500 bolder">
                Если вы хотите получить заказ в кратчайшие сроки и у вас нет времени ждать, укажите это в комментарии к заказу. Мы приложим максимум усилий для доставки заказа уже сегодня и свяжемся с вами.
              </span>
            </div>
          </div>
          <div class="mt-3 mb-12">
            <label class="text-sm text-gray-500">Желаемое время доставки</label>
            <div class="px-5 hidden lg:block">
              <vue-slider
                :tooltip="'always'"
                :tooltip-placement="['bottom', 'bottom']"
                :data="deliveryTimeRangeData"
                :marks="true"
                v-model="deliveryTimeRange"
              />
            </div>
            <div class="px-5 block lg:hidden">
              <vue-slider
                :tooltip="'always'"
                :tooltip-placement="['bottom', 'bottom']"
                :data="deliveryTimeRangeData"
                :marks="false"
                v-model="deliveryTimeRange"
              />
            </div>
          </div>
          <h2 class="mt-5 mb-3 text-xl text-gray-700 bolder">
            Оплата заказа
          </h2>
          <div class="flex items-top justify-start flex-wrap">
            <ValidationProvider ref="observerCheckoutUserPaymentMethod" v-slot="{classes, errors}" name="Вариант оплаты" class="w-full lg:w-1/2 pr-0 lg:pr-2">
              <label class="block text-sm text-gray-500">
                <span class="text-gray-500">Укажите вариант оплаты заказа</span>
                <select v-model="userPaymentMethod" class="form-select block w-full bg-gray-200 text-sm text-gray-600 border border-white p-3">
                  <option value="courierMoney">Оплата при получении</option>

                  <option value="online">Онлайн оплата</option>

                </select>
                <span class="text-sm text-red-400">{{ errors[0] }}</span>
              </label>
            </ValidationProvider>
          </div>

          <h2 class="mt-5 mb-3 text-xl text-gray-700 bolder">
            Ваш комментарий к заказу
          </h2>

          <div>
            <div class="w-full">
              <label class="text-sm text-gray-500">Укажите комментарий к заказ, если это необходимо</label>
              <textarea v-model="userComment" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full" placeholder="Введите комментарий" />
            </div>
          </div>

          <div class="p-5 rounded bg-blue-100 text-sm text-gray-700 my-3 border-l-2 rounded-l-none border-blue-400">
            Пожалуйста, убедитесь в правильном заполнении всех полей, после чего перейдите к оплате заказа.<br>
            <span class="bolder">Мы заморозим сумму заказа на вашей карте и спишем ее только после доставки. В случае, если каких-то товаров не будет в наличии, вы будете об этом уведомлены, а итоговая сумма списания пересчитана!</span>
          </div>

          <div class="my-3 flex items-center justify-between flex-wrap">
            <div class="flex items-center justify-start w-full lg:w-auto">
              <button class="rounded bg-gray-600 w-full lg:w-auto hover:bg-gray-500 py-2 px-2 lg:px-10 text-sm text-white focus:outline-none" type="submit">
                <span v-if="userPaymentMethod === 'online'">Перейти к оплате</span>
                <span v-if="userPaymentMethod === 'courierMoney'">Сформировать заказ</span>
              </button>
              <!-- <button v-on:click="printOrder" class="ml-2 rounded bg-gray-300 w-full lg:w-auto hover:bg-gray-400 py-2 px-2 lg:px-10 text-sm text-gray-700 focus:outline-none" type="button">
                Распечатать заказ
              </button> -->
            </div>
            <nuxt-link to="/cart" class="rounded bg-gray-300 text-center w-full mt-2 lg:mt-0 lg:w-auto text-sm hover:bg-gray-400 py-2 px-10 text-gray-700 focus:outline-none">
              Вернуться назад
            </nuxt-link>
          </div>
        </form>
      </ValidationObserver>
    </v-wait>
    <div v-if="isOrderCreated && $store.state.cart.items.length === 0" class="flex items-center justify-center py-12">
      Подождите, производим формирование заказа...
    </div>
    <div v-if="!isOrderCreated && $store.state.cart.items.length === 0" class="p-5 rounded bg-red-100 text-sm my-3 border-l-2 rounded-l-none border-red-400">
      В вашей корзине нет ни одного товара для оформления заказа.
    </div>
  </div>
</template>

<script>
import { TheMask } from 'vue-the-mask'
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'

import { ValidationProvider, ValidationObserver, extend } from 'vee-validate'
import { required, email, min } from 'vee-validate/dist/rules'
import VueSlider from 'vue-slider-component/dist-css/vue-slider-component.umd.min.js'
import 'vue-slider-component/dist-css/vue-slider-component.css'
import * as moment from 'moment'
import dadataAutocomplete from '~/components/helpers/dadataAutocomplete'

import 'vue-slider-component/theme/default.css'

extend('required', {
  ...required,
  message: 'Вам необходимо указать {_field_}'
})
extend('email', {
  ...email,
  message: 'Поле {_field_} должно являться адресом электронной почты'
})
extend('min', {
  ...min,
  message: 'Поле {_field_} заполнено не полностью'
})

export default {
  layout: 'mainPage',
  // auth: false,
  components: { TheMask, FulfillingBouncingCircleSpinner, ValidationProvider, ValidationObserver, dadataAutocomplete, VueSlider },
  data: () => ({
    maskTokens: {
      'S': {
        pattern: /[^\D8]/
      },
      '#': { pattern: /\d/ }
    },
    isOrderCreated: false,
    // deliveryTimeRange: ['10:00', '19:00'],
    deliveryTimeRangeData: ['08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00'],
    availableDeliveryDates: []
  }),
  computed: {
    deliveryTimeRange: {
      get () {
        return this.$store.state.cart.user.deliveryTime
      },
      set (value) {
        this.$store.commit('cart/setDeliveryTime', value)
      }
    },
    userFirstName: {
      get () {
        return this.$store.state.cart.user.firstName
      },
      set (value) {
        this.$store.commit('cart/setUserFirstName', value)
      }
    },
    userLastName: {
      get () {
        return this.$store.state.cart.user.lastName
      },
      set (value) {
        this.$store.commit('cart/setUserLastName', value)
      }
    },
    userSurName: {
      get () {
        return this.$store.state.cart.user.surName
      },
      set (value) {
        this.$store.commit('cart/setUserSurName', value)
      }
    },
    userPhone: {
      get () {
        return this.$store.state.cart.user.phone
      },
      set (value) {
        this.$store.commit('cart/setUserPhone', '+7' + value)
      }
    },
    userEmail: {
      get () {
        return this.$store.state.cart.user.email
      },
      set (value) {
        this.$store.commit('cart/setUserEmail', value)
      }
    },
    userLocation: {
      get () {
        return this.$store.state.cart.user.location
      },
      set (value) {
        this.$store.commit('cart/setUserLocation', value)
      }
    },
    userAddress: {
      get () {
        return this.$store.state.cart.user.address
      },
      set (value) {
        this.$store.commit('cart/setUserAddress', value)
      }
    },
    userFrontDoor: {
      get () {
        return this.$store.state.cart.user.frontDoor
      },
      set (value) {
        this.$store.commit('cart/setUserFrontDoor', value)
      }
    },
    userApartment: {
      get () {
        return this.$store.state.cart.user.apartment
      },
      set (value) {
        this.$store.commit('cart/setUserApartment', value)
      }
    },
    userPaymentMethod: {
      get () {
        return this.$store.state.cart.user.payment
      },
      set (value) {
        this.$store.commit('cart/setUserPayment', value)
      }
    },
    userComment: {
      get () {
        return this.$store.state.cart.user.comment
      },
      set (value) {
        this.$store.commit('cart/setUserComment', value)
      }
    },
    deliveryDate: {
      get () {
        return this.$store.state.cart.user.deliveryDate
      },
      set (value) {
        this.$store.commit('cart/setDeliveryDate', value)
      }
    }

  },
  mounted () {
    this.getCurrentUserInfo()
    this.generateAvailableDeliveryDates()
  },
  methods: {
    checkDate (date) {
      if (moment(this.$store.state.cart.user.deliveryDate).isSame(date)) {
        return 'bg-green-rf text-white'
      } else {
        return 'bg-gray-200 text-gray-700'
      }
    },
    printOrder () {
      const isValid = this.$refs.observerCheckout.validate()
      if (isValid) {
        const totalPrice = this.$parent.calculateTotal()

        const data = { total: totalPrice, user: this.$store.state.cart.user, items: this.$store.getters['cart/sortedByShopProducts'], promocode: this.$store.state.cart.promocode }

        this.$axios.$post('/api/orders/print', data)
          .then((res) => {
            // window.open(process.env.API_URL + res, '_blank')
            const link = document.createElement('a')
            link.href = process.env.API_URL + res
            link.setAttribute('download', 'file.pdf') // or any other extension
            document.body.appendChild(link)
            link.click()
          })
      }
    },
    setDeliveryDate (date) {
      this.$store.commit('cart/setDeliveryDate', date)
    },
    generateAvailableDeliveryDates () {
      const nextDaysArray = [...new Array(7)].map((i, idx) => moment().startOf('day').add(idx, 'days'))
      this.availableDeliveryDates = nextDaysArray
      this.$store.commit('cart/setDeliveryDate', moment().startOf('day').add(1, 'days'))
    },
    async submitCheckoutForm () {
      const isValid = await this.$refs.observerCheckout.validate()
      if (isValid) {
        this.$yandexMetrika.reachGoal('Оплатить')
        this.$store.dispatch('wait/start', 'loading checkout user info', { root: true })

        await this.$store.dispatch('cart/checkout').then((response) => {
          if (response.data.success) {
            this.isOrderCreated = true
            if (response.data.success.payment === 'online') {
              this.$swal({
                toast: true,
                position: 'top-end',
                icon: 'success',
                title: response.data.success.message,
                timer: 5000,
                showConfirmButton: false
              })
              this.$emit('goToPayment')
              setTimeout(function () {
                window.location.href = response.data.success.peymentUrl
              }, 3000)
            } else {
              this.$router.replace({ path: '/cart/created?signature=' + response.data.success.signature })
            }
          }
        })
        this.$store.dispatch('wait/end', 'loading checkout user info', { root: true })
      } else {
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'error',
          title: 'Заполните необходимые поля',
          timer: 3000,
          showConfirmButton: false
        })
      }
    },
    async getCurrentUserInfo () {
      this.$store.dispatch('wait/start', 'loading checkout user info', { root: true })
      await this.$store.dispatch('cart/getUserInfo')
      this.$store.dispatch('wait/end', 'loading checkout user info', { root: true })
    }
  }
}
</script>
