<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="h-full w-full xl:w-5/6 p-2 xl:p-0">
      <div class="">
        <!-- <img class="w-full object-cover rounded" src="~assets/img/smm/synergetic_bg.jpg"> -->
        <h1 class="text-gray-700 text-3xl lg:text-5xl bolder leading-none">
          {{ brand.name }}
        </h1>
      </div>

      <div class="text-gray-700 mt-2 flex flex-wrap">
        <div>
          <nuxt-link :to="'/'" class="cursor-pointer text-gray-500 bolder hover:text-gray-700">
            Каталог rf.market
          </nuxt-link>
          <span class="px-2 text-gray-300">/</span>
          <nuxt-link :to="'/brands'" class="cursor-pointer text-gray-500 bolder hover:text-gray-700">
            Бренды
          </nuxt-link>
          <span class="px-2 text-gray-300">/</span>
          <nuxt-link :to="'/brands/'+brand.id" class="text-gray-300 cursor-pointer bolder hover:text-gray-700">
            {{ brand.name }}
          </nuxt-link>
        </div>
      </div>

      <div v-if="brand.text !== null" class="my-5 text-gray-700">
        {{ brand.text }}
      </div>

      <div v-if="products" class="flex flex-wrap overflow-hidden lg:-mx-2">
        <div v-for="product in products" v-bind:key="product.id" class="w-1/2 overflow-hidden my-1 lg:my-2 px-1 lg:px-2 lg:w-1/4 xl:w-1/5">
          <productCardComponent :product="product" />
        </div>

        <div v-if="products.length === 0" class="mx-2 my-5">
          По вашим условиям поиска ничего не найдено. Попробуйте изменить запрос или выбрать другую категорию.
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import productCardComponent from '~/components/shops/productCardComponent'

export default {
  layout: 'mainPage',
  head () {
    return {
      title: this.brand.metaTitle !== null ? this.brand.metaTitle : this.brand.name + ' в интернет-магазине rf.market с быстрой доставкой от рф.маркет',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.brand.metaDescription !== null ? this.brand.metaDescription : 'Приобретайте товары по выгодным ценам, огромный выбор продуктов питания, товаров повседневного спроса, для дачи и дома, а так же товаров для творчества и одежда. Регулярные акции от производителей и лучшие цены на онлайн покупки.'
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://rf.market/brands/' + this.brand.slug
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.brand.metaTitle !== null ? this.brand.metaTitle : this.brand.name + ' в интернет-магазине rf.market с быстрой доставкой от рф.маркет'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.brand.metaDescription !== null ? this.brand.metaDescription : 'Приобретайте товары по выгодным ценам, огромный выбор продуктов питания, товаров повседневного спроса, для дачи и дома, а так же товаров для творчества и одежда. Регулярные акции от производителей и лучшие цены на онлайн покупки.'
        }
      ]
    }
  },
  auth: false,
  components: { productCardComponent },
  data: () => ({

  }),
  async asyncData ({ params }) {
    const { data } = await axios.get(process.env.API_URL + `/api/brands/${params.pathMatch}`)
    return { brand: data.brand, products: data.products.data }
  },
  methods: {

  }
}
</script>
