<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="h-full w-full xl:w-5/6 p-2 xl:p-0">
      <div class="flex items-center justify-between flex-wrap mt-3">
        <h1 class="text-gray-700 text-3xl lg:text-5xl bolder leading-none">
          Бренды и производители
        </h1>
      </div>
      <div class="my-5">
        <div class="relative w-full lg:w-1/2">
          <div class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none text-gray-500 text-sm">
            <fa :icon="['fas', 'search']" />
          </div>
          <input
            v-debounce:500ms="searchBrand"
            v-model="searchBrandQuery"
            :class="'rounded'"
            type="text"
            class="py-3 pr-3 z-50 pl-10 bg-gray-200 text-sm text-gray-600 w-full focus:outline-none"
            placeholder="Введите название бренда или производителя.."
          >
          <button v-if="searchBrandQuery !== ''" v-on:click="clearBrandQuery" class="z-50 absolute inset-y-0 right-0 pr-4 flex items-center text-gray-500 text-sm cursor-pointer focus:outline-none">
            <fa :icon="['fas', 'times']" />
          </button>
        </div>
      </div>
      <div class="flex flex-wrap justify-start mt-5">
        <nuxt-link :to="'/brands/'+brand.slug" v-for="brand in filteredBrands" v-bind:key="brand.id" class="pr-10 text-gray-700 bolder w-1/2 lg:w-1/4 py-1 lg:py-3">
          <span class="text-sm lg:text-base border-dashed border-b border-gray-500 cursor-pointer hover:text-green-500">{{ brand.name }}</span>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  layout: 'mainPage',
  auth: false,
  components: {},
  data: () => ({
    searchBrandQuery: ''
  }),
  async asyncData ({ params }) {
    const { data } = await axios.get(process.env.API_URL + `/api/brands`)
    return { brands: data, filteredBrands: data }
  },
  methods: {
    searchBrand () {
      if (this.searchBrandQuery !== '') {
        // make filter logic here
        const searchResults = []
        const searchTerm = this.searchBrandQuery.toLowerCase()

        this.brands.forEach(function (brand) {
          if (brand.name.toLowerCase().includes(searchTerm)) {
            searchResults.push(brand)
          }
        })

        this.filteredBrands = searchResults
      } else {
        this.filteredBrands = this.brands
      }
    },
    clearBrandQuery () {
      this.searchBrandQuery = ''
      this.filteredBrands = this.brands
    }
  }
}
</script>
