<template>
  <div class="my-3 p-3 rounded border-dashed border-2 border-gray-200">
    <div class="flex items-center justify-between mb-3 flex-wrap md:flex-nowrap">
      <h3 class="text-xl ">
        Добавьте свой отзыв о магазине
      </h3>
      <div class="text-gray-500 text-sm">
        <span class="text-xs">отзыв будет размещен от имени:</span> {{ $store.state.auth.user.name }}
      </div>
    </div>
    <v-wait for="create shop review">
      <template slot="waiting">
        <div class="flex items-center justify-center h-auto">
          <fulfilling-bouncing-circle-spinner
            :animation-duration="2500"
            :size="70"
            color="#CBD5E0"
          />
        </div>
      </template>
      <ValidationObserver ref="observerCreateReview">
        <form @submit.prevent="submitCreateReviewForm">
          <div class="w-full mb-3">
            <ValidationProvider ref="observerReviewBody" v-slot="v" name="Текст отзыва" rules="required" class="w-full">
              <textarea v-model="reviewBody" rows="5" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full" placeholder="Введите текст отзыва об объекте" />
              <span class="text-sm text-red-400">{{ v.errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class="ratings-wrapper mb-5 ml-0 lg:ml-24">
            <div class="flex items-center justify-start">
              <star-rating v-model="reviewCustomerServiceRating" :star-size="20" :show-rating="false" active-color="#63B3ED" />
              <span class="ml-3 text-sm text-gray-600 pt-2">Обслуживание клиентов</span>
            </div>
            <div class="flex items-center justify-start">
              <star-rating v-model="reviewQualityRating" :star-size="20" :show-rating="false" active-color="#63B3ED" />
              <span class="ml-3 text-sm text-gray-600 pt-2">Качество предоставления услуг</span>
            </div>
            <div class="flex items-center justify-start">
              <star-rating v-model="reviewFriendlyRating" :star-size="20" :show-rating="false" active-color="#63B3ED" />
              <span class="ml-3 text-sm text-gray-600 pt-2">Дружелюбность и внимательность персонала</span>
            </div>
            <div class="flex items-center justify-start">
              <star-rating v-model="reviewPricingRating" :star-size="20" :show-rating="false" active-color="#63B3ED" />
              <span class="ml-3 text-sm text-gray-600 pt-2">Ценовая политика</span>
            </div>
            <div class="flex items-center justify-start">
              <star-rating v-model="reviewTotalRating" :star-size="20" :show-rating="false" active-color="#63B3ED" />
              <span class="ml-3 text-sm text-gray-600 pt-2">Общее впечатление</span>
            </div>
          </div>
          <div class="flex justify-start items-center ml-0 lg:ml-24 mb-5">
            <label class="flex items-top justify-start pr-3 mb-3">
              <input v-model="reviewRecommend" type="radio" class="form-radio mt-1" name="reviewRecommend" value="Yes">
              <div class="ml-3">
                Порекомендую другим
              </div>
            </label>
            <label class="flex items-top justify-start pr-3 mb-3">
              <input v-model="reviewRecommend" type="radio" class="form-radio mt-1" name="reviewRecommend" value="No">
              <div class="ml-3">
                Не стану рекомендовать
              </div>
            </label>
          </div>
          <div class="text-center">
            <button class="rounded gradiend-blue-button py-2 px-10 text-white w-full lg:w-auto focus:outline-none" type="submit">
              Отправить отзыв
            </button>
          </div>
        </form>
      </ValidationObserver>
    </v-wait>
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate'
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import { required } from 'vee-validate/dist/rules'

extend('required', {
  ...required,
  message: 'Поле {_field_} обязательно для заполнения'
})
export default {
  components: {
    ValidationProvider,
    ValidationObserver,
    FulfillingBouncingCircleSpinner
  },
  props: {
    shopId: {
      type: Number,
      default: null
    },
    closeAfterStore: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({

  }),

  computed: {
    reviewBody: {
      get () {
        return this.$store.state.reviews.review.body
      },
      set (value) {
        this.$store.commit('reviews/setReviewBody', value)
      }
    },
    reviewCustomerServiceRating: {
      get () {
        return this.$store.state.reviews.review.reviewCustomerServiceRating
      },
      set (value) {
        this.$store.commit('reviews/setReviewCustomerServiceRating', value)
      }
    },
    reviewQualityRating: {
      get () {
        return this.$store.state.reviews.review.reviewQualityRating
      },
      set (value) {
        this.$store.commit('reviews/setReviewQualityRating', value)
      }
    },
    reviewFriendlyRating: {
      get () {
        return this.$store.state.reviews.review.reviewFriendlyRating
      },
      set (value) {
        this.$store.commit('reviews/setReviewFriendlyRating', value)
      }
    },
    reviewPricingRating: {
      get () {
        return this.$store.state.reviews.review.reviewPricingRating
      },
      set (value) {
        this.$store.commit('reviews/setReviewPricingRating', value)
      }
    },
    reviewTotalRating: {
      get () {
        return this.$store.state.reviews.review.reviewTotalRating
      },
      set (value) {
        this.$store.commit('reviews/setReviewTotalRating', value)
      }
    },
    reviewRecommend: {
      get () {
        return this.$store.state.reviews.review.reviewRecommend
      },
      set (value) {
        this.$store.commit('reviews/setReviewRecommend', value)
      }
    }
  },
  mounted () {

  },
  methods: {
    async submitCreateReviewForm () {
      const isValid = await this.$refs.observerCreateReview.validate()
      if (isValid) {
        this.$store.dispatch('wait/start', 'create shop review', { root: true })
        await this.$store.dispatch('reviews/createShopReview', this.shopId).then((response) => {
          if (this.closeAfterStore === true) {
            this.$emit('reviewStorred')
          }

          this.$swal({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: 'Ваш отзыв успешно отправлен',
            timer: 5000,
            showConfirmButton: false
          })
        })
        this.$store.dispatch('wait/end', 'create shop review', { root: true })
      }
    }
  }

}
</script>
