<template>
  <div class="h-auto">
    <v-wait for="loading posts" class="h-full">
      <template slot="waiting">
        <div class="flex items-center justify-center h-screen">
          <fulfilling-bouncing-circle-spinner
            :animation-duration="2500"
            :size="70"
            color="#CBD5E0"
          />
        </div>
      </template>
      <div>
        <shopReviewsListComponent :shopId="shopId" />
        <createShopReviewComponent v-if="$store.state.auth.user" :shopId="shopId" />
      </div>
    </v-wait>
  </div>
</template>

<script>
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import createShopReviewComponent from '~/components/reviews/createShopReviewComponent'
import shopReviewsListComponent from '~/components/reviews/shopReviewsListComponent'

export default {
  components: {
    FulfillingBouncingCircleSpinner, createShopReviewComponent, shopReviewsListComponent
  },
  props: {
    shopId: {
      type: Number,
      default: null
    }
  },
  data: () => ({

  }),
  mounted () {

  },
  methods: {

  }

}
</script>
