<template>
  <div v-if="$store.state.auth.user" class="static lg:relative">
    <button @click="isOpen = !isOpen" class="relative ml-0 z-10 overflow-hidden text-sm text-gray-700 border-gray-600 focus:text-white focus:outline-none">
      <b>Профиль</b>
    </button>
    <button v-if="isOpen" @click="isOpen = false" tabindex="-1" class="fixed inset-0 h-full w-full bg-black opacity-50 cursor-default z-10" />
    <div v-if="isOpen" class="absolute right-0 mt-2 py-2 bg-white rounded shadow-xl bounceIn w-full lg:w-64 z-50">
      <div v-if="$store.state.auth.user && $store.state.auth.user.role" class="text-sm block px-4 py-2 text-gray-800 flex flex-wrap border-b border-gray-200">
        <div class="w-full text-sm text-center lg:text-left text-gray-500">
          Тип профиля:
        </div>
        <div v-if="$store.state.auth.user.role.name == 'shop' || $store.state.auth.user.role.name == 'ownproduction' || $store.state.auth.user.role.name == 'restaurant' || $store.state.auth.user.role.name == 'wholesale'" class="w-full text-base text-center lg:text-left text-gray-700">
          <b>{{ $store.state.auth.user.role.display_name }}</b>
        </div>
        <div>
          <span v-if="$store.state.auth.user.role.name == 'shop'" class="text-gray-500 text-xs leading-none">Являетесь торговой организацией, желающей увеличить свои продажи через интеренет</span>
          <span v-if="$store.state.auth.user.role.name == 'ownproduction'" class="text-gray-500 text-xs leading-none">У вас свое производство и вы хотите продавать товары напрямую</span>
          <span v-if="$store.state.auth.user.role.name == 'restaurant'" class="text-gray-500 text-xs leading-none">Создаете уникальные блюда и напитки, хотите повысить круг своих клиентов</span>
          <span v-if="$store.state.auth.user.role.name == 'wholesale'" class="text-gray-500 text-xs leading-none">Готовы продавать товары большими партиями и работать напрямую с реализаторами</span>
        </div>
      </div>
      <nuxt-link @click.native="handler" to="/profile" class="text-sm block px-4 py-2 text-gray-800 hover:bg-gray-600 hover:text-white text-center lg:text-left">
        <b>Дашборд</b>
      </nuxt-link>
      <nuxt-link @click.native="handler" v-if="$store.state.auth.user.role.name === 'shop' || $store.state.auth.user.role.name === 'ownproduction' || $store.state.auth.user.role.name === 'restaurant' || $store.state.auth.user.role.name === 'wholesale'" to="/profile/products" class="text-center lg:text-left text-sm block px-4 py-2 text-gray-800 hover:bg-gray-600 hover:text-white">
        <b>Моя продукция</b>
      </nuxt-link>
      <nuxt-link @click.native="handler" to="/profile/orders" class="text-sm block px-4 py-2 text-gray-800 hover:bg-gray-600 hover:text-white text-center lg:text-left">
        <b>Мои заказы</b>
      </nuxt-link>
      <nuxt-link @click.native="handler" to="/profile/recipes" class="text-sm block px-4 py-2 text-gray-800 hover:bg-gray-600 hover:text-white text-center lg:text-left">
        <b>Мои рецепты</b>
      </nuxt-link>
      <nuxt-link @click.native="handler" to="/profile/settings" class="text-sm block px-4 py-2 text-gray-800 hover:bg-gray-600 hover:text-white text-center lg:text-left">
        <b>Настройки профиля</b>
      </nuxt-link>

      <nuxt-link @click.native="handler" v-if="$store.state.auth.user.role.name === 'shop' || $store.state.auth.user.role.name === 'ownproduction' || $store.state.auth.user.role.name === 'restaurant' || $store.state.auth.user.role.name === 'wholesale'" to="/profile/settings/shop" class=" text-center lg:text-left text-sm block px-4 py-2 text-gray-800 hover:bg-gray-600 hover:text-white">
        <b>Витрина организации</b>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      isOpen: false
    }
  },
  created () {
    // const handleEscape = (e) => {
    //   if (e.key === 'Esc' || e.key === 'Escape') {
    //     this.isOpen = false
    //   }
    // }
    // document.addEventListener('keydown', handleEscape)
    // this.$once('hook:beforeDestroy', () => {
    //   document.removeEventListener('keydown', handleEscape)
    // })
  },
  methods: {
    handler () {
      this.isOpen = false
    }
  }
}
</script>
