<template>
  <div>
    <multiselect
      v-model="localValue"
      :options="searchOptions"
      :multiple="false"
      :loading="isLoading"
      :clear-on-select="false"
      :show-no-options="false"
      :show-no-results="true"
      :allow-empty="false"
      @search-change="asyncFind"
      @select="onSelect"
      @open="onOpen"
      select-label=""
      selected-label=""
      deselect-label=""
      label="name"
      placeholder="Начните вводить название производителя.."
      track-by="id"
    >
      <template slot="noResult">
        <div class="flex flex-wrap justify-start items-center">
          <div class="text-xs lg:text-sm w-full lg:w-auto text-red-600">
            Такой производитель не найден в системе.
          </div>
          <div class="text-xs lg:text-sm ml-0 lg:ml-1 w-full lg:w-auto">
            Хотите его создать?
          </div>
          <div class="ml-0 lg:ml-2 w-full lg:w-auto">
            <button v-on:click="openCreateNewBrandWindow" class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white focus:outline-none w-full lg:w-auto" type="button">
              Создать производителя
            </button>
          </div>
        </div>
      </template>

      <template slot="option" slot-scope="props">
        <div>
          <div v-html="props.option.name" class="option__title pl-5 text-xs" />
        </div>
      </template>
    </multiselect>
    <modal
      :adaptive="true"
      :clickToClose="false"
      :maxWidth="1000"
      :scrollable="true"
      height="auto"
      name="create-brand-modal"
    >
      <div class="py-5 px-5">
        <div class="flex items-center justify-between">
          <h3 class="text-2xl bolder text-gray-700">
            Создание нового производителя
          </h3>
          <button v-on:click="closeCreateNewBrandWindow" class="text-sm text-gray-600 focus:outline-none">
            <fa :icon="['fas', 'times-circle']" class="fill-current w-4 h-4" />
          </button>
        </div>
        <ValidationObserver ref="observerCreateBrand">
          <form @submit.prevent="createNewBrand">
            <ValidationProvider ref="observerCreateBrandName" v-slot="{classes, errors}" name="Название производителя" rules="required" class="w-full">
              <label class="text-sm text-gray-500">Название производителя</label>
              <input v-model="brandName" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите название производителя">
              <span class="text-sm text-red-400">{{ errors[0] }}</span>
            </ValidationProvider>

            <div class="my-3">
              <button class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white focus:outline-none w-full lg:w-auto" type="submit">
                Создать нового производителя
              </button>
            </div>
          </form>
        </ValidationObserver>
      </div>
    </modal>
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate'
import { required } from 'vee-validate/dist/rules'
import Multiselect from 'vue-multiselect'
import 'vue-multiselect/dist/vue-multiselect.min.css'

extend('required', {
  ...required,
  message: 'Вам необходимо указать {_field_}'
})
export default {
  components: {
    Multiselect, ValidationProvider, ValidationObserver
  },
  props: {
    value: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      searchOptions: [],
      isLoading: false,
      brandName: '',
      searchQuery: ''
    }
  },
  computed: {

    localValue: {
      get () {
        // console.log(this.value)
        // if (typeof this.value === 'object') {
        //   return this.value
        // } else {
        return this.value
        // }
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    closeCreateNewBrandWindow () {
      this.$modal.hide('create-brand-modal')
    },
    openCreateNewBrandWindow () {
      this.$modal.show('create-brand-modal')
      this.brandName = this.searchQuery
    },
    async createNewBrand () {
      const isValid = await this.$refs.observerCreateBrand.validate()
      if (isValid) {
        this.$axios.$post('/api/product/createbrand', { name: this.brandName })
          .then((res) => {
            this.brandName = ''
            this.$swal({
              toast: true,
              position: 'top-end',
              icon: 'success',
              title: 'Производитель создан и добавлен к товару.',
              timer: 5000,
              showConfirmButton: false
            })
            this.localValue = res

            this.closeCreateNewBrandWindow()
          }).catch((err) => {
            if (err.response) {
              for (const oneError in err.response.data.errors) {
                err.response.data.errors[oneError].map((err) => {
                  this.$refs.observerCreateAttribute.setErrors({
                    'Название производителя': [err]
                  })
                })
              }
            }
          })
      }
    },
    asyncFind (query) {
      this.searchQuery = query
      if (query !== '') {
        this.isLoading = true
        if (typeof window.LIT !== 'undefined') {
          clearTimeout(window.LIT)
        }
        window.LIT = setTimeout(() => {
          this.$store.dispatch('products/findBrand', query).then((response) => {
            // console.log(response)
            this.searchOptions = response.data
          })
        }, 500)

        this.isLoading = false
      }
    },
    onSelect (value) {
      // this.$emit('select', value.value)
      this.$emit('input', value)
    },
    onOpen (value) {

    }
  }
}
</script>
