<template>
  <div class="text-sm font-gteestipro">
    <transition name="fade" class=" w-full lg:w-auto">
      <span @click="isShowCatalog = !isShowCatalog" class="text-white bg-blue-600 px-5 py-2 rounded cursor-pointer w-full lg:w-auto text-center">каталог товаров</span>
    </transition>
    <div v-if="isShowCatalog" class="absolute left-0 top-0 w-full flex justify-center mt-10 bg-white">
      <div class="w-full xl:w-2/3 p-2 xl:p-0 bg-white text-left">
        <transition name="slide-fade">
          <categoriesMegaMenuComponent />
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import categoriesMegaMenuComponent from '~/components/helpers/categoriesMegaMenuComponent'

export default {
  components: { categoriesMegaMenuComponent },
  data () {
    return {
      isShowCatalog: false
    }
  },
  computed: {

  },
  watch: {
    isShowCatalog (val) {

    }
  },
  mounted () {

  },
  methods: {
    showCatalog () {
      this.isShow = true
    },
    hideCatalog () {
      this.isShow = false
    }
  }
}
</script>
