<template>
  <v-wait for="loading main categories">
    <template slot="waiting">
      <div class="flex items-center justify-center">
        <fulfilling-bouncing-circle-spinner
          :animation-duration="2500"
          :size="70"
          color="#CBD5E0"
        />
      </div>
    </template>
    <div class="flex">
      <div class="w-full lg:w-1/4 pr-0 lg:pr-5 self-auto">
        <div class="bg-gray-200 rounded">
          <ul>
            <li v-for="mainCategory in categories" v-bind:key="mainCategory.id" v-on:click="getCategoryChilds(mainCategory.id, mainCategory.title)" :class="activeCategoryId === mainCategory.id ? 'bg-white cursor-default' : 'cursor-pointer'" class="py-2 px-3 hover:bg-white ">
              <span class="text-sm text-gray-700 hover:text-red-500 bolder">{{ mainCategory.title }}</span>
            </li>
            <li v-on:click="openBrands" class="cursor-pointer py-2 px-3 hover:bg-white">
              <span class="text-sm text-gray-700 hover:text-red-500 bolder">Бренды</span>
            </li>
          </ul>
        </div>
      </div>
      <v-wait for="loading subcategories" class="w-3/4 hidden lg:block overflow-y-scroll h-screen pb-20">
        <template slot="waiting">
          <div class="flex items-center justify-center">
            <fulfilling-bouncing-circle-spinner
              :animation-duration="2500"
              :size="70"
              color="#CBD5E0"
            />
          </div>
        </template>
        <h2 class="text-3xl px-3 mb-10 bolder text-gray-700">
          {{ activeCategoryName }}
        </h2>
        <client-only>
          <div v-masonry transition-duration="0.3s" item-selector=".item" class="masonry-container">
            <div v-masonry-tile v-for="(subCategory, index) in subCategories" :key="index" class="item px-3 w-1/3">
              <ul class="mb-10">
                <li class="pb-3">
                  <nuxt-link @click.native="toggleMenuData" :to="'/category/'+subCategory.slug" class="bolder text-gray-700 cursor-pointer hover:text-gray-600">
                    {{ subCategory.title }}
                  </nuxt-link>
                </li>
                <li v-if="subCategory.childs.length > 0" v-for="child in subCategory.childs" v-bind:key="child.id" class="py-1">
                  <nuxt-link @click.native="toggleMenuData" :to="'/category/'+child.slug" class="text-sm text-gray-700 hover:text-red-500 cursor-pointer">
                    {{ child.title }}
                  </nuxt-link>
                </li>
              </ul>
            </div>
          </div>
        </client-only>
        <div v-if="activeCategoryId === 431" class="flex flex-wrap">
          <div class="w-1/3 pr-2">
            <nuxt-link @click.native="toggleMenuData" to="/category/ukhod-za-telom-468">
              <img class="object-cover w-full rounded" src="~assets/img/smm/image004.jpg">
            </nuxt-link>
          </div>
          <div class="w-1/3 pr-2">
            <nuxt-link @click.native="toggleMenuData" to="/category/ukhod-za-telom-468">
              <img class="object-cover w-full rounded" src="~assets/img/smm/image005.jpg">
            </nuxt-link>
          </div>
          <div class="w-1/3 pr-2">
            <nuxt-link @click.native="toggleMenuData" to="/category/gigiena-polosti-rta-521">
              <img class="object-cover w-full rounded" src="~assets/img/smm/image006.jpg">
            </nuxt-link>
          </div>
        </div>
      </v-wait>
    </div>
  </v-wait>
</template>

<script>
import { mapState } from 'vuex'
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
// import { debounce } from 'vue-debounce'

export default {
  components: {
    FulfillingBouncingCircleSpinner
  },
  data () {
    return {
      subCategories: '',
      activeCategoryId: null,
      activeCategoryName: null
    }
  },
  computed: {
    ...mapState({
      categories: state => state.shops.mainCategories
    })
  },

  mounted () {
    this.getMainCategories()
    if (typeof this.$redrawVueMasonry === 'function') {
      this.$redrawVueMasonry()
    }
  },
  methods: {
    openBrands () {
      this.toggleMenuData()
      this.$router.push('/brands')
    },
    toggleMenuData () {
      this.$emit('hideCatalog')
    },
    setCategory (id) {
      this.$emit('setCategory', id)
    },
    hideCatalog () {
      this.$emit('hideCatalog')
    },
    async getCategoryChilds (id, name) {
      // debounce(val => console.log('normal format', val), '400ms')
      this.$store.dispatch('wait/start', 'loading subcategories', { root: true })
      await this.$store.dispatch('shops/getSubCategories', id).then((res) => {
        this.subCategories = res
        this.activeCategoryId = id
        this.activeCategoryName = name
      })
      this.$store.dispatch('wait/end', 'loading subcategories', { root: true })
    },
    async getMainCategories () {
      this.$store.dispatch('wait/start', 'loading main categories', { root: true })
      const _self = this
      if (this.$store.state.shops.mainCategories.length === 0) {
        await this.$store.dispatch('shops/getMainCategories').then(() => {
          if (_self.categories.length > 0) {
            _self.getCategoryChilds(_self.categories[0].id, _self.categories[0].title)
          }
        })
      } else {
        _self.getCategoryChilds(_self.categories[0].id, _self.categories[0].title)
      }
      this.$store.dispatch('wait/end', 'loading main categories', { root: true })
    }
  }
}
</script>
