<template>
  <multiselect
    v-model="localValue"
    :options="searchOptions"
    :multiple="false"
    :loading="isLoading"
    :clear-on-select="false"
    :show-no-options="false"
    :show-no-results="false"
    :allow-empty="false"
    @search-change="asyncFind"
    @select="onSelect"
    @open="onOpen"
    select-label=""
    selected-label=""
    deselect-label=""
    label="value"
    placeholder="Начните вводить название населенного пункта.."
    track-by="value"
  >
    <template slot="noOptions">
      Результаты поиска не найдены.
    </template>

    <template slot="option" slot-scope="props">
      <div>
        <div v-html="props.option.value" class="option__title pl-5 text-xs" />
      </div>
    </template>
  </multiselect>
</template>

<script>

import Multiselect from 'vue-multiselect'

const BASE_URL = 'https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest'
const BASE_LAT_LON_URL = 'https://suggestions.dadata.ru/suggestions/api/4_1/rs/geolocate/address'

const API_KEY = '4e7c34aa33520b8d9fb2a47c4d1f907aa9e5999b'

export default {
  components: {
    Multiselect
  },
  props: {
    value: {
      type: Object,
      default: null
    },
    type: {
      type: String,
      required: true,
      validator (value) {
        const values = ['fio', 'address', 'party', 'bank', 'email']
        return values.includes(value)
      }
    }
  },
  data () {
    return {
      searchOptions: [],
      isLoading: false
    }
  },
  computed: {
    localValue: {
      get () {
        // console.log(JSON.parse(this.value))
        // if (typeof this.value === 'object') {
        //   return this.value
        // } else {
        return this.value
        // }
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    async asyncFind (query) {
      if (query !== '') {
        this.isLoading = true
        const apiUrl = `${BASE_URL}/${this.type}`
        const headers = {
          'Authorization': `Token ${API_KEY}`,
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        }
        const res = await this.$axios.$post(apiUrl, { query, from_bound: { value: 'city' }, to_bound: { value: 'city' } }, { headers })
        this.searchOptions = res.suggestions
        this.localValue = res.suggestions[0]
        this.isLoading = false
      }

      // console.log(this.localValue)
    },
    onSelect (value) {
      // alert(1)
      // this.$emit('select', value.value)
      this.$emit('input', value)
      this.$emit('locationSelected', true)
    },
    onOpen (value) {
      this.$emit('locationNotSelected', true)
    },
    async findByCoordinates (lat, lon) {
      this.isLoading = true
      const apiUrl = `${BASE_LAT_LON_URL}`
      const headers = {
        'Authorization': `Token ${API_KEY}`,
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      }
      const radius_meters = 1000
      const res = await this.$axios.$post(apiUrl, { lat, lon, radius_meters, from_bound: { value: 'city' }, to_bound: { value: 'city' } }, { headers })
      if (res.suggestions.length > 0) {
        this.asyncFind(res.suggestions[0].data.city)
      }
      // this.searchOptions = res.suggestions
      // this.isLoading = false
    }
  }
}
</script>
