<template>
  <div class="flex justify-center items-center py-10 text-xl font-gteestipro text-gray-500">
    <div class="text-center leading-none">
      <div class="flex justify-center text-3xl font-helvetica-heavy text-blue-600 mb-5">
        <img src="~assets/img/08.svg" class="h-10 lg:h-16">
      </div>
      <!-- logo<span class="text-gray-600">.domain</span><br> -->
      <span class="text-sm font-gteestipro text-gray-500 leading-none bolder">только оригинальные и качественные товары</span>
    </div>
  </div>
</template>
<script>

export default {

}
