<template>
  <div
    :id="position + '-wrapper'"
    v-on-clickaway="away"
    class="fab-wrapper"
  >
    <div :id="position + '-action'" :style="listPos" class="actions-container">
      <transition
        :enter-active-class="transitionEnter"
        :leave-active-class="transitionLeave"
        name="fab-actions-appear"
      >
        <ul v-show="toggle" class="fab-list animate__animated animate__bounceIn">
          <template v-for="action in actions">
            <template>
              <li
                v-if="toggle"
                @click="toParent(action.name)"
                :class="action.color"
                class="pointer"
              >
                <fa :icon="['fab', action.icon]" class="material-icons" />
              </li>
            </template>
          </template>
        </ul>
      </transition>
    </div>
    <template>
      <template>
        <div
          v-ripple="rippleColor == 'light' ? 'rgba(255, 255, 255, 0.35)' : ''"
          @click="toggle = !toggle"
          class="bg-gray-600 fab-main pointer"
        >
          <fa :icon="['fas', 'comment-alt']" :class="{ rotate: toggle && allowRotation }" class="main material-icons" />
          <fa :icon="['fas', 'times']" :class="{ rotate: toggle && allowRotation }" class="close material-icons">
            add
          </fa>
        </div>
      </template>
    </template>
  </div>
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'
// import Ripple from 'vue-ripple-directive'
import { VTooltip } from 'v-tooltip'

export default {
  directives: { tooltip: VTooltip },
  mixins: [clickaway],
  props: {
    bgColor: {
      default: '#333333',
      type: String
    },
    position: {
      default: 'bottom-right',
      type: String
    },
    positionType: {
      default: 'fixed',
      type: String
    },
    zIndex: {
      default: '999',
      type: String
    },
    rippleShow: {
      default: true,
      type: Boolean
    },
    rippleColor: {
      default: 'light',
      type: String
    },
    mainIcon: {
      default: 'add',
      type: String
    },
    iconSize: {
      default: 'medium',
      type: String
    },
    mainTooltip: {
      default: null,
      type: String
    },
    fixedTooltip: {
      default: false,
      type: Boolean
    },
    tooltipTimeOutWhenStartOpened: {
      default: 200,
      type: Number
    },
    enableRotation: {
      default: true,
      type: Boolean
    },
    actions: {
      default: () => [
        {
          name: 'telegram',
          icon: 'telegram',
          color: 'bg-blue-400'
        },
        {
          name: 'whatsapp',
          icon: 'whatsapp',
          color: 'bg-green-600'
        },
        {
          name: 'viber',
          icon: 'viber',
          color: 'bg-pink-600'
        },
        {
          name: 'facebook',
          icon: 'facebook',
          color: 'bg-blue-600'
        }
      ],
      type: Array
    },
    startOpened: {
      default: false,
      type: Boolean
    },
    toggleWhenAway: {
      default: true,
      type: Boolean
    }
  },
  data () {
    return {
      toggle: this.startOpened,
      pos: {},
      tooltipPosition: 'left'
    }
  },
  computed: {

    allowRotation () {
      return this.enableRotation && this.actions && this.actions.length
    },
    listPos () {
      if (this.position === 'top-right' || this.position === 'top-left') {
        return {
          top: '-20px',
          paddingTop: '20px'
        }
      }
      return {
        bottom: '-20px',
        paddingBottom: '20px'
      }
    },
    transitionEnter () {
      const animation = this.animation
      return animation.enter
    },
    transitionLeave () {
      const animation = this.animation
      return animation.leave
    },
    animation () {
      if (this.position === 'top-right' || this.position === 'top-left') {
        return {
          enter: 'animated quick fadeInDown',
          leave: 'animated quick fadeOutUp'
        }
      } else if (this.position === 'bottom-right' || this.position === 'bottom-left') {
        return {
          enter: 'animated quick fadeInUp',
          leave: 'animated quick fadeOutDown'
        }
      } else {
        return {
          enter: 'animated fadeInUp',
          leave: 'animated fadeOutDown'
        }
      }
    },
    tooltipTrigger () {
      if (this.fixedTooltip) {
        return 'manual'
      }

      return 'hover'
    }
  },
  watch: {
    position (val) {
      this.setPosition()

      this.$nextTick(() => {
        this.moveTransition()
        this.tooltipPos()
      })
    }
  },
  mounted () {
    this.moveTransition()
  },
  created () {
    this.setPosition()

    if (this.startOpened) {
      this.showTooltip(this.tooltipTimeOutWhenStartOpened)
    }
  },
  methods: {
    tooltipPos () {
      if (this.position === 'top-right' || this.position === 'bottom-right') {
        this.tooltipPosition = 'left'
      } else {
        this.tooltipPosition = 'right'
      }
    },
    toParent (name) {
      switch (name) {
        case 'telegram': window.open('https://t.me/rf_market', '_blank'); break
        case 'whatsapp': window.open('https://wa.me/79959170596', '_blank'); break
        case 'viber': window.open('viber://chat?number=+79959170596', '_blank'); break
        case 'facebook': window.open('https://www.facebook.com/rfmarketofficial/', '_blank'); break
      }

      this.toggle = false
    },
    away () {
      if (this.toggleWhenAway) {
        this.toggle = false
      }
    },
    setPosition () {
      this.pos = {}
      switch (this.position) {
        case 'bottom-right':
          this.pos.right = '3vw'
          this.pos.bottom = '4vh'
          break
        case 'bottom-left':
          this.pos.left = '5vw'
          this.pos.bottom = '4vh'
          break
        case 'top-left':
          this.pos.left = '5vw'
          this.pos.top = '4vh'
          break
        case 'top-right':
          this.pos.right = '5vw'
          this.pos.top = '4vh'
          break
        default:
          this.pos.right = '5vw'
          this.pos.bottom = '4vh'
      }
    },
    moveTransition () {
      const wrapper = document.getElementById(this.position + '-wrapper')
      const el = document.getElementById(this.position + '-action')

      if (this.position === 'top-right' || this.position === 'top-left') {
        wrapper.appendChild(el)
      } else {
        wrapper.insertBefore(el, wrapper.childNodes[0])
      }
    },
    showTooltip (timeOut = 0) {
      if (this.toggle && this.actions.length && this.fixedTooltip) {
        setTimeout(() => {
          this.$refs.actions.forEach((item) => {
            if (this.toggle) {
              item._tooltip.show()
            }
          })
        }, timeOut)
      }
    }

  }
}
</script>

<style scoped>
    .animated.quick {
        -webkit-animation-duration: .7s !important;
        animation-duration: .7s !important;
    }

    .fab-wrapper {
        z-index: 999;
        right:3vw;bottom:4vh;
        position:fixed;
    }

    .fab-main {
        border-radius: 100px;
        padding: 30px;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.20), 0 4px 4px rgba(0, 0, 0, 0.15);
        z-index: 2;
        justify-content: center;
    }

    .fab-main .material-icons {
        color: white;
        -webkit-transition: .4s all;
        -moz-transition: .4s all;
        transition: .4s all;
        margin: 0px auto;
    }

    .fab-main .material-icons.main {
        opacity: 1;
        position: absolute;
    }

    .fab-main .material-icons.close {
        opacity: 0;
        position: absolute;
    }

    .fab-main .material-icons.main.rotate {
        -ms-transform: rotate(315deg); /* IE 9 */
        -webkit-transform: rotate(315deg); /* Chrome, Safari, Opera */
        transform: rotate(315deg);
        opacity: 0;
        -webkit-transition: opacity .3s ease-in, -webkit-transform .4s; /* Safari */
        transition: opacity .3s ease-in, transform .4s;
    }

    .fab-main .material-icons.close.rotate {

        opacity: 1;
        -webkit-transition: opacity .3s ease-in, -webkit-transform .4s; /* Safari */
        transition: opacity .3s ease-in, transform .4s;
    }

    .fab-list {
        position: relative;
        z-index: 1;
        margin: 2vh 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fab-list li {
        /*width: 50px;*/
        /*height: 50px;*/
        padding: 10px;
        margin-top: 2vh;
        display: flex;
        align-items: center;
        border-radius: 100px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.20), 0 4px 4px rgba(0, 0, 0, 0.15);
    }

    .fab-list li .material-icons {
        color: white;
        margin: 0px auto;
    }

    .pointer {
        cursor: pointer;
    }

    ul {
        list-style-type: none;
        padding: 0 !important;
    }

    .fab-wrapper .actions-container {
        overflow: hidden;
        z-index: 0;
        position: relative;
    }

    /* Rules for sizing the icon. */
    .material-icons.md-18 {
        font-size: 18px;
    }

    .material-icons.md-24 {
        font-size: 24px;
    }

    .material-icons.md-36 {
        font-size: 36px;
    }

    .material-icons.md-48 {
        font-size: 48px;
    }

    /* Rules for using icons as black on a light background. */
    .material-icons.md-dark {
        color: rgba(0, 0, 0, 0.54);
    }

    .material-icons.md-dark.md-inactive {
        color: rgba(0, 0, 0, 0.26);
    }

    /* Rules for using icons as white on a dark background. */
    .material-icons.md-light {
        color: rgba(255, 255, 255, 1);
    }

    .material-icons.md-light.md-inactive {
        color: rgba(255, 255, 255, 0.3);
    }

    @media screen and (max-width: 768px) {
        .fab-list {
            margin: 2vh 0;
        }
        .fab-wrapper {
            bottom: 10vh !important;
        }
    }
</style>
