<template>
  <div>
    <v-wait for="loading instagram posts">
      <template slot="waiting">
        <div class="flex items-center justify-center">
          <fulfilling-bouncing-circle-spinner
            :animation-duration="2500"
            :size="70"
            color="#CBD5E0"
          />
        </div>
      </template>

      <div class="flex items-center justify-between flex-wrap">
        <div v-for="post in instagramList" class="w-full md:w-1/4">
          <div class="py-2 pr-0 md:pr-2">
            <div class="border-dashed border-2 rounded flex justify-center items-center text-sm">
              <img :src="post.images.standard_resolution.url" class="object-cover w-full h-48">
            </div>
          </div>
        </div>
      </div>
    </v-wait>
  </div>
</template>

<script>
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import { mapState } from 'vuex'

export default {
  components: {
    FulfillingBouncingCircleSpinner
  },
  data: () => ({

  }),
  computed: {
    ...mapState({
      instagramList: state => state.instagram.instagramList
    })
  },
  mounted () {
    this.getInstagramPosts()
  },
  methods: {
    async getInstagramPosts () {
      this.$store.dispatch('wait/start', 'loading instagram posts', { root: true })
      await this.$store.dispatch('instagram/get')
      this.$store.dispatch('wait/end', 'loading instagram posts', { root: true })
    }
  }
}
</script>
