<template>
  <multiselect
    v-model="localValue"
    :options="searchOptions"
    :multiple="false"
    :loading="isLoading"
    :clear-on-select="false"
    :show-no-options="false"
    :show-no-results="false"
    :allow-empty="false"
    @search-change="asyncFind"
    @select="onSelect"
    @open="onOpen"
    select-label=""
    selected-label=""
    deselect-label=""
    label="title"
    placeholder="Начните вводить название типа товара.."
    track-by="id"
  >
    <template slot="noOptions">
      Результаты поиска не найдены.
    </template>

    <template slot="option" slot-scope="props">
      <div>
        <div v-html="props.option.title" class="option__title pl-5 text-xs" />
      </div>
    </template>
  </multiselect>
</template>

<script>
import Multiselect from 'vue-multiselect'
import 'vue-multiselect/dist/vue-multiselect.min.css'

export default {
  components: {
    Multiselect
  },
  props: {
    value: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      searchOptions: [],
      isLoading: false
    }
  },
  computed: {

    localValue: {
      get () {
        // console.log(JSON.parse(this.value))
        // if (typeof this.value === 'object') {
        //   return this.value
        // } else {
        return this.value
        // }
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    asyncFind (query) {
      if (query !== '') {
        this.isLoading = true
        if (typeof window.LIT !== 'undefined') {
          clearTimeout(window.LIT)
        }
        window.LIT = setTimeout(() => {
          this.$store.dispatch('products/findClassifications', query).then((response) => {
            // console.log(response)
            this.searchOptions = response.data
          })
        }, 500)

        this.isLoading = false
      }
    },
    onSelect (value) {
      // this.$emit('select', value.value)
      this.$emit('input', value)
    },
    onOpen (value) {

    }
  }
}
</script>
