<template>
  <div class="flex justify-between items-center flex-wrap">
    <div v-if="$store.state.auth.user" class="flex flex-wrap lg:flex-nowrap items-center justify-start text-gray-700">
      <nuxt-link v-if="$store.state.auth.user.role.name === 'shop' || $store.state.auth.user.role.name === 'restaurant' || $store.state.auth.user.role.name === 'ownproduction' || $store.state.auth.user.role.name === 'wholesale'" to="/profile/products" class="bg-gray-200 lg:bg-white rounded w-full lg:w-auto text-center lg:text-left mb-2 pr-2 py-2 pl-2 lg:pl-0 text-sm border-r-0 md:border-r border-gray-200">
        <span :class="active === 'products' ? 'border-0 text-gray-500' : 'border-b border-dashed'"><b>Моя продукция</b></span>
      </nuxt-link>
      <nuxt-link :class="$store.state.auth.user.role.name !== 'shop' && $store.state.auth.user.role.name !== 'ownproduction' && $store.state.auth.user.role.name !== 'restaurant' && $store.state.auth.user.role.name !== 'wholesale' ? 'pl-2 xl:pl-0 pr-2 py-2' : 'p-2'" to="/profile/orders" class="bg-gray-200 lg:bg-white w-full lg:w-auto text-center lg:text-left mb-2 text-sm border-r-0 md:border-r border-gray-200">
        <span :class="active === 'orders' ? 'border-0 text-gray-500' : 'border-b border-dashed'"><b>Мои заказы</b></span>
      </nuxt-link>
      <nuxt-link to="/profile/reviews" class="bg-gray-200 lg:bg-white rounded w-full lg:w-auto mb-2 text-center lg:text-left p-2 text-sm border-r-0 md:border-r border-gray-200">
        <span :class="active === 'reviews' ? 'border-0 text-gray-500' : 'border-b border-dashed'"><b>Мои отзывы</b></span>
      </nuxt-link>
      <nuxt-link to="/profile/recipes" class="bg-gray-200 lg:bg-white rounded w-full lg:w-auto mb-2 text-center lg:text-left p-2 text-sm border-r-0 md:border-r border-gray-200">
        <span :class="active === 'recipes' ? 'border-0 text-gray-500' : 'border-b border-dashed'"><b>Мои рецепты</b></span>
      </nuxt-link>
      <nuxt-link to="/profile/settings" class="bg-gray-200 lg:bg-white rounded w-full lg:w-auto mb-2 text-center lg:text-left p-2 text-sm border-r-0 md:border-r border-gray-200">
        <span :class="active === 'settings' ? 'border-0 text-gray-500' : 'border-b border-dashed'"><b>Настройки профиля</b></span>
      </nuxt-link>
      <nuxt-link v-if="$store.state.auth.user.role.name === 'shop' || $store.state.auth.user.role.name === 'restaurant' || $store.state.auth.user.role.name === 'ownproduction' || $store.state.auth.user.role.name === 'wholesale'" :class="$store.state.auth.user.role.name === 'shop' || $store.state.auth.user.role.name === 'ownproduction' || $store.state.auth.user.role.name === 'restaurant' || $store.state.auth.user.role.name === 'wholesale' ? 'pl-2 pr-2 py-2' : 'p-2'" to="/profile/settings/shop" class="bg-gray-200 lg:bg-white w-full lg:w-auto text-center lg:text-left mb-2 text-sm border-r-0 md:border-r border-gray-200">
        <span :class="active === 'shop-settings' ? 'border-0 text-gray-500' : 'border-b border-dashed'"><b>Витрина организации</b></span>
      </nuxt-link>
      <button v-on:click="logout" v-if="$store.state.auth.user" type="button" class="bg-gray-200 lg:bg-white rounded w-full lg:w-auto mb-2 text-center lg:text-left p-2 text-sm border-r-0 md:border-r border-gray-200">
        <span class="border-b border-dashed"><b>Выйти</b></span>
      </button>

      <!-- logout -->
    </div>
    <nuxt-link v-if="$store.state.auth.user.id === 20" to="/profile/orders/all" class="w-full text-center lg:text-left lg:w-auto mb-2 p-2 text-sm">
      <span :class="active === 'allorders' ? 'border-0 text-gray-500' : 'text-red-600 border-b border-dashed'"><b>Все заказы</b></span>
    </nuxt-link>
  </div>
</template>
<script>

export default {
  name: 'ProfileMenu',
  props: {
    active: {
      type: String,
      default: null
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('logout').then(() => {
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'success',
          title: 'Вы вышли из системы',
          timer: 5000,
          showConfirmButton: false
        })
        this.$router.push('/auth/login')
      })
    }
  }
}
</script>
