<template>
  <div
    :class="[{'rounded-full': rounded}, { indeterminate: indeterminate}]"
    class="w-full bg-gray-200 h-2 relative overflow-hidden"
  >
    <div
      :class="[`bg-${color}-300`, {'absolute top-0': indeterminate}, {'rounded-full': rounded}]"
      :style="{width: `${percentage}%`}"
      :aria-valuenow="percentage"
      class="h-full progressbar"
      role="progressbar"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      <span class="flex items-center h-full">
        <slot />
      </span>
    </div>
  </div>
</template>
<script>
export default {
  inheritAttrs: false,
  props: {
    color: {
      type: String,
      default: 'teal'
    },
    percentage: {
      type: Number,
      default: 0
    },
    rounded: {
      type: Boolean,
      default: true
    },
    indeterminate: Boolean
  }
}
</script>
<style scoped>
@keyframes progress-indeterminate {
  0% {
    width: 30%;
    left: -40%;
  }
  60% {
    left: 100%;
    width: 100%;
  }
  to {
    left: 100%;
    width: 0;
  }
}
.progressbar {
  transition: width 0.25s ease;
}
.indeterminate .progressbar {
  animation: progress-indeterminate 1.4s ease infinite;
}
</style>
