<template>
  <div class="mr-0 text-left">
    <nuxt-link to="/shops" class="relative text-sm text-gray-700 cursor-pointer">
      <b>Магазины</b>
    </nuxt-link>
  </div>
</template>

<script>

export default {
  components: { },
  data () {
    return {

    }
  }
}
</script>
