<template>
  <div class="flex justify-center lg:pt-32">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <profileMenu active="reviews" />
      <div>
        <div class="flex flex-wrap md:flex-nowrap justify-between items-center my-5">
          <h1 class="text-2xl w-full lg:w-auto text-gray-700">
            <nuxt-link :to="'/profile'">
              <b>Профиль</b>
            </nuxt-link> / <b class="text-gray-500">Мои отзывы</b>
          </h1>
        </div>
        <div>
          <div class="p-5 rounded bg-green-100 text-sm my-3 border-l-2 rounded-l-none border-green-400">
            Здесь будут отображаться все отзывы оставленные вами, а также отзывы других пользователей по вашей организациии и продукции.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import profileMenu from '~/components/helpers/profileMenu'

export default {
  layout: 'mainPage',
  components: { profileMenu },
  methods: {

  }
}
</script>
