
<template>
  <div class="pt-4 px-2 pb-4 mobile-catalog-wrapper">
    <h2 class="bolder text-xl text-gray-700 mb-5">
      Каталог товаров
    </h2>
    <ul>
      <li v-for="mainCategory in categories" v-bind:key="mainCategory.id" class="border-b border-gray-200 py-3">
        <nuxt-link :to="'/catalog/category/'+mainCategory.id" class="text-sm text-gray-700 hover:text-gray-500 bolder flex items-center justify-between">
          <span>{{ mainCategory.title }}</span>
          <span class="text-gray-500">
            <fa :icon="['fas', 'chevron-right']" />
          </span>
        </nuxt-link>
      </li>
      <li class="border-b border-gray-200 py-3">
        <nuxt-link :to="'/brands'" class="text-sm text-gray-700 hover:text-red-500 bolder flex items-center justify-between">
          <span>Бренды</span>
          <span class="text-gray-500">
            <fa :icon="['fas', 'chevron-right']" />
          </span>
        </nuxt-link>
      </li>
    </ul>
    <h2 class="bolder text-xl text-gray-700 mt-10 mb-5">
      Магазины
    </h2>
    <div class="flex flex-wrap">
      <nuxt-link
        v-for="shop in shops"
        v-bind:key="shop.id"
        :to="'/shops/'+shop.id"
        class="text-sm block py-1 text-gray-700 hover:text-gray-700 flex items-center justify-start w-full"
      >
        <div v-if="shop.media.mainImage !== null">
          <img v-lazy="shop.media.mainImage.url" class="object-cover h-10 w-10 rounded">
        </div>
        <div v-if="shop.media.mainImage === null">
          <img src="~assets/img/nophoto.svg" class="object-cover h-10 w-10 rounded">
        </div>
        <div class="ml-3">
          <div class="text-base text-left bolder text-gray-700">
            {{ shop.name }}
          </div>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import axios from 'axios'

export default {
  layout: 'mainPage',
  auth: false,
  // transition: 'bounce',
  components: { },
  data: () => ({
    subCategories: []
  }),
  computed: {
    ...mapState({
      // categories: state => state.shops.mainCategories,
      shops: state => state.shops.shopsList
    })
  },
  async asyncData ({ params }) {
    const { data } = await axios.get(process.env.API_URL + `/api/shops/categories`)
    return { categories: data }
  },

  mounted () {
    // this.getMainCategories()
    this.getShops()
  },
  methods: {
    // async getCategoryChilds (id, name) {
    //   // debounce(val => console.log('normal format', val), '400ms')
    //   this.$store.dispatch('wait/start', 'loading subcategories', { root: true })
    //   await this.$store.dispatch('shops/getSubCategories', id).then((res) => {
    //     this.subCategories = res
    //     this.activeCategoryId = id
    //     this.activeCategoryName = name
    //   })
    //   this.$store.dispatch('wait/end', 'loading subcategories', { root: true })
    // },
    // async getMainCategories () {
    //   this.$store.dispatch('wait/start', 'loading main categories', { root: true })
    //   const _self = this
    //   if (this.$store.state.shops.mainCategories.length === 0) {
    //     await this.$store.dispatch('shops/getMainCategories').then(() => {
    //       // if (_self.categories.length > 0) {
    //       //   _self.getCategoryChilds(_self.categories[0].id, _self.categories[0].title)
    //       // }
    //     })
    //   }
    //   this.$store.dispatch('wait/end', 'loading main categories', { root: true })
    // },
    async getShops () {
      this.$store.dispatch('wait/start', 'loading shops', { root: true })
      await this.$store.dispatch('shops/getShops')
      this.$store.dispatch('wait/end', 'loading shops', { root: true })
    }
  }
}
</script>
