<template>
  <div class="mb-5">
    <!-- <h2 class="my-3 bolder text-xl text-gray-700">
      Список моих заказов из магазинов
    </h2> -->
    <v-wait for="loading user individual orders" class="h-full">
      <template slot="waiting">
        <div class="flex items-center justify-center">
          <fulfilling-bouncing-circle-spinner
            :animation-duration="2500"
            :size="70"
            color="#CBD5E0"
          />
        </div>
      </template>
      <div v-if="orders.length > 0">
        <div v-for="uniteOrder in orders" v-bind:key="uniteOrder.id" class="mb-5 lg:mb-10">
          <div class="flex items-center justify-between flex-wrap">
            <h2 class="w-full lg:w-auto bolder text-gray-700 flex items-center justify-start flex-wrap">
              <span class="text-xl">Заказ №{{ $moment(uniteOrder.created_at).format("DDMMYY")+'.'+padWithZeroes(uniteOrder.id, 4) }}</span>
              <span class="text-gray-500 ml-0 lg:ml-2">
                от {{ $moment(uniteOrder.created_at).format("DD-MM-YYYY HH:mm:ss") }}
              </span>
            </h2>

            <div class="w-full lg:w-auto">
              <div class="flex items-center justify-start lg:justify-end">
                <div v-html="formatUniteOrderPaymentStatus(uniteOrder.status)" class="mr-2 text-gray-700 bolder" />
                <span class="text-gray-500 bolder">Итого за заказ:</span>
                <animated-number
                  :value="uniteOrder.totalPriceWithPromocode !== null ? uniteOrder.totalPriceWithPromocode : uniteOrder.totalPrice"
                  :formatValue="formatToPrice"
                  :duration="500"
                  class="text-xl text-gray-700 ml-2"
                  style="font-weight: bolder;"
                />
              </div>
              <div v-if="uniteOrder.totalPriceWithPromocode !== null" class="text-gray-500 bolder">
                Применена скидка по промокоду: {{ uniteOrder.promocodeSignature }} (-{{ uniteOrder.promocodeReward }}%)
              </div>
            </div>
          </div>
          <div class="text-gray-700 bolder">
            На имя: {{ uniteOrder.orders.data[0].userFirstName }} (тел: +{{ uniteOrder.orders.data[0].userPhone }})
          </div>
          <div>
            <div v-for="order in uniteOrder.orders.data" v-bind:key="order.id" class="mb-5">
              <h3 class="bolder text-gray-700 my-3 text-xl flex items-center justify-between flex-wrap">
                <span>Товары из магазина {{ order.shopName }}</span>
                <div v-html="formatOrderStatus(order.status)" />
              </h3>
              <div v-for="(item, index) in order.products" v-bind:key="item.id" class="mb-2">
                <div class="flex items-top items-center justify-between w-full flex-wrap">
                  <div class="flex items-center justify-start">
                    <div class="px-3 hidden lg:block text-gray-400">
                      {{ index+1 }}
                    </div>
                    <div class="flex items-start lg:items-center justify-start">
                      <div class="mr-2">
                        <nuxt-link :to="/products/+item.productDataAtOrderTime.url" v-if="item.productDataAtOrderTime.media.mainImage !== null">
                          <img v-lazy="item.productDataAtOrderTime.media.mainImage.url" class="filter-grayscale object-cover rounded w-12 h-12">
                        </nuxt-link>
                        <nuxt-link :to="/products/+item.productDataAtOrderTime.url" v-if="item.productDataAtOrderTime.media.mainImage === null">
                          <img src="~assets/img/nophoto.svg" class=" object-cover rounded w-12 h-12 filter-grayscale">
                        </nuxt-link>
                      </div>
                    </div>
                  </div>
                  <div class="flex items-start justify-between flex-wrap flex-1">
                    <div class="text-gray-700">
                      <nuxt-link :to="/products/+item.productDataAtOrderTime.url" class="bolder text-sm">
                        {{ item.productDataAtOrderTime.name }}
                      </nuxt-link>
                      <div v-if="item.productDataAtOrderTime.breadcrumbs !== null" class="text-gray-700 flex-wrap hidden lg:flex text-sm">
                        <div v-for="(crumb, indexP) in item.productDataAtOrderTime.breadcrumbs" v-bind:key="crumb.id">
                          <nuxt-link :to="crumb.slug" :class="indexP != Object.keys(item.productDataAtOrderTime.breadcrumbs).length - 1 ? 'text-gray-500' : 'text-gray-500'" class="cursor-pointer bolder hover:text-gray-700">
                            {{ crumb.title }}
                          </nuxt-link>
                          <span v-if="indexP != Object.keys(item.productDataAtOrderTime.breadcrumbs).length - 1" class="px-1 text-gray-300">/</span>
                        </div>
                      </div>
                    </div>
                    <div class="flex items-center justify-end flex-wrap bolder text-gray-700 text-sm">
                      <div v-if="item.weight !== null" class="flex items-center justify-end">
                        <span>{{ item.weight }} {{ item.measure }}</span>
                        <span class="ml-2">x</span>
                        <animated-number
                          :value="item.productPrice"
                          :formatValue="formatToPrice"
                          :duration="500"
                          class="text-gray-700 ml-2"
                          style="font-weight: bolder;"
                        />
                      </div>
                      <div v-if="item.weight === null" class="flex items-center justify-end">
                        <span>{{ item.quantity }} шт</span>
                        <span class="ml-2">x</span>
                        <animated-number
                          :value="item.productPrice"
                          :formatValue="formatToPrice"
                          :duration="500"
                          class="text-gray-700 ml-2"
                          style="font-weight: bolder;"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-gray-700 text-sm bolder">
            Заказ будет доставлен по адресу: {{ uniteOrder.orders.data[0].userLocation.value }}, {{ uniteOrder.orders.data[0].userAddress }}<br>
            Дата и время доставки: {{ $moment(uniteOrder.orders.data[0].deliveryDate).format("DD-MM-YYYY") }}, c {{ uniteOrder.orders.data[0].deliveryTimeFrom }} до {{ uniteOrder.orders.data[0].deliveryTimeTo }}
          </div>
          <div class="flex items-center justify-end">
            <button v-on:click="downloadOrderInPdf(uniteOrder.id)" class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white focus:outline-none w-full lg:w-auto" type="button">
              Сформировать PDF
            </button>
          </div>
        </div>
      </div>
      <div v-if="orders.length === 0">
        <div class="p-5 rounded bg-green-100 text-sm my-3 border-l-2 rounded-l-none border-green-400">
          Здесь будут отображаться все ваши заказы. Перейдите в каталог и соберите свою первую корзину!
        </div>
      </div>
    </v-wait>
  </div>
</template>

<script>
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import { mapState } from 'vuex'
import AnimatedNumber from 'animated-number-vue'

export default {
  components: {
    FulfillingBouncingCircleSpinner, AnimatedNumber
  },
  data () {
    return {

    }
  },
  computed: {
    ...mapState({
      orders: state => state.profile.allOrders
    })
  },

  mounted () {
    this.getAllOrders()
  },
  methods: {
    downloadOrderInPdf (id) {
      window.open(process.env.API_URL + '/api/orders/export?id=' + id, '_blank')
    },
    formatToPrice (value) {
      return `${this.$options.filters.numFormat(value.toFixed(2), '0,0') + '<span class="text-gray-500">' + this.$options.filters.numFormat(value.toFixed(2), '.00 $') + '</span>'}`
    },
    formatUniteOrderPaymentStatus (status) {
      switch (status) {
        case 'NEW': return '<span class="py-1 px-2 rounded bg-orange-200 text-xs">НЕ ОПЛАЧЕН</span>'
        default: return '<span class="py-1 px-2 rounded bg-gray-200 text-xs">' + status + '</span>'
      }
    },
    cancelOrder (orderId) {

    },
    calculateTotal (products) {
      const totalPrice = products.reduce((total, p) => {
        return total + p.productPrice * p.quantity
      }, 0)

      return totalPrice.toFixed(2)
    },
    formatMeasure (measure) {
      switch (measure) {
        case 'штук': return 'шт'
        case 'грамм': return 'гр'
        case 'килограмм': return 'кг'
        case 'милилитров': return 'мл'
        case 'литров': return 'л'
        case 'метров': return 'м'
        case 'квадратных метров': return 'м2'
        default: return ''
      }
    },
    formatOrderStatus (status) {
      switch (status) {
        case 'new': return '<span class="py-1 px-2 rounded bg-gray-200 text-xs">ОТПРАВЛЕН МАГАЗИНУ</span>'
        case 'processed': return '<span class="py-1 px-2 rounded bg-blue-200 text-xs">обработан</span>'
        case 'transferredToOwnCourier': return '<span class="py-1 px-2 rounded bg-teal-200 text-xs">передан на доставку</span>'
        case 'transferredToOtherCourier': return '<span class="py-1 px-2 rounded bg-yellow-200 text-xs">передан на доставку</span>'
        case 'received': return '<span class="py-1 px-2 rounded bg-green-200 text-xs">доставлен</span>'
      }
    },
    async getAllOrders () {
      this.$store.dispatch('wait/start', 'loading user individual orders', { root: true })
      await this.$store.dispatch('profile/getAllOrders')
      this.$store.dispatch('wait/end', 'loading user individual orders', { root: true })
    },
    padWithZeroes (number, length) {
      let myString = '' + number
      while (myString.length < length) {
        myString = '0' + myString
      }

      return myString
    }
  }
}
</script>
