<template>
  <div class="mb-5">
    <v-wait for="loading user shop orders" class="h-full">
      <template slot="waiting">
        <div class="flex items-center justify-center">
          <fulfilling-bouncing-circle-spinner
            :animation-duration="2500"
            :size="70"
            color="#CBD5E0"
          />
        </div>
      </template>
      <div v-if="orders.length > 0">
        <div>
          <div v-for="order in orders" v-bind:key="order.id" class="mb-5">
            <h3 class="bolder text-gray-700 my-3 text-xl flex items-center justify-between flex-wrap">
              <span class="text-xl">Заказ №{{ $moment(order.created_at).format("DDMMYY")+'.'+padWithZeroes(order.id, 4) }}</span>
              <div v-html="formatOrderStatus(order.status)" />
            </h3>
            <div v-for="(item, index) in order.products" v-bind:key="item.id" class="mb-2">
              <div class="flex items-top items-center justify-between w-full flex-wrap">
                <div class="flex items-center justify-start">
                  <div class="px-3 hidden lg:block text-gray-400">
                    {{ index+1 }}
                  </div>
                  <div class="flex items-start lg:items-center justify-start">
                    <div class="mr-2">
                      <nuxt-link :to="/products/+item.productDataAtOrderTime.url" v-if="item.productDataAtOrderTime.media.mainImage !== null">
                        <img v-lazy="item.productDataAtOrderTime.media.mainImage.url" class="filter-grayscale object-cover rounded w-12 h-12">
                      </nuxt-link>
                      <nuxt-link :to="/products/+item.productDataAtOrderTime.url" v-if="item.productDataAtOrderTime.media.mainImage === null">
                        <img src="~assets/img/nophoto.svg" class=" object-cover rounded w-12 h-12 filter-grayscale">
                      </nuxt-link>
                    </div>
                  </div>
                </div>
                <div class="flex items-start justify-between flex-wrap flex-1">
                  <div class="text-gray-700">
                    <nuxt-link :to="/products/+item.productDataAtOrderTime.url" class="bolder text-sm">
                      {{ item.productDataAtOrderTime.name }}
                    </nuxt-link>
                    <div v-if="item.productDataAtOrderTime.breadcrumbs !== null" class="text-gray-700 flex-wrap hidden lg:flex text-sm">
                      <div v-for="(crumb, indexP) in item.productDataAtOrderTime.breadcrumbs" v-bind:key="crumb.id">
                        <nuxt-link :to="crumb.slug" :class="indexP != Object.keys(item.productDataAtOrderTime.breadcrumbs).length - 1 ? 'text-gray-500' : 'text-gray-500'" class="cursor-pointer bolder hover:text-gray-700">
                          {{ crumb.title }}
                        </nuxt-link>
                        <span v-if="indexP != Object.keys(item.productDataAtOrderTime.breadcrumbs).length - 1" class="px-1 text-gray-300">/</span>
                      </div>
                    </div>
                  </div>
                  <div class="flex items-center justify-end flex-wrap bolder text-gray-700 text-sm">
                    <div v-if="item.weight !== null" class="flex items-center justify-end">
                      <span>{{ item.weight }} {{ item.measure }}</span>
                      <span class="ml-2">x</span>
                      <animated-number
                        :value="item.productPrice"
                        :formatValue="formatToPrice"
                        :duration="500"
                        class="text-gray-700 ml-2"
                        style="font-weight: bolder;"
                      />
                    </div>
                    <div v-if="item.weight === null" class="flex items-center justify-end">
                      <span>{{ item.quantity }} шт</span>
                      <span class="ml-2">x</span>
                      <animated-number
                        :value="item.productPrice"
                        :formatValue="formatToPrice"
                        :duration="500"
                        class="text-gray-700 ml-2"
                        style="font-weight: bolder;"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="orders.length === 0">
        <div class="p-5 rounded bg-green-100 text-sm my-3 border-l-2 rounded-l-none border-green-400">
          Здесь будут отображаться все ваши заказы. Пока у вас нет ни одного заказа.<br>
          <span class="text-gray-500">
            Заполните витрину вашей организации и добавьте свою продукцию, заказы не заставят себя долго ждать.
          </span>
        </div>
      </div>
    </v-wait>
  </div>
</template>

<script>
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import { mapState } from 'vuex'
import AnimatedNumber from 'animated-number-vue'

export default {
  components: {
    FulfillingBouncingCircleSpinner, AnimatedNumber
  },
  data () {
    return {
      showAwailableCouriersForOrderdId: null,
      showAwailableStatusesForOrderdId: null
    }
  },
  computed: {
    ...mapState({
      orders: state => state.profile.shopOrders,
      availableCouriers: state => state.profile.availableCouriers
    }),
    selectedCourierId: {
      get () {
        return this.$store.state.orders.selectedCourierId
      },
      set (value) {
        this.$store.commit('setSeletedCourier', value)
      }
    }
  },

  mounted () {
    this.getOrders()
  },
  methods: {
    changeOrderStatus (orderId) {
      this.showAwailableStatusesForOrderdId = orderId
      this.showAwailableCouriersForOrderdId = null
    },
    setCourierToOrder (courierId, orderId) {
      this.$swal({
        toast: true,
        position: 'top-end',
        icon: 'success',
        title: 'Курьер закреплен за закозом. Ожидайте подтверждения курьером.',
        timer: 5000,
        showConfirmButton: false
      })
      this.showAwailableCouriersForOrderdId = null
    },
    formatToPrice (value) {
      return `${this.$options.filters.numFormat(value.toFixed(2), '0,0') + '<span class="text-gray-500">' + this.$options.filters.numFormat(value.toFixed(2), '.00 $') + '</span>'}`
    },
    async findCourier (orderId) {
      this.showAwailableCouriersForOrderdId = orderId
      this.showAwailableStatusesForOrderdId = null
      this.$store.dispatch('wait/start', 'loading available couriers', { root: true })
      await this.$store.dispatch('profile/getAvailableCouriers', orderId)
      this.$store.dispatch('wait/end', 'loading available couriers', { root: true })
    },
    formatPaymentStatus (status) {
      if (status === 'notPaid') {
        return 'не оплачен'
      } else {
        return 'оплачен'
      }
    },
    calculateTotal (products) {
      const totalPrice = products.reduce((total, p) => {
        return total + p.productPrice * p.quantity
      }, 0)

      return totalPrice.toFixed(2)
    },
    formatMeasure (measure) {
      switch (measure) {
        case 'штук': return 'шт'
        case 'грамм': return 'гр'
        case 'килограмм': return 'кг'
        case 'милилитров': return 'мл'
        case 'литров': return 'л'
        case 'метров': return 'м'
        case 'квадратных метров': return 'м2'
        default: return ''
      }
    },
    formatOrderStatus (status) {
      switch (status) {
        case 'new': return '<span class="py-1 px-2 rounded bg-gray-200 text-xs">ОТПРАВЛЕН МАГАЗИНУ</span>'
        case 'processed': return '<span class="py-1 px-2 rounded bg-blue-200 text-xs">обработан</span>'
        case 'transferredToOwnCourier': return '<span class="py-1 px-2 rounded bg-teal-200 text-xs">передан на доставку</span>'
        case 'transferredToOtherCourier': return '<span class="py-1 px-2 rounded bg-yellow-200 text-xs">передан на доставку</span>'
        case 'received': return '<span class="py-1 px-2 rounded bg-green-200 text-xs">доставлен</span>'
      }
    },
    async getOrders () {
      this.$store.dispatch('wait/start', 'loading user shop orders', { root: true })
      await this.$store.dispatch('profile/getShopOrders')
      this.$store.dispatch('wait/end', 'loading user shop orders', { root: true })
    },
    padWithZeroes (number, length) {
      let myString = '' + number
      while (myString.length < length) {
        myString = '0' + myString
      }

      return myString
    }
  }
}
</script>
