<template>
  <div>
    <div class="sorting-wrapper flex justify-between my-3">
      <div class="flex items-center justify-start">
        <!-- <span v-on:click="showCategoryFilter" class="mr-2 text-blue-600 bolder cursor-pointer hover:text-blue-500 flex justify-start">
          <span>Фильтр</span><span class="hidden md:block pl-1">товаров по этой категории</span>
        </span>
        <span v-on:click="showCategoryFilter" class="text-blue-600 cursor-pointer hover:text-blue-500">
          <fa :icon="['fas', 'caret-down']" />
        </span> -->
      </div>
      <div class="w-full lg:w-64 ml-0 lg:ml-2 lg:ml-0">
        <multiselect
          v-model="sort"
          :options="sortOptions"
          :searchable="false"
          :show-labels="false"
          @select="onSelectSortOption"
          label="label"
          track-by="id"
        >
          <template slot="noOptions">
            Результаты поиска не найдены.
          </template>

        <!-- <template slot="option" slot-scope="props">
      <div>
        <div v-html="props.option.value" class="option__title pl-5 text-xs" />
      </div>
    </template> -->
        </multiselect>
      </div>
    </div>
    <div v-if="isShowFilter" class="my-5 animate__animated animate__bounceIn">
      here we need create a filter component
    </div>
    <v-wait for="loading category products list" class="mb-5">
      <template slot="waiting">
        <div class="flex items-center justify-center py-24">
          <fulfilling-bouncing-circle-spinner
            :animation-duration="2500"
            :size="70"
            color="#CBD5E0"
          />
        </div>
      </template>
      <div>
        <div v-if="categoryProducts" class="flex flex-wrap overflow-hidden lg:-mx-2">
          <div v-for="product in categoryProducts" v-bind:key="product.id" class="w-1/2 overflow-hidden my-1 lg:my-2 px-1 lg:px-2 lg:w-1/4 xl:w-1/5">
            <productCardComponent :product="product" />
          </div>

          <div v-if="categoryProducts.length === 0" class="mx-2 my-5">
            По вашим условиям поиска ничего не найдено. Попробуйте изменить запрос или выбрать другую категорию.
          </div>
        </div>
      </div>
    </v-wait>
    <div v-if="typeof $store.state.category.pagination.meta !== 'undefined' && $store.state.category.pagination.meta.last_page !== 0 && $store.state.category.pagination.meta.total > $store.state.category.pagination.meta.per_page" class="mt-5 mb-10 flex justify-center">
      <paginate
        :page-count="$store.state.category.pagination.meta.last_page"
        v-model="currentPage"
        :page-range="3"
        :margin-pages="2"
        :click-handler="clickCallback"
        :prev-text="'Предыдущая'"
        :next-text="'Следующая'"
        :container-class="'flex items-center justify-center text-gray-700'"
        :page-class="'py-2 px-3 bg-gray-200 rounded-full w-10 h-10 mx-1 text-xs lg:text-base flex justify-center items-center bolder'"
        :active-class="'text-red-400'"
        :page-link-class="'focus:outline-none'"
        :prev-link-class="'hidden lg:block focus:outline-none bolder'"
        :next-link-class="'hidden lg:block focus:outline-none bolder'"
        v-if="$store.state.category.pagination.meta !== null"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import Multiselect from 'vue-multiselect'
import productCardComponent from '~/components/shops/productCardComponent'

export default {
  layout: 'mainPage',
  components: { FulfillingBouncingCircleSpinner, productCardComponent, Paginate, Multiselect },
  props: {
    categoryId: {
      type: Number,
      default: null
    }
    // currentPage: {
    //   type: Number,
    //   default: 1
    // }
  },
  data: () => ({
    currentPage: 1,
    // sort: { id: 'popular', label: 'Популярные' },
    sortOptions: [
      { id: 'popular', label: 'Популярные' },
      { id: 'new', label: 'Новинки' },
      { id: 'action', label: 'Акция' },
      { id: 'price_desc', label: 'Сначала дорогие' },
      { id: 'price_asc', label: 'Сначала дешевые' },
      { id: 'id', label: 'По обновлению' }
    ],
    isShowFilter: false
  }),
  computed: {
    ...mapState({
      categoryProducts: state => state.category.filteredProducts
    }),
    sort: {
      get () { return this.$store.state.category.sort.field },
      set (sort) { return sort }
    }
  },
  mounted () {
    this.$store.commit('category/setCategoryIdFilter', this.categoryId)
    this.$store.commit('category/resetMeta')
    if (this.$route.query.page) {
      this.currentPage = parseInt(this.$route.query.page)
    }
    this.getCategoryProducts(this.currentPage)
    this.updateUrl(this.currentPage)
  },
  methods: {
    showCategoryFilter () {
      this.isShowFilter = true
    },
    async onSelectSortOption (selectedOption) {
      // console.log(selectedOption)
      this.currentPage = 1
      await this.$store.dispatch('category/setFilter', selectedOption)

      // await this.getCategoryProducts(this.currentPage)
    },
    clickCallback (pageNum) {
      this.currentPage = pageNum
      this.updateUrl(this.currentPage)
      this.getCategoryProducts(pageNum)
      this.$scrollTo('#category-wrapper', 700, { easing: 'ease', cancelable: false })
    },
    updateUrl (pageNum) {
      this.$router.push({
        query: {
          ...this.$route.query,
          page: pageNum
        }
      })
    },
    async getCategoryProducts (pageNum) {
      await this.$store.dispatch('category/getProducts', pageNum)
    }
  }
}
</script>
