<template>
    <button
        type="button"
        class="btn_compose btn btn-secondary"
        @click="compose()"
    >
    asdsadad
    </button>
</template>


<script>
export default {
    methods: {
        compose() {
            Bus.$emit('mercuriusComposeNewMessage');
        },
    }
}
</script>
