<template>
	<div class="content">
		<div class="row">
			<div class="col-xl-4 col-md-4">
				<conversations :conversations="conversations"></conversations>
				<btn-compose></btn-compose>
			</div>
			<div class="col-xl-8 col-md-8 no-padding h-100">
				messagess
			</div>
		</div>
	</div>
</template>



<script>
	export default {
		data() {
	        return {
	            conversations: [],
	            user: {},
	        }
	    },
	    created() {
	        this.user = Mercurius.user;

	        Bus.$on('mercuriusConversationsLoaded', res => this.onConversationsLoaded(res));
	        Bus.$on('mercuriusConversationDeleted', usrId => this.onConversationDeleted(usrId));
	        Bus.$on('mercuriusOpenConversation', conv => this.onOpenConversation(conv));
	        Bus.$on('mercuriusComposeNewMessage', () => this.onComposeNewMessage());
	    },
	    mounted() {
	        this.listen();
	    },


	    computed: {
	        showEmptyWrap() {
	            return this.is_loaded
	                && !this.finding_recipient
	                && this.conversations.length === 0;
	        },
	    },


	    methods: {
	        /**
	         * Setup event listener using Laravel Echo and Pusher.
	         */
	        listen() {
	            Echo.private('mercurius.'+this.user.id)
	                .listen('.mercurius.message.sent', e => this.onMessageReceived(e))
	                .listen('.mercurius.user.status.changed', user => this.onUserStatusChanged(user));
	        },


	        /**
	         * Message was received.
	         *
	         * @param {object} msg Message object
	         */
	        onMessageReceived(msg) {
	            Bus.$emit('mercuriusMessageReceived', msg.user, msg.sender, msg.message);

	            if (this.user.be_notified) {
	                this.desktopNotification(
	                    msg.sender.name,
	                    msg.sender.avatar,
	                    msg.message.message
	                );
	            }
	        },


	        /**
	         * When opening a conversation.
	         */
	        onOpenConversation(conv) {
	            this.conversation = conv
	            this.finding_recipient = false
	        },


	        /**
	         * When composing a new message.
	         */
	        onComposeNewMessage() {
	            this.conversation = false
	            this.finding_recipient = true
	        },


	        /**
	         * Conversation was loaded.
	         */
	        onConversationsLoaded(data) {
	            this.conversations = data;
	            this.is_loaded = true
	        },


	        /**
	         * Conversation was deleted.
	         */
	        onConversationDeleted(recipientId) {
	            let _c = this.conversations
	            let _i = _.findIndex(_c, ['id', recipientId])
	            Vue.delete(_c, _i)

	            if (this.conversation.id === recipientId) {
	                this.conversation = {}
	            }
	        },


	        /**
	         * When the User changes his status Active/Inactive/Idle.
	         *
	         * @param {object} user
	         */
	        onUserStatusChanged(ev) {
	            let _c = _.find(this.conversations, ['id', ev.user])
	            if (!_c) return

	            _c.is_online = (ev.status === 'active')
	        },
	    },
	}
</script>