<template>
  <v-wait for="loading user info" class="h-full">
    <template slot="waiting">
      <div class="flex items-center justify-center">
        <fulfilling-bouncing-circle-spinner
          :animation-duration="2500"
          :size="70"
          color="#CBD5E0"
        />
      </div>
    </template>
    <ValidationObserver ref="observerUserProfile" v-if="$store.state.profile.user.profile">
      <form @submit.prevent="submitUpdateProfileForm">
        <h2 class="mb-3">
          Ваши личные данные, как представителя организации
        </h2>
        <div class="flex items-top justify-start flex-wrap">
          <div class="w-full lg:w-1/3 pr-0 lg:pr-2 mb-2">
            <ValidationProvider ref="observerProfileUserLastName" v-slot="{classes, errors}" name="Ваша фамилия" rules="required" class="w-full">
              <label class="text-sm text-gray-500">Ваша фамилия</label>
              <input v-model="userLastName" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите Вашу фамилию">
              <span class="text-sm text-red-400">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class="w-full lg:w-1/3 pr-0 lg:pr-2 mb-2">
            <ValidationProvider ref="observerProfileUserFirstName" v-slot="{classes, errors}" name="Ваше имя" rules="required" class="w-full">
              <label class="text-sm text-gray-500">Ваше имя</label>
              <input v-model="userFirstName" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите Ваше имя">
              <span class="text-sm text-red-400">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class="w-full lg:w-1/3 mb-2">
            <ValidationProvider ref="observerProfileUserSurName" v-slot="{classes, errors}" name="Ваше отчество" rules="required" class="w-full">
              <label class="text-sm text-gray-500">Ваше отчество</label>
              <input v-model="userSurName" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите Ваше отчество">
              <span class="text-sm text-red-400">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class="w-full lg:w-1/3 pr-0 lg:pr-2 mb-2">
            <ValidationProvider ref="observerProfileUserSurName" v-slot="{classes, errors}" name="Ваш телефон" rules="required" class="w-full">
              <label class="text-sm text-gray-500">Ваш телефон</label>
              <input v-model="userPhone" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите Ваш телефон">
              <span class="text-sm text-red-400">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class="w-full lg:w-1/3 pr-0 lg:pr-2 mb-2">
            <ValidationProvider ref="observerProfileUserSurName" v-slot="{classes, errors}" name="Ваш E-mail" rules="required|email" class="w-full">
              <label class="text-sm text-gray-500">Ваш E-mail</label>
              <input v-model="userEmail" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите Ваш E-mail">
              <span class="text-sm text-red-400">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
        </div>
        <h2 class="mt-5 mb-3">
          Данные вашей организации (магазина, ресторана, кафе и тп.)
        </h2>
        <div class="flex items-top justify-start flex-wrap">
          <div class="w-full lg:w-1/2 pr-0 lg:pr-2 mb-2">
            <ValidationProvider ref="observerProfileUserCompanyLocation" v-slot="{classes, errors}" name="Город (населенный пункт) местоположения организации" rules="required" class="w-full">
              <label class="text-sm text-gray-500">Город (населенный пункт) местоположения организации</label>
              <dadata-autocomplete ref="locationAutocomplete" v-model="userCompanyLocation" type="address" />
              <span class="text-sm text-red-400">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class="w-full lg:w-1/2 mb-2">
            <ValidationProvider ref="observerProfileUserCompanyAddress" v-slot="{classes, errors}" name="Адрес организации (в произвольном формате)" rules="required" class="w-full">
              <label class="text-sm text-gray-500">Адрес организации (в произвольном формате)</label>
              <input v-model="userCompanyAddress" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите адрес организации">
              <span class="text-sm text-red-400">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
        </div>
        <div class="flex items-center justify-start flex-wrap">
          <div class="w-full lg:w-1/2 pr-0 lg:pr-2 mb-2">
            <ValidationProvider ref="observerProfileUserCompanyName" v-slot="{classes, errors}" name="Название организации" rules="required" class="w-full">
              <label class="text-sm text-gray-500">Название организации</label>
              <input v-model="userCompanyName" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите название организации">
              <span class="text-sm text-red-400">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class="w-full lg:w-1/2 mb-2 pt-3 pl-3">
            <label class="flex items-top justify-start">
              <input v-model="userCompanyHaveOwnDelivery" type="checkbox" class="form-radio mt-1" name="haveOwnDelivery">
              <div class="ml-3 text-sm text-gray-500 leading-tight">
                Имеется своя доставка от организации<br>
                <span class="text-xs">В случае, если у вашей организации нет возможности самостоятельно доставлять заказы, система предложит вам свободных курьеров на момент необходимой доставки товаров.</span>
              </div>
            </label>
          </div>
        </div>
        <div class="flex items-center justify-start flex-wrap">
          <div class="w-full lg:w-1/2 pr-0 lg:pr-2 mb-2">
            <ValidationProvider ref="observerProfileUserCompanyURL" v-slot="{classes, errors}" name="URL адрес магазина" rules="required" class="w-full">
              <label class="text-sm text-gray-500">URL адрес магазина</label>
              <div class="flex items-start justify-start">
                <div class="bg-gray-200 py-3 px-2 text-sm border border-gray-200 rounded rounded-r-none">
                  https://app.rf.market/shops/
                </div>
                <input v-model="userCompanyUrl" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-gray-200 rounded-l-none" placeholder="Введите URL адрес магазина">
              </div>
              <span class="text-sm text-red-400">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
        </div>
        <div>
          <div class="w-full lg:w-1/2 mb-2 pt-3">
            <span class="text-blue-500 border-b border-dashed border-blue-500 text-sm">
              Скидочная политика
            </span><br>
            <span class="text-xs text-gray-500">нажмите, чтобы управлять скидками в зависимости от суммы заказа</span><br>
            <span class="text-red-500 text-xs">Внимание! Опция станет доступна после размещения товаров в системе.</span>
          </div>
        </div>

        <h2 class="mt-5 mb-3">
          Ценовая и временная политика заказов
        </h2>
        <div class="flex items-top justify-start flex-wrap">
          <div class="w-full lg:w-1/2 pr-0 lg:pr-2 mb-2">
            <ValidationProvider ref="observerProfileUserCompanyPriceMin" v-slot="{classes, errors}" name="Минимальная сумма заказа" class="w-full">
              <label class="text-sm text-gray-500">Минимальная сумма заказа</label>
              <input v-model="userCompanyPriceMin" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите минимальную сумму заказа">
              <span class="text-sm text-red-400">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class="w-full lg:w-1/2 mb-2">
            <ValidationProvider ref="observerProfileUserCompanyAverageTime" v-slot="{classes, errors}" name="Время обработки и формирования заказа" class="w-full">
              <label class="text-sm text-gray-500">Среднее время обработки и формирования заказа</label>
              <input v-model="userCompanyAverageTime" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите среднее время обработки заказа">
              <span class="text-sm text-red-400">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class="w-full lg:w-1/2 mb-2 pr-0 lg:pr-2">
            <ValidationProvider ref="observerProfileUserCompanyOrdersTimeFrom" name="Планируемое время начала" vid="timeFrom">
              <label class="text-sm text-gray-500">Время приема и выполнения заказа (часы работы) от</label>
              <date-picker
                id="timeFrom"

                v-model="userCompanyOrdersTimeFrom"
                :show-second="false"
                type="time"
                placeholder="Введите время начала"
                input-class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full focus:outline-none"
                name="timeFrom"
                value-type="format"
              >
                <template slot="icon-calendar">
                  <fa :icon="['fas', 'clock']" class="fill-current w-4 h-4 mr-2 text-gray-400" />
                </template>
              </date-picker>
            </ValidationProvider>
          </div>
          <div class="w-full lg:w-1/2 mb-2">
            <ValidationProvider ref="observerProfileUserCompanyOrdersTimeTo" name="Планируемая время окончания" vid="timeTo">
              <label class="text-sm text-gray-500">Время приема и выполнения заказа (часы работы) до</label>
              <date-picker
                id="timeTo"

                v-model="userCompanyOrdersTimeTo"
                :show-second="false"
                type="time"
                placeholder="Введите время окончания"
                input-class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full focus:outline-none"
                name="timeTo"
                value-type="format"
              >
                <template slot="icon-calendar">
                  <fa :icon="['fas', 'clock']" class="fill-current w-4 h-4 mr-2 text-gray-400" />
                </template>
              </date-picker>
            </ValidationProvider>
          </div>
        </div>
        <h2 class="mt-5 mb-3">
          Логотип организации<br>
          <span class="text-xs text-gray-500">Это может быть логотип, фотографии фасада здания и интерьера, фотографии блюд и меню.</span>
        </h2>
        <div>
          <div class="my-5 relative">
            <dropzone
              id="dropzone"
              ref="updateProfileDropzone"
              v-on:vdropzone-complete="updateUploadedImages"
              v-on:vdropzone-queue-complete="queueCompleted"
              v-on:vdropzone-sending="dropzoneSendingEvent"
              :options="dropzoneOptions"
            />
          </div>
          <div v-if="$store.state.profile.user.profile.media.gallery !== null" class="my-5">
            <h3>Уже загруженые вами изображения:</h3>
            <v-wait for="load uploaded profile images">
              <template slot="waiting">
                <div class="flex items-center justify-center">
                  <fulfilling-bouncing-circle-spinner
                    :animation-duration="2500"
                    :size="30"
                    color="#CBD5E0"
                  />
                </div>
              </template>
              <div class="flex items-center justify-start flex-wrap py-2">
                <div v-for="galleryItem in $store.state.profile.user.profile.media.gallery" v-bind:key="galleryItem.id" class="relative mr-2 mb-2">
                  <img :src="galleryItem.url" class="object-cover h-20 w-20 rounded">
                  <div class="absolute top-0 right-0 -mt-2 -mr-2">
                    <button v-on:click="deleteGalleryImage(galleryItem.id)" type="button" class="rounded-full bg-red-500 flex items-center justify-center w-4 h-4">
                      <fa :icon="['fas', 'times']" class="fill-current w-3 h-3 text-white" />
                    </button>
                  </div>
                </div>
              </div>
            </v-wait>
          </div>
        </div>

        <h2 class="mt-5 mb-3">
          Фоновое изображение страницы магазина<br>
          <span class="text-xs text-gray-500">Это могут быть логотип, фотографии фасада здания и интерьера, фотографии блюд и меню.</span>
        </h2>
        <div>
          <div class="my-5 relative">
            <dropzone
              id="dropzoneForBackground"
              ref="updateProfileBackgroundDropzone"
              v-on:vdropzone-complete="updateUploadedBackgroundImages"
              v-on:vdropzone-queue-complete="queueBackgroundImagesCompleted"
              v-on:vdropzone-sending="dropzoneBackgroundSendingEvent"
              :options="dropzoneBackgroundOptions"
            />
          </div>
          <div v-if="$store.state.profile.user.profile.media.background !== null" class="my-5">
            <h3>Уже загруженые вами изображения:</h3>
            <v-wait for="load uploaded profile images">
              <template slot="waiting">
                <div class="flex items-center justify-center">
                  <fulfilling-bouncing-circle-spinner
                    :animation-duration="2500"
                    :size="30"
                    color="#CBD5E0"
                  />
                </div>
              </template>
              <div class="flex items-center justify-start flex-wrap py-2">
                <div v-for="galleryItem in $store.state.profile.user.profile.media.background" v-bind:key="galleryItem.id" class="relative mr-2 mb-2">
                  <img :src="galleryItem.url" class="object-cover h-20 w-20 rounded">
                  <div class="absolute top-0 right-0 -mt-2 -mr-2">
                    <button v-on:click="deleteGalleryImage(galleryItem.id)" type="button" class="rounded-full bg-red-500 flex items-center justify-center w-4 h-4">
                      <fa :icon="['fas', 'times']" class="fill-current w-3 h-3 text-white" />
                    </button>
                  </div>
                </div>
              </div>
            </v-wait>
          </div>
        </div>

        <div class="my-3">
          <button class="rounded bg-gray-600 w-full lg:w-auto hover:bg-gray-500 py-2 px-10 text-sm text-white focus:outline-none" type="submit">
            Сохранить изменения
          </button>
        </div>
      </form>
    </ValidationObserver>
  </v-wait>
</template>

<script>
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate'
import { required, email } from 'vee-validate/dist/rules'
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
// import vue2Dropzone from 'vue2-dropzone'
import Dropzone from 'nuxt-dropzone'
import dadataAutocomplete from '~/components/helpers/dadataAutocomplete'
// import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import 'nuxt-dropzone/dropzone.css'

extend('required', {
  ...required,
  message: 'Вам необходимо указать {_field_}'
})

extend('email', {
  ...email,
  message: 'Поле {_field_} должно являться адресом электронной почты'
})

export default {
  components: {
    ValidationProvider, ValidationObserver, FulfillingBouncingCircleSpinner, dadataAutocomplete, Dropzone
  },
  data () {
    return {
      dropzoneOptions: {
        url: process.env.API_URL + '/api/media/upload',
        thumbnailWidth: 100,
        maxFilesize: 10,
        capture: 'camera',
        acceptedFiles: 'image/*',
        dictDefaultMessage: '<span>Для загрузки кликните либо перетащите фото сюда..</span><br><span class="text-xs">Разрешенные для загрузки форматы: jpeg, jpg, png</span>',
        headers: {
          Authorization: this.$auth.getToken('local')
        }
      },
      dropzoneBackgroundOptions: {
        url: process.env.API_URL + '/api/media/upload',
        thumbnailWidth: 100,
        maxFilesize: 10,
        maxFiles: 1,
        capture: 'camera',
        acceptedFiles: 'image/*',
        dictDefaultMessage: '<span>Для загрузки кликните либо перетащите фото сюда..</span><br><span class="text-xs">Разрешенные для загрузки форматы: jpeg, jpg, png</span>',
        headers: {
          Authorization: this.$auth.getToken('local')
        }
      }
    }
  },
  computed: {
    userFirstName: {
      get () {
        return this.$store.state.profile.user.firstName
      },
      set (value) {
        this.$store.commit('profile/setUserFirstName', value)
      }
    },
    userLastName: {
      get () {
        return this.$store.state.profile.user.lastName
      },
      set (value) {
        this.$store.commit('profile/setUserLastName', value)
      }
    },
    userSurName: {
      get () {
        return this.$store.state.profile.user.surName
      },
      set (value) {
        this.$store.commit('profile/setUserSurName', value)
      }
    },
    userPhone: {
      get () {
        return this.$store.state.profile.user.phone
      },
      set (value) {
        this.$store.commit('profile/setUserPhone', value)
      }
    },
    userEmail: {
      get () {
        return this.$store.state.profile.user.email
      },
      set (value) {
        this.$store.commit('profile/setUserEmail', value)
      }
    },
    userCompanyLocation: {
      get () {
        return this.$store.state.profile.user.profile.location
      },
      set (value) {
        this.$store.commit('profile/setUserCompanyLocation', value)
      }
    },
    userCompanyAddress: {
      get () {
        return this.$store.state.profile.user.profile.address
      },
      set (value) {
        this.$store.commit('profile/setUserCompanyAddress', value)
      }
    },
    userCompanyName: {
      get () {
        return this.$store.state.profile.user.profile.shop_name
      },
      set (value) {
        this.$store.commit('profile/setUserCompanyName', value)
      }
    },
    userCompanyUrl: {
      get () {
        return this.$store.state.profile.user.profile.slug
      },
      set (value) {
        this.$store.commit('profile/setUserCompanyUrl', value)
      }
    },
    userCompanyHaveOwnDelivery: {
      get () {
        return this.$store.state.profile.user.profile.have_own_delivery
      },
      set (value) {
        this.$store.commit('profile/setUserCompanyDelivery', value)
      }
    },
    userCompanyPriceMin: {
      get () {
        return this.$store.state.profile.user.profile.priceMin
      },
      set (value) {
        this.$store.commit('profile/setUserCompanyPriceMin', value)
      }
    },
    userCompanyAverageTime: {
      get () {
        return this.$store.state.profile.user.profile.averageTime
      },
      set (value) {
        this.$store.commit('profile/setUserCompanyAverageTime', value)
      }
    },
    userCompanyOrdersTimeFrom: {
      get () {
        return this.$store.state.profile.user.profile.workTimeFrom
      },
      set (value) {
        this.$store.commit('profile/setUserCompanyWorkTimeFrom', value)
      }
    },
    userCompanyOrdersTimeTo: {
      get () {
        return this.$store.state.profile.user.profile.workTimeTo
      },
      set (value) {
        this.$store.commit('profile/setUserCompanyWorkTimeTo', value)
      }
    }
  },
  mounted () {
    this.getUserInfo()
    // this.$refs.updateProfileDropzone.setOption('headers', { Authorization: this.$auth.getToken('local') })
    // this.dropzoneOptions.headers = { Authorization: this.$auth.getToken('local') }
  },
  methods: {
    async deleteGalleryImage (id) {
      await this.$swal({
        title: 'Вы уверены, что хотите удалить фото?',
        text: 'После подтверждения этого действия фотография будет удалена безвозвратно.',
        showCancelButton: true,
        confirmButtonClass: 'bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 w-48 rounded inline-flex items-center mr-2',
        cancelButtonClass: 'bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2  w-48 px-4 rounded inline-flex items-center mr-2 mt-2 lg:mt-0',
        buttonsStyling: false,
        cancelButtonText: 'Отмена',
        confirmButtonText: 'Да'
      }).then(async (result) => {
        if (result.value) {
          this.$store.dispatch('wait/start', 'load uploaded profile images', { root: true })
          await this.$store.dispatch('profile/deleteProfileMediaItem', id).then(() => {
            this.$swal({
              toast: true,
              position: 'top-end',
              icon: 'success',
              title: 'Фотография удалена',
              timer: 5000,
              showConfirmButton: false
            })
            this.$store.dispatch('wait/end', 'load uploaded profile images', { root: true })
          })
        }
      })
    },
    queueCompleted () {
      this.$refs.updateProfileDropzone.removeAllFiles()
      this.$swal({
        toast: true,
        position: 'top-end',
        icon: 'success',
        title: 'Фото загружены',
        timer: 5000,
        showConfirmButton: false
      })
    },
    queueBackgroundImagesCompleted () {
      this.$refs.updateProfileBackgroundDropzone.removeAllFiles()
      this.$swal({
        toast: true,
        position: 'top-end',
        icon: 'success',
        title: 'Фоновое изображение загружено',
        timer: 5000,
        showConfirmButton: false
      })
    },
    dropzoneSendingEvent (file, xhr, formData) {
      formData.append('model_id', this.$store.state.profile.user.profile.id)
      formData.append('model', 'App\\Models\\Profile')
    },
    dropzoneBackgroundSendingEvent (file, xhr, formData) {
      formData.append('model_id', this.$store.state.profile.user.profile.id)
      formData.append('model', 'App\\Models\\Profile')
      formData.append('gallery', 'background')
    },
    async updateUploadedImages () {
      this.$store.dispatch('wait/start', 'load uploaded profile images', { root: true })
      await this.$store.dispatch('profile/getProfileMedia', this.$store.state.profile.user.profile.id)
      this.$store.dispatch('wait/end', 'load uploaded profile images', { root: true })
    },
    async updateUploadedBackgroundImages () {
      this.$store.dispatch('wait/start', 'load uploaded profile images', { root: true })
      await this.$store.dispatch('profile/getProfileMedia', this.$store.state.profile.user.profile.id)
      this.$store.dispatch('wait/end', 'load uploaded profile images', { root: true })
    },
    async getUserInfo () {
      this.$store.dispatch('wait/start', 'loading user info', { root: true })
      await this.$store.dispatch('profile/getUserInfo')
      this.$store.dispatch('wait/end', 'loading user info', { root: true })
    },
    async submitUpdateProfileForm () {
      const isValid = await this.$refs.observerUserProfile.validate()
      if (isValid) {
        this.updateUserProfile()
      } else {
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'error',
          title: 'Для продолжения заполните поля с ошибками',
          timer: 3000,
          showConfirmButton: false
        })
      }
    },
    async updateUserProfile () {
      this.$store.dispatch('wait/start', 'loading user info', { root: true })
      await this.$store.dispatch('profile/updateUserProfile').then((response) => {
        if (response.data.success) {
          this.$swal({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: response.data.success.message,
            timer: 5000,
            showConfirmButton: false
          })
        }
        this.$store.dispatch('wait/end', 'loading user info', { root: true })
      })
    }

  }
}
</script>
