<template>
  <div>
    <div>
      <h2 class="text-gray-700 text-xl bolder">
        Акционные товары
      </h2>
      <div v-if="actionsProductsList.length === 0" class="p-5 rounded bg-blue-100 text-sm my-3 border-l-2 text-gray-700 rounded-l-none border-blue-400">
        Создавайте список товаров из вашей продукции, которые будут отображаться на главной страницы маркеплейса RF.market и в акционном блоке страницы вашего магазина.<br>
        При добавлении для каждого товара вы можете указывать свои настройки системы скидок и показа.
      </div>

      <div v-if="actionsProductsList.length === 0" class="flex items-center justify-center">
        <div class="my-5 w-full">
          <div class="text-center w-full text-gray-700 bolder">
            Добавьте свой первый товар в акцию!
          </div>
          <div class="w-full flex justify-center mt-5">
            <button v-on:click="openCreateProductActionModal" class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white focus:outline-none w-full lg:w-auto mr-0 lg:mr-2" type="button">
              Создать акционный товар
            </button>
            <button v-on:click="openCreateCategoryActionModal" class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white focus:outline-none w-full lg:w-auto" type="button">
              Создать акцию на категорию товаров
            </button>
          </div>
        </div>
      </div>
    </div>
    <selectProductModal :forTab="'manageActionProducts'" />
    <selectCategoryModal :forTab="'manageActionProducts'" />
    <modal
      :adaptive="true"
      :clickToClose="false"
      :maxWidth="1000"
      :scrollable="true"
      height="auto"
      name="create-action-modal"
    >
      <div class="py-5 px-5">
        <div class="flex items-center justify-between">
          <h3 class="text-2xl text-gray-700 bolder">
            Создание акции <span v-if="selectedProduct !== null">на товар</span>
          </h3>
          <button v-on:click="closeCreateActionModal" class="text-sm text-gray-600 focus:outline-none">
            <fa :icon="['fas', 'times-circle']" class="fill-current w-4 h-4" />
          </button>
        </div>
        <div v-if="selectedProduct !== null" class="text-gray-500">
          <span class="text-xl bolder">{{ selectedProduct.name }}</span>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import selectProductModal from '~/components/modals/selectProductModal'
import selectCategoryModal from '~/components/modals/selectCategoryModal'

export default {
  components: {
    selectProductModal, selectCategoryModal
  },
  data () {
    return {
      actionsProductsList: [],
      selectedProduct: null
    }
  },
  created () {
    this.$bus.$on('modalProductSelected-manageActionProducts', (data) => {
      this.productSelectedAtModal(data)
    })
  },
  methods: {
    productSelectedAtModal (product) {
      this.selectedProduct = product
      this.openCreateActionModal()
    },
    openCreateProductActionModal () {
      this.$modal.show('select-product-modal', {
        // 'product-selected': product
      })
    },
    openCreateCategoryActionModal () {
      this.$modal.show('select-category-modal')
    },
    openCreateActionModal () {
      this.$modal.show('create-action-modal')
    },
    closeCreateActionModal () {
      this.$modal.hide('create-action-modal')
      this.selectedProduct = null
    }
  }
}
</script>
