<template>
  <div>
    <v-wait for="adding to cart" class="my-5">
      <template slot="waiting">
        <div class="flex items-center justify-center py-24">
          <fulfilling-bouncing-circle-spinner
            :animation-duration="2500"
            :size="70"
            color="#CBD5E0"
          />
        </div>
      </template>
      <div v-if="product.media.mainImage !== null" class="flex items-center justify-center">
        <img v-lazy="product.media.mainImage.url" class="object-cover h-12 w-12 rounded-full filter-grayscale">
      </div>
      <div class="h-20 overflow-hidden">
        {{ product.name }}
      </div>
      <div>
        <span @click="selectProductForCreateNew(product)" class="rounded bg-gray-500 hover:bg-gray-400 p-2 text-white focus:outline-none w-full cursor-pointer">
          Выбрать
        </span>
      </div>
    </v-wait>
  </div>
</template>

<script>
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
export default {
  components: { FulfillingBouncingCircleSpinner },
  props: {
    product: {
      type: Object,
      default: null
    }
  },
  methods: {

    selectProductForCreateNew (product) {

    }
  }
}
</script>
