<template>
  <div class="flex items-center justify-between flex-wrap text-base text-gray-700">
    <div class="w-full lg:w-4/5 break-normal lg:truncate bolder">
      {{ product.name }}
    </div>
    <div class="flex items-center justify-end lg:justify-end w-full lg:w-1/5">
      <div class="ml-2 border-l border-gray-200 pl-2 flex items-center justify-center">
        <button v-on:click="updateProduct(product.id)" type="button" class="ml-2 text-white text-sm rounded-full w-6 h-6 bg-gray-600 focus:outline-none flex items-center justify-center">
          <fa :icon="['fas', 'edit']" />
        </button>
        <button v-on:click="deleteProduct(product.id, index)" type="button" class="ml-2 text-white text-sm rounded-full w-6 h-6 gradiend-red-button focus:outline-none flex items-center justify-center">
          <fa :icon="['fas', 'times']" />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      default: null
    },
    index: {
      type: Number,
      default: null
    }
  },
  methods: {
    updateProduct (id) {
      this.$router.push({ path: '/profile/products/update', query: { id } })
    },
    formatMeasure (measure) {
      return measure
    },
    async deleteProduct (id, index) {
      const _self = this
      await this.$swal({
        title: 'Вы уверены, что хотите удалить товар?',
        text: 'После подтверждения этого действия товар перестанет быть доступен для всех пользователей.',
        showCancelButton: true,
        confirmButtonClass: 'bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 w-48 rounded inline-flex items-center mr-0 lg:mr-2 focus:outline-none',
        cancelButtonClass: 'bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 w-48 px-4 rounded inline-flex items-center mt-2 lg:mt-0 focus:outline-none',
        buttonsStyling: false,
        cancelButtonText: 'Отмена',
        confirmButtonText: 'Да'
      }).then(async (result) => {
        if (result.value) {
          // this.$store.commit('products/deleteProductByIndex', index)

          this.$store.dispatch('wait/start', 'loading user products', { root: true })
          await this.$store.dispatch('products/deleteProduct', { id, type: 'draft', index }).then(() => {
            this.$swal({
              toast: true,
              position: 'top-end',
              icon: 'success',
              title: 'Товар удален',
              timer: 5000,
              showConfirmButton: false
            })
          })
          this.$store.dispatch('wait/end', 'loading user products', { root: true })
        }
      })
    }
  }
}
</script>
