<template>
  <div>
    <v-wait for="adding to cart" class="my-5">
      <template slot="waiting">
        <div class="flex items-center justify-center  py-24">
          <fulfilling-bouncing-circle-spinner
            :animation-duration="2500"
            :size="70"
            color="#CBD5E0"
          />
        </div>
      </template>
      <!-- <div v-if="product.media.mainImage == null" class="flex justify-center mb-3">
        <img src="~assets/img/nophoto.svg">
      </div> -->
      <div class="h-20 overflow-hidden">
        {{ product.name }}, {{ product.weight }} {{ formatMeasure(product.measure) }}
      </div>
      <div class="text-gray-500">
        {{ product.price }} {{ product.currency }}
      </div>
      <div>
        <button @click="addProductToCart(product)" class="rounded bg-gray-500 hover:bg-gray-400 p-2 text-white focus:outline-none w-full">
          В корзину
        </button>
      </div>
      <div class="text-xs text-center text-gray-500 mt-3">
        из магазина<br>
        <span class="text-gray-700">{{ product.shopName }}</span>
      </div>
    </v-wait>
  </div>
</template>

<script>
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
export default {
  components: { FulfillingBouncingCircleSpinner },
  props: {
    product: {
      type: Object,
      default: null
    }
  },
  methods: {
    formatMeasure (measure) {
      switch (measure) {
        case 'штук': return 'шт'
        case 'грамм': return 'гр'
        case 'килограмм': return 'кг'
        case 'милилитров': return 'мл'
        case 'литров': return 'л'
        case 'метров': return 'м'
        case 'квадратных метров': return 'м2'
        default: return ''
      }
    },
    async addProductToCart (product) {
      // this.$store.dispatch('wait/start', 'adding to cart', { root: true })
      await this.$store.dispatch('cart/addProductToCart', product).then(() => {
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'success',
          title: 'Товар добавлен в корзину',
          timer: 5000,
          showConfirmButton: false
        })
      })
      // this.$store.dispatch('wait/end', 'adding to cart', { root: true })
    }
  }
}
</script>
