<template>
  <div>
    <div class="flex items-center justify-between flex-wrap">
      <h3 class="text-xl bolder text-gray-700">
        Цены на товар из мониторинга продаж
      </h3>
      <button v-on:click="openCreateNewMonitoringPriceWindow" v-if="$store.state.products.product.id !== null" class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white focus:outline-none w-full lg:w-auto" type="button">
        Добавить конкурента
      </button>
    </div>
    <div v-if="pricesMonitoringList.length === 0" class="p-5 rounded bg-blue-100 text-sm my-3 border-l-2 rounded-l-none border-blue-400 text-gray-700">
      Создавайте список онлайн- и офлайн-магазинов конкурентов, чтобы отследить динамику изменения цен и предложить своим покупателям лучшую цену. По вашему желанию, эту статистику можно будет отобразить в карточке товара на сайте.
    </div>

    <v-wait for="load monitoring prices">
      <template slot="waiting">
        <div class="flex items-center justify-center">
          <fulfilling-bouncing-circle-spinner
            :animation-duration="2500"
            :size="70"
            color="#CBD5E0"
          />
        </div>
      </template>
      <div v-if="pricesMonitoringList.length > 0">
        <div v-for="monitoringPrice in pricesMonitoringList" v-bind:key="monitoringPrice.id" class="border-b border-gray-200 py-2 text-sm flex items-center justify-between">
          <div>
            <div>{{ monitoringPrice.name }}</div>
            <div class="text-gray-500">
              {{ monitoringPrice.link }}
            </div>
          </div>
          <div>{{ monitoringPrice.price }} ₽</div>
        </div>
      </div>
    </v-wait>

    <modal
      :adaptive="true"
      :clickToClose="false"
      :maxWidth="1000"
      :scrollable="true"
      height="auto"
      name="monitoring-price-modal"
    >
      <div class="py-5 px-5">
        <div class="flex items-center justify-between">
          <h3 class="text-2xl bolder text-gray-700">
            Создание цены конкурента
          </h3>
          <button v-on:click="closeCreateNewMonitoringPriceWindow" class="text-sm text-gray-600 focus:outline-none" type="button">
            <fa :icon="['fas', 'times-circle']" class="fill-current w-4 h-4" />
          </button>
        </div>
        <ValidationObserver ref="observerCreateMonitoringPrice">
          <form @submit.prevent="createMonitoringPrice">
            <div class="flex items-start">
              <ValidationProvider ref="observerCreateMonitoringPriceCompetitorName" v-slot="{classes, errors}" name="Название магазина конкурента" rules="required" class="w-full lg:w-1/2 pr-0 lg:pr-2">
                <label class="text-sm text-gray-500">Название магазина конкурента</label>
                <select v-model="monitoringPriceCompetitorName" class="form-select block w-full bg-gray-200 text-sm text-gray-600 border border-white p-3">
                  <option v-for="comp in competitorList" :value="comp">
                    {{ comp }}
                  </option>
                </select>
                <!-- <input v-model="monitoringPriceCompetitorName" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите название магазина конкурента"> -->
                <span class="text-sm text-red-400">{{ errors[0] }}</span>
              </ValidationProvider>
              <div>
                <label class="text-sm text-gray-500">id конкурента</label>
                <input v-model="monitoringPriceCompetitorProductId" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите id товара конкурента">
              </div>
            </div>
            <div>
              <ValidationProvider ref="observerCreateMonitoringPriceCompetitorLink" v-slot="{classes, errors}" name="Ссылку на магазин или офлайн локацию" rules="required" class="w-full">
                <label class="text-sm text-gray-500">Ссылка на магазин или офлайн локация</label>
                <input v-model="monitoringPriceCompetitorLink" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Укажите ссылку на магазин или офлайн локацию">
                <span class="text-sm text-red-400">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>

            <div class="flex items-start flex-wrap">
              <ValidationProvider ref="observerCreateMonitoringPriceCompetitorPrice" v-slot="{classes, errors}" name="Цена конкурента" rules="required" class="w-full lg:w-1/2 pr-0 lg:pr-2">
                <label class="text-sm text-gray-500">Цена конкурента</label>
                <input v-model="monitoringPriceCompetitorPrice" type="number" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Укажите цену конкурента">
                <span class="text-sm text-red-400">{{ errors[0] }}</span>
              </ValidationProvider>
              <ValidationProvider ref="observerCreateMonitoringPriceCompetitorPriceDate" v-slot="{classes, errors}" rules="required" name="Дата добавления" class="w-full lg:w-1/2">
                <label class="text-sm text-gray-500">Дата добавления</label>

                <date-picker
                  id="monitoringPriceCompetitorPriceDate"
                  :lang="lang"
                  v-model="monitoringPriceCompetitorPriceDate"
                  :first-day-of-week="1"

                  placeholder="Введите дату добавления"
                  format="YYYY-MM-DD"
                  input-class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full focus:outline-none"
                  name="monitoringPriceCompetitorPriceDate"
                  value-type="format"
                >
                  <template slot="icon-calendar">
                    <fa :icon="['fas', 'calendar-day']" class="fill-current w-4 h-4 mr-2 text-gray-600" />
                  </template>
                </date-picker>
                <span class="text-sm text-red-400">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>
            <div v-html="pricesDifference" />

            <div class="my-3">
              <button class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white focus:outline-none w-full lg:w-auto" type="submit">
                Добавить цену
              </button>
            </div>
          </form>
        </ValidationObserver>
      </div>
    </modal>
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate'
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import * as moment from 'moment'
import { required } from 'vee-validate/dist/rules'
extend('required', {
  ...required,
  message: 'Вам необходимо указать {_field_}'
})

export default {
  components: { ValidationProvider, ValidationObserver, FulfillingBouncingCircleSpinner },
  props: {
    pricesMonitoringList: {
      type: Array,
      default: null
    }
  },
  data () {
    return {
      competitorList: [
        'Азбука Вкуса',
        'Ашан',
        'Akusherstvo',
        'Altaibalzam',
        'Citymarket-express',
        'Delikateska',
        'Delivery.one',
        'Ecomarket',
        'Familyfriend',
        'Foodcity-24',
        'Greenberi',
        'Leonardo',
        'Moscowfresh',
        'Perekrestok',
        'Utkonos',
        'Vkusvill',
        'Wildberries',
        'Город Токио'
      ],
      monitoringPriceCompetitorProductId: '',
      lang: 'ru',
      monitoringPriceCompetitorName: '',
      monitoringPriceCompetitorLink: '',
      monitoringPriceCompetitorPrice: '',
      monitoringPriceCompetitorPriceDate: ''
    }
  },
  computed: {
    pricesDifference () {
      if (this.monitoringPriceCompetitorPrice > this.$store.state.products.product.price) {
        const difference = this.monitoringPriceCompetitorPrice - this.$store.state.products.product.price
        return '<div class="text-xl bolder text-green-rf my-3">Ваша цена на ' + difference + ' ₽ меньше, чем указанная у конкурента!</div>'
      } else {
        const difference = this.$store.state.products.product.price - this.monitoringPriceCompetitorPrice
        return '<div class="text-xl bolder text-red-600 my-3">Ваша цена на ' + difference + ' ₽ больше, чем указанная у конкурента!</div>'
      }
    }
  },
  methods: {
    async loadProductMonitoringPrices () {
      this.$store.dispatch('wait/start', 'load monitoring prices', { root: true })
      await this.$store.dispatch('products/getProductMonitoringPrices')
      this.$store.dispatch('wait/end', 'load monitoring prices', { root: true })
    },
    async createMonitoringPrice () {
      const isValid = await this.$refs.observerCreateMonitoringPrice.validate()
      if (isValid) {
        this.$axios.$post('/api/product/createmonitoringprice', { name: this.monitoringPriceCompetitorName, link: this.monitoringPriceCompetitorLink, price: this.monitoringPriceCompetitorPrice, date: this.monitoringPriceCompetitorPriceDate, productId: this.$store.state.products.product.id, competitorId: this.monitoringPriceCompetitorProductId })
          .then((res) => {
            this.monitoringPriceCompetitorName = ''
            this.monitoringPriceCompetitorLink = ''
            this.monitoringPriceCompetitorPrice = ''
            this.monitoringPriceCompetitorPriceDate = ''
            this.monitoringPriceCompetitorProductId = ''

            this.$swal({
              toast: true,
              position: 'top-end',
              icon: 'success',
              title: 'Цена конкурента добавлена',
              timer: 5000,
              showConfirmButton: false
            })

            this.loadProductMonitoringPrices()

            this.closeCreateNewMonitoringPriceWindow()
          }).catch((err) => {
            if (err.response) {
              for (const oneError in err.response.data.errors) {
                let swalErr = ''
                switch (oneError) {
                  case 'name':
                    err.response.data.errors[oneError].map((err) => {
                      this.$refs.observerCreateMonitoringPrice.setErrors({
                        'Название магазина конкурента': [err]
                      })
                      swalErr = err
                    })
                    break
                  case 'link':
                    err.response.data.errors[oneError].map((err) => {
                      this.$refs.observerCreateMonitoringPrice.setErrors({
                        'Ссылку на магазин или офлайн локацию': [err]
                      })
                      swalErr = err
                    })
                    break
                  case 'price':
                    err.response.data.errors[oneError].map((err) => {
                      this.$refs.observerCreateMonitoringPrice.setErrors({
                        'Цена конкурента': [err]
                      })
                      swalErr = err
                    })
                    break
                  default:
                    err.response.data.errors[oneError].map((err) => {
                      this.$refs.observerCreateMonitoringPrice.setErrors({
                        'Название магазина конкурента': [err]
                      })
                      swalErr = err
                    })
                    break
                }
                this.$swal({
                  toast: true,
                  position: 'top-end',
                  icon: 'error',
                  title: swalErr,
                  timer: 3000,
                  showConfirmButton: false
                })
              }
            }
          })
      }
    },
    openCreateNewMonitoringPriceWindow () {
      this.monitoringPriceCompetitorPriceDate = moment().format('YYYY-MM-DD')
      this.$modal.show('monitoring-price-modal')
    },
    closeCreateNewMonitoringPriceWindow () {
      this.$modal.hide('monitoring-price-modal')
    }
  }
}
</script>
