<template>
  <div class="">
    <div v-for="(item, index) in data" :key="index" class="item">
      <Skeleton>
        {{ $store.state.shops.indexData[996].data[0].name }}
      </Skeleton>
    </div>
  </div>
</template>

<script>
import { Skeleton } from 'vue-loading-skeleton'

export default {
  components: {
    Skeleton
  },
  data: () => ({
    data: 10
  }),
  mounted () {

  },
  methods: {

  }

}
</script>
