<template>
  <div v-if="data.useful_options !== null">
    <div class="text-gray-700 bolder my-5">
      {{ productName }} богат такими витаминами и минералами, как: {{ data.useful_options.main_option }}
    </div>
    <div v-if="data.useful_options.details.length > 0" class="my-5">
      <div v-for="(detail, index) in data.useful_options.details" v-bind:key="index" class="mb-2">
        <span class="bolder text-gray-700">{{ detail.name }}:</span><span class="text-gray-700 pl-1">{{ detail.text }}</span>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  components: {

  },
  props: {
    data: {
      type: Object,
      default: null
    },
    productName: {
      type: String,
      default: ''
    }
  },
  data: () => ({

  }),
  mounted () {

  },
  methods: {

  }

}
</script>
