<template>
  <div class="mt-5 mb-10">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <button :class="active === 'pc1' ? 'bg-gray-600' : 'bg-gray-500'" v-on:click="setActive('pc1')" type="button" class="text-white items-center justify-start rounded-full focus:outline-none p-2 hidden lg:flex">
          <!-- <img src="~assets/img/pc1.png" class="w-10 h-10 object-cover rounded-full"> -->
          <span class="px-2 text-white bolder text-xs lg:text-sm">Пищевая ценность</span>
          <span :class="active === 'pc1' ? 'visible' : 'invisible'" class="text-white cursor-pointer hover:text-blue-500">
            <fa :icon="['fas', 'caret-down']" />
          </span>
        </button>
        <button :class="active === 'pc2' ? 'bg-gray-600' : 'bg-gray-500'" v-on:click="setActive('pc2')" type="button" class="text-white items-center justify-start rounded-full focus:outline-none p-2 ml-2 hidden lg:flex">
          <!-- <img src="~assets/img/pc1.png" class="w-8 h-8 object-cover rounded-full"> -->
          <span class="px-2 text-white bolder text-xs lg:text-sm">Калорийность</span>
          <span :class="active === 'pc2' ? 'visible' : 'invisible'" class="text-white cursor-pointer hover:text-blue-500">
            <fa :icon="['fas', 'caret-down']" />
          </span>
        </button>
        <button :class="active === 'pc3' ? 'bg-gray-600' : 'bg-gray-500'" v-on:click="setActive('pc3')" type="button" class="flex items-center justify-start rounded-full focus:outline-none p-2 ml-2">
          <!-- <img src="~assets/img/pc1.png" class="w-8 h-8 object-cover rounded-full"> -->
          <span class="px-2 text-white bolder text-xs lg:text-sm">Баланс нутриентов</span>
          <span :class="active === 'pc3' ? 'visible' : 'invisible'" class="text-white cursor-pointer hover:text-blue-500">
            <fa :icon="['fas', 'caret-down']" />
          </span>
        </button>
      </div>
      <div class="flex items-center justify-end mb-2">
        <button v-on:click="setActive2('table')" :class="active2 === 'table' ? 'bg-gray-200 text-gray-700' : 'bg-gray-200 text-gray-500'" type="button" class="rounded-full w-10 h-10 flex justify-center items-center focus:outline-none">
          <fa :icon="['fas', 'th']" />
        </button>
        <button v-on:click="setActive2('chart')" :class="active2 === 'chart' ? 'bg-gray-200 text-gray-700' : 'bg-gray-200 text-gray-500'" type="button" class="ml-3 rounded-full w-10 h-10 flex justify-center items-center focus:outline-none">
          <fa :icon="['fas', 'chart-area']" />
        </button>
      </div>
    </div>

    <div v-if="active === 'pc2'" class="mt-2">
      <div v-if="active2 === 'table'" class="table-wrapper">
        <div class="flex items-center justify-between bg-green-100">
          <div class="flex-1 px-2 py-1 text-gray-700">
            Белки
          </div>
          <div class="w-54 px-2 py-2 text-gray-700">
            {{ getPc1Data3('Белки') }}
          </div>
          <div class="w-40 px-2 py-2 border-l border-gray-200 text-right text-gray-700">
            {{ getPc1Data4('Белки') }}
          </div>
        </div>
        <div class="flex items-center justify-between bg-yellow-100">
          <div class="flex-1 px-2 py-2 text-gray-700">
            Жиры
          </div>
          <div class="w-54 px-2 py-2 text-gray-700">
            {{ getPc1Data3('Жиры') }}
          </div>
          <div class="w-40 px-2 py-2 border-l border-gray-200 text-right text-gray-700">
            {{ getPc1Data4('Жиры') }}
          </div>
        </div>
        <div class="flex items-center justify-between bg-red-100">
          <div class="flex-1 px-2 py-2 text-gray-700">
            Углеводы
          </div>
          <div class="w-54 px-2 py-2 text-gray-700">
            {{ getPc1Data3('Углеводы') }}
          </div>
          <div class="w-40 px-2 py-2 border-l border-gray-200 text-right text-gray-700">
            {{ getPc1Data4('Углеводы') }}
          </div>
        </div>
      </div>

      <div v-if="active2 === 'chart'" class="chart-wrapper">
        <pc2ChartComponent :data="formatPc2Data()" />
      </div>
    </div>

    <div v-if="active === 'pc3'" class="mt-2">
      <div v-if="active2 === 'table'" class="table-wrapper">
        <div v-for="(child, index) in data.chemical_composition" v-bind:key="index">
          <div v-if="child.name !== 'Калорийность'" class="overflow-auto">
            <div class="flex items-center justify-between">
              <div class="flex-1 p-2" />
              <div class="flex items-center justify-end">
                <div class="w-20 p-2 text-gray-500 text-sm">
                  Количество
                </div>
                <div class="w-20 p-2 text-gray-500 border-l border-gray-200 text-right text-sm">
                  Норма
                </div>
                <div class="w-20 p-2 text-gray-500 border-l border-gray-200 text-right text-sm">
                  % от нормы в 100 г
                </div>
                <div class="w-20 p-2 text-gray-500 border-l border-gray-200 text-right text-sm">
                  % от нормы в 100 ккал
                </div>
                <div class="w-20 p-2 text-gray-500 border-l border-gray-200 text-right text-sm">
                  100% нормы
                </div>
              </div>
            </div>
            <h4 class="text-gray-700 bolder pl-2">
              {{ child.name }}
            </h4>
            <div v-for="(innerChild, innerChildIndex) in child.childs" v-bind:key="innerChildIndex" :class="innerChildIndex % 2 === 1 ? 'bg-gray-100': 'bg-white'" class="p-2 flex items-center justify-end">
              <div class="flex-1 text-gray-500">
                {{ innerChild.name }}
              </div>
              <div class="flex items-center justify-end text-sm text-gray-700">
                <span v-if="innerChild.norm !== null" class="w-20 text-center">{{ innerChild.norm.value }} {{ innerChild.norm.measure }}</span>
                <span v-if="innerChild.norm === null" class="w-20 text-center text-gray-200">-</span>
                <span v-if="innerChild.percent_of_norm_full !== null" class="w-20 text-center">{{ innerChild.percent_of_norm_full.value }} {{ innerChild.percent_of_norm_full.measure }}</span>
                <span v-if="innerChild.percent_of_norm_full === null" class="w-20 text-center text-gray-200">-</span>
                <span v-if="innerChild.percent_of_norm_in_g !== null" class="w-20 text-center">{{ innerChild.percent_of_norm_in_g.value }} {{ innerChild.percent_of_norm_in_g.measure }}</span>
                <span v-if="innerChild.percent_of_norm_in_g === null" class="w-20 text-center text-gray-200">-</span>
                <span v-if="innerChild.percent_of_norm_in_kkal !== null" class="w-20 text-center">{{ innerChild.percent_of_norm_in_kkal.value }} {{ innerChild.percent_of_norm_in_kkal.measure }}</span>
                <span v-if="innerChild.percent_of_norm_in_kkal === null" class="w-20 text-center text-gray-200">-</span>
                <span v-if="innerChild.quantity !== null" class="w-20 text-right">{{ innerChild.quantity.value }} {{ innerChild.quantity.measure }}</span>
                <span v-if="innerChild.quantity === null" class="w-20 text-center text-gray-200">-</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="active2 === 'chart'" class="chart-wrapper">
        <pc3ChartComponent :data="formatPc3Data()" :labels="formatPc3Labels()" />
      </div>
    </div>

    <div v-if="active === 'pc1'" class="mt-2">
      <div v-if="active2 === 'chart'" class="chart-wrapper">
        <pc1ChartComponent :data="formatPc1Data()" />
      </div>
      <div v-if="active2 === 'table'" class="table-wrapper">
        <div class="flex items-center justify-between rounded-t">
          <div class="flex-1 p-2" />
          <div class="w-54 p-2 text-gray-500 text-sm">
            Содержание в порции
          </div>
          <div class="w-40 p-2 text-gray-500 border-l border-gray-200 text-right text-sm">
            % от нормы
          </div>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex-1 px-2 py-2 text-gray-700 bg-gray-100">
            Калорийность
          </div>
          <div class="w-54 px-2 py-2 text-gray-700  bg-gray-100">
            {{ getPc1Data1('Калорийность') }}
          </div>
          <div class="w-40 px-2 py-2 border-l border-gray-200 text-right text-gray-700  bg-gray-100">
            {{ getPc1Data2('Калорийность') }}
          </div>
        </div>

        <div class="flex items-center justify-between bg-blue-100">
          <div class="flex-1 px-2 py-2 text-gray-700">
            Белки
          </div>
          <div class="w-54 px-2 py-2 text-gray-700">
            {{ getPc1Data3('Белки') }}
          </div>
          <div class="w-40 px-2 py-2 border-l border-gray-200 text-right text-gray-700">
            {{ getPc1Data4('Белки') }}
          </div>
        </div>
        <div class="flex items-center justify-between bg-gray-100">
          <div class="flex-1 px-2 py-2 text-gray-700">
            Жиры
          </div>
          <div class="w-54 px-2 py-2 text-gray-700">
            {{ getPc1Data3('Жиры') }}
          </div>
          <div class="w-40 px-2 py-2 border-l border-gray-200 text-right text-gray-700">
            {{ getPc1Data4('Жиры') }}
          </div>
        </div>
        <div class="flex items-center justify-between bg-blue-100">
          <div class="flex-1 px-2 py-2 text-gray-700">
            Углеводы
          </div>
          <div class="w-54 px-2 py-2 text-gray-700">
            {{ getPc1Data3('Углеводы') }}
          </div>
          <div class="w-40 px-2 py-2 border-l border-gray-200 text-right text-gray-700">
            {{ getPc1Data4('Углеводы') }}
          </div>
        </div>
        <div class="flex items-center justify-between bg-gray-100">
          <div class="flex-1 px-2 py-2 text-gray-700">
            Пищевые волокна
          </div>
          <div class="w-54 px-2 py-2 text-gray-700">
            {{ getPc1Data3('Пищевые волокна') }}
          </div>
          <div class="w-40 px-2 py-2 border-l border-gray-200 text-right text-gray-700">
            {{ getPc1Data4('Пищевые волокна') }}
          </div>
        </div>
        <div class="flex items-center justify-between bg-blue-100">
          <div class="flex-1 px-2 py-2 text-gray-700">
            Вода
          </div>
          <div class="w-54 px-2 py-2 text-gray-700">
            {{ getPc1Data3('Вода') }}
          </div>
          <div class="w-40 px-2 py-2 border-l border-gray-200 text-right text-gray-700">
            {{ getPc1Data4('Вода') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Bars from 'vuebars'
import pc1ChartComponent from '~/components/products/charts/pc1ChartComponent.js'
import pc2ChartComponent from '~/components/products/charts/pc2ChartComponent.js'
import pc3ChartComponent from '~/components/products/charts/pc3ChartComponent.js'

export default {
  components: {
    // Bars
    pc1ChartComponent, pc2ChartComponent, pc3ChartComponent
  },
  props: {
    data: {
      type: Object,
      default: null
    },
    productName: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    active: 'pc3',
    active2: 'chart'
  }),
  mounted () {

  },
  methods: {
    formatPc3Data () {
      const _self = []

      this.data.chemical_composition.forEach(function (entry) {
        if (entry.name !== 'Калорийность') {
          if (typeof entry.childs !== 'undefined') {
            entry.childs.forEach(function (entryChild) {
              if (entryChild.percent_of_norm_in_g !== null) {
                _self.push(entryChild.percent_of_norm_in_g.value)
              }
            })
          }
        }
      })
      return _self
    },
    formatPc3Labels () {
      const _self = []

      this.data.chemical_composition.forEach(function (entry) {
        if (entry.name !== 'Калорийность') {
          if (typeof entry.childs !== 'undefined') {
            entry.childs.forEach(function (entryChild) {
              if (entryChild.percent_of_norm_in_g !== null) {
                _self.push(entryChild.name)
              }
            })
          }
        }
      })

      return _self
    },
    formatPc2Data () {
      const d1 = this.getPc1Data3C('Белки')
      const d2 = this.getPc1Data3C('Жиры')
      const d3 = this.getPc1Data3C('Углеводы')
      const total = parseFloat(d1) + parseFloat(d2) + parseFloat(d3)
      // console.log(total)
      return [Math.round(d1 / (total / 100)), Math.round(d2 / (total / 100)), Math.round(d3 / (total / 100))]
    },
    formatPc1Data () {
      return [this.getPc1Data4C('Белки'), this.getPc1Data4C('Жиры'), this.getPc1Data4C('Углеводы'), this.getPc1Data4C('Пищевые волокна'), this.getPc1Data4C('Вода')]
    },
    setActive2 (active) {
      this.active2 = active
    },
    setActive (active) {
      this.active = active
    },
    getPc1Data1 (name) {
      const result = this.data.chemical_composition.filter((obj) => {
        return obj.name === name
      })
      //   console.log(result)
      if (result.length > 0) {
        return result[0].quantity.value + ' ' + result[0].quantity.measure
      }
    },
    getPc1Data2 (name) {
      const result = this.data.chemical_composition.filter((obj) => {
        return obj.name === name
      })

      if (result.length > 0) {
        return result[0].percent_of_norm_in_g.value + ' ' + result[0].percent_of_norm_in_g.measure
      }
    },
    getPc1Data3 (name) {
      const firstResult = this.data.chemical_composition.filter((obj) => {
        return obj.name === 'Калорийность'
      })
      if (firstResult.length > 0) {
        const secondResult = firstResult[0].childs.filter((obj) => {
          return obj.name === name
        })
        // console.log(secondResult)
        if (secondResult.length > 0) {
          return secondResult[0].quantity.value + ' ' + secondResult[0].quantity.measure
        }
      }
    },
    getPc1Data4 (name) {
      const firstResult = this.data.chemical_composition.filter((obj) => {
        return obj.name === 'Калорийность'
      })
      if (firstResult.length > 0) {
        const secondResult = firstResult[0].childs.filter((obj) => {
          return obj.name === name
        })
        // console.log(secondResult)
        if (secondResult.length > 0) {
          return secondResult[0].percent_of_norm_in_g.value + ' ' + secondResult[0].percent_of_norm_in_g.measure
        }
      }
    },
    getPc1Data1C (name) {
      const result = this.data.chemical_composition.filter((obj) => {
        return obj.name === name
      })
      //   console.log(result)
      if (result.length > 0) {
        return result[0].quantity.value
      }
    },
    getPc1Data2C (name) {
      const result = this.data.chemical_composition.filter((obj) => {
        return obj.name === name
      })

      if (result.length > 0) {
        return result[0].percent_of_norm_in_g.value
      }
    },
    getPc1Data3C (name) {
      const firstResult = this.data.chemical_composition.filter((obj) => {
        return obj.name === 'Калорийность'
      })
      if (firstResult.length > 0) {
        const secondResult = firstResult[0].childs.filter((obj) => {
          return obj.name === name
        })
        // console.log(secondResult)
        if (secondResult.length > 0) {
          return secondResult[0].quantity.value
        }
      }
    },
    getPc1Data4C (name) {
      const firstResult = this.data.chemical_composition.filter((obj) => {
        return obj.name === 'Калорийность'
      })
      if (firstResult.length > 0) {
        const secondResult = firstResult[0].childs.filter((obj) => {
          return obj.name === name
        })
        // console.log(secondResult)
        if (secondResult.length > 0) {
          return secondResult[0].percent_of_norm_in_g.value
        }
      }
    }

  }

}
</script>
