<template>
  <div class="my-5 flex items-center justify-between flex-wrap">
    <div :class="isShowPricesFields ? 'w-full lg:w-2/3 pr-0 lg:pr-2' : 'w-full'" class="mb-2 lg:mb-0">
      <input v-debounce:500ms="handleSearchByName" :value="searchByName" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Для поиска введите название товара..">
    </div>
    <div v-if="isShowPricesFields" class="w-full lg:w-1/3 flex items-center justify-between">
      <div class="w-full lg:w-1/2 pr-2">
        <input
          v-debounce:500ms="handleSearchByPriceMin"
          :value="searchByPriceMin"
          type="text"
          class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white"
          placeholder="Цена от.."
        >
      </div>
      <div class="w-full lg:w-1/2">
        <input
          v-debounce:500ms="handleSearchByPriceMax"
          :value="searchByPriceMax"
          type="text"
          class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white"
          placeholder="Цена до.."
        >
      </div>
      <div v-if="$store.state.products.filter.searchByName !== '' || $store.state.products.filter.searchByPriceMin !== '' || $store.state.products.filter.searchByPriceMax !== ''" class="flex-1 ml-2">
        <button v-on:click="resetFilters" class="rounded bg-gray-200 hover:bg-gray-300 py-2 px-4 text-gray-400 focus:outline-none w-auto text-xl" title="Сбросить фильтр" type="button">
          <fa :icon="['fas', 'times']" />
        </button>
      </div>
    </div>
  </div>
</template>
<script>
// import { debounce } from 'vue-debounce'

export default {
  props: {
    isShowPricesFields: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    searchByName () {
      return this.$store.state.products.filter.searchByName
    },
    searchByPriceMin () {
      return this.$store.state.products.filter.searchByPriceMin
    },
    searchByPriceMax () {
      return this.$store.state.products.filter.searchByPriceMax
    }
  },
  methods: {
    resetFilters () {
      // this.$store.commit('products/clearFilters')
      this.$store.dispatch('products/resetFilters')
    },
    handleSearchByName (e) {
      this.$store.dispatch('products/filterSearchByName', e)
    },
    handleSearchByPriceMin (e) {
      this.$store.dispatch('products/filterSearchByPriceMin', e)
    },
    handleSearchByPriceMax (e) {
      this.$store.dispatch('products/filterSearchByPriceMax', e)
    }
  }
}
</script>
