<template>
  <div v-if="formatedVitamineDots.length > 0" class="flex justify-end items-center">
    <span class="text-sm text-gray-500 mr-2">
      содержит
    </span>
    <span v-for="(dot, index) in formatedVitamineDots" v-bind:key="index" :class="index <= 4 ? 'bg-'+dot.color+'-500' : 'hidden'" class="-ml-1 p-2 rounded-full w-8 h-8 flex items-center justify-center text-white shadow transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer">
      {{ dot.name }}
    </span>
    <span v-if="formatedVitamineDots.length > 4" class="text-sm text-gray-500 ml-1">и еще</span><a v-scroll-to="'#viamins-wrapper'" href="#" class="text-blue-rf ml-1 border-b border-dashed border-blue-300 leading-none cursor-pointer">{{ formatedVitamineDots.length - 5 }} {{ declOfNum(formatedVitamineDots.length - 5, ['витамина', 'витамин', 'витаминов']) }}</a>
  </div>
</template>

<script>

export default {
  components: {

  },
  props: {
    data: {
      type: Object,
      default: null
    }
  },
  data: () => ({
    formatedVitamineDots: []
  }),
  mounted () {
    this.formatVitamins()
  },
  methods: {
    declOfNum (number, titles) {
      const cases = [2, 0, 1, 1, 1, 2]
      return titles[ (number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5] ]
    },
    createDot (entry) {
      switch (entry.name) {
        case 'Витамин А, РЭ': return { name: 'A', color: 'red' }
        case 'Витамин В1, тиамин': return { name: 'B1', color: 'green' }
        case 'Витамин В2, рибофлавин': return { name: 'B2', color: 'blue' }
        case 'Витамин В5, пантотеновая': return { name: 'B5', color: 'indigo' }
        case 'Витамин В6, пиридоксин': return { name: 'B6', color: 'orange' }
        case 'Витамин В9, фолаты': return { name: 'B9', color: 'teal' }
        case 'Витамин C, аскорбиновая': return { name: 'C', color: 'purple' }
        case 'Витамин РР, НЭ': return { name: 'PP', color: 'pink' }
        case 'Калий, K': return { name: 'K', color: 'green' }
        case 'Кальций, Ca': return { name: 'Ca', color: 'green' }
        case 'Магний, Mg': return { name: 'Mg', color: 'green' }
        case 'Натрий, Na': return { name: 'Na', color: 'green' }
        case 'Сера, S': return { name: 'S', color: 'green' }
        case 'Фосфор, Ph': return { name: 'Ph', color: 'green' }
        case 'Железо, Fe': return { name: 'Fe', color: 'green' }
        case 'Марганец, Mn': return { name: 'Mn', color: 'green' }
        case 'Медь, Cu': return { name: 'Cu', color: 'green' }
        case 'Цинк, Zn': return { name: 'Zn', color: 'green' }

        default: return null
      }
    },
    formatVitamins () {
      const _self = this
      this.data.chemical_composition.forEach(function (entry) {
        if (entry.name !== 'Калорийность') {
          if (typeof entry.childs !== 'undefined') {
            entry.childs.forEach(function (entryChild) {
              const dot = _self.createDot(entryChild)
              if (dot !== null) {
                _self.formatedVitamineDots.push(dot)
              }
            })
          }
        }
      })
    }
  }

}
</script>
