<template>
  <div class="mb-5">
    <div class="flex flex-wrap lg:flex-nowrap items-center justify-between">
      <div class="flex flex-nowrap items-center w-full lg:w-auto justify-between lg:justify-start">
        <div class="w-full lg:w-auto mb-2 pr-2 py-2 pl-2 xl:pl-0 text-xs lg:text-sm border-r-0 md:border-r border-gray-200 bolder">
          <span :class="active === 'active' ? 'border-0 text-gray-500' : 'border-b border-dashed cursor-pointer text-gray-700'" v-on:click="showProductsList('active')">Опубликованые</span>
        </div>
        <div class="w-full lg:w-auto mb-2 p-2 py-2 pl-2 text-xs lg:text-sm border-r-0 md:border-r border-gray-200 bolder">
          <span :class="active === 'draft' ? 'border-0 text-gray-500' : 'border-b border-dashed cursor-pointer text-gray-700'" v-on:click="showProductsList('draft')">Черновики</span>
        </div>
        <div class="w-full lg:w-auto mb-2 p-2 text-xs lg:text-sm bolder">
          <span :class="active === 'group' ? 'border-0 text-gray-500' : 'border-b border-dashed cursor-pointer text-gray-700'" v-on:click="showProductsList('group')">Группы товаров</span>
        </div>
      </div>
      <div>
        <div class="w-full lg:w-auto mb-2 p-2 text-sm flex items-center justify-end flex-wrap bolder text-gray-700">
          <nuxt-link to="/profile/products/create" class="cursor-pointer w-full lg:w-auto py-1 lg:py-0">
            <fa :icon="['fas', 'plus-square']" /><span class="ml-2">Создать товар</span>
          </nuxt-link>
          <nuxt-link to="/profile/products/groups/creategroup" class=" ml-0 lg:ml-5 cursor-pointer w-full lg:w-auto py-1 lg:py-0">
            <fa :icon="['fas', 'plus-square']" /><span class="ml-2">Создать акционную группу</span>
          </nuxt-link>
          <!-- <nuxt-link to="#" class="border-b border-dashed cursor-pointer ml-0 lg:ml-5 w-full lg:w-auto py-1 lg:py-0">
            Создать товар по фото
          </nuxt-link> -->
          <button v-on:click="openExportWindow" class="cursor-pointer ml-0 lg:ml-5 w-full lg:w-auto py-1 lg:py-0 flex items-center justify-start lg:justify-between bolder focus:outline-none" type="button">
            <fa :icon="['fas', 'download']" /><span class="ml-2">Экспорт в *.xlsx</span>
          </button>
        </div>
      </div>
    </div>
    <ProductsFilterComponent v-if="active === 'active'" />
    <v-wait for="loading user products" class="h-full">
      <template slot="waiting">
        <div class="flex items-center justify-center py-10">
          <fulfilling-bouncing-circle-spinner
            :animation-duration="2500"
            :size="70"
            color="#CBD5E0"
          />
        </div>
      </template>

      <div class="relative">
        <div v-for="(product, index) in filteredProductsList" v-bind:key="product.id" class="border-b border-gray-100 py-2 hover:bg-gray-100">
          <ActiveProductCardComponent @showUndoDeleteTimer="showDeleteTimer" :product="product" :index="index" v-if="product.status === 'Active'" />
          <DraftProductCardComponent :product="product" :index="index" v-if="product.status === 'Draft'" />
          <GroupProductCardComponent :product="product" :index="index" v-if="product.status === 'Group'" />
        </div>
        <div v-if="currentDeleteTimerCounter !== 0" class="fixed bottom-0 left-0 w-full z-50">
          <div class="flex justify-center pb-12">
            <div class="w-full xl:w-2/3 flex justify-end">
              <div @mouseover="deleteTimerMouse(true)" @mouseout="deleteTimerMouse(false)" v-on:click="undoDelete" class="bg-red-600 hover:bg-red-500 px-10 py-1 text-white flex items-center text-center justify-between rounded cursor-pointer">
                <div class="mr-5 pt-2 delete-timer-wrapper">
                  <circular-count-down-timer
                    ref="countdown"
                    :initial-value="deleteTimerInitial"
                    :stroke-width="3"
                    :seconds-stroke-color="'#fff'"
                    :underneath-stroke-color="'#e53e3e'"
                    :seconds-fill-color="'#e53e3e'"
                    :size="40"
                    :padding="0"
                    :second-label="''"
                    :show-second="true"
                    :show-minute="false"
                    :show-hour="false"
                    :show-negatives="false"
                    :paused="deleteTimerPaused"
                    @finish="deleteTimerFinished"
                    @update="deleteTimerUpdate"
                  />
                </div>
                <div><b>Отменить удаление</b></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div v-if="filteredProductsList">
        <div v-if="filteredProductsList.length == 0">
          <div v-if="active === 'active'" class="p-5 rounded bg-green-100 text-sm my-3 border-l-2 rounded-l-none border-green-400">
            Вами не опубликовано пока ни одного товара. Нажмите кнопку <nuxt-link to="/profile/products/create" class="text-blue-500 border-blue-500 border-b border-dashed cursor-pointer">
              "Создать товар"
            </nuxt-link> и начните принимать заказы.
          </div>
          <div v-if="active === 'draft'" class="p-5 rounded bg-green-100 text-sm my-3 border-l-2 rounded-l-none border-green-400">
            Товары в статусе "Черновик" не найдены.
          </div>
        </div>
      </div> -->
      <div v-if="filteredProductsList">
        <div v-if="filteredProductsList.length == 0">
          <div class="p-5 rounded bg-green-100 text-sm my-3 border-l-2 rounded-l-none border-green-400">
            Товаров по указанным параметрам не найдено.
          </div>
        </div>
      </div>
    </v-wait>
    <div v-if="filteredProductsList">
      <div v-if="filteredProductsList.length > 0 && $store.state.products.pagination.meta.total > $store.state.products.pagination.meta.per_page" class="my-10 flex justify-center">
        <paginate
          v-model="activePage"
          :page-count="$store.state.products.pagination.meta.last_page"
          :page-range="3"
          :margin-pages="2"
          :click-handler="clickCallback"
          :prev-text="'Предыдущая'"
          :next-text="'Следующая'"
          :container-class="'flex items-center justify-center text-gray-700'"
          :page-class="'py-2 px-3 bg-gray-200 rounded-full w-10 h-10 mx-1 text-xs lg:text-base flex justify-center items-center bolder'"
          :active-class="'text-red-400'"
          :page-link-class="'focus:outline-none'"
          :prev-link-class="'hidden lg:block focus:outline-none bolder'"
          :next-link-class="'hidden lg:block focus:outline-none bolder'"
          v-if="$store.state.products.pagination.meta !== null"
        />
      </div>
    </div>
    <client-only>
      <modal
        :adaptive="true"
        :clickToClose="false"
        :maxWidth="1000"
        :minWidth="1000"
        :scrollable="true"
        height="auto"
        name="export-products-modal"
      >
        <div class="py-5 px-5">
          <div class="flex items-center justify-between">
            <h3 class="text-2xl bolder text-gray-700">
              Экспорт товаров в *.xlsx формате
            </h3>
            <button v-on:click="closeExportModal" class="text-sm text-gray-600 focus:outline-none">
              <fa :icon="['fas', 'times-circle']" class="fill-current w-4 h-4" />
            </button>
          </div>
          <div>
            <div class="text-gray-700 my-5">
              Укажите какие данные вы хотите экспортировать?
            </div>
            <div class="my-3">
              <label class="flex items-center justify-start">
                <input v-model="exportType" type="radio" class="form-radio mt-1" value="0" name="exportType">
                <div class="ml-3 text-sm text-gray-700 leading-tight">
                  Все поля товара, включая цены и связанные данные (атрибуты, категории и тд)
                </div>
              </label>
            </div>
            <div class="my-3">
              <label class="flex items-center justify-start">
                <input v-model="exportType" type="radio" class="form-radio mt-1" value="1" name="exportType">
                <div class="ml-3 text-sm text-gray-700 leading-tight">
                  Цены товара, включая историю изменения цен
                </div>
              </label>
            </div>
            <div class="my-3">
              <label class="flex items-center justify-start">
                <input v-model="exportType" type="radio" class="form-radio mt-1" value="2" name="exportType">
                <div class="ml-3 text-sm text-gray-700 leading-tight">
                  Актуальные цены товара, без истории изменения
                </div>
              </label>
            </div>
            <div>
              <button v-on:click="exportProductsList" class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white focus:outline-none w-full lg:w-auto" type="button">
                Сформировать файл
              </button>
            </div>
          </div>
        </div>
      </modal>
    </client-only>
  </div>
</template>

<script>
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import { mapState, mapGetters } from 'vuex'
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import ActiveProductCardComponent from '~/components/products/ActiveProductCardComponent'
import DraftProductCardComponent from '~/components/products/DraftProductCardComponent'
import GroupProductCardComponent from '~/components/products/GroupProductCardComponent'
import ProductsFilterComponent from '~/components/products/ProductsFilterComponent'

export default {
  components: {
    FulfillingBouncingCircleSpinner,
    ActiveProductCardComponent,
    DraftProductCardComponent,
    ProductsFilterComponent,
    GroupProductCardComponent,
    Paginate
  },
  data () {
    return {
      exportType: 0,
      activePage: 1,
      active: 'active',
      deleteTimerPaused: false,
      deleteTimerInitial: 0,
      currentDeleteTimerCounter: 0,
      detetedProductId: null
    }
  },
  computed: {
    ...mapGetters({
      'filteredProductsList': 'products/getFilteredProductList'
    })
  },
  // watch: {
  //   '$route' () {
  //     // this.getProducts();
  //     console.log(1)
  //   }
  // },

  mounted () {
    if (this.$route.query.page) {
      this.clickCallback(this.$route.query.page)
      this.activePage = parseInt(this.$route.query.page)
    } else if (this.$route.query.type) {
      this.showProductsList(this.$route.query.type)
      this.active = this.$route.query.type
    } else {
      this.getProducts('active', 1)
    }
  },
  methods: {
    closeExportModal () {
      this.$modal.hide('export-products-modal')
    },
    openExportWindow () {
      this.$modal.show('export-products-modal')
    },
    async exportProductsList () {
      const _self = this
      await this.$swal({
        title: 'Вы уверены, что хотите экспортировать товары в файл XLSX?',
        text: 'После подтверждения этого действия будет сгенерирован и скачен файл со списком всех товаров.',
        showCancelButton: true,
        confirmButtonClass: 'bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 w-48 rounded inline-flex items-center mr-0 lg:mr-2 focus:outline-none',
        cancelButtonClass: 'bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 w-48 px-4 rounded inline-flex items-center mt-2 lg:mt-0 focus:outline-none',
        buttonsStyling: false,
        cancelButtonText: 'Отмена',
        confirmButtonText: 'Да'
      }).then(async (result) => {
        if (result.value) {
          await this.$axios.$get('/api/product/export?type=' + _self.exportType)
            .then((res) => {
              window.open(res.success.file)
              _self.closeExportModal()
            })
        }
      })
    },
    clickCallback (pageNum) {
      this.$router.push({
        query: {
          ...this.$route.query,
          page: pageNum
        }
      })
      this.getProducts(this.active, pageNum)
    },
    async undoDelete () {
      const _self = this
      // here we need to restore deleted activity
      this.$store.dispatch('wait/start', 'loading user products', { root: true })
      await this.$store.dispatch('products/restoreProduct', _self.detetedProductId.id).then(() => {
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'success',
          title: 'Товар восстановлен',
          timer: 5000,
          showConfirmButton: false
        })
      })
      this.$store.dispatch('wait/end', 'loading user products', { root: true })
      this.deleteTimerInitial = 0
      this.currentDeleteTimerCounter = 0
    },
    showDeleteTimer (id) {
      this.detetedProductId = id
      this.deleteTimerInitial = 5
      this.currentDeleteTimerCounter = 5
      this.deleteTimerPaused = false
    },
    updateCountdown () {

    },
    deleteTimerUpdate (status) {
      this.currentDeleteTimerCounter = status.value
    },
    deleteTimerFinished () {
      this.detetedProductId = null
    },
    deleteTimerMouse (bool) {
      this.deleteTimerPaused = bool
    },
    showProductsList (type) {
      this.active = type
      this.getProducts(type, 1)
      this.$router.push({
        query: {
          ...this.$route.query,
          page: 1,
          type
        }
      })
    },
    async getProducts (type, pageNum) {
      this.$store.dispatch('wait/start', 'loading user products', { root: true })
      // await this.$store.dispatch('products/getProducts', type)
      await this.$store.dispatch('products/loadProductsByPageForProfile', { page: pageNum, type, user: 'currentUser' })
      this.$store.dispatch('wait/end', 'loading user products', { root: true })
    }
  }
}
</script>
