<template>
  <div class="flex justify-center lg:pt-32">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <profileMenu active="settings" />
      <div>
        <div class="flex flex-nowrap justify-between items-center my-5">
          <h1 class="text-2xl w-auto text-gray-700">
            <nuxt-link :to="'/profile'">
              <b>Профиль</b>
            </nuxt-link> / <b class="text-gray-500">Настройки</b>
          </h1>
          <!-- <div>
            <button
              :class="{ 'bg-gray-600 hover:bg-gray-500': !isPushEnabled, 'bg-red-500 hover:bg-red-400': isPushEnabled }"
              @click="togglePush"
              :disabled="pushButtonDisabled || loading"
              class="rounded  w-auto  text-sm py-2 px-5 text-white focus:outline-none"
            >
              <fa :icon="['fas', 'bell']" class="fill-current w-3 h-3 text-white" /> {{ isPushEnabled ? 'Выключить' : 'Включить' }} уведомления
            </button>
          </div> -->
        </div>
        <div v-if="$store.state.auth.user.role.name == 'shop' || $store.state.auth.user.role.name == 'ownproduction' || $store.state.auth.user.role.name == 'restaurant' || $store.state.auth.user.role.name == 'wholesale'" class="flex items-start justify-between my-3">
          <div class="p-5 rounded bg-green-100 text-sm border-l-2 text-gray-700 rounded-l-none border-green-400 flex-1">
            <b>Ваш тип профиля: {{ $store.state.auth.user.role.display_name }}</b><br>
            Пожалуйста, постарайтесь заполнить максимальное количество полей. Покупатели охотно заказывают товары продавцов, предоставивших информацию о себе.
          </div>
          <!-- <div class="relative ml-2">
            <img src="~assets/img/qrcode.jpg" class="object-cover h-20 rounded">
            <div class="absolute left-0 top-0 w-full h-full flex items-center justify-center">
              <span v-on:click="generateQrCode()" class="flex items-center justify-center w-10 h-10 rounded-full bg-red-600 ml-1 text-base text-white cursor-pointer hover:bg-red-500">
                <fa :icon="['fas', 'cogs']" />
              </span>
            </div>
          </div> -->
        </div>
        <div v-if="$store.state.auth.user.role.name == 'individual'" class="p-5 rounded bg-green-100 text-sm my-3 border-l-2 text-gray-700 rounded-l-none border-green-400">
          <b>Ваш тип профиля: {{ $store.state.auth.user.role.display_name }}</b><br>
          Пожалуйста, постарайтесь заполнить максимальное количество полей. Это поможет магазинам и курьерам быстрее соориентироваться с доставкой товара.
        </div>
        <div v-if="$store.state.auth.user.role.name == 'courier'" class="p-5 rounded bg-green-100 text-sm my-3 border-l-2 text-gray-700 rounded-l-none border-green-400">
          <b>Ваш тип профиля: {{ $store.state.auth.user.role.display_name }}</b><br>
          Пожалуйста, постарайтесь заполнить максимальное количество полей. Магазины охотнее распределяют доставку курьерам, которые предоставили информацию о себе.
        </div>
        <div class="my-3 p-2 rounded border-dashed border-2 border-gray-200 hover:border-gray-400">
          <updateProfileFormUserTypeShop v-if="$store.state.auth.user.role.name == 'shop' || $store.state.auth.user.role.name == 'ownproduction' || $store.state.auth.user.role.name == 'restaurant' || $store.state.auth.user.role.name == 'wholesale'" />
          <updateProfileFormUserTypeIndividual v-if="$store.state.auth.user.role.name == 'individual'" />
          <!-- <updateProfileFormUserTypeCourier v-if="$store.state.auth.user.role.name == 'courier'" /> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import profileMenu from '~/components/helpers/profileMenu'
import updateProfileFormUserTypeShop from '~/components/profile/updateProfileFormUserTypeShop'
import updateProfileFormUserTypeIndividual from '~/components/profile/updateProfileFormUserTypeIndividual'
// import updateProfileFormUserTypeCourier from '~/components/profile/updateProfileFormUserTypeCourier'

export default {
  layout: 'mainPage',
  components: { profileMenu, updateProfileFormUserTypeShop, updateProfileFormUserTypeIndividual },
  data: () => ({
    loading: false,
    isPushEnabled: false,
    pushButtonDisabled: true
  }),
  mounted () {
    this.registerServiceWorker()
  },
  methods: {
    generateQrCode () {
      alert('тут открыть модалку для генерации qr кода и возможности его скачать или отправить')
    },
    /**
     * Register the service worker.
     */
    registerServiceWorker () {
      if (!('serviceWorker' in navigator)) {
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'error',
          title: 'Service workers aren\'t supported in this browser.',
          timer: 5000,
          showConfirmButton: false
        })
        return
      }
      navigator.serviceWorker.register('/sw.js')
        .then(() => this.initialiseServiceWorker())
    },
    initialiseServiceWorker () {
      if (!('showNotification' in ServiceWorkerRegistration.prototype)) {
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'error',
          title: 'Notifications aren\'t supported.',
          timer: 5000,
          showConfirmButton: false
        })
        return
      }
      if (Notification.permission === 'denied') {
        // console.log('The user has blocked notifications.')
        // this.$swal({
        //   toast: true,
        //   position: 'top-end',
        //   type: 'error',
        //   title: 'Notifications aren\'t supported.',
        //   timer: 5000,
        //   showConfirmButton: false
        // })
        return
      }
      if (!('PushManager' in window)) {
        // this.$swal({
        //   toast: true,
        //   position: 'top-end',
        //   type: 'error',
        //   title: 'Notifications aren\'t supported.',
        //   timer: 5000,
        //   showConfirmButton: false
        // })
        // console.log('Push messaging isn\'t supported.')
        return
      }
      navigator.serviceWorker.ready.then((registration) => {
        registration.pushManager.getSubscription()
          .then((subscription) => {
            this.pushButtonDisabled = false
            if (!subscription) {
              return
            }
            this.updateSubscription(subscription)
            this.isPushEnabled = true
          })
          .catch((e) => {
            this.$swal({
              toast: true,
              position: 'top-end',
              icon: 'error',
              title: 'Error during getSubscription()',
              timer: 5000,
              showConfirmButton: false
            })
          })
      })
    },
    togglePush () {
      if (this.isPushEnabled) {
        this.unsubscribe()
      } else {
        this.subscribe()
      }
    },
    subscribe () {
      navigator.serviceWorker.ready.then((registration) => {
        const options = { userVisibleOnly: true }
        const vapidPublicKey = 'BMk3Seb1rou9lFnNDM53vVF1ZWvBxIk7ACpdhv55Lg9qi-bZBRsUJ_FriUoZnVeYx1Lgn5DxPTcoUGIlLH8uXkU'
        if (vapidPublicKey) {
          options.applicationServerKey = this.urlBase64ToUint8Array(vapidPublicKey)
        }
        registration.pushManager.subscribe(options)
          .then((subscription) => {
            this.isPushEnabled = true
            this.pushButtonDisabled = false
            this.updateSubscription(subscription)
          })
          .catch((e) => {
            if (Notification.permission === 'denied') {
              this.$swal({
                toast: true,
                position: 'top-end',
                icon: 'error',
                title: 'Permission for Notifications was denied',
                timer: 5000,
                showConfirmButton: false
              })
              this.pushButtonDisabled = true
            } else {
              this.$swal({
                toast: true,
                position: 'top-end',
                icon: 'error',
                title: 'Unable to subscribe to push',
                timer: 5000,
                showConfirmButton: false
              })
              this.pushButtonDisabled = false
            }
          })
      })
    },
    unsubscribe () {
      navigator.serviceWorker.ready.then((registration) => {
        registration.pushManager.getSubscription().then((subscription) => {
          if (!subscription) {
            this.isPushEnabled = false
            this.pushButtonDisabled = false
            return
          }
          subscription.unsubscribe().then(() => {
            this.deleteSubscription(subscription)
            this.isPushEnabled = false
            this.pushButtonDisabled = false
          }).catch((e) => {
            this.$swal({
              toast: true,
              position: 'top-end',
              icon: 'error',
              title: 'Ошибка отмены подписки на уведомления',
              timer: 5000,
              showConfirmButton: false
            })
            this.pushButtonDisabled = false
          })
        }).catch((e) => {
          this.$swal({
            toast: true,
            position: 'top-end',
            icon: 'error',
            title: 'Ошибка отмены подписки на уведомления',
            timer: 5000,
            showConfirmButton: false
          })
        })
      })
    },
    updateSubscription (subscription) {
      const key = subscription.getKey('p256dh')
      const token = subscription.getKey('auth')
      const contentEncoding = (PushManager.supportedContentEncodings || ['aesgcm'])[0]
      const data = {
        endpoint: subscription.endpoint,
        publicKey: key ? btoa(String.fromCharCode.apply(null, new Uint8Array(key))) : null,
        authToken: token ? btoa(String.fromCharCode.apply(null, new Uint8Array(token))) : null,
        contentEncoding
      }
      this.loading = true
      this.$axios.post('/api/user/subscribe', data)
        .then(() => { this.loading = false })
    },
    deleteSubscription (subscription) {
      this.loading = true
      this.$axios.post('/api/user/unsubscribe', { endpoint: subscription.endpoint })
        .then(() => { this.loading = false })
    },
    urlBase64ToUint8Array (base64String) {
      const padding = '='.repeat((4 - base64String.length % 4) % 4)
      const base64 = (base64String + padding)
        .replace(/-/g, '+')
        .replace(/_/g, '/')
      const rawData = window.atob(base64)
      const outputArray = new Uint8Array(rawData.length)
      for (let i = 0; i < rawData.length; ++i) {
        outputArray[i] = rawData.charCodeAt(i)
      }
      return outputArray
    }

  }
}
</script>
