<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <h1 class="text-gray-700 text-3xl lg:text-5xl bolder leading-none">
        Магазины на rf.market
      </h1>
      <div class="flex flex-wrap mb-5 mt-5">
        <nuxt-link
          v-for="shop in shops"
          v-bind:key="shop.id"
          :to="'/shops/'+shop.id"
          class="text-sm px-2 py-2 text-gray-800 hover:bg-gray-100 hover:text-white flex items-center justify-start w-1/3"
        >
          <div v-if="shop.media.mainImage !== null">
            <img v-lazy="shop.media.mainImage.url" class="object-cover h-16 w-16 rounded">
          </div>
          <div v-if="shop.media.mainImage === null">
            <img src="~assets/img/nophoto.svg" class="object-cover h-16 w-16 rounded">
          </div>
          <div class="ml-3">
            <div class="text-base text-left bolder text-gray-700">
              {{ shop.name }}
            </div>
            <!-- <div class="text-gray-500 hidden lg:block">
                {{ shop.location.data.city }}, {{ shop.address }}
              </div> -->
          </div>
          <!-- <div class="flex-1 flex justify-end items-center">
              <span v-if="shop.id === 5" class="bg-orange-500 text-white rounded py-1 px-2 text-xs">
                Акция<span class="hidden lg:block">-20% на алкоголь!</span>
              </span>
            </div> -->
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  layout: 'mainPage',
  auth: false,
  components: { },
  async asyncData ({ params }) {
    const { data } = await axios.get(process.env.API_URL + `/api/shops`)
    return { shops: data.data }
  },
  methods: {

  }
}
</script>
