
<template>
  <div class="pt-4 px-2 pb-32 mobile-catalog-wrapper">
    <h2 class="bolder text-gray-700 mb-5 flex items-center">
      <nuxt-link to="/catalog" class="flex items-center justify-start">
        <span class="mr-2">
          <fa :icon="['fas', 'chevron-left']" />
        </span>
        <span>Каталог</span>
      </nuxt-link>
      <span class="px-2">/</span>
      <span class="text-gray-500">{{ parentCategoryTitle }}</span>
    </h2>
    <ul>
      <li v-for="subcategory in subcategories" v-bind:key="subcategory.id" class="pt-2">
        <nuxt-link :to="'/category/'+subcategory.slug" class="text-sm text-gray-700 hover:text-red-500 bolder">
          {{ subcategory.title }}
        </nuxt-link>
        <ul v-if="subcategory.childs.length > 0" class="border-t border-gray-200 mt-2">
          <li v-for="child in subcategory.childs" v-bind:key="child.id" class="py-2 border-b border-gray-200 pl-5">
            <nuxt-link :to="'/category/'+child.slug" class="text-sm text-gray-700 hover:text-red-500 cursor-pointer">
              {{ child.title }}
            </nuxt-link>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  layout: 'mainPage',
  auth: false,
  key: to => to.fullPath,
  transition (to, from) {
    if (!from) { return 'slide-left' }
    return to.name === 'catalog' ? 'slide-right' : 'slide-left'
  },
  components: { },
  async asyncData ({ route, params }) {
    const { data } = await axios.get(process.env.API_URL + `/api/shops/categories/childs/${params.pathMatch}`)
    return { subcategories: data.list, parentCategoryTitle: data.parentCategoryTitle }
  }
}
</script>
