<template>
  <div class="flex justify-center lg:pt-32">
    <div class="w-full xl:w-5/6 p-2 xl:p-0 border-b">
      <profileMenu active="recipes" />
      <div>
        <div class="flex flex-wrap md:flex-nowrap justify-between items-center my-5">
          <h1 class="text-2xl w-full lg:w-auto text-gray-700">
            <nuxt-link :to="'/profile'">
              <b>Профиль</b>
            </nuxt-link> /
            <nuxt-link :to="'/profile/recipes'">
              <b>Мои рецепты</b>
            </nuxt-link> / <b class="text-gray-500">Создание рецепта</b>
          </h1>
        </div>
        <ValidationObserver ref="observerCreateRecipt">
          <form @submit.prevent="submitCreateReciptForm">
            <div class="create-item-block-wrapper border border-dashed p-5 rounded flex mb-5">
              <div class="w-16 hidden lg:block">
                <div class="bg-gray-200 text-gray-500 rounded-full w-10 h-10 flex items-center justify-center">
                  <b>1</b>
                </div>
              </div>
              <div class="w-full -mr-0 lg:-mr-16 pr-0 lg:pr-16">
                <div class="flex items-center">
                  <div class="flex-1">
                    <h3 class="text-xl bolder text-gray-700">
                      Основные данные рецепта
                    </h3>
                    <h4 class="text-gray-500 text-sm">
                      Название и описание (характеристики рецепта)
                    </h4>
                  </div>
                </div>

                <div class="my-5">
                  <ValidationProvider ref="observerCreateProductName" v-slot="{classes, errors}" name="Название рецепта" rules="required" class="w-full">
                    <label class="text-sm text-gray-500">Название рецепта</label>
                    <input v-model="name" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите название рецепта">
                    <span class="text-sm text-red-400">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>

                <div>
                  <ValidationProvider ref="observerCreateProdcutDescription" v-slot="{classes, errors}" name="Подробное описание рецепта" class="w-full">
                    <label class="text-sm text-gray-500">Подробное описание рецепта</label>
                    <textarea v-model="receiptDescription" rows="5" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Подробное описание рецепта" />
                    <span class="text-sm text-red-400">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>

                <div class="my-5">
                  <p class="text-sm text-gray-500">
                    На какое количество персон рассчитан рецепт
                  </p>
                  <div class="flex items-center justify-start flex-wrap mt-2">
                    <div v-for="(i, inx) in 5" :key="inx" class="mr-5">
                      <label class="inline-flex items-center">
                        <input v-model="receiptPersonsCount" :value="i" type="radio" class="form-radio mt-1" name="receiptPersonsCount">
                        <span class="ml-2 text-sm text-gray-700 leading-tight">
                          {{ i+' '+declOfNum(i, ['персона', 'персоны', 'персон']) }}
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <div>
                  <ValidationProvider ref="observerCreateProdcutDescription" v-slot="{classes, errors}" name="Список продуктов для приготовления" class="w-full">
                    <label class="text-sm text-gray-500">Список продуктов для приготовления</label>
                    <textarea v-model="receiptProductsText" rows="5" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Список продуктов для приготовления" />
                    <span class="text-sm text-red-400">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
              </div>
            </div>
          </form>
        </ValidationObserver>
      </div>
    </div>
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate'
import { required } from 'vee-validate/dist/rules'
import profileMenu from '~/components/helpers/profileMenu'
extend('required', {
  ...required,
  message: 'Вам необходимо указать {_field_}'
})

export default {
  layout: 'empty',
  components: { profileMenu, ValidationProvider, ValidationObserver },
  data () {
    return {
      name: '',
      isReceipt: 1,
      receiptPersonsCount: 1,
      receiptDescription: '',
      receiptProductsText: ''
    }
  },
  methods: {
    declOfNum (number, titles) {
      const cases = [2, 0, 1, 1, 1, 2]
      return titles[ (number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5] ]
    }
  }
}
</script>
