<template>
  <div class="flex justify-center lg:pt-32">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <profileMenu active="recipes" />
      <div>
        <div class="flex flex-wrap md:flex-nowrap justify-between items-center my-5">
          <h1 class="text-2xl w-full lg:w-auto text-gray-700">
            <nuxt-link :to="'/profile'">
              <b>Профиль</b>
            </nuxt-link> / <b class="text-gray-500">Мои рецепты</b>
          </h1>
          <nuxt-link to="/profile/recipes/create" class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white focus:outline-none w-full lg:w-auto" type="button">
            Добавить рецепт
          </nuxt-link>
        </div>
        <div>
          <div class="mb-5 relative">
            <img src="~assets/img/recipes_promo.jpg" class="rounded h-full object-cover w-full">
            <div class="absolute bottom-0 left-0">
              <div class="p-5 rounded mb-5 lg:mb-10 bg-gray-700 bg-opacity-75 mx-5 lg:mx-10">
                <h3 class="bolder text-white text-xl lg:text-5xl leading-none">
                  Размести свой рецепт и получи скидку, на следующий заказ!
                </h3>
                <h4 class="bolder text-xl text-gray-200 hidden lg:block">
                  А если ваш рецепт будет поплулярным, мы бесплатно соберем корзину продуктов для его приготовления!
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import profileMenu from '~/components/helpers/profileMenu'

export default {
  layout: 'mainPage',
  components: { profileMenu },
  methods: {

  }
}
</script>
