<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <h2 class="text-2xl text-gray-700">
        <b>Ошибка оплаты</b>
      </h2>
      <div class="p-5 rounded bg-red-100 text-xl text-gray-700 my-5 border-l-2 rounded-l-none border-red-400">
        Что-то произошло....
      </div>
    </div>
  </div>
</template>

<script>

export default {
  layout: 'mainPage',
  auth: false,
  components: { },
  data: () => ({

  }),
  computed: {

  },
  created () {

  },
  methods: {

  }
}
</script>
