<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="h-full w-full xl:w-5/6 p-2 xl:p-0">
      <div class="flex items-center justify-between flex-wrap mt-3">
        <h1 class="text-gray-700 text-3xl lg:text-5xl bolder leading-none">
          {{ receipt.name }}
        </h1>
      </div>
      <div class="text-gray-700 mt-2 flex flex-wrap">
        <div>
          <nuxt-link :to="'/'" class="cursor-pointer text-gray-500 bolder hover:text-gray-700">
            Каталог rf.market
          </nuxt-link>
          <span class="px-2 text-gray-300">/</span>
          <nuxt-link to="/recipes" class="cursor-pointer bolder hover:text-gray-700 text-gray-300">
            Рецепты
          </nuxt-link>
        </div>
      </div>

      <div class="my-5 text-gray-700 break-word whitespace-pre-wrap inline-block transition duration-500 ease-in-out transform">
        <p>{{ receipt.description }}</p>
      </div>

      <div class="flex items-center justify-between flex-wrap pt-3">
        <h3 class="text-gray-700 text-2xl bolder order-last lg:order-first pt-3">
          Что вам нужно
        </h3>
        <div class="flex justify-end items-center">
          <ShareNetwork
            v-for="network in networks"
            :network="network.network"
            :key="network.network"
            :url="'https://rf.market/recipes/'+receipt.url"
            :title="receipt.name"

            :hashtags="'рецепты,rf.market,доставка'"
            class="h-8 w-8 rounded-full bg-white flex items-center justify-center mr-1  transition duration-500 ease-in-out transform hover:scale-125"
          >
            <fa :style="{color: network.color}" :icon="[network.iPfx, network.icon]" />
          </ShareNetwork>
        </div>
      </div>
      <div>
        <client-only>
          <carousel
            :ref="'sectionCarousel'+receipt.id"
            :perPage="6"
            :paginationEnabled="true"
            :navigationEnabled="false"
            :paginationColor="'#e53e3e'"
            :paginationActiveColor="'#3182ce'"
            :perPageCustom="[[320, 2], [425, 2], [768, 3], [1024, 8]]"
            class="mt-2"
          >
            <slide v-for="item in receipt.group.items.data" v-bind:key="item.id" class="bg-white rounded px-0 lg:px-1 bounceIn">
              <productCardComponent :isShowInCartBtn="false" :isForGroup="true" :product="item.product" />
            </slide>
          </carousel>
        </client-only>
      </div>
      <div class="w-full flex justify-center text-center mb-5">
        <div class="pt-3">
          <div class="text-gray-500 bolder">
            Стоимость за все указанные товары
          </div>
          <div>
            <span class="text-gray-700 text-5xl bolder">{{ receipt.priceWithDiscount }}</span>
            <span class="text-gray-500 ml-1 text-xl"><fa :icon="['fas', 'ruble-sign']" /></span>
          </div>
          <div class="mt-5">
            <button v-if="!checkInCart(receipt.id)" v-on:click="addProductToCart(receipt)" title="Добавить в корзину" class="rounded w-full h-12 bg-gray-600 hover:bg-gray-500 shadow-lg flex items-center justify-center focus:outline-none">
              <fa :icon="['fas', 'plus']" class="text-white" />
              <span class="ml-2 bolder text-white text-base">Купить набор</span>
            </button>
            <span v-else class="bolder text-gray-700">Набор уже добавлен в Вашу корзину</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import productCardComponent from '~/components/shops/productCardComponent'

export default {
  auth: false,
  layout: 'mainPage',
  components: {
    productCardComponent
  },

  data: () => ({
    fullReceipts: [],
    networks: [
      { network: 'facebook', name: 'Facebook', iPfx: 'fab', icon: 'facebook-f', color: '#1877f2' },
      { network: 'odnoklassniki', name: 'Odnoklassniki', iPfx: 'fab', icon: 'odnoklassniki', color: '#ed812b' },
      { network: 'pinterest', name: 'Pinterest', iPfx: 'fab', icon: 'pinterest', color: '#bd081c' },
      { network: 'telegram', name: 'Telegram', iPfx: 'fab', icon: 'telegram-plane', color: '#0088cc' },
      { network: 'twitter', name: 'Twitter', iPfx: 'fab', icon: 'twitter', color: '#1da1f2' },
      { network: 'viber', name: 'Viber', iPfx: 'fab', icon: 'viber', color: '#59267c' },
      { network: 'vk', name: 'Vk', iPfx: 'fab', icon: 'vk', color: '#4a76a8' },
      { network: 'whatsapp', name: 'Whatsapp', iPfx: 'fab', icon: 'whatsapp', color: '#25d366' }

    ]
  }),
  asyncData ({ route, error }) {
    return axios.get(process.env.API_URL + `/api/receipts/${route.params.pathMatch}`, route.query).then((res) => {
      return {
        receipt: res.data.data
      }
    }).catch((err) => {
      error({ statusCode: 404, message: err.message })
    })
  },
  mounted () {

  },
  methods: {
    showFullReceipt (id) {
      this.fullReceipts.includes(id) ? this.fullReceipts.splice(this.fullReceipts.indexOf(id), 1) : this.fullReceipts.push(id)
    },
    checkInCart (id) {
      if (this.$store.state.cart.items.filter(e => e.product.id === id).length > 0) {
        return true
      } else {
        return false
      }
    },
    async addProductToCart (product) {
      this.$yandexMetrika.reachGoal('В корзину')
      // this.$store.dispatch('wait/start', 'adding to cart', { root: true })
      await this.$store.dispatch('cart/addProductToCart', product).then(() => {
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'success',
          title: 'Товар добавлен в корзину',
          timer: 5000,
          showConfirmButton: false
        })
      })
      // this.$store.dispatch('wait/end', 'adding to cart', { root: true })
    }
  }

}
</script>
