<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="h-full w-full xl:w-5/6 p-2 xl:p-0">
      <div class="flex items-center justify-between flex-wrap mt-3">
        <h1 class="text-gray-700 text-3xl lg:text-5xl bolder leading-none">
          Рецепты и наборы товаров
        </h1>
      </div>
      <div>
        <receiptCardComponent :receipt="receipt" v-for="receipt in receipts" :key="receipt.id" />
      </div>
      <div v-if="info.total > info.per_page">
        <div class="mt-5 mb-10 flex justify-center">
          <paginate
            :page-count="info.last_page"
            :page-range="3"
            :margin-pages="2"
            v-model="info.current_page"
            :click-handler="clickCallback"
            :prev-text="'Предыдущая'"
            :next-text="'Следующая'"
            :container-class="'flex items-center justify-center text-gray-700'"
            :page-class="'py-2 px-3 bg-gray-200 rounded-full w-10 h-10 mx-1 text-xs lg:text-base flex justify-center items-center bolder'"
            :active-class="'text-red-400'"
            :page-link-class="'focus:outline-none'"
            :prev-link-class="'hidden lg:block focus:outline-none bolder'"
            :next-link-class="'hidden lg:block focus:outline-none bolder'"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import receiptCardComponent from '~/components/receipts/receiptCardComponent'

export default {
  layout: 'mainPage',
  auth: false,
  components: {
    receiptCardComponent, Paginate
  },
  data: () => ({

  }),
  watchQuery: true,
  asyncData ({ route, error }) {
    return axios.post(process.env.API_URL + `/api/receipts`, route.query).then((res) => {
      return {
        receipts: res.data.data,
        info: res.data.meta
      }
    }).catch((err) => {
      error({ statusCode: 404, message: err.message })
    })
  },
  methods: {
    clickCallback (page) {
      this.$router.push({
        query: {
          ...this.$route.query,
          page
        }
      })
      // this.$scrollTo('#results-wrapper', 700, { easing: 'ease', cancelable: false })
    }
  }
}
</script>
