

.multiselect__tags {
    min-height: 45px !important;
    display: block;
    padding: 12px 40px 0 12px !important;
    border: 0px !important;
    background: #edf2f7 !important;
    font-size: 14px;
}
.multiselect__input, .multiselect__single {
    border: none;
    border-radius: 0px !important;
    background: #edf2f7 !important;
    padding: 0px !important;
    width: 100%;
    -webkit-transition: border .1s ease;
    transition: border .1s ease;
    box-sizing: border-box;
    margin-bottom: 0px !important;
    vertical-align: top;
}
.multiselect, .multiselect__input, .multiselect__single {
    font-size: 14px !important;
    color: #718096;
}
.multiselect__content-wrapper {
    background: #edf2f7 !important;
    border: 0px !important;
}
.multiselect__option--highlight {
    background: #CBD5E0 !important;
    color: #2D3748 !important;
}
.mx-datepicker {
    width: auto !important;
    display: block !important;
}
.search-btn {
    padding-top: 0.64rem !important;
    padding-bottom: 0.64rem !important;
}
.swal2-modal .swal2-title {
    font-weight: bolder !important;
    font-size: 1.5rem !important;
}
.swal2-modal #swal2-content {
    color: #b1b1b1 !important;
    font-size: 1rem !important;
}
.vue-dropzone {
    border: 0px !important;
    background-color: #edf2f7 !important;
    border-radius: 0.25rem;
    font-family: GT Eesti Pro Text !important;
    color: #a0aec0 !important;
}
.filter-grayscale {
    filter: blur(10px);
    transition: all .2s;
    
    &[lazy=loaded] {
        filter: none
    }
}
.filter-grayscale:hover {
    filter: grayscale(1);
}
.mx-calendar, .mx-time, .vfc-main-container {
    font-family: GT Eesti Pro Text !important;
}
.vfc-main-container {
    box-shadow: unset !important;
}
.vfc-styles-conditional-class .vfc-main-container .vfc-calendars-container .vfc-calendars .vfc-calendar div.vfc-content .vfc-week div.vfc-day span.vfc-span-day.archive-date {
    color: #292929 !important;
    background-color: #e2e2e2 !important;
}
.vfc-styles-conditional-class .vfc-main-container .vfc-calendars-container .vfc-calendars .vfc-calendar div.vfc-content .vfc-week div.vfc-day span.vfc-span-day.actual-date {
    color: #292929 !important;
    background-color: #9ae6b4 !important;
}
.vfc-styles-conditional-class .vfc-main-container .vfc-calendars-container .vfc-calendars .vfc-calendar div.vfc-content .vfc-week div.vfc-day span.vfc-span-day.actual-date:hover {
    color: #292929 !important;
    background-color: #68D391 !important;
}
.vfc-styles-conditional-class .vfc-main-container .vfc-calendars-container .vfc-calendars .vfc-calendar div.vfc-content .vfc-week div.vfc-day span.vfc-span-day.vfc-hide {
    display: none !important;
}
.vfc-calendars-container {
    margin-left: -10px;
    margin-right: -10px;
}
.mx-calendar-content .cell.active {
    background-color: #718096 !important;
}
.delete-timer-wrapper .item > div {
    font-size: 14px !important;
    font-weight: bold;
}
.infinite-count {
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}
.form-select-with-height-as-input {
    padding: 0.7rem 0.75rem;
}
.gradiend-blue-button {
    background: #3498db;
/* background: linear-gradient(180deg, rgba(2,59,169,1) 35%, rgba(26,62,134,1) 100%); */
}
.gradiend-blue-button:hover {
    background: #43a1e0;
    /* background: linear-gradient(180deg, rgba(1,58,168,1) 35%, rgba(3,89,207,1) 100%); */
}   
.shop-title-wrapper {
    background-color: rgba(0, 0, 0, .5);
}
.h-m24 {
    height: 35rem;
}

.gradiend-red-button {
    background:#e53e3e;
    /* background: linear-gradient(180deg, rgba(186,40,31,1) 35%, rgba(240,45,32,1) 100%); */
}
.gradiend-red-button:hover {
    background: rgb(228,63,51);
    /* background: linear-gradient(180deg, rgba(168,42,33,1) 35%, rgba(255,47,33,1) 100%);  */
}
.text-blue-rf {
    color: #3498db;
}
.text-red-rf {
    color: #e53e3e;
}
.pt-035 {
    padding-top: 0.35rem;
}
.multiselect__placeholder {
    color: #a0aec0;
    padding-top: 0px !important;
}
.vue-treeselect__control {
    background: #edf2f7 !important;
    border: 0px !important;
    height: 45px !important;
    padding-top: 2px;
}
.vue-treeselect__placeholder {
    color: #afbbca !important;
    padding-top: 0px;
    font-size: 0.875rem;
}
.multiselect__input:-ms-input-placeholder{color:#afbbca}.multiselect__input::placeholder{color:#afbbca}
.vue-treeselect__menu {
    cursor: default;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
    border: 0px !important;
    background: #edf2f7 !important;
    line-height: 180%;
    -webkit-overflow-scrolling: touch;
  }
 
  .vue-treeselect__placeholder,
.vue-treeselect__single-value {
    line-height: 45px !important;
}
.vue-treeselect--single .vue-treeselect__input {
    color: #afbbca;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.text-rf-blue {
    color: #3498db;
}
.vue-slider-rail {
    background-color: #edf2f7;
    border-radius: 15px;
}
.text-green-rf {
    color: #8dce9e;
}
.bg-green-rf {
    background-color: #8dce9e;
}
.dz-image {
    border-radius: 0.25rem !important;
}
.cropper-modal {
    border-radius: 0.25rem !important;   
}
.bolder {
    font-weight: bolder;
}
.animateFix {
    -webkit-animation-fill-mode: backwards !important;
    animation-fill-mode: backwards !important;
}
.VueCarousel-dot-container {
    margin-top: 0 !important;
}
.oldPriceWrapper:after {
    content: "";
    display: flex;
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    height: 0;
    border-bottom: 2px solid #a0aec0;
    pointer-events: none;
    /* transform: rotate(-10deg); */
}
.multiselect__spinner {
    background: #edf2f7;
}
.mobile-catalog-wrapper {
    transition: all .5s cubic-bezier(.55,0,.1,1);
}
.h-18rem {
    height: 18rem;
}
.VueCarousel-dot {
    margin-top: 0px !important;
}

input:disabled{  
    color:#4a5568;
    opacity: 1;
    -webkit-text-fill-color: #4a5568;
}
.mobile-input-wrapper input:disabled{  
    color:#ffffff !important;
    opacity: 1;
    -webkit-text-fill-color: #ffffff !important;
}
.vue-slider-dot-tooltip-inner {
    border-color: #8dce9e !important;
    background-color: #8dce9e !important;
}
.vue-slider-dot-tooltip-inner-bottom::after {
    border-bottom-color: #8dce9e !important;
}
.vue-slider-process {
    background-color: #8dce9e !important;
}
/* #jvlabelWrap {
    right: -9999px !important;
} */
.__jivoMobileButton {
    right: -9999px !important;
}

@media (min-width: 1024px) {
.lg\:pt-28 {
    padding-top: 7rem;
}
.lg\:h-fullrem {
    height: auto;
}
}