<template>
  <div id="category-wrapper" class="lg:pt-32 flex justify-center">
    <div class="h-full w-full xl:w-5/6 p-2 xl:p-0">
      <div v-if="category">
        <div class="flex items-center justify-between flex-wrap mt-3">
          <h1 class="text-gray-700 text-3xl lg:text-5xl bolder leading-none">
            {{ category.title }}
          </h1>

          <div class="hidden lg:flex text-gray-400 items-center justify-center lg:justify-end animate__animated animate__bounceIn w-full lg:w-auto">
            <span class="text-base mr-2 flex items-center justify-center rounded-full w-10 h-10 bg-gray-400 text-white bolder">{{ info.total }}</span><span>товаров в категории</span>
          </div>
        </div>

        <div v-if="category.breadcrumbs !== null" class="text-gray-700 mt-2 flex flex-wrap">
          <div>
            <nuxt-link :to="'/'" class="cursor-pointer text-gray-500 bolder hover:text-gray-700">
              Каталог rf.market
            </nuxt-link>
            <span class="px-2 text-gray-300">/</span>
          </div>
          <div v-for="(crumb, index) in category.breadcrumbs" v-bind:key="crumb.id">
            <nuxt-link :to="crumb.slug" :class="index != Object.keys(category.breadcrumbs).length - 1 ? 'text-gray-500' : 'text-gray-300'" class="cursor-pointer bolder hover:text-gray-700">
              {{ crumb.title }}
            </nuxt-link>
            <span v-if="index != Object.keys(category.breadcrumbs).length - 1" class="px-2 text-gray-300">/</span>
          </div>
        </div>

        <div v-if="category.childs !== null" class="flex justify-start flex-wrap mt-5">
          <nuxt-link :to="child.slug" v-for="(child, index) in category.childs" v-bind:key="child.id" :class="index <= 4 || showAllChilds ? 'block' : 'hidden'" class="bg-gray-200 hover:bg-gray-400 text-gray-700 animate__animated animate__bounceIn rounded mr-2 p-2 mb-2 bolder">
            {{ child.title }}
          </nuxt-link>
          <button v-on:click="showOtherCategoryChilds" v-if="category.childs.length > 4 && !showAllChilds" type="button" class="bg-green-rf hover:bg-gray-400 text-white animate__animated animate__bounceIn rounded mr-2 p-2 mb-2 bolder focus:outline-none">
            ещё..
          </button>
        </div>

        <div class="sorting-wrapper flex justify-between my-3">
          <div class="flex items-center justify-start">
            <!-- <span v-on:click="showCategoryFilter" class="mr-2 text-blue-600 bolder cursor-pointer hover:text-blue-500 flex justify-start">
          <span>Фильтр</span><span class="hidden md:block pl-1">товаров по этой категории</span>
        </span>
        <span v-on:click="showCategoryFilter" class="text-blue-600 cursor-pointer hover:text-blue-500">
          <fa :icon="['fas', 'caret-down']" />
        </span> -->
          </div>
          <div class="w-full lg:w-64 ml-0 lg:ml-2 lg:ml-0">
            <multiselect
              v-model="sort"
              :options="sortOptions"
              :searchable="false"
              :show-labels="false"
              @select="onSelectSortOption"
              label="label"
              track-by="id"
              placeholder="Сортировка"
            >
              <template slot="noOptions">
                Результаты поиска не найдены.
              </template>
            </multiselect>
          </div>
        </div>
        <div v-if="isShowFilter" class="my-5 animate__animated animate__bounceIn">
          here we need create a filter component
        </div>

        <div>
          <div v-if="products.length > 0" class="flex flex-wrap overflow-hidden lg:-mx-2">
            <div v-for="product in products" v-bind:key="product.id" class="w-1/2 overflow-hidden my-1 lg:my-2 px-1 lg:px-2 lg:w-1/4 xl:w-1/5">
              <productCardComponent :product="product" />
            </div>
          </div>
          <div v-if="info.total > info.per_page">
            <div class="mt-5 mb-10 flex justify-center">
              <paginate
                :page-count="info.last_page"
                :page-range="3"
                :margin-pages="2"
                v-model="info.current_page"
                :click-handler="clickCallback"
                :prev-text="'Предыдущая'"
                :next-text="'Следующая'"
                :container-class="'flex items-center justify-center text-gray-700'"
                :page-class="'py-2 px-3 bg-gray-200 rounded-full w-10 h-10 mx-1 text-xs lg:text-base flex justify-center items-center bolder'"
                :active-class="'text-red-400'"
                :page-link-class="'focus:outline-none'"
                :prev-link-class="'hidden lg:block focus:outline-none bolder'"
                :next-link-class="'hidden lg:block focus:outline-none bolder'"
              />
            </div>
          </div>
        </div>

        <div v-if="products.length === 0" class="p-5 rounded bg-red-100 text-xl bolder my-5 border-l-2 text-gray-700 rounded-l-none border-red-400">
          По вашим условиям поиска ничего не найдено. Попробуйте изменить запрос или выбрать другую категорию.
        </div>

        <div v-if="category.seo" v-html="category.seo" class="my-5 text-gray-700 bg-gray-200 rounded p-5 lg:p-10" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import Multiselect from 'vue-multiselect'
import productCardComponent from '~/components/shops/productCardComponent'

export default {
  auth: false,
  layout: 'mainPage',
  components: { Paginate, Multiselect, productCardComponent },
  head () {
    return {
      title: this.category.metaTitle !== null ? this.category.metaTitle : this.category.title + ' в интернет-магазине rf.market с быстрой доставкой от рф.маркет',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.category.metaDescription !== null ? this.category.metaDescription : 'Приобретайте товары по выгодным ценам, огромный выбор продуктов питания, товаров повседневного спроса, для дачи и дома, а так же товаров для творчества и одежда. Регулярные акции от производителей и лучшие цены на онлайн покупки.'
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://rf.market/category/' + this.category.slug
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.category.metaTitle !== null ? this.category.metaTitle : this.category.title + ' в интернет-магазине rf.market с быстрой доставкой от рф.маркет'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.category.metaDescription !== null ? this.category.metaDescription : 'Приобретайте товары по выгодным ценам, огромный выбор продуктов питания, товаров повседневного спроса, для дачи и дома, а так же товаров для творчества и одежда. Регулярные акции от производителей и лучшие цены на онлайн покупки.'
        }
      ]
    }
  },
  data: () => ({
    showAllChilds: false,
    currentPage: 1,
    sortOptions: [
      { id: 'popular', label: 'Популярные' },
      { id: 'new', label: 'Новинки' },
      { id: 'action', label: 'Акция' },
      { id: 'price_desc', label: 'Сначала дорогие' },
      { id: 'price_asc', label: 'Сначала дешевые' },
      { id: 'id', label: 'По обновлению' }
    ],
    isShowFilter: false
  }),
  watchQuery: true,
  asyncData ({ route, params, error }) {
    return axios.post(process.env.API_URL + `/api/product/bycategory/${route.params.pathMatch}`, route.query).then((res) => {
      let sort = { id: 'id', label: 'По обновлению' }
      if (route.query.sortField) {
        switch (route.query.sortField) {
          case 'popular': sort = { id: 'popular', label: 'Популярные' }; break
          case 'new': sort = { id: 'new', label: 'Новинки' }; break
          case 'action': sort = { id: 'action', label: 'Акция' }; break
          case 'price_desc': sort = { id: 'price_desc', label: 'Сначала дорогие' }; break
          case 'price_asc': sort = { id: 'price_asc', label: 'Сначала дешевые' }; break
          default: sort = { id: 'id', label: 'По обновлению' }; break
        }
      } else {
        sort = { id: 'id', label: 'По обновлению' }
      }

      return {
        query: route.query.query,
        products: res.data.data,
        category: res.data.category,
        info: res.data.meta,
        sort
      }
    }).catch((err) => {
      error({ statusCode: 404, message: err.message })
    })
  },
  mounted () {

  },
  methods: {
    onSelectSortOption (selectedOption) {
      this.$router.push({
        query: {
          ...this.$route.query,
          page: 1,
          sortField: selectedOption.id
        }
      })
      this.sort = selectedOption
      // this.currentPage = 1
      // this.getProducts('replace')
    },
    declOfNum (number, titles) {
      const cases = [2, 0, 1, 1, 1, 2]
      return titles[ (number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5] ]
    },
    clickCallback (page) {
      this.$router.push({
        query: {
          ...this.$route.query,
          page
        }
      })
      this.$scrollTo('#results-wrapper', 700, { easing: 'ease', cancelable: false })
    },
    showOtherCategoryChilds () {
      this.showAllChilds = true
    }
  }
}
</script>
