<template>
  <div>
    <v-wait for="loading filtered products list" class="mb-5">
      <template slot="waiting">
        <div class="flex items-center justify-center py-24">
          <fulfilling-bouncing-circle-spinner
            :animation-duration="2500"
            :size="70"
            color="#CBD5E0"
          />
        </div>
      </template>
      <div>
        <div v-for="shop in sortedByShopProducts" v-if="sortedByShopProducts.length > 0" class="mb-10">
          <div class="my-3 flex items-top justify-between shadow-sm rounded p-5">
            <div class="flex items-center justify-start">
              <div class="mr-5">
                <img :src="shop.shopImage" v-if="shop.shopImage !== null" class="object-cover h-12 w-12 rounded">
                <img v-if="shop.shopImage === null" src="~assets/img/nophoto.svg" class="object-cover h-12 w-12 rounded-full">
              </div>
              <h2 class="text-gray-700">
                <b class="text-base lg:text-2xl">{{ shop.shopName }}</b>
              </h2>
            </div>
            <div class="hidden lg:block text-right">
              <nuxt-link :to="'/shops/'+shop.shop" class="text-blue-rf text-sm bolder">
                страница магазина
              </nuxt-link><br>
              <span class="text-gray-700 text-sm">Минимальная сумма заказа: {{ shop.shopPriceMin }} руб.</span>
            </div>
          </div>
          <div class="mb-3 text-gray-500 text-base lg:text-xl bolder">
            Лучшие предложения магазина
          </div>
          <transition-group
            :class="$store.state.shops.viewBy === 'grid' ? 'flex flex-wrap overflow-hidden lg:-mx-2' : ''"
            name="flip-list"
            tag="div"
            class="mb-10"
          >
            <div v-for="product in shop.products" v-bind:key="product.id" :class="$store.state.shops.viewBy === 'grid' ? 'w-1/2 my-1 lg:my-2 px-1 lg:px-2 lg:w-1/4 xl:w-1/5' : 'w-full'">
              <productCardComponent :product="product" />
            </div>
          </transition-group>
          <div class="w-full text-center lg:text-left">
            <nuxt-link :to="'/shops/'+shop.shop" class="text-blue-rf text-sm w-full">
              показать все товары из магазина
            </nuxt-link>
          </div>
        </div>
        <div v-if="sortedByShopProducts.length === 0">
          По вашим условиям поиска ничего не найдено. Попробуйте изменить запрос.
        </div>
      </div>
    </v-wait>
    <div v-if="sortedByShopProducts.length > 0" class="mt-5 mb-10 flex justify-center">
      <paginate
        :page-count="$store.state.shops.pagination.meta.last_page"
        :page-range="3"
        :margin-pages="2"
        :click-handler="clickCallback"
        :prev-text="'Предыдущая'"
        :next-text="'Следующая'"
        :container-class="'flex items-center justify-center text-gray-700'"
        :page-class="'py-2 px-3 bg-gray-200 rounded mx-1 text-xs lg:text-base'"
        :active-class="'text-red-400'"
        :page-link-class="'focus:outline-none'"
        :prev-link-class="'hidden lg:block'"
        :next-link-class="'hidden lg:block'"
        v-if="$store.state.shops.pagination.meta !== null"
      />
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import Paginate from 'vuejs-paginate'
import productCardComponent from '~/components/shops/productCardComponent'

export default {
  layout: 'mainPage',
  components: { FulfillingBouncingCircleSpinner, productCardComponent, Paginate },
  data: () => ({

  }),
  computed: {
    ...mapState({
      filteredProducts: state => state.shops.filteredProducts
    }),
    ...mapGetters({
      sortedByShopProducts: 'shops/sortedByShopProducts'
    })
  },
  mounted () {
    this.getFilteredProducts()
  },
  methods: {
    clickCallback (pageNum) {
      this.$store.dispatch('shops/loadProductsByPage', pageNum)
    },
    async getFilteredProducts () {
      await this.$store.dispatch('shops/filterProducts')
    }
  }
}
</script>
