<template>
  <div class="px-2 lg:px-0">
    <!-- <h2 class="text-2xl text-gray-700 hidden lg:block">
      <b>Быстрый поиск</b>
    </h2> -->
    <div class="flex items-center justify-between mt-2 lg:mt-3">
      <div class="relative hidden lg:block">
        <button @click="isShow = !isShow" class="rounded bg-gray-200 hover:bg-gray-300 hover:text-gray-700 py-3 px-3 lg:px-10 text-gray-700 focus:outline-none w-auto text-sm flex justify-between items-center" title="Каталог" type="button">
          <span class="mr-2">Каталог</span>
          <span class="w-5">
            <fa v-if="!isShow" :icon="['fas', 'bars']" />
            <fa v-if="isShow" :icon="['fas', 'times']" />
          </span>
        </button>
      </div>
      <div class="flex-1 relative ml-0 lg:ml-2">
        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none text-gray-500 text-sm">
            <fa :icon="['fas', 'search']" />
          </div>
          <input
            @focus="globalSearchResults ? isShowResultsList = true : isShowResultsList = false"
            v-model="searchQuery"
            :class="isShowResultsList ? 'rounded rounded-b-none': 'rounded'"
            v-on:keyup.enter="showResults"
            type="text"
            class="py-3 pr-3 z-50 pl-10 bg-gray-200 text-sm text-gray-600 w-full focus:outline-none"
            placeholder="Для поиска введите название товара.."
          >
          <div class="z-40 absolute inset-y-0 right-0 flex items-center justify-end">
            <button v-if="isShowResultsList" v-on:click="closeSearchResults" class="flex items-center text-gray-500 pr-4 text-sm cursor-pointer">
              <fa :icon="['fas', 'times']" />
            </button>
            <button v-on:click="showResults" class="px-5 lg:px-10 rounded rounded-l-none flex h-full items-center bg-gray-600 hover:bg-gray-500 text-white text-sm cursor-pointer focus:outline-none">
              <fa :icon="['fas', 'search']" />
            </button>
          </div>

          <button v-if="isShowResultsList" @click="isShowResultsList = false" tabindex="-1" class="fixed inset-0 h-full w-full z-30 cursor-default" />
          <div v-if="isShowResultsList" class="absolute left bottom w-full rounded rounded-t-none bg-gray-200 shadow-lg z-40">
            <h3 class="text-gray-700 text-base lg:text-xl bolder px-2 lg:px-5">
              Результаты поиска по фразе: "{{ searchQuery }}"
            </h3>
            <div class="my-3">
              <v-wait for="loading search results">
                <template slot="waiting">
                  <div class="flex items-center justify-center py-5">
                    <fulfilling-bouncing-circle-spinner
                      :animation-duration="2500"
                      :size="70"
                      color="#CBD5E0"
                    />
                  </div>
                </template>
                <div v-if="globalSearchResults">
                  <div class="flex items-center justify-start">
                    <div v-if="globalSearchResults.products.data.length > 0" :class="activeSearchTab === 'products' ? 'text-gray-500' : 'text-gray-700 cursor-pointer'" v-on:click="showSearchTab('products')" class="px-2 lg:px-5 py-3 bolder">
                      Товары <sup>{{ globalSearchResults.productsCount }}</sup>
                    </div>
                    <div v-if="globalSearchResults.categories.data.length > 0" :class="activeSearchTab === 'categories' ? 'text-gray-500' : 'text-gray-700 cursor-pointer'" v-on:click="showSearchTab('categories')" class="px-2 lg:px-5 py-3 bolder">
                      Категории <sup>{{ globalSearchResults.categoriesCount }}</sup>
                    </div>
                  <!-- <div v-if="globalSearchResults.shops.data.length > 0" :class="activeSearchTab === 'shops' ? 'text-gray-500' : 'text-gray-700 cursor-pointer'" class="px-5 py-3 bolder">
                    Магазины <sup>{{ globalSearchResults.shops.data.length }}</sup>
                  </div> -->
                  </div>

                  <div v-if="globalSearchResults.products.data.length > 0 && activeSearchTab === 'products'" class="overflow-y-scroll max-h-64 lg:max-h-full">
                    <span v-on:click="showResults" class="bolder py-2 text-gray-700 flex items-center justify-between hover:bg-gray-700 hover:text-white px-2 lg:px-5 cursor-pointer">
                      Показать все результаты
                    </span>
                    <nuxt-link @click.native="toggleSearchData" :to="/products/+product.url" v-for="product in globalSearchResults.products.data" v-bind:key="product.id" class="py-1 text-gray-700 flex items-center justify-between hover:bg-gray-700 hover:text-white px-2 lg:px-5 cursor-pointer">
                      <div class="flex items-center justify-start flex-1">
                        <div v-if="product.media !== null">
                          <img v-if="product.media.mainImage !== null" v-lazy="product.media.mainImage.url" :alt="product.name" class="rounded transition duration-500 ease-in-out transform w-8">
                          <img v-if="product.media.mainImage === null" src="~assets/img/nophoto.svg" class="w-8 object-cover filter-grayscale">
                        </div>
                        <div class="text-sm ml-2 flex-1">
                          {{ product.name }}
                        </div>
                      </div>

                      <div class="flex items-center justify-end w-auto lg:w-64">
                        <div v-if="product.priceWithDiscount === null" class="bolder text-sm lg:text-base">
                          {{ product.price | numFormat }} <b class="text-gray-500 ml-1">₽</b>
                        </div>
                        <div v-if="product.priceWithDiscount !== null" class="bolder text-sm lg:text-base text-red-500">
                          {{ product.priceWithDiscount | numFormat }} <b class="text-gray-500 ml-1">₽</b>
                        </div>
                        <button class=" text-white text-sm w-6 h-6 focus:outline-none flex items-center justify-center ml-2 text-gray-500" type="button">
                          <fa :icon="['fas', 'angle-right']" />
                        </button>
                      </div>
                    </nuxt-link>
                    <!-- <nuxt-link @click.native="toggleSearchData" :to="'/search?query='+searchQuery" class="py-1 text-gray-700 flex items-center justify-between hover:bg-gray-700 hover:text-white px-2 lg:px-5 cursor-pointer">
                      <span class="bolder">Показать все результаты</span>
                    </nuxt-link> -->
                  </div>
                  <div v-if="globalSearchResults.categories.data.length > 0 && activeSearchTab === 'categories'" class="overflow-y-scroll h-64 lg:h-auto">
                    <!-- <span v-on:click="showResults" class="bolder py-1 text-gray-700 flex items-center justify-between hover:bg-gray-700 hover:text-white px-2 lg:px-5 cursor-pointer">
                      Показать все результаты
                    </span> -->
                    <nuxt-link :to="category.slug" @click.native="toggleSearchData" v-for="category in globalSearchResults.categories.data" v-bind:key="category.id" class="py-1 text-gray-700 flex items-center justify-between hover:bg-gray-700 hover:text-white px-5 cursor-pointer">
                      <div class="text-sm">
                        {{ category.title }}
                      </div>

                      <button class=" text-white text-sm w-6 h-6 focus:outline-none flex items-center justify-center ml-2 text-gray-500" type="button">
                        <fa :icon="['fas', 'angle-right']" />
                      </button>
                    </nuxt-link>
                  </div>
                  <div v-if="globalSearchResults.products.data.length === 0 && globalSearchResults.categories.data.length === 0" class="flex items-start justify-start px-5">
                    <span class="mr-2"><fa :icon="['fas', 'exclamation-triangle']" class="text-red-500" /></span>
                    <span class="text-gray-500 text-sm lg:text-base">Мы не смогли найти предложений по вашему запросу. Попробуйте изменить его.</span>
                  </div>
                </div>
              </v-wait>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="ml-2">
        <button class="rounded bg-gray-200 hover:bg-gray-300 py-3 px-4 text-gray-400 focus:outline-none w-auto text-sm" title="Расширенный поиск" type="button">
          <fa :icon="['fas', 'sliders-h']" />
        </button>
      </div> -->
    </div>
    <div name="dsd" class="w-full">
      <categoriesMegaMenuComponent ref="megaMenuComponent" @hideCatalog="hideCatalog" v-if="isShow" class="my-5" />
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import categoriesMegaMenuComponent from '~/components/helpers/categoriesMegaMenuComponent'

export default {
  components: { FulfillingBouncingCircleSpinner, categoriesMegaMenuComponent },
  data: () => ({
    searchByName: '',
    isShowResultsList: false,
    activeSearchTab: 'products',
    isShow: false,
    searchQuery: '',
    awaitingSearch: false
  }),
  computed: {
    ...mapState({
      globalSearchResults: state => state.shops.globalSearchResults
    })
  },
  watch: {
    '$route' () {
      this.isShow = false
    },
    searchQuery (val) {
      if (!this.awaitingSearch) {
        this.isShowResultsList = true
        setTimeout(() => {
          if (this.searchQuery !== '') {
            this.searchWhatUserWant(this.searchQuery)
          } else {
            this.isShowResultsList = false
          }
          this.awaitingSearch = false
        }, 1000) // 1 sec delay
      }
      this.awaitingSearch = true
    },
    globalSearchResults (newValue, oldValue) {
      if (newValue !== null) {
        if (newValue.products.data.length > 0) {
          this.activeSearchTab = 'products'
        } else {
          this.activeSearchTab = 'categories'
        }
        this.isShowResultsList = true
      } else {
        this.isShowResultsList = false
      }
    }
  },
  mounted () {

  },

  methods: {
    showResults () {
      const q = this.searchQuery
      if (q !== '') {
        this.toggleSearchData()
        // store in cookie
        this.$store.dispatch('shops/storeSearchQuery', q)
        return this.$router.push('/search?query=' + q)
      }
    },
    closeSearchResults () {
      this.searchQuery = ''
      this.toggleSearchData()
    },
    toggleSearchData () {
      this.searchQuery = ''
      this.isShowResultsList = false
      this.$store.commit('shops/resetGlobalSearchResults')
    },
    showCatalog () {
      this.isShow = true
    },
    hideCatalog () {
      this.isShow = false
    },
    showSearchTab (tabName) {
      this.activeSearchTab = tabName
    },
    handleSearchByName (val) {
      if (val !== '') {
        this.isShowResultsList = true
        this.searchByName = val
        this.searchWhatUserWant(val)
      } else {
        this.isShowResultsList = false
        this.searchByName = ''
      }
    },
    async searchWhatUserWant (query) {
      this.$store.dispatch('wait/start', 'loading search results', { root: true })
      await this.$store.dispatch('shops/globalSearch', query)
      this.$store.dispatch('wait/end', 'loading search results', { root: true })
    }
  }
}
</script>
