<template>
  <div id="results-wrapper" class="lg:pt-32 flex justify-center">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <h1 class="text-gray-700 text-3xl lg:text-5xl bolder leading-none">
        Результаты поиска по фразе: {{ query }}
      </h1>
      <div class="text-gray-700 mt-2 flex flex-wrap">
        <div>
          <nuxt-link :to="'/'" class="cursor-pointer text-gray-500 bolder hover:text-gray-700">
            Каталог rf.market
          </nuxt-link>
          <span class="px-2 text-gray-300">/</span>
        </div>
        <span class="bolder text-gray-300">Результаты поиска</span>
      </div>
      <div class="sorting-wrapper flex flex-wrap justify-between items-center my-3">
        <div class="flex items-center justify-start text-gray-500 bolder">
          Всего найдено: {{ info.total+' '+declOfNum(info.total, ['товар', 'товара', 'товаров']) }}
        </div>
        <div v-if="products.length > 0" class="w-full lg:w-64 ml-0 lg:ml-2 lg:ml-0">
          <multiselect
            v-model="sort"
            :options="sortOptions"
            :searchable="false"
            :show-labels="false"
            @select="onSelectSortOption"
            label="label"
            track-by="id"
            placeholder="Сортировка"
          >
            <template slot="noOptions">
              Результаты поиска не найдены.
            </template>
          </multiselect>
        </div>
      </div>
      <div class="flex flex-wrap items-start items-center">
        <div class="rounded py-1 lg:py-3 text-gray-500 bolder mb-2 lg:mb-0 w-full lg:w-auto">
          Найдено в магазинах:
        </div>
        <nuxt-link :to="'/shops/'+shop.user.id" v-for="shop in shops" v-bind:key="shop.user.id" class="px-3 rounded py-1 text-gray-500 bolder ml-2 bg-gray-200 hover:bg-gray-300 hover:text-gray-700 mb-2">
          {{ shop.user.profile.shop_name }}
        </nuxt-link>
      </div>
      <v-wait for="loading search results" class="mb-5">
        <template slot="waiting">
          <div class="flex items-center justify-center py-24">
            <fulfilling-bouncing-circle-spinner
              :animation-duration="2500"
              :size="70"
              color="#CBD5E0"
            />
          </div>
        </template>
        <div>
          <div v-if="products.length > 0" class="flex flex-wrap overflow-hidden lg:-mx-2">
            <div v-for="product in products" v-bind:key="product.id" class="w-1/2 overflow-hidden my-1 lg:my-2 px-1 lg:px-2 lg:w-1/4 xl:w-1/5">
              <productCardComponent :product="product" />
            </div>
          </div>
          <div v-if="info.total > info.per_page">
            <!-- <div v-if="parseInt(info.current_page) !== parseInt(info.last_page)" class="flex justify-center mt-3">
              <button v-on:click="showMoreResults" class="px-5 lg:px-10 py-3 rounded flex h-full items-center bg-gray-500 text-white text-base cursor-pointer focus:outline-none">
                Показать еще..
              </button>
            </div> -->
            <div class="mt-5 mb-10 flex justify-center">
              <paginate
                :page-count="info.last_page"
                :page-range="3"
                :margin-pages="2"
                v-model="info.current_page"
                :click-handler="clickCallback"
                :prev-text="'Предыдущая'"
                :next-text="'Следующая'"
                :container-class="'flex items-center justify-center text-gray-700'"
                :page-class="'py-2 px-3 bg-gray-200 rounded-full w-10 h-10 mx-1 text-xs lg:text-base flex justify-center items-center bolder'"
                :active-class="'text-red-400'"
                :page-link-class="'focus:outline-none'"
                :prev-link-class="'hidden lg:block focus:outline-none bolder'"
                :next-link-class="'hidden lg:block focus:outline-none bolder'"
              />
            </div>
          </div>
        </div>

        <div v-if="products.length === 0" class="p-5 rounded bg-red-100 text-xl bolder my-5 border-l-2 text-gray-700 rounded-l-none border-red-400">
          По вашим условиям поиска ничего не найдено. Попробуйте изменить запрос или выбрать другую категорию.
        </div>
      </v-wait>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import Multiselect from 'vue-multiselect'
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import productCardComponent from '~/components/shops/productCardComponent'

export default {
  auth: false,
  layout: 'mainPage',
  components: { productCardComponent, Paginate, Multiselect, FulfillingBouncingCircleSpinner },
  data: () => ({
    currentPage: 1,
    sortOptions: [
      // { id: 'popular', label: 'Популярные' },
      // { id: 'new', label: 'Новинки' },
      // { id: 'action', label: 'Акция' },
      { id: 'price_desc', label: 'Сначала дорогие' },
      { id: 'price_asc', label: 'Сначала дешевые' },
      { id: 'id', label: 'Лучшие совпадения' }
    ]
  }),
  watchQuery: true,
  watch: {
    '$route' () {
      this.getProducts()
    }
  },
  async asyncData ({ route, params }) {
    const { data } = await axios.post(process.env.API_URL + `/api/product/usersearch`, route.query)
    let sort = { id: 'id', label: 'Лучшие совпадения' }
    if (route.query.sortField) {
      switch (route.query.sortField) {
        // case 'popular': sort = { id: 'popular', label: 'Популярные' }; break
        // case 'new': sort = { id: 'new', label: 'Новинки' }; break
        // case 'action': sort = { id: 'action', label: 'Акция' }; break
        case 'price_desc': sort = { id: 'price_desc', label: 'Сначала дорогие' }; break
        case 'price_asc': sort = { id: 'price_asc', label: 'Сначала дешевые' }; break
        default: sort = { id: 'id', label: 'Лучшие совпадения' }; break
      }
    } else {
      sort = { id: 'id', label: 'Лучшие совпадения' }
    }

    return {
      query: route.query.query,
      products: data.data,
      shops: data.shops,
      info: data.meta,
      sort
    }
  },
  mounted () {

  },
  methods: {
    declOfNum (number, titles) {
      const cases = [2, 0, 1, 1, 1, 2]
      return titles[ (number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5] ]
    },
    onSelectSortOption (selectedOption) {
      this.$router.push({
        query: {
          ...this.$route.query,
          page: 1,
          sortField: selectedOption.id
        }
      })
      this.sort = selectedOption
      // this.currentPage = 1
      // this.getProducts('replace')
    },
    // showMoreResults () {
    //   this.$router.push({
    //     query: {
    //       ...this.$route.query,
    //       page: parseInt(this.info.current_page) + 1,
    //       action: 'append'
    //     }
    //   })
    // },
    clickCallback (page) {
      this.$router.push({
        query: {
          ...this.$route.query,
          page
        }
      })
      this.$scrollTo('#results-wrapper', 700, { easing: 'ease', cancelable: false })
    },
    async getProducts () {
      this.$store.dispatch('wait/start', 'loading search results', { root: true })

      const params = {
        ...this.$route.query
      }

      await axios.post(process.env.API_URL + `/api/product/usersearch`, params).then(({ data }) => {
        this.products = data.data
        this.info = data.meta
        this.query = this.$route.query.query
        this.$store.dispatch('wait/end', 'loading search results', { root: true })
      })
    }
  }
}
</script>
