<template>
  <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/3 px-5 md:px-0">
    <default-logo-component />
    <h1 class="my-5 bolder text-gray-500">
      Войдите, чтобы продолжить
    </h1>
    <div class="border-b border-gray-200 pb-12 md:pb-12">
      <ValidationObserver ref="observerLogin" v-slot="{ errors }">
        <form @submit.prevent="submitLoginForm">
          <div class="flex">
            <div class="w-1/4 md:w-1/4 xl:w-1/5 mr-5 bg-gray-200 text-sm text-gray-600 rounded p-3 text-center">
              +7
            </div>

            <ValidationProvider ref="observerPhone" v-slot="{classes}" name="Номер телефона" rules="required" class="w-3/4 md:w-3/4 xl:w-5/6">
              <the-mask
                v-model="phone"
                :class="classes"
                mask="(###)-###-##-##"
                type="tel"
                class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full"
                placeholder="Введите номер телефона"
              />
            </ValidationProvider>
          </div>
          <div>
            <span v-if="errors['Номер телефона']" class="text-sm text-red-400">{{ errors['Номер телефона'][0] }}</span>
          </div>
          <div class="my-5 flex justify-center items-center">
            <button :disabled="isButtonClicked" class="bg-gray-600 hover:bg-gray-500 rounded py-2 px-10 text-white w-full text-sm focus:outline-none" type="submit">
              Войти
            </button>
          </div>
        </form>
      </ValidationObserver>
    </div>
    <div class="flex items-center justify-between py-5 flex-wrap bolder">
      <div class="w-full md:w-auto text-center md:text-left text-gray-500">
        Еще не зарегистрированы в системе?
      </div>
      <div class="w-full md:w-auto text-center md:text-left">
        <nuxt-link to="/auth/register" class="text-gray-700">
          Создать аккаунт
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import { TheMask } from 'vue-the-mask'
import { ValidationProvider, ValidationObserver, extend, configure } from 'vee-validate'
import { required } from 'vee-validate/dist/rules'
import defaultLogoComponent from '~/components/helpers/defaultLogoComponent'

configure({
  classes: {
    valid: 'border-white',
    invalid: 'border-red-300'
  }
})

extend('required', {
  ...required,
  message: 'Поле {_field_} обязательно для заполнения'
})

export default {
  components: { TheMask,
    ValidationProvider,
    ValidationObserver,
    defaultLogoComponent },
  data: () => ({
    phone: '',
    prefix: '+7',
    isButtonClicked: false
  }),
  methods: {
    async submitLoginForm () {
      this.isButtonClicked = true
      const isValid = await this.$refs.observerLogin.validate()
      if (isValid) {
        const phone = this.prefix + this.phone
        this.$store.dispatch('login', { phone })
          .then((response) => {
            if (response.success) {
              this.isButtonClicked = false
              this.$swal({
                toast: true,
                position: 'top-end',
                icon: 'success',
                title: response.success.message,
                timer: 5000,
                showConfirmButton: false
              })
              this.$router.replace({ path: '/auth/verify' })
            }
          })
          .catch((err) => {
            if (err.response) {
              for (const oneError in err.response.data.errors) {
                if (oneError === 'phone') {
                  err.response.data.errors[oneError].map((err) => {
                    this.$refs.observerLogin.setErrors({
                      'Номер телефона': [err]
                    })

                    this.$swal({
                      toast: true,
                      position: 'top-end',
                      icon: 'error',
                      title: err,
                      timer: 3000,
                      showConfirmButton: false
                    })
                  })
                }
                // err.response.data.errors[oneError].map((err) => {

                //   // this.$refs.observerLogin.setErrors([err])
                // })
              }
            }
          })
      }
      this.isButtonClicked = false
    }
  }
}
</script>
