<template>
  <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/3 px-5 md:px-0">
    <default-logo-component />
    <h1 class="font-bold my-5 text-gray-500 bolder">
      Регистрация на площадке
    </h1>
    <div class="border-b border-gray-200 pb-12 md:pb-12">
      <ValidationObserver ref="observerRegister" v-slot="v">
        <form @submit.prevent="submitRegisterForm">
          <!-- <div class="w-full mb-5">
            <ValidationProvider ref="observerLastName" v-slot="{classes, errors}" name="Фамилия" rules="required">
              <input v-model="user.lastName" :class="classes" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите Фамилию">
              <span class="text-sm text-red-400">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class="w-full mb-5">
            <ValidationProvider ref="observerFirstName" v-slot="{classes, errors}" name="Имя" rules="required">
              <input v-model="user.firstName" :class="classes" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите Имя">
              <span class="text-sm text-red-400">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class="w-full mb-5">
            <ValidationProvider ref="observerSurName" v-slot="{classes, errors}" name="Отчество" rules="required">
              <input v-model="user.surName" :class="classes" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите Отчество">
              <span class="text-sm text-red-400">{{ errors[0] }}</span>
            </ValidationProvider>
          </div> -->

          <div class="flex">
            <!-- <select v-model="user.phone.prefix" class="w-1/4 md:w-1/4 xl:w-1/5 mr-5 bg-gray-200 text-sm text-gray-600 rounded p-3" disabled="disabled">
              <option value="+7">
                +7
              </option>
            </select> -->
            <div class="w-1/4 md:w-1/4 xl:w-1/5 mr-5 bg-gray-200 text-sm text-gray-600 rounded p-3 text-center border border-white">
              +7
            </div>

            <ValidationProvider ref="observerPhone" v-slot="{classes}" name="Номер телефона" rules="required|min:10" class="w-3/4 md:w-3/4 xl:w-5/6">
              <the-mask
                v-model="user.phone.number"
                :class="classes"
                mask="(###)-###-##-##"
                type="tel"
                class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full"
                placeholder="Введите номер телефона"
              />
            </ValidationProvider>
          </div>
          <div>
            <span v-if="v.errors['Номер телефона']" class="text-sm text-red-400">{{ v.errors['Номер телефона'][0] }}</span>
          </div>

          <div class="w-full my-5">
            <ValidationProvider ref="observerEmail" v-slot="{classes, errors}" name="Ваш E-mail" rules="required|email" class="w-full">
              <input v-model="user.email" :class="classes" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full" placeholder="Введите Ваш E-mail">
              <span class="text-sm text-red-400">{{ errors[0] }}</span>
            </ValidationProvider>
          </div>
          <div class="my-5">
            <button class="rounded bg-gray-600 hover:bg-gray-500 py-2 px-10 text-white text-sm w-full focus:outline-none" type="submit">
              Зарегистрироваться
            </button>
          </div>
        </form>
      </ValidationObserver>
    </div>
    <div class="flex items-center justify-between py-5 flex-wrap bolder">
      <div class="w-full md:w-auto text-center md:text-left text-gray-500">
        Уже зарегистрированы?
      </div>
      <div class="w-full md:w-auto text-center md:text-left">
        <nuxt-link to="/auth/login" class="text-gray-700">
          Войти
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>

import { ValidationProvider, ValidationObserver, extend, configure } from 'vee-validate'
import { required, email, min } from 'vee-validate/dist/rules'
import { TheMask } from 'vue-the-mask'
import defaultLogoComponent from '~/components/helpers/defaultLogoComponent'

configure({
  classes: {
    valid: 'border-white',
    invalid: 'border-red-300'
  }
})

extend('required', {
  ...required,
  message: 'Поле {_field_} обязательно для заполнения'
})

extend('email', {
  ...email,
  message: 'Поле {_field_} должно являться адресом электронной почты'
})

extend('min', {
  ...min,
  message: 'Поле {_field_} должно быть не менее {length} символов'
})

export default {
  auth: 'guest',
  components: {
    ValidationProvider,
    ValidationObserver,
    TheMask,
    defaultLogoComponent
  },
  data: () => ({
    user: {
      firstName: '',
      lastName: '',
      surName: '',
      email: '',
      phone: {
        prefix: '+7',
        number: ''
      }
    }
  }),
  methods: {
    async submitRegisterForm () {
      const isValid = await this.$refs.observerRegister.validate()
      if (isValid) {
        const user = this.user

        this.$store.dispatch('register', { user })
          .then((response) => {
            if (response.success) {
              this.$swal({
                toast: true,
                position: 'top-end',
                icon: 'success',
                title: response.success.message,
                timer: 5000,
                showConfirmButton: false
              })
              this.$router.replace({ path: '/auth/verify' })
            }
          })
          .catch((err) => {
            if (err.response) {
              for (const oneError in err.response.data.errors) {
                let swalErr = ''
                switch (oneError) {
                  case 'name':
                    err.response.data.errors[oneError].map((err) => {
                      this.$refs.observerRegister.setErrors({
                        'Ваши ФИО': [err]
                      })
                      swalErr = err
                    })
                    break
                  case 'email':
                    err.response.data.errors[oneError].map((err) => {
                      this.$refs.observerRegister.setErrors({
                        'Ваш E-mail': [err]
                      })
                      swalErr = err
                    })
                    break
                  default:
                    err.response.data.errors[oneError].map((err) => {
                      this.$refs.observerRegister.setErrors({
                        'Номер телефона': [err]
                      })
                      swalErr = err
                    })
                    break
                }
                this.$swal({
                  toast: true,
                  position: 'top-end',
                  icon: 'error',
                  title: swalErr,
                  timer: 3000,
                  showConfirmButton: false
                })
              }
            }
          })
      }
    }
  }
}
</script>
