<template>
  <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/3 px-5 md:px-0">
    <default-logo-component />
    <h1 class="bolder text-gray-700 my-5">
      Введите код, полученый в СМС
    </h1>
    <div class="border-b border-gray-200 pb-12 md:pb-12">
      <ValidationObserver ref="observerVerify">
        <form @submit.prevent="submitVerifyForm">
          <div class="flex items-center justify-between">
            <input
              ref="first"
              v-model="code.s1"
              v-on:keyup="$event.target.nextElementSibling.focus()"
              @focusin="focusHandler"
              type="tel"
              pattern="\d*"
              name=""
              class="w-1/5 p-3 bg-gray-200 text-sm text-gray-600 rounded text-center"
              max="1"
            >
            <input
              v-model="code.s2"
              v-on:keyup="$event.target.nextElementSibling.focus()"
              @focusin="focusHandler"
              type="tel"
              pattern="\d*"
              name=""
              class="w-1/5 p-3 bg-gray-200 text-sm text-gray-600 rounded ml-2 text-center"
            >
            <input
              v-model="code.s3"
              v-on:keyup="$event.target.nextElementSibling.focus()"
              @focusin="focusHandler"
              type="tel"
              pattern="\d*"
              name=""
              class="w-1/5 p-3 bg-gray-200 text-sm text-gray-600 rounded ml-2 text-center"
            >
            <input
              v-model="code.s4"
              v-on:keyup="$event.target.nextElementSibling.focus()"
              @focusin="focusHandler"
              type="tel"
              pattern="\d*"
              name=""
              class="w-1/5 p-3 bg-gray-200 text-sm text-gray-600 rounded ml-2 text-center"
            >
            <input v-model="code.s5" type="tel" pattern="\d*" name="" class="w-1/5 p-3 bg-gray-200 text-sm text-gray-600 rounded ml-2 text-center">
          </div>
          <div class="my-5">
            <button class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white w-full focus:outline-none" type="submit">
              Продолжить
            </button>
          </div>

          <div class="text-center pt-5">
            <button v-on:click="goBack" type="button" class="text-gray-700 bolder text-sm">
              Вернуться назад..
            </button>
          </div>
        </form>
      </ValidationObserver>
    </div>
    <div class="flex items-center justify-between py-5 flex-wrap bolder">
      <div class="w-full md:w-auto text-center md:text-left text-gray-500">
        Не пришел код?
      </div>
      <div class="w-full md:w-auto text-center md:text-left">
        <button v-on:click="refreshCodeClicked">
          <span v-if="!isActiveCodeRefresh" class="bolder text-gray-500">({{ counter }})</span> <span :class="isActiveCodeRefresh ? 'text-gray-700' : 'text-gray-400'" class="bolder">Отправить код еще раз</span>
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import { ValidationObserver, extend } from 'vee-validate'
import { required } from 'vee-validate/dist/rules'
import { mapState } from 'vuex'
import defaultLogoComponent from '~/components/helpers/defaultLogoComponent'

extend('required', {
  ...required,
  message: 'Поле {_field_} обязательно для заполнения'
})

export default {
  auth: 'guest',
  components: { ValidationObserver, defaultLogoComponent },
  data: () => ({
    code: {
      s1: '',
      s2: '',
      s3: '',
      s4: '',
      s5: ''
    },
    isActiveCodeRefresh: false,
    timeTick: {},
    interval: null
  }),
  computed: mapState([
    'counter'
  ]),
  watch: {
    'code.s5' (val) {
      this.submitVerifyForm()
    }
  },
  mounted () {
    this.startCountdown()
    if (process.browser) {
      setTimeout((x) => {
        this.$nextTick(() => this.setFocus()) // this works great, just watch out with going to fast !!!
      }, 500)
    }
  },
  created () {
    this.$store.watch(
      (state, getters) => getters.counter,
      (newValue, oldValue) => {
        if (newValue === 0) {
          this.isActiveCodeRefresh = true
        }
      }
    )
  },
  destroyed () {
    clearInterval(this.interval)
  },
  methods: {
    setFocus () {
      // Note, you need to add a ref="search" attribute to your input.
      this.$refs.first.focus()
    },
    focusHandler (event) {
      // this.$nextTick(() => {
      event.target.select()
      // })
    },
    startCountdown () {
      this.timeTick = () => this.$store.commit('decrement')
      this.interval = setInterval(this.timeTick, 1000)
    },
    async submitVerifyForm () {
      // make normal validate with vee-validate
      if (this.code.s1 !== '' && this.code.s2 !== '' && this.code.s3 !== '' && this.code.s4 !== '' && this.code.s5 !== '') {
        const confirmationCode = this.code.s1 + this.code.s2 + this.code.s3 + this.code.s4 + this.code.s5
        await this.$store.dispatch('verify', { confirmationCode })
          .then(() => {
            this.$swal({
              toast: true,
              position: 'top-end',
              icon: 'success',
              title: 'Вы успешно вошли в систему',
              timer: 5000,
              showConfirmButton: false
            })

            // if (this.$store.state.justRegistered === true) {
            //   this.$router.replace({ path: '/profile/initial/step2individual' })
            // }
          })
          .catch((err) => {
            if (err.response) {
              for (const oneError in err.response.data.errors) {
                err.response.data.errors[oneError].map((err) => {
                  this.$swal({
                    toast: true,
                    position: 'top-end',
                    icon: 'error',
                    title: err,
                    timer: 3000,
                    showConfirmButton: false
                  })
                })
              }
            }
          })
      } else {
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'error',
          title: 'Вы должны заполнить все поля полученного кода',
          timer: 3000,
          showConfirmButton: false
        })
      }
    },
    goBack () {
      this.$router.push({ path: '/auth/login' })
    },
    refreshCodeClicked () {
      if (this.$store.state.counter > 0) {
        const timeForRenew = this.$store.state.counter
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'error',
          title: 'Вы можете повторно отправить код через ' + timeForRenew + ' сек',
          timer: 3000,
          showConfirmButton: false
        })
      } else {
        // call method to refresh a code
        this.refreshCode()
      }
    },
    refreshCode () {
      if (this.$store.state.counter === 0) {
        this.$store.dispatch('refresh')
          .then((response) => {
            if (response.success) {
              this.$swal({
                toast: true,
                position: 'top-end',
                icon: 'success',
                title: response.success.message,
                timer: 5000,
                showConfirmButton: false
              })
            }
            this.$store.commit('renewCounter')
            this.isActiveCodeRefresh = false
          })
          .catch((err) => {
            if (err.response) {
              for (const oneError in err.response.data.errors) {
                err.response.data.errors[oneError].map((err) => {
                  this.$swal({
                    toast: true,
                    position: 'top-end',
                    icon: 'error',
                    title: err,
                    timer: 3000,
                    showConfirmButton: false
                  })
                })
              }
              // for (const oneError in err.response.data.errors) {
              //   let swalErr = ''

              //   err.response.data.errors[oneError].map((err) => {
              //     this.$refs.observerRegister.setErrors({
              //       'Номер телефона': [err]
              //     })
              //     swalErr = err
              //   })

              //   this.$swal({
              //     toast: true,
              //     position: 'top-end',
              //     type: 'error',
              //     title: swalErr,
              //     timer: 3000,
              //     showConfirmButton: false
              //   })
              // }
            }
          })
      }
    }

  },
  destoyed () {
    clearInterval(this.timeTick)
  }
}
</script>
