<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="h-full w-full xl:w-5/6 p-2 xl:p-0">
      <div itemscope itemtype="http://schema.org/Product">
        <div class="transition transform fixed lg:hidden z-50 bottom-0 inset-x-0 px-2 mb-16">
          <div class="py-1">
            <button v-if="!checkInCart(product.id)" @click="addProductToCart(product)" class="rounded w-full bg-gray-600 shadow-lg flex py-3 px-10 items-center justify-center text-white focus:outline-none">
              <fa :icon="['fas', 'plus']" class="text-xs" />
              <span class="ml-2 bolder">Положить в корзину</span>
            </button>
            <div v-if="checkInCart(product.id)" class="w-full animate__animated animate__bounceIn">
              <div class="flex items-center justify-center lg:justify-end w-full mobile-input-wrapper">
                <button v-on:click="changeItemCartQuantity('minus', product.id)" class="bg-gray-600 mr-2 text-white text-sm shadow-lg rounded-full w-6 h-6 focus:outline-none flex items-center justify-center">
                  <fa :icon="['fas', 'minus-circle']" />
                </button>
                <input v-if="!product.isWeightedGoods" :value="getCurrentProductQuantity(product.id)" type="number" disabled class="bolder py-3 shadow-lg bg-gray-600 w-1/2 text-center text-sm text-white rounded opacity-100">
                <input v-if="product.isWeightedGoods" :value="getCurrentProductWeight(product.id)+' '+product.measure" type="text" disabled class="bolder py-3 shadow-lg bg-gray-600 w-1/2 text-center text-sm text-white rounded opacity-100">
                <button v-on:click="changeItemCartQuantity('plus', product.id)" class="ml-2 text-white text-sm rounded-full shadow-lg w-6 h-6 bg-gray-600 focus:outline-none flex items-center justify-center">
                  <fa :icon="['fas', 'plus-circle']" />
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="flex items-end justify-between mt-3 flex-wrap lg:flex-no-wrap">
          <h1 class="text-gray-700 text-3xl lg:text-5xl bolder leading-none" itemprop="name">
            {{ product.name }}
          </h1>
          <div class="text-left lg:text-right bolder text-gray-500 w-full lg:w-26 pt-2 lg:pt-0">
            Код товара: {{ product.id }}
          </div>
        </div>

        <div v-if="product.breadcrumbs !== null" class="text-gray-700 mt-2 flex flex-wrap">
          <div>
            <nuxt-link :to="'/'" class="cursor-pointer text-gray-500 bolder hover:text-gray-700">
              Каталог rf.market
            </nuxt-link>
            <span class="px-2 text-gray-300">/</span>
          </div>
          <div v-for="(crumb, index) in product.breadcrumbs" v-bind:key="crumb.id">
            <nuxt-link :to="crumb.slug" :class="index != Object.keys(product.breadcrumbs).length - 1 ? 'text-gray-500' : 'text-gray-300'" class="cursor-pointer bolder hover:text-gray-700">
              {{ crumb.title }}
            </nuxt-link>
            <span v-if="index != Object.keys(product.breadcrumbs).length - 1" class="px-2 text-gray-300">/</span>
          </div>
        </div>

        <div class="flex flex-wrap items-stretch mt-5">
          <div class="w-full lg:w-1/2">
            <div class="flex self-start h-18rem lg:h-fullrem overflow-hidden">
              <div v-if="product.media.gallery !== null" :style="'max-height:'+thumbsMaxHeight" class="w-16 lg:w-20 overflow-scroll">
                <div v-for="mediaItem in product.media.gallery" v-bind:key="mediaItem.id" class="mb-2 cursor-pointer">
                  <img v-lazy="mediaItem.url" @click="showProductImage(mediaItem.url)" class="rounded w-16 h-16 object-cover border border-gray-200">
                </div>
              </div>

              <noscript v-if="product.media.mainImage !== null" inline-template>
                <img class="hidden" :src="product.media.mainImage.url" :data-src="product.media.mainImage.url" itemprop="image"/>
              </noscript>
              <div ref="mainImageBox1" v-if="product.media.mainImage !== null" class="mr-0 ml-2 lg:ml-0 lg:mr-10 h-full flex justify-center flex-1 overflow-hidden relative">
                <img
                  v-if="isShowMainImage"
                  @load="imageLoaded()"
                  v-lazy="product.media.mainImage.url"
                  :alt="product.name"
                  class="w-full h-full rounded transition duration-500 ease-in-out transform hover:scale-150"
                >

                <img v-if="!isShowMainImage" v-lazy="currentImageUrl" :alt="product.name" class="w-full h-full rounded transition duration-500 ease-in-out transform hover:scale-150">

                <div class="absolute right-0 top-0">
                  <div class="mt-2 mr-2">
                    <div class="flex items-center justify-end mt-2 lg:mt-0">
                      <div v-if="product.action" class="bg-red-600 bolder text-xs text-white py-1 px-2 rounded mt-1 mr-1 shadow w-16">
                        <div class="flex justify-center items-center">
                          <div class="w-6 h-6 ">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                            </svg>
                          </div>
                        </div>
                        <div class="text-center">
                          акция
                        </div>
                      </div>
                      <div v-if="product.new" class="bg-green-rf bolder text-xs text-white py-1 px-2 rounded mt-1 mr-1 shadow w-16">
                        <div class="flex justify-center items-center">
                          <div class="w-6 h-6 ">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
                            </svg>
                          </div>
                        </div>
                        <div class="text-center">
                          новинка
                        </div>
                      </div>
                      <div v-if="product.popular" class="bg-orange-400 bolder text-xs text-white py-1 px-2 rounded mt-1 mr-1 shadow w-16">
                        <div class="flex justify-center items-center">
                          <div class="w-6 h-6 ">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                            </svg>
                          </div>
                        </div>
                        <div class="text-center">
                          топ
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div ref="mainImageBox2" v-if="product.media.mainImage === null" class="pr-10 h-64 flex justify-center flex-1">
                <img v-if="isShowMainImage" src="~assets/img/nophoto.svg" class="w-full h-full filter-grayscale">
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/2">
            <div :class="product.brand ? 'justify-between': 'justify-end'" class="flex items-center mb-1">
              <div v-if="product.brand">
                <nuxt-link :to="/brands/+product.brand.slug" class="text-gray-700 text-sm bolder">
                  <span class="text-gray-500">Производитель:</span> {{ product.brand.name }}
                </nuxt-link>
              </div>
              <div>
                <client-only>
                  <star-rating :rating="4" :star-size="20" :show-rating="false" :read-only="true" active-color="#ECC94B" />
                </client-only>
              </div>
            </div>
            <div class="my-1 lg:my-3 bg-gray-200 rounded p-5">
              <div class="flex items-center justify-between flex-wrap ">
                <div class="w-full lg:w-auto" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <span class="hidden" itemprop="price">{{ product.priceWithDiscount !== null ? product.priceWithDiscount : product.price }}</span>
                  <span itemprop="priceCurrency" class="hidden">RUB</span>
                  <div class="text-4xl w-full lg:w-auto bolder flex items-center justify-center lg:justify-start text-gray-700">
                    <span class="text-gray-500 mr-2 text-3xl">Цена</span>
                    <span v-if="product.priceWithDiscount !== null" class="text-red-500">{{ product.priceWithDiscount | numFormat }}</span>
                    <span v-if="product.priceWithDiscount === null">{{ product.price | numFormat }}</span>
                    <span class="text-gray-500 ml-2 text-xl"><fa :icon="['fas', 'ruble-sign']" /></span>
                    <span v-if="!product.isWeightedGoods" class="ml-2 text-gray-500 text-base">за шт.</span>
                    <span v-if="product.isWeightedGoods" class="ml-2 text-gray-500 text-base">за {{ product.weight }} {{ product.measure }}</span>
                  </div>
                  <div v-if="product.priceWithDiscount !== null" class="flex items-center justify-center lg:justify-start text-gray-500 bolder w-full lg:w-auto">
                    <span>Старая цена:</span>
                    <span class="ml-2">{{ product.price | numFormat }}</span>
                    <span class="text-gray-500 ml-2"><fa :icon="['fas', 'ruble-sign']" /></span>
                  </div>
                </div>
                <div class="justify-center lg:justify-end w-full lg:w-auto mt-1 lg:mt-0 hidden lg:flex">
                  <button v-if="!checkInCart(product.id)" @click="addProductToCart(product)" class="rounded w-auto bg-gray-600 hover:bg-gray-500 shadow-lg flex py-3 px-10 items-center justify-center text-white focus:outline-none">
                    <fa :icon="['fas', 'plus']" />
                    <span class="ml-2 bolder">Положить в корзину</span>
                  </button>
                  <div v-if="checkInCart(product.id)" class="w-full animate__animated animate__bounceIn">
                    <div class="flex items-center justify-center lg:justify-end w-full">
                      <button v-on:click="changeItemCartQuantity('minus', product.id)" class="bg-gray-400 mr-2 text-white text-sm shadow-lg rounded-full w-6 h-6 focus:outline-none flex items-center justify-center">
                        <fa :icon="['fas', 'minus-circle']" />
                      </button>
                      <input v-if="!product.isWeightedGoods" :value="getCurrentProductQuantity(product.id)" type="number" disabled class="bolder py-3 shadow-lg bg-gray-200 w-1/2 text-center text-sm text-gray-600 rounded opacity-100">
                      <input v-if="product.isWeightedGoods" :value="getCurrentProductWeight(product.id)+' '+product.measure" type="text" disabled class="bolder py-3 shadow-lg bg-gray-200 w-1/2 text-center text-sm text-gray-600 rounded opacity-100">
                      <button v-on:click="changeItemCartQuantity('plus', product.id)" class="ml-2 text-white text-sm rounded-full shadow-lg w-6 h-6 bg-gray-400 focus:outline-none flex items-center justify-center">
                        <fa :icon="['fas', 'plus-circle']" />
                      </button>
                    </div>
                  </div>
                </div>

                <!-- <div v-if="product.tags !== null" class="flex items-start flex-wrap mt-5">
                  <span v-for="tag in product.tags" class="cursor-pointer rounded p-2 text-xs lg:text-sm text-gray-700 bg-gray-300 mr-1 mb-1 hover:bg-gray-400">
                    {{ tag.name.en }}
                  </span>
                </div> -->
              </div>
              <div class="text-xs lg:text-sm text-center lg:text-left my-2 text-gray-500">
                <span v-if="![23, 45, 24, 42].includes(product.shopId)">В наличии на складе РФ маркет</span>
                <span v-if="[23, 45, 24, 42].includes(product.shopId)">В наличии на складе поставщика</span>
              </div>
            </div>
            <div class="flex justify-center lg:justify-end w-full lg:w-auto my-1 lg:my-5">
              <nuxt-link :to="'/shops/'+product.shopId" class="animate__animated animate__bounceIn w-auto text-gray-700 py-1 rounded text-base bolder flex items-center">
                <span>Товар из магазина {{ product.shopName }}</span>
                <img v-lazy="product.shopImage" class="object-cover w-8 h-8 rounded ml-2">
              </nuxt-link>
            </div>
            <div v-if="product.vitamine !== null" class="my-3">
              <productVitamineDotsComponent :data="product.vitamine" />
            </div>
            <div v-if="product.attributes !== null" class="my-1">
              <h2 class="text-2xl text-gray-700 bolder my-1 lg:my-5">
                Характеристики товара
              </h2>
              <div v-for="(at, index) in product.attributes" v-bind:key="index" :class="index <= 4 || isShowAllOptions ? index % 2 === 1 ? 'bg-gray-100': 'bg-white' : 'hidden'" class="grid grid-cols-2 border-b py-2 px-2 hover:bg-gray-200 border-gray-100">
                <div :class="index === 4 && !isShowAllOptions ? 'text-opacity-25':''" class="text-gray-700">
                  {{ at.name }}
                </div>
                <div :class="index === 4 && !isShowAllOptions ? 'text-opacity-25':''" class="text-gray-600">
                  {{ at.value }}
                </div>
              </div>
              <div v-if="!isShowAllOptions && product.attributes.length > 4" class="py-2 px-2">
                <span v-on:click="showAllOptions" class="cursor-pointer text-blue-600 border-b border-dashed border-blue-600">показать все характеристики</span>
              </div>
              <div v-if="isShowAllOptions" class="py-2 px-2">
                <span v-on:click="hideAllOptions" class="cursor-pointer text-blue-600 border-b border-dashed border-blue-600">свернуть характеристики</span>
              </div>
            </div>
          </div>
        </div>
        <!-- <div>
          {{ product.vitamine }}
        </div> -->

        <div class="my-1">
          <h2 class="text-2xl text-gray-700 bolder my-1 lg:my-5">
            Описание товара
          </h2>
          <div class="text-gray-700" itemprop="description">
            {{ product.name }}. {{ product.description }}
          </div>
        </div>

        <div v-if="isProductInGroup" class="my-1 lg:my-10 rounded bg-gray-200 px-2 lg:px-10 py-3 lg:py-5">
          <div class="flex flex-wrap items-center justify-between">
            <h2 class="text-3xl lg:text-4xl text-gray-700 bolder my-1 lg:mb-5 leading-none">
              <span class="">Набор товаров "{{ productGroup.name }}"</span>
            </h2>
            <nuxt-link to="/recipes" class="text-blue-600 hidden lg:block bolder">
              Все наборы
            </nuxt-link>
          </div>

          <div class="flex flex-wrap items-center">
            <div class="w-full lg:w-8/12 flex flex-wrap overflow-hidden lg:-mx-2">
              <div v-for="item in productGroup.group.items.data" v-bind:key="item.id" class="w-1/2 overflow-hidden my-1 lg:my-2 px-1 lg:px-2 lg:w-1/5">
                <productCardComponent :isShowInCartBtn="false" :isForGroup="true" :product="item.product" />
              </div>
            </div>
            <div class="w-full lg:w-1/12 flex justify-center">
              <div class="w-20 h-20 rounded-full bg-gray-200 text-xl text-gray-500 flex items-center justify-center">
                <fa :icon="['fas', 'equals']" />
              </div>
            </div>
            <div class="w-full lg:w-3/12 flex justify-center text-center">
              <div>
                <div class="text-gray-500 bolder">
                  Стоимость за все указанные товары
                </div>
                <div>
                  <span class="text-red-500 text-5xl bolder">{{ productGroup.priceWithDiscount }}</span>
                  <span class="text-gray-500 ml-1 text-xl"><fa :icon="['fas', 'ruble-sign']" /></span>
                </div>

                <div class="mt-5">
                  <button v-if="!checkInCart(productGroup.id)" v-on:click="addProductToCart(productGroup)" title="Добавить в корзину" class="rounded w-full h-12 bg-gray-600 hover:bg-gray-500 shadow-lg flex items-center justify-center focus:outline-none">
                    <fa :icon="['fas', 'plus']" class="text-white" />
                    <span class="ml-2 bolder text-white text-base">Купить набор</span>
                  </button>
                  <span v-else class="bolder text-gray-700">Набор уже добавлен в Вашу корзину</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="viamins-wrapper" v-if="product.vitamine !== null" class="my-3 lg:my-10 bg-green-100 p-5 lg:p-10 rounded">
          <h2 class="text-2xl text-gray-700 bolder my-1 lg:mb-5">
            Полезные свойства
          </h2>
          <productVitamineUsefulOptionsComponent v-if="product.vitamine !== null" :data="product.vitamine" :productName="product.name" />
          <productVitamineNutritionalComponent v-if="product.vitamine !== null" :data="product.vitamine" :productName="product.name" />
        </div>

        <div class="my-3 lg:my-10">
          <h2 class="text-2xl text-gray-700 bolder my-1 lg:my-5">
            Отзывы покупателей
          </h2>
          <productReviewsComponent :productId="product.id" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import productReviewsComponent from '~/components/reviews/products/productReviewsComponent'
import productVitamineUsefulOptionsComponent from '~/components/products/productVitamineUsefulOptionsComponent'
import productVitamineNutritionalComponent from '~/components/products/productVitamineNutritionalComponent'
import productVitamineDotsComponent from '~/components/products/productVitamineDotsComponent'
import productCardComponent from '~/components/shops/productCardComponent'

export default {
  layout: 'mainPage',
  components: { productCardComponent, productReviewsComponent, productVitamineDotsComponent, productVitamineUsefulOptionsComponent, productVitamineNutritionalComponent },
  data: () => ({
    isShowMainImage: true,
    currentImageUrl: null,
    isShowAllOptions: false,
    isProductInGroup: false,
    productGroup: null,
    thumbsMaxHeight: '100px'
  }),
  asyncData ({ route, error }) {
    return axios.get(process.env.API_URL + `/api/product/info/` + route.params.pathMatch).then((res) => {
      return {
        product: res.data.data
      }
    }).catch((err) => {
      error({ statusCode: 404, message: err.message })
    })
  },
  head () {
    return {
      title: this.product.name + ' купить в интернет-магазине rf.market с быстрой доставкой от рф.маркет',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.getProductDesc() // this.product.name + 'оперативная доставка от rf.market, а так же гарантированный подарок от рф.маркет'
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://rf.market/products/' + this.product.url
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.product.name + ' купить в интернет-магазине rf.market с быстрой доставкой от рф.маркет'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.getProductDesc()
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: this.getProductImage()
        },
        {
          hid: 'og:image:alt',
          property: 'og:image:alt',
          content: this.product.name
        }
      ]
    }
  },
  auth: false,
  mounted () {
    this.getProductGroup()
    if (process.browser) {
      this.$gtag('event', 'page_view', {
        send_to: 'AW-603322409',
        ecomm_pagetype: 'product',
        ecomm_prodid: this.product.id
      })
      this.$nextTick(function () {
        this.onResize()
      })
      window.addEventListener('resize', this.onResize)
    }
  },
  methods: {
    getProductImage () {
      if (this.product.media.mainImage !== null) {
        return this.product.media.mainImage.url
      }
    },
    getProductDesc () {
      return this.kitcut(this.product.description, 156)
    },
    kitcut (text, limit) {
      text = text.trim()
      if (text.length <= limit) { return text }

      text = text.slice(0, limit)

      return text.trim() + '...'
    },
    onResize () {
      const height = this.$refs.mainImageBox1.clientHeight + 'px'
      this.thumbsMaxHeight = height
    },
    imageLoaded () {
      if (process.client) {
        if (typeof this.$refs.mainImageBox1 !== 'undefined') {
          const height = this.$refs.mainImageBox1.clientHeight + 'px'
          this.thumbsMaxHeight = height
        }
      }
    },
    // getMainImageBoxHeight () {

    // },
    getCurrentProductQuantity (id) {
      const CartProduct = this.$store.state.cart.items.find(prod => prod.product.id === id)
      return CartProduct.quantity
    },
    getCurrentProductWeight (id) {
      const CartProduct = this.$store.state.cart.items.find(prod => prod.product.id === id)
      return CartProduct.weight
    },
    changeItemCartQuantity (param, productId) {
      if (param === 'plus') {
        this.$store.dispatch('cart/plusOneItemOfProductInCart', productId).then(() => {
          this.$swal({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: 'Количество товаров позиции увеличено на один',
            timer: 3000,
            showConfirmButton: false
          })
        })
      } else {
        this.$store.dispatch('cart/minusOneItemOfProductInCart', productId).then(() => {
          this.$swal({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: 'Количество товаров позиции уменьшено на один',
            timer: 3000,
            showConfirmButton: false
          })
        })
      }
    },
    checkInCart (id) {
      if (this.$store.state.cart.items.filter(e => e.product.id === id).length > 0) {
        return true
      } else {
        return false
      }
    },
    showAllOptions () {
      this.isShowAllOptions = true
    },
    hideAllOptions () {
      this.isShowAllOptions = false
    },
    showProductImage (url) {
      this.currentImageUrl = url
      this.isShowMainImage = false
    },
    async addProductToCart (product) {
      this.$yandexMetrika.reachGoal('В корзину')
      // this.$store.dispatch('wait/start', 'adding to cart', { root: true })
      await this.$store.dispatch('cart/addProductToCart', product).then(() => {
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'success',
          title: 'Товар добавлен в корзину',
          timer: 5000,
          showConfirmButton: false
        })
      })
      // this.$store.dispatch('wait/end', 'adding to cart', { root: true })
    },
    async getProductGroup () {
      // get product group
      await this.$axios.$get('/api/product/' + this.product.id + '/group')
        .then((res) => {
          if (res.data !== null) {
            this.productGroup = res.data
            this.isProductInGroup = true
          }
        })
    }
  }
}
</script>
