<template>
  <div class="flex justify-center lg:pt-32">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <profileMenu active="products" />
      <div>
        <div class="flex flex-wrap md:flex-nowrap justify-between items-center my-5">
          <h1 class="text-2xl w-full lg:w-auto text-gray-700">
            <nuxt-link :to="'/profile'">
              <b>Профиль</b>
            </nuxt-link> /
            <nuxt-link :to="'/profile/products'">
              <b>Моя продукция</b>
            </nuxt-link> /
            <b class="text-gray-500">Создание товара</b>
          </h1>
        </div>
        <ValidationObserver ref="observerCreateProduct">
          <form @submit.prevent="submitCreateProductForm">
            <div class="create-item-block-wrapper border border-dashed p-5 rounded flex mb-5">
              <div class="w-16 hidden lg:block">
                <div class="bg-gray-200 text-gray-500 rounded-full w-10 h-10 flex items-center justify-center">
                  <b>1</b>
                </div>
              </div>
              <div class="w-full -mr-0 lg:-mr-16 pr-0 lg:pr-16">
                <div class="flex items-center">
                  <div class="flex-1">
                    <h3 class="text-xl bolder text-gray-700">
                      Основные данные товара
                    </h3>
                    <h4 class="text-gray-500 text-sm">
                      Название и описание (характеристики товара)
                    </h4>
                  </div>
                </div>

                <div class="my-5">
                  <div class="mb-2">
                    <ValidationProvider ref="observerCreateProductName" v-slot="{classes, errors}" name="Название товара" rules="required" class="w-full">
                      <label class="text-sm text-gray-500">Название товара</label>
                      <input v-model="productName" v-debounce:1000ms="showFindRelativeProducts" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите название товара">
                      <span class="text-sm text-red-400">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>

                  <div v-if="isShowFindRelativeProductsButton" class="mt-2">
                    <div class="p-5 rounded bg-green-100 text-sm border-l-2 text-gray-700 rounded-l-none border-green-400 flex-1">
                      <div>
                        <b>Мы можем попробовать найти создаваемый вами товар в нашем справочнике.</b><br>
                        Если вы хотите не заполнять все требуемые поля, а создать товар, на основе имеющегося у нас в базе, нажмите кнопку "Найти похожие товары" и выберите необходимый.
                      </div>
                      <div class="mt-3">
                        <button v-on:click="findRelativeProducts" class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white focus:outline-none w-full lg:w-auto" type="button">
                          Найти похожие товары
                        </button>
                      </div>
                    </div>
                  </div>

                  <v-wait for="loading available products">
                    <template slot="waiting">
                      <div class="flex items-center justify-center my-5">
                        <fulfilling-bouncing-circle-spinner
                          :animation-duration="2500"
                          :size="50"
                          color="#CBD5E0"
                        />
                        <div class="text-gray-500 ml-5">
                          подбираем похожие товары...
                        </div>
                      </div>
                    </template>

                    <div v-if="foundProducts.length > 0">
                      <div class="p-5 rounded bg-blue-100 text-sm my-3 border-l-2 text-gray-700 rounded-l-none border-blue-400">
                        Мы нашли {{ foundProducts.length +' '+declOfNum(foundProducts.length, ['товар', 'товара', 'товаров']) }} с похожим названием. Вы можете создать свой товар, на основе уже имеющегося в нашей базе. От вас потребуется лишь указать его стоимость.
                      </div>

                      <div class="h-64 overflow-y-scroll p-5 rounded border-2 border-dashed border-gray-200">
                        <div v-for="(product, index) in foundProducts" v-bind:key="product.id" :class="index % 2 === 1 ? 'bg-gray-200': 'bg-white'" class="text-sm py-2 hover:bg-green-100 flex">
                          <div>
                            <span @click="selectProductForCreateNew(product)" class="rounded bg-gray-500 hover:bg-gray-400 p-2 text-sm text-white focus:outline-none w-full cursor-pointer">
                              Выбрать
                            </span>
                          </div>
                          <div class="flex-1 pl-3">
                            {{ product.name }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div v-if="foundProducts.length === 0 && isShowFindRelativeProductsButton">
                      dfgdfgfd
                    </div> -->
                  </v-wait>

                  <div class="my-2">
                    <ValidationProvider ref="observerCreateProdcutDescription" v-slot="{classes, errors}" name="Подробное описание товара, его характеристики" class="w-full">
                      <label class="text-sm text-gray-500">Подробное описание товара, его характеристики</label>
                      <textarea v-model="productDescription" rows="5" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Подробное описание товара, его характеристики" />
                      <span class="text-sm text-red-400">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>

                  <div class="my-2">
                    <ValidationProvider ref="observerCreateProdcutBrand" v-slot="{classes, errors}" name="Производитель (брэнд)" class="w-full">
                      <label class="text-sm text-gray-500">Производитель (брэнд)</label>
                      <brand-autocomplete ref="brandAutocomplete" v-model="productBrand" />
                      <span class="text-sm text-red-400">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                </div>
              </div>
            </div>
            <div class="create-item-block-wrapper border border-dashed p-5 rounded flex mb-5">
              <div class="w-16 hidden lg:block">
                <div class="bg-gray-200 text-gray-500 rounded-full w-10 h-10 flex items-center justify-center">
                  <b>2</b>
                </div>
              </div>
              <div class="flex-1">
                <h3 class="text-xl bolder text-gray-700">
                  Классификация
                </h3>
                <h4 class="text-gray-500 text-sm">
                  Выберите категорию товара. Это поможет покупателям быстрее найти и приобрести его.
                </h4>
                <div class="my-5">
                  <ValidationProvider ref="observerCreateProductType" v-slot="{classes, errors}" name="Категорию товара" rules="required" class="w-full">
                    <treeselect
                      v-model="productType"
                      :multiple="false"
                      :disable-branch-nodes="true"
                      :options="categoriesList"
                      :alwaysOpen="false"
                      :appendToBody="true"
                      search-nested
                      placeholder="Укажите категорию товара..."
                      no-options-text="Варианты категорий не найдены"
                    >
                      <div slot="value-label" slot-scope="{ node }" class="text-gray-600 text-sm">
                        {{ node.raw.label }}
                      </div>
                      <label slot="option-label" slot-scope="{ node}" class="text-gray-600 text-sm">
                        {{ node.raw.label }}

                      </label>
                    </treeselect>
                    <span class="text-sm text-red-400">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
              </div>
            </div>

            <div class="create-item-block-wrapper border border-dashed p-5 rounded flex mb-5">
              <div class="w-16 hidden lg:block">
                <div class="bg-gray-200 text-gray-500 rounded-full w-10 h-10 flex items-center justify-center">
                  <b>3</b>
                </div>
              </div>
              <div class="flex-1">
                <h3 class="text-xl bolder text-gray-700">
                  Атрибуты товара
                </h3>
                <h4 class="text-gray-500 text-sm">
                  Выберите необходимй атрибут и установите его значение. Если атрибута нет в списке, вы можете создать его.
                </h4>
                <div class="my-5">
                  <v-wait for="loading product attributes">
                    <template slot="waiting">
                      <div class="flex items-center justify-center">
                        <fulfilling-bouncing-circle-spinner
                          :animation-duration="2500"
                          :size="70"
                          color="#CBD5E0"
                        />
                      </div>
                    </template>
                    <div>
                      <div class="p-5 rounded border-2 border-dashed border-gray-200">
                        <div class="flex items-center justify-between flex-wrap mb-2">
                          <h3 class="my-2 text-gray-600">
                            Справочник атрибутов
                          </h3>
                          <button v-on:click="openCreateNewAttributeWindow" class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white focus:outline-none w-full lg:w-auto" type="button">
                            Создать атрибут
                          </button>
                        </div>

                        <div v-if="$store.state.products.product.attributes.length === 0" class="p-5 rounded bg-green-100 text-sm my-3 border-l-2 text-gray-700 rounded-l-none border-green-400">
                          Выберите необходимый атрибут из справочника и нажмите на него, чтобы добавить к товару и указать значение.<br>
                          Если, вы не нашли требуемый вам атрибут, вы можете создать его, нажав кнопку "Создать атрибут". После нашей проверки, он отобразится в карточке товара и станет доступен в общем списке атрибутов при создании новых товаров.
                        </div>
                        <div class="flex flex-wrap items-center mb-3">
                          <div class="w-full">
                            <input v-debounce:500ms="searchAttribute" :value="searchByAttributeName" type="text" class="p-3 bg-blue-100 text-sm text-gray-600 rounded w-full" placeholder="Введите название атрибута для поиска..">
                          </div>
                          <!-- <div class="w-full lg:w-1/2 mt-2 lg:mt-0">
                            <label class="flex items-top justify-center lg:justify-start">
                              <input v-model="isShowFilledAttributes" type="checkbox" class="form-radio" name="showFilled">
                              <div class="ml-3 text-sm text-gray-500 leading-tight">
                                Показать заполненые атрибуты
                              </div>
                            </label>
                          </div> -->
                        </div>
                        <div class="h-64 overflow-y-scroll">
                          <div v-for="(attribute) in productAttributes" v-bind:key="attribute.id" v-on:click="addAttributeToProduct(attribute)" class="text-sm py-1 hover:bg-green-100 flex justify-between items-center border-b border-dashed cursor-pointer">
                            <div class="w-8 flex justify-center">
                              <span class="flex items-center justify-center bg-gray-400 w-4 h-4 text-xs rounded-full text-white">
                                <fa :icon="['fas', 'plus']" />
                              </span>
                            <!-- <input type="text" class="p-2 bg-gray-200 text-sm text-gray-600 rounded w-full" placeholder="Введите значение атрибута"> -->
                            </div>
                            <div class="flex-1 w-auto text-gray-600">
                              {{ attribute.name }}
                            </div>
                          </div>
                          <div v-if="productAttributes">
                            <div v-if="productAttributes.length === 0" class="my-3">
                              <div class="text-center">
                                С таким значением атрибут не найден. Хотите создать атрибут?
                              </div>
                              <div class="flex justify-center my-3">
                                <button v-on:click="openCreateNewAttributeWindow" class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white focus:outline-none w-full lg:w-auto" type="button">
                                  Создать атрибут
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="my-5">
                        <h3 class="text-gray-600">
                          К товару добавлено атрибутов: {{ $store.state.products.product.attributes.length }}
                        </h3>

                        <div v-if="$store.state.products.product.attributes.length > 0">
                          <div v-for="(attr, index) in $store.state.products.product.attributes" v-bind:key="index" class="flex items-center justify-between flex-wrap text-sm p-1 border-b border-dashed">
                            <div class="w-full lg:w-1/2 text-gray-600">
                              {{ attr.name }}
                            </div>
                            <div class="w-full lg:w-1/2 flex items-center">
                              <input :value="attr.value" @input="e => updateAttributeValue(index, e)" type="text" class="p-2 bg-gray-200 text-sm text-gray-600 rounded w-full flex-1" placeholder="Введите значение атрибута">
                              <button v-on:click="deleteProductAttribute(index)" type="button" class="ml-2 text-red-500 hover:text-red-500 focus:outline-none">
                                <fa :icon="['fas', 'times']" />
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </v-wait>
                </div>
              </div>
            </div>

            <div class="create-item-block-wrapper border border-dashed p-5 rounded flex mb-5">
              <div class="w-16 hidden lg:block">
                <div class="bg-gray-200 text-gray-500 rounded-full w-10 h-10 flex items-center justify-center">
                  <b>4</b>
                </div>
              </div>
              <div class="flex-1">
                <div class="flex items-start justify-between flex-wrap">
                  <div class="w-full lg:w-auto">
                    <h3 class="text-xl bolder text-gray-700">
                      Информация по калорийности
                    </h3>
                    <h4 class="text-gray-500 text-sm">
                      Химический состав и анализ питательной ценности продукта.<br>
                    </h4>
                  </div>
                  <div>
                    <div v-if="$store.state.products.product.vitamineId !== null" class="flex items-center justify-end">
                      <fa :icon="['fas', 'check-circle']" class="text-green-500" />
                      <span class="ml-2 text-sm text-gray-500">калорийность установлена</span>
                    </div>
                    <div v-if="$store.state.products.product.vitamineId === null" class="flex items-center justify-end">
                      <fa :icon="['fas', 'exclamation-triangle']" class="text-red-rf" />
                      <span class="ml-2 text-sm text-gray-500">калорийность не установлена</span>
                    </div>
                  </div>
                </div>
                <div>
                  <div v-if="isShowFindRelativeProductsButton" class="mt-2">
                    <div class="p-5 rounded bg-green-100 text-sm border-l-2 text-gray-700 rounded-l-none border-green-400 flex-1">
                      <div>
                        <b>Мы можем попробовать найти информацию по калорийности для создаваемого вами товара в нашем справочнике калорийности.</b><br>
                        Полученная информация автоматически прикрепится к создаваемому товару и будет отображена в его карточке.
                      </div>
                      <div class="mt-3 flex justify-between items-center flex-wrap">
                        <button v-on:click="findVitamineProducts" class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white focus:outline-none w-full lg:w-auto" type="button">
                          Найти товар по названию
                        </button>
                        <div class="mx-5 w-full lg:w-auto text-center lg:text-left my-3 lg:my-0">
                          либо попробуйте вручную
                        </div>
                        <div class="flex items-center justify-start flex-1">
                          <input v-model="manualVitamineName" type="text" class="p-2 bg-gray-200 text-sm text-gray-600 rounded w-full border border-green-100 rounded-r-none w-1/2" placeholder="Введите название">
                          <button v-on:click="findVitamineProductsManual" class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white rounded-l-none focus:outline-none w-full lg:w-1/2" type="button">
                            Ручной поиск
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div v-if="!isShowFindRelativeProductsButton" class="p-5 rounded bg-blue-100 text-sm border-l-2 text-gray-700 rounded-l-none border-blue-400 flex-1 mt-2">
                    Чтобы указать калорийность товара, начните заполнять поле "Наименование товара", расположенное выше.
                  </div>
                  <v-wait for="loading vitamine products">
                    <template slot="waiting">
                      <div class="flex items-center justify-center my-5">
                        <fulfilling-bouncing-circle-spinner
                          :animation-duration="2500"
                          :size="50"
                          color="#CBD5E0"
                        />
                        <div class="text-gray-500 ml-5">
                          подбираем данные по товару...
                        </div>
                      </div>
                    </template>

                    <div v-if="vitamineProducts.length > 0">
                      <div class="p-5 rounded bg-blue-100 text-sm my-3 border-l-2 text-gray-700 rounded-l-none border-blue-400">
                        Мы нашли {{ vitamineProducts.length +' '+declOfNum(vitamineProducts.length, ['соответствие', 'соответствия', 'соответствий']) }} с создаваемым товаром. Выберите необходимый товар для прикрепления информации о калорийности.
                      </div>

                      <div class="h-64 overflow-y-scroll p-5 rounded border-2 border-dashed border-gray-200">
                        <div v-for="(vitamine, index) in vitamineProducts" v-bind:key="vitamine.id" :class="$store.state.products.product.vitamineId === vitamine.id ? 'bg-green-200' : index % 2 === 1 ? 'bg-gray-200': 'bg-white'" class="text-sm py-2 hover:bg-green-100 flex">
                          <div class="flex items-center justify-start">
                            <span v-on:click="selectVitamineInfo(vitamine, index)" :class="$store.state.products.product.vitamineId === vitamine.id ? 'bg-green-600' : 'bg-gray-300 hover:bg-gray-400'" class="cursor-pointer ml-2 text-white text-sm rounded-full w-6 h-6 focus:outline-none flex items-center justify-center">
                              <fa :icon="['fas', 'check-circle']" />
                            </span>
                            <span v-on:click="showVitamineInfo(vitamine)" class="cursor-pointer ml-2 text-white text-sm rounded-full w-6 h-6 bg-blue-600 focus:outline-none flex items-center justify-center">
                              <fa :icon="['fas', 'info-circle']" />
                            </span>
                          </div>
                          <div class="flex-1 pl-3">
                            {{ vitamine.name }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </v-wait>
                </div>
              </div>
            </div>

            <div class="create-item-block-wrapper border border-dashed p-5 rounded flex mb-5">
              <div class="w-16 hidden lg:block">
                <div class="bg-gray-200 text-gray-500 rounded-full w-10 h-10 flex items-center justify-center">
                  <b>5</b>
                </div>
              </div>
              <div class="flex-1">
                <div class="flex items-start justify-between flex-wrap">
                  <div class="w-full lg:w-auto">
                    <h3 class="text-xl bolder text-gray-700">
                      Ценовая политика и настройки товара
                    </h3>
                    <h4 class="text-gray-500 text-sm">
                      Определитесь с ценой и статусом создаваемого товара.<br>
                      <!-- <span class="text-red-500 text-sm">Внимание! Опция валюта в текущий момент жестко установлена на формат Российский рубль.</span> -->
                    </h4>
                  </div>
                  <div class="w-full lg:w-auto">
                    <div class="text-right text-gray-500 bolder">
                      Стоимость для покупателей:
                    </div>
                    <div class="flex justify-end">
                      <animated-number
                        :value="productPrice"
                        :formatValue="formatToPrice"
                        :duration="500"
                        class="text-3xl text-right"
                        style="font-weight: bolder;"
                      />
                    </div>
                  </div>
                </div>
                <div class="flex items-start flex-wrap">
                  <div class="w-full lg:w-1/3 pt-5">
                    <label class="flex items-start justify-start">
                      <input v-model="isWeightedGoods" type="radio" class="form-radio mt-1" value="0" name="isWeightedGoods">
                      <div class="ml-3 text-sm text-gray-700 leading-tight">
                        Штучный товар<br>
                        <span class="text-sm text-gray-500">Фиксированная цена за единицу товара.</span>
                      </div>
                    </label>
                  </div>
                  <div class="w-full lg:w-1/3 pt-5">
                    <label class="flex items-top justify-start">
                      <input v-model="isWeightedGoods" type="radio" class="form-radio mt-1" value="1" name="isWeightedGoods">
                      <div class="ml-3 text-sm text-gray-700 leading-tight">
                        Весовой товар<br>
                        <span class="text-sm text-gray-500">В случае, если указан этот признак, для покупателей произойдет автоматическая надбавка 5%.</span>
                      </div>
                    </label>
                  </div>
                  <div class="w-full lg:w-1/3 pt-5">
                    <label class="flex items-top justify-start">
                      <input
                        v-model="isWeightedGoods"
                        disabled
                        type="radio"
                        class="form-radio mt-1"
                        value="2"
                        name="isWeightedGoods"
                      >
                      <div class="ml-3 text-sm text-gray-700 leading-tight">
                        Штучный товар с модификациями<br>
                        <span class="text-sm text-gray-500">В случае, если товар имеет модификации, но при этом цена для них одинакова.</span>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="my-5 flex flex-wrap justify-start items-top">
                  <ValidationProvider ref="observerCreateProductPrice" v-slot="{classes, errors}" name="Стоимость товара" rules="required" class="w-full lg:w-1/4 pr-0 lg:pr-2 pb-2 lg:pb-0">
                    <label class="text-sm text-gray-500">Стоимость товара</label>
                    <input v-model="productPrice" type="number" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Укажите стоимость товара">
                    <span class="text-sm text-red-400">{{ errors[0] }}</span>
                  </ValidationProvider>
                  <div class="w-full lg:w-3/4">
                    <div v-if="isWeightedGoods === '1'" class="animate__animated animate__bounceIn flex items-start flex-wrap">
                      <div class="w-full lg:w-1/3 pr-0 lg:pr-2 pb-2 lg:pb-0">
                        <label class="text-sm text-gray-500">Минимальная развесовка</label>
                        <input v-model="productWeight" type="number" step="0.01" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Укажите минимальную развесовку">
                      </div>
                      <div class="w-full lg:w-1/3 pr-0 lg:pr-2 pb-2 lg:pb-0">
                        <label class="text-sm text-gray-500">Единица измерения</label>
                        <select v-model="productMeasure" placeholder="Укажите единицу измерения" class="form-select form-select-with-height-as-input block w-full mr-5 bg-gray-200 text-sm border border-gray-200 text-gray-600 rounded p-3">
                          <option value="г">
                            грамм
                          </option>
                          <option value="кг">
                            килограмм
                          </option>
                        </select>
                      </div>
                      <div class="w-full lg:w-1/3 pb-2 lg:pb-0">
                        <label class="text-sm text-gray-500">Шаг навески в корзине, в граммах</label>
                        <div class="px-4">
                          <vue-slider
                            :tooltip="'always'"
                            :tooltip-placement="['bottom', 'bottom']"
                            :data="productWeightStepData"
                            :marks="true"
                            v-model="productWeightStep"
                            v-if="productMeasure === 'г'"
                          />
                          <vue-slider
                            :tooltip="'always'"
                            :tooltip-placement="['bottom', 'bottom']"
                            :data="productWeightStepData2"
                            :marks="true"
                            v-model="productWeightStep"
                            v-if="productMeasure === 'кг'"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="my-5 flex flex-wrap justify-start items-top">
                  <ValidationProvider ref="observerCreateProductPrice" v-slot="{classes, errors}" name="Себестоимость товара" class="w-full lg:w-1/4 pr-0 lg:pr-2 pb-2 lg:pb-0">
                    <label class="text-sm text-gray-500">Себестоимость товара</label>
                    <input v-model="costPrice" type="number" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Укажите себестоимость товара">
                    <span class="text-sm text-red-400">{{ errors[0] }}</span>
                  </ValidationProvider>
                  <div class="w-full lg:w-1/4 pr-0 lg:pr-2 pb-2 lg:pb-0">
                    <label class="text-sm text-gray-500">Плановая цена закупки</label>
                    <input v-model="productPurchasePricePlan" type="number" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Укажите плановую цену">
                  </div>
                  <div class="w-full lg:w-1/4 pr-0 lg:pr-2 pb-2 lg:pb-0">
                    <label class="text-sm text-gray-500">Фактическая цена закупки</label>
                    <input v-model="productPurchasePriceFact" type="number" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Укажите фактическую цену">
                  </div>
                  <div class="w-full lg:w-1/4 pb-2 lg:pb-0">
                    <label class="text-sm text-gray-500">Стоимость прошлой закупки</label>
                    <input v-model="productPurchasePriceLast" type="number" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Укажите прошлую цену">
                  </div>
                </div>
                <div class="my-5 flex flex-wrap justify-start items-top bg-gray-100 p-2 rounded rounded-r-none border-r-2 border-red-400">
                  <div class="w-full lg:w-1/2 pt-5">
                    <label class="flex items-start justify-start">
                      <input v-model="isAction" type="checkbox" class="form-radio mt-1" value="0" name="isAction">
                      <div class="ml-3 text-sm text-gray-700 leading-tight">
                        Акционный товар<br>
                        <span class="text-sm text-gray-500">Будет установлена акционная цена и флажок акции</span>
                        <span class="bg-red-600 bolder text-xs text-white py-1 px-2 rounded mt-1 mr-1">
                          акция
                        </span>
                      </div>
                    </label>
                  </div>
                  <div v-if="isAction" class="w-full lg:w-1/4 pr-0 lg:pr-2 pb-2 lg:pb-0 animate__animated animate__bounceIn">
                    <label class="text-sm text-gray-500">Акционная стоимость</label>
                    <input v-model="priceWithDiscount" type="number" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Укажите акционную цену">
                  </div>
                </div>
                <div class="my-5 flex flex-wrap justify-start items-top">
                  <div class="w-full lg:w-1/3 pt-5">
                    <label class="flex items-start justify-start">
                      <input v-model="isNew" type="checkbox" class="form-radio mt-1" value="0" name="isNew">
                      <div class="ml-3 text-sm text-gray-700 leading-tight">
                        Новинка<br>
                        <span class="text-sm text-gray-500">Будет установлен флажок новинка</span>
                        <span class="bg-green-rf bolder text-xs text-white py-1 px-2 rounded mt-1 mr-1">
                          новинка
                        </span>
                      </div>
                    </label>
                  </div>
                  <div class="w-full lg:w-1/3 pt-5">
                    <label class="flex items-start justify-start">
                      <input v-model="isPopular" type="checkbox" class="form-radio mt-1" value="0" name="isPopular">
                      <div class="ml-3 text-sm text-gray-700 leading-tight">
                        Популярный (ТОП)<br>
                        <span class="text-sm text-gray-500">Будет установлен флажок ТОП</span>
                        <span class="bg-orange-400 bolder text-xs text-white py-1 px-2 rounded mt-1 mr-1">
                          топ
                        </span>
                      </div>
                    </label>
                  </div>
                  <div class="w-full lg:w-1/3 pt-5">
                    <label class="flex items-start justify-start">
                      <input v-model="isHalyal" type="checkbox" class="form-radio mt-1" value="0" name="isHalyal">
                      <div class="ml-3 text-sm text-gray-700 leading-tight">
                        Халяль<br>
                        <span class="text-sm text-gray-500">Будет установлен флажок Халяль</span>
                        <span class="bg-green-400 bolder text-xs text-white py-1 px-2 rounded mt-1 mr-1">
                          халяль
                        </span>
                      </div>
                    </label>
                  </div>
                </div>

                <div class="new-prices-fields-wrapper flex flex-wrap items-top my-5">
                  <div class="w-full lg:w-1/3 pr-0 lg:pr-2 pb-2 lg:pb-0">
                    <label class="text-sm text-gray-500">Минимальный квант закупки</label>
                    <input v-model="productPurchaseQuant" type="number" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Укажите минимальный квант">
                  </div>
                  <div class="w-full lg:w-1/3 pr-0 lg:pr-2 pb-2 lg:pb-0">
                    <label class="text-sm text-gray-500">Единица измерения кванта закупки</label>
                    <select v-model="productPurchaseQuantMeasure" placeholder="Укажите единицу измерения" class="form-select form-select-with-height-as-input block w-full mr-5 bg-gray-200 text-sm border border-gray-200 text-gray-600 rounded p-3">
                      <option value="г">
                        грамм
                      </option>
                      <option value="кг">
                        килограмм
                      </option>
                    </select>
                  </div>
                  <div class="w-full lg:w-1/3 pr-0 lg:pr-2 pb-2 lg:pb-0">
                    <label class="text-sm text-gray-500">Цена оптовой продажи</label>
                    <input v-model="productOptPrice" type="number" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Укажите цену оптовой продажи">
                  </div>
                </div>

                <div class="new-prices-fields-wrapper flex flex-wrap items-top my-5">
                  <div class="w-full lg:w-1/3 pr-0 lg:pr-2 pb-2 lg:pb-0">
                    <label class="text-sm text-gray-500">Затраты на упаковку 0.5 кг</label>
                    <input v-model="productPackPrice1" type="number" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Укажите затраты на упаковку 0.5">
                  </div>
                  <div class="w-full lg:w-1/3 pr-0 lg:pr-2 pb-2 lg:pb-0">
                    <label class="text-sm text-gray-500">Затраты на упаковку 1 кг</label>
                    <input v-model="productPackPrice2" type="number" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Укажите затраты на упаковку 1">
                  </div>
                  <div class="w-full lg:w-1/3 pr-0 lg:pr-2 pb-2 lg:pb-0">
                    <label class="text-sm text-gray-500">Прочие затраты</label>
                    <input v-model="productOtherPrice" type="number" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Укажите прочие затраты">
                  </div>
                </div>
                <pricesMonitoringComponent :pricesMonitoringList="$store.state.products.product.monitoringPrices" class="bg-gray-100 p-2 rounded mt-10" />
                <div class="my-5 flex flex-wrap justify-start items-top">
                  <!-- <ValidationProvider ref="observerCreateProductCurrency" v-slot="{classes, errors}" name="Валюта" rules="required" class="w-full lg:w-1/4 pr-0 lg:pr-2 pb-2 lg:pb-0">
                    <label class="text-sm text-gray-500">Валюта</label>
                    <select v-model="productCurrency" placeholder="Укажите валюту товара" disabled class="form-select form-select-with-height-as-input block w-full mr-5 bg-gray-200 text-sm border border-gray-200 text-gray-600 rounded p-3">
                      <option value="RUB">
                        рублей
                      </option>
                      <option value="USD">
                        долларов
                      </option>
                      <option value="EUR">
                        евро
                      </option>
                    </select>
                    <span class="text-sm text-red-400">{{ errors[0] }}</span>
                  </ValidationProvider> -->

                  <ValidationProvider ref="observerCreateProductStatus" v-slot="{classes, errors}" name="Статус создаваемого товара" rules="required" class="w-full lg:w-1/4 pr-0 lg:pr-2">
                    <label class="text-sm text-gray-500">Статус</label>
                    <select v-model="productStatus" placeholder="Укажите статус товара" class="form-select form-select-with-height-as-input block w-full mr-5 bg-gray-200 text-sm border border-gray-200 text-gray-600 rounded p-3">
                      <option value="Active">
                        опубликовать
                      </option>
                      <option value="Draft">
                        черновик
                      </option>
                    </select>
                    <span class="text-sm text-red-400">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>
              </div>
            </div>
            <div class="create-item-block-wrapper border border-dashed p-5 rounded flex mb-5">
              <div class="w-16 hidden lg:block">
                <div class="bg-gray-200 text-gray-500 rounded-full w-10 h-10 flex items-center justify-center">
                  <b>6</b>
                </div>
              </div>
              <div class="flex-1">
                <h3 class="text-xl bolder text-gray-700">
                  Галерея фотографий товара
                </h3>
                <h4 class="text-gray-500 text-sm">
                  Вы можете загрузить как одну, так и несколько фотографий. Покупатели лучше заказывают товары, у которых есть фотографии.
                </h4>
                <div v-if="$store.state.products.product.dictionaryId !== null && originalMedia !== null" class="my-3">
                  <div class="p-5 rounded bg-blue-100 text-sm my-3 border-l-2 rounded-l-none border-blue-400 text-gray-700">
                    Укажите какие изображения товара, на основе которого создаете новый товар, вы хотите прикрепить к создаваемому. В будущем, при редактировании, эти изображения можно будет удалить. Также вы можете загрузить свои изображения товара.
                  </div>
                  <div class="flex items-center justify-start flex-wrap">
                    <div v-for="galleryItem in originalMedia" v-bind:key="galleryItem.id" class="relative mr-2 mb-2">
                      <img :src="galleryItem.url" class="object-cover h-20 w-20 rounded">
                      <div class="absolute top-0 right-0 -mt-2 -mr-1 rounded-full w-4 h-4 bg-white flex items-center justify-center">
                        <input v-model="productOriginalMedia" :value="galleryItem.id" type="checkbox" class="form-radio mt-1">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="my-5 relative">
                  <div v-if="$store.state.products.product.id === null" class="absolute text-sm text-center bg-gray-200 w-full h-full px-5 rounded z-30 flex items-center justify-center text-red-500">
                    Чтобы загружать фото, начните заполнять поле "Наименование товара", расположенное выше
                  </div>
                  <dropzone
                    id="dropzone"
                    ref="createProductDropzone"
                    v-on:vdropzone-complete="updateUploadedImages"
                    v-on:vdropzone-queue-complete="queueCompleted"
                    v-on:vdropzone-sending="dropzoneSendingEvent"
                    @vdropzone-success="vdropzoneSuccess"
                    :options="dropzoneOptions"
                  />
                </div>
                <!-- <div>
                  <input type="file" accept="image/*" capture="camera">
                </div> -->
                <div v-if="$store.state.products.product.media.gallery !== null" class="my-5">
                  <h3>Уже загруженые вами изображения:</h3>
                  <v-wait for="load uploaded images">
                    <template slot="waiting">
                      <div class="flex items-center justify-center">
                        <fulfilling-bouncing-circle-spinner
                          :animation-duration="2500"
                          :size="30"
                          color="#CBD5E0"
                        />
                      </div>
                    </template>
                    <div class="flex items-center justify-start flex-wrap">
                      <div v-for="galleryItem in $store.state.products.product.media.gallery" v-bind:key="galleryItem.id" class="relative mr-2 mb-2">
                        <img :src="galleryItem.url" class="object-cover h-20 w-20 rounded">
                        <div class="absolute top-0 right-0 -mt-2 -mr-1">
                          <button v-on:click="deleteGalleryImage(galleryItem.id)" type="button">
                            <fa :icon="['fas', 'times']" class="fill-current w-4 h-4 text-red-500" />
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="bg-blue-100 p-3 rounded text-sm">
                      Первая фотография будет заглавной и основной для создаваемого товара
                    </div>
                  </v-wait>
                </div>
              </div>
            </div>

            <div class="create-item-block-wrapper border border-dashed p-5 rounded flex mb-5">
              <div class="w-16 hidden lg:block">
                <div class="bg-gray-200 text-gray-500 rounded-full w-10 h-10 flex items-center justify-center">
                  <b>7</b>
                </div>
              </div>
              <div class="flex-1">
                <h3 class="text-xl bolder text-gray-700">
                  Видео презентация товара
                </h3>
                <h4 class="text-gray-500 text-sm">
                  Вы можете загрузить как один, так и несколько файлов видео. Покупатели лучше заказывают товары, у которых есть видео презентация.
                </h4>
                <div class="my-5 relative">
                  <div v-if="$store.state.products.product.id === null" class="absolute text-sm text-center bg-gray-200 w-full h-full px-5 rounded z-30 flex items-center justify-center text-red-500">
                    Чтобы загружать видео, начните заполнять поле "Наименование товара", расположенное выше
                  </div>
                  <dropzone
                    id="dropzoneForVideo"
                    ref="createProductVideoDropzone"
                    v-on:vdropzone-complete="updateUploadedVideo"
                    v-on:vdropzone-queue-complete="queueVideoUploadCompleted"
                    v-on:vdropzone-sending="dropzoneSendingEvent"
                    :options="dropzoneVideoOptions"
                  />
                </div>
                <div v-if="$store.state.products.product.media.video !== null" class="my-5">
                  <h3>Уже загруженые вами видео презентации:</h3>
                  <v-wait for="load uploaded video">
                    <template slot="waiting">
                      <div class="flex items-center justify-center">
                        <fulfilling-bouncing-circle-spinner
                          :animation-duration="2500"
                          :size="30"
                          color="#CBD5E0"
                        />
                      </div>
                    </template>
                    <div class="flex items-center justify-start flex-wrap">
                      <div v-for="videoItem in $store.state.products.product.media.video" v-bind:key="videoItem.id" class="relative mr-2 mb-2">
                        <!-- <img :src="galleryItem.url" class="object-cover h-20 w-20 rounded"> -->
                        <video :src="videoItem.url" autoplay muted class="object-cover h-20 w-20 rounded" />
                        <div class="absolute top-0 right-0 -mt-2 -mr-1">
                          <button v-on:click="deleteGalleryImage(videoItem.id)" type="button">
                            <fa :icon="['fas', 'times']" class="fill-current w-4 h-4 text-red-500" />
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="bg-blue-100 p-3 rounded text-sm">
                      Первая фотография будет заглавной и основной для создаваемого товара
                    </div>
                  </v-wait>
                </div>
              </div>
            </div>

            <div class="sticky bottom-0 left-0 py-5 px-5 bg-gray-200 border-t flex flex-wrap justify-between items-center z-30">
              <v-wait for="store full product" class="w-full lg:w-auto">
                <template slot="waiting">
                  <div class="flex items-center justify-center">
                    <fulfilling-bouncing-circle-spinner
                      :animation-duration="2500"
                      :size="30"
                      color="#CBD5E0"
                    />
                  </div>
                </template>
                <div class="flex items-center justify-start flex-wrap">
                  <button v-if="isShowCreateProductButton" class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white focus:outline-none w-full lg:w-auto" type="submit">
                    Создать товар
                  </button>
                  <button v-if="$store.state.products.product.lastUpdatedAt !== null" v-on:click="goToDrafts" class="ml-0 lg:ml-5 rounded bg-gray-500 hover:bg-gray-400 py-2 px-10 text-white text-sm focus:outline-none w-full lg:w-auto mt-2 lg:mt-0" type="button">
                    Сохранить в черновиках
                  </button>
                </div>
              </v-wait>

              <div class="text-xs text-gray-500 w-full lg:w-auto pt-3 lg:pt-0">
                <v-wait for="store tmp product">
                  <template slot="waiting">
                    <div class="flex items-center justify-center">
                      <fulfilling-bouncing-circle-spinner
                        :animation-duration="2500"
                        :size="30"
                        color="#CBD5E0"
                      />
                    </div>
                  </template>
                  <div v-if="$store.state.products.product.lastUpdatedAt !== null" class="flex items-center justify-center lg:justify-end">
                    <fa :icon="['fas', 'check-circle']" class="fill-current w-4 h-4 mr-1 text-green-300" />
                    <span>последнее сохранение: {{ $moment($store.state.products.product.lastUpdatedAt).format("DD-MM-YYYY HH:mm:ss") }}</span>
                  </div>
                </v-wait>
              </div>
            </div>
          </form>
        </ValidationObserver>
      </div>
    </div>
    <client-only>
      <modal
        :adaptive="true"
        :clickToClose="false"
        :maxWidth="1000"
        :scrollable="true"
        height="auto"
        name="create-attribute-modal"
      >
        <div class="py-5 px-5">
          <div class="flex items-center justify-between">
            <h3 class="text-2xl bolder text-gray-700">
              Создание нового атрибута
            </h3>
            <button v-on:click="closeCreateAttributeModal" class="text-sm text-gray-600 focus:outline-none">
              <fa :icon="['fas', 'times-circle']" class="fill-current w-4 h-4" />
            </button>
          </div>
          <ValidationObserver ref="observerCreateAttribute">
            <form @submit.prevent="createNewAttribute">
              <ValidationProvider ref="observerCreateAttributeName" v-slot="{classes, errors}" name="Название атрибута" rules="required" class="w-full">
                <label class="text-sm text-gray-500">Название атрибута</label>
                <input v-model="attributeName" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите название атрибута">
                <span class="text-sm text-red-400">{{ errors[0] }}</span>
              </ValidationProvider>

              <div class="my-3">
                <button class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white focus:outline-none w-full lg:w-auto" type="submit">
                  Создать новый атрибут
                </button>
              </div>
            </form>
          </ValidationObserver>
        </div>
      </modal>
      <modal
        :adaptive="true"
        :clickToClose="false"
        :maxWidth="1000"
        :scrollable="true"
        height="auto"
        name="perform-photo-modal"
      >
        <div class="py-5 px-5">
          <div class="flex items-center justify-between">
            <h3 class="text-2xl text-gray-700 bolder">
              <b>Подготовка изображения</b>
            </h3>
          </div>

          <div class="p-5 rounded bg-blue-100 text-sm my-3 border-l-2 rounded-l-none border-blue-400">
            Укажите границы изображения для обрезки, после чего нажмите кнопку "Обрезать изображение".
          </div>

          <div id="cropper-wrapper">
          <!-- <vue-cropper
            ref="cropper"
            :src="cropperSrc"
            class="rounded"
          /> -->
          </div>
          <div class="flex flex-wrap justify-between items-center my-5">
            <button id="cropImageBtn" v-on:click="closePerformPhotoModal" class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white focus:outline-none w-full lg:w-auto" type="button">
              Обрезать изображение
            </button>
            <button class="rounded bg-gray-300 text-center w-full mt-2 lg:mt-0 lg:w-auto text-sm hover:bg-gray-400 py-2 px-10 text-gray-500 focus:outline-none" type="button">
              Загрузить исходное без обрезки
            </button>
          </div>
        </div>
      </modal>
      <modal
        :adaptive="true"
        :clickToClose="false"
        :maxWidth="1000"
        :minWidth="1000"
        :scrollable="true"
        height="auto"
        name="vitamine-info-modal"
      >
        <div v-if="previewedVitamine !== null" class="py-5 px-5">
          <div class="flex items-center justify-between">
            <h3 class="text-2xl bolder text-gray-700">
              Информация по калорийности: {{ previewedVitamine.name }}
            </h3>
            <button v-on:click="closeVitamineInfoModal" class="text-sm text-gray-600 focus:outline-none">
              <fa :icon="['fas', 'times-circle']" class="fill-current w-4 h-4" />
            </button>
          </div>
          <div>
            {{ previewedVitamine }}
          </div>
        </div>
      </modal>
    </client-only>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate'
import { required, regex } from 'vee-validate/dist/rules'
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import Treeselect from '@riophae/vue-treeselect'
import Dropzone from 'nuxt-dropzone'
// import VueCropper from 'vue-cropperjs'
import Cropper from 'cropperjs'
import AnimatedNumber from 'animated-number-vue'
import VueSlider from 'vue-slider-component/dist-css/vue-slider-component.umd.min.js'
import 'vue-slider-component/dist-css/vue-slider-component.css'
import profileMenu from '~/components/helpers/profileMenu'
import brandAutocomplete from '~/components/helpers/brandAutocomplete'
import pricesMonitoringComponent from '~/components/products/pricesMonitoringComponent'

import 'nuxt-dropzone/dropzone.css'
import 'cropperjs/dist/cropper.css'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
import 'vue-slider-component/theme/default.css'

extend('required', {
  ...required,
  message: 'Вам необходимо указать {_field_}'
})

extend('regex', {
  ...regex,
  message: '{_field_} должно быть числом либо числом с точкой'
})

export default {
  layout: 'mainPage',
  components: { profileMenu, ValidationObserver, ValidationProvider, VueSlider, FulfillingBouncingCircleSpinner, Dropzone, brandAutocomplete, Treeselect, AnimatedNumber, pricesMonitoringComponent },
  data () {
    return {
      productWeightStepData: [50, 100, 500, 1000],
      productWeightStepData2: [0.1, 0.5],
      cropperSrc: '',
      attributeName: '',
      isShowFindRelativeProductsButton: false,
      categoriesList: [],
      dropzoneOptions: {
        url: process.env.API_URL + '/api/media/upload',
        thumbnailWidth: 100,
        thumbnailHeight: 100,
        maxFilesize: 100,
        // capture: 'camera',
        acceptedFiles: 'image/*',
        headers: {
          Authorization: this.$auth.getToken('local')
        },
        dictDefaultMessage: '<span>Для загрузки кликните либо перетащите фото сюда..</span><br><span class="text-xs">Разрешенные для загрузки форматы: jpeg, jpg, png</span>'
        // transformFile (file, done) {
        //   const editor = document.createElement('div')
        //   editor.style.position = 'fixed'
        //   editor.style.left = 0
        //   editor.style.right = 0
        //   editor.style.top = 0
        //   editor.style.bottom = 0
        //   editor.style.zIndex = 9999
        //   editor.style.backgroundColor = '#000'
        //   document.body.appendChild(editor)
        //   // Create confirm button at the top left of the viewport
        //   const buttonConfirm = document.createElement('button')
        //   buttonConfirm.style.position = 'absolute'
        //   buttonConfirm.style.left = '10px'
        //   buttonConfirm.style.top = '10px'
        //   buttonConfirm.style.zIndex = 9999
        //   buttonConfirm.textContent = 'Подтвердить'
        //   buttonConfirm.class = 'rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-10 text-white focus:outline-none w-full lg:w-auto'
        //   editor.appendChild(buttonConfirm)
        //   buttonConfirm.addEventListener('click', function () {
        //   // Remove the editor from the view
        //     document.body.removeChild(editor)

        //     const canvas = cropper.getCroppedCanvas({
        //       width: 500,
        //       height: 500
        //     })
        //     // Turn the canvas into a Blob (file object without a name)
        //     canvas.toBlob(function (blob) {
        //       done(blob)
        //     })
        //   })
        //   // Create an image node for Cropper.js
        //   const image = new Image()
        //   image.src = URL.createObjectURL(file)
        //   editor.appendChild(image)

        //   // Create Cropper.js
        //   const cropper = new Cropper(image, { aspectRatio: 1 })

        //   console.log(this)
        // }

      },
      dropzoneVideoOptions: {
        url: process.env.API_URL + '/api/media/uploadVideo',
        thumbnailWidth: 100,
        maxFilesize: 100,
        capture: 'camera',
        acceptedFiles: 'video/mp4,video/x-m4v,video/*',
        headers: {
          Authorization: this.$auth.getToken('local')
        },
        dictDefaultMessage: '<span>Для загрузки кликните либо перетащите видео файл сюда..</span>'
      },
      isShowCreateProductButton: true,
      interval: null,
      foundProducts: [],
      isShowFilledAttributes: false,
      blob: null,
      originalMedia: null,
      vitamineProducts: [],
      previewedVitamine: null,
      manualVitamineName: ''
    }
  },

  computed: {
    productName: {
      get () {
        return this.$store.state.products.product.name
      },
      set (value) {
        this.$store.commit('products/setProductName', value)
      }
    },
    productDescription: {
      get () {
        return this.$store.state.products.product.description
      },
      set (value) {
        this.$store.commit('products/setProductDescription', value)
      }
    },
    productPrice: {
      get () {
        return this.$store.state.products.product.price
      },
      set (value) {
        this.$store.commit('products/setProductPrice', value)
      }
    },
    costPrice: {
      get () {
        return this.$store.state.products.product.costPrice
      },
      set (value) {
        this.$store.commit('products/setProductCostPrice', value)
      }
    },
    productPurchasePricePlan: {
      get () {
        return this.$store.state.products.product.purchasePricePlan
      },
      set (value) {
        this.$store.commit('products/setProductPurchasePricePlan', value)
      }
    },
    productPurchasePriceFact: {
      get () {
        return this.$store.state.products.product.purchasePriceFact
      },
      set (value) {
        this.$store.commit('products/setProductPurchasePriceFact', value)
      }
    },
    productPurchasePriceLast: {
      get () {
        return this.$store.state.products.product.purchasePriceLast
      },
      set (value) {
        this.$store.commit('products/setProductPurchasePriceLast', value)
      }
    },
    priceWithDiscount: {
      get () {
        return this.$store.state.products.product.priceWithDiscount
      },
      set (value) {
        this.$store.commit('products/setProductPriceWithDiscount', value)
      }
    },
    isAction: {
      get () {
        return this.$store.state.products.product.action
      },
      set (value) {
        this.$store.commit('products/setProductIsAction', value)
      }
    },
    isNew: {
      get () {
        return this.$store.state.products.product.new
      },
      set (value) {
        this.$store.commit('products/setProductIsNew', value)
      }
    },
    isPopular: {
      get () {
        return this.$store.state.products.product.popular
      },
      set (value) {
        this.$store.commit('products/setProductIsPopular', value)
      }
    },
    isHalyal: {
      get () {
        return this.$store.state.products.product.halyal
      },
      set (value) {
        this.$store.commit('products/setProductIsHalyal', value)
      }
    },
    isWeightedGoods: {
      get () {
        return this.$store.state.products.product.isWeightedGoods
      },
      set (value) {
        this.$store.commit('products/setProductIsWeightedGoods', value)
      }
    },
    productCurrency: {
      get () {
        return this.$store.state.products.product.currency
      },
      set (value) {
        this.$store.commit('products/setProductCurrency', value)
      }
    },
    productStatus: {
      get () {
        return this.$store.state.products.product.status
      },
      set (value) {
        this.$store.commit('products/setProductStatus', value)
      }
    },
    productWeight: {
      get () {
        return this.$store.state.products.product.weight
      },
      set (value) {
        this.$store.commit('products/setProductWeight', value)
      }
    },
    productWeightStep: {
      get () {
        return this.$store.state.products.product.weightStep
      },
      set (value) {
        this.$store.commit('products/setProductWeightStep', value)
      }
    },
    productMeasure: {
      get () {
        return this.$store.state.products.product.measure
      },
      set (value) {
        this.$store.commit('products/setProductMeasure', value)
      }
    },
    productType: {
      get () {
        return this.$store.state.products.product.type
      },
      set (value) {
        // console.log(value)
        this.$store.commit('products/setProductType', value)
      }
    },
    productBrand: {
      get () {
        return this.$store.state.products.product.brand
      },
      set (value) {
        this.$store.commit('products/setProductBrand', value)
      }
    },
    productOriginalMedia: {
      get () {
        return this.$store.state.products.product.originalMedia
      },
      set (value) {
        this.$store.commit('products/setCurrentProductOriginalMedia', value)
      }
    },
    productPurchaseQuant: {
      get () {
        return this.$store.state.products.product.purchaseQuant
      },
      set (value) {
        this.$store.commit('products/setProductPurchaseQuant', value)
      }
    },
    productPurchaseQuantMeasure: {
      get () {
        return this.$store.state.products.product.purchaseQuantMeasure
      },
      set (value) {
        this.$store.commit('products/setProductPurchaseQuantMeasure', value)
      }
    },
    productOptPrice: {
      get () {
        return this.$store.state.products.product.optPrice
      },
      set (value) {
        this.$store.commit('products/setProductOptPrice', value)
      }
    },

    productPackPrice1: {
      get () {
        return this.$store.state.products.product.packPrice1
      },
      set (value) {
        this.$store.commit('products/setProductPackPrice1', value)
      }
    },
    productPackPrice2: {
      get () {
        return this.$store.state.products.product.packPrice2
      },
      set (value) {
        this.$store.commit('products/setProductPackPrice2', value)
      }
    },
    productOtherPrice: {
      get () {
        return this.$store.state.products.product.otherPrice
      },
      set (value) {
        this.$store.commit('products/setProductOtherPrice', value)
      }
    },
    // ...mapState({
    //   productAttributes: state => state.products.productAttributes
    // })
    ...mapGetters({
      'productAttributes': 'products/getFilteredAttributes'
    }),
    searchByAttributeName () {
      return this.$store.state.products.attributesFilter.name
    }

  },
  watch: {
    isShowFilledAttributes (val) {
      if (val) {

      }
    }
  },
  mounted () {
    // if (typeof this.$route.query.tmpId !== 'undefined') {
    //   // preload tmp activity data here
    //   this.preloadTmpActivity(this.$route.query.tmpId)
    // } else {
    //   this.clearTmpActivity()
    // }

    // this.setStoreTmpDataInterval()
    this.clearProduct()
    this.loadProductAttributes(null)
    this.getFullCategoriesList()
    const _self = this
    this.$refs.createProductDropzone.setOption('transformFile', function (file, done) {
      _self.performFile(file, done)
    })
  },
  destroyed () {
    clearInterval(this.interval)
  },
  methods: {
    async findVitamineProductsManual () {
      if (this.manualVitamineName !== '') {
        this.$store.dispatch('wait/start', 'loading vitamine products', { root: true })
        await this.$axios.$post('/api/product/searchvitamine', { name: this.manualVitamineName })
          .then((res) => {
            this.vitamineProducts = res.data
            this.$store.dispatch('wait/end', 'loading vitamine products', { root: true })
            // this.setStoreTmpDataInterval()
          })
      } else {
        this.vitamineProducts = []
      }
    },
    selectVitamineInfo (vitamine) {
      this.$store.commit('products/setProductVitamine', vitamine.id)
    },
    closeVitamineInfoModal () {
      this.$modal.hide('vitamine-info-modal')
      this.previewedVitamine = null
    },
    showVitamineInfo (vitamine) {
      this.previewedVitamine = vitamine
      this.$modal.show('vitamine-info-modal')
    },
    async findVitamineProducts () {
      if (this.productName !== '') {
        this.$store.dispatch('wait/start', 'loading vitamine products', { root: true })
        await this.$axios.$post('/api/product/searchvitamine', { name: this.productName })
          .then((res) => {
            this.vitamineProducts = res.data
            this.$store.dispatch('wait/end', 'loading vitamine products', { root: true })
            // this.setStoreTmpDataInterval()
          })
      } else {
        this.vitamineProducts = []
      }
    },
    formatToPrice (value) {
      if (process.client) {
        return `${this.$options.filters.numFormat(value.toFixed(2), '0,0') + '<span class="text-gray-500">' + this.$options.filters.numFormat(value.toFixed(2), '.00 $') + '</span>'}`
      }
    },
    performFile (file, done) {
      this.openCreatePerformPhotoWindow()
      const _self = this
      setTimeout(function () {
        const image = new Image()
        image.src = URL.createObjectURL(file)
        const editorWrapper = window.document.getElementById('cropper-wrapper')
        const editor = document.createElement('div')
        editor.appendChild(image)
        editorWrapper.appendChild(editor)

        window.document.getElementById('cropImageBtn').addEventListener('click', function () {
          editorWrapper.removeChild(editor)
          const canvas = cropper.getCroppedCanvas({
            width: 1000,
            height: 1000,
            minWidth: 256,
            minHeight: 256
          })
          canvas.toBlob(function (blob) {
            done(blob)
          })
        })

        const cropper = new Cropper(image, { aspectRatio: 1, rotatable: true })
      }, 500)
    },
    closePerformPhotoModal () {
      this.$modal.hide('perform-photo-modal')
    },
    openCreatePerformPhotoWindow () {
      this.$modal.show('perform-photo-modal')
    },
    vdropzoneSuccess (file, response) {

    },
    async createNewAttribute () {
      const isValid = await this.$refs.observerCreateAttribute.validate()
      if (isValid) {
        this.$axios.$post('/api/product/createattribute', { name: this.attributeName })
          .then((res) => {
            this.loadProductAttributes(res.name)
            this.attributeName = ''
            this.$swal({
              toast: true,
              position: 'top-end',
              icon: 'success',
              title: 'Атрибут создан и добавлен к товару. Укажите значение атрибута.',
              timer: 5000,
              showConfirmButton: false
            })
            this.addAttributeToProduct(res)
            this.closeCreateAttributeModal()
          }).catch((err) => {
            if (err.response) {
              for (const oneError in err.response.data.errors) {
                err.response.data.errors[oneError].map((err) => {
                  this.$refs.observerCreateAttribute.setErrors({
                    'Название атрибута': [err]
                  })
                })
              }
            }
          })
      }
    },
    closeCreateAttributeModal () {
      this.$modal.hide('create-attribute-modal')
    },
    openCreateNewAttributeWindow () {
      this.$modal.show('create-attribute-modal')
    },
    deleteProductAttribute (index) {
      this.$store.commit('products/deleteProductAttributeByIndex', index)
    },
    showFindRelativeProducts (e) {
      // handleSearchByProductName
      if (e !== '') {
        this.storeTmpData()
        this.isShowFindRelativeProductsButton = true
      } else {
        this.isShowFindRelativeProductsButton = false
        this.foundProducts = []
      }
      clearInterval(this.interval)
      // this.setStoreTmpDataInterval()
    },
    findRelativeProducts () {
      if (this.productName !== '') {
        this.handleSearchByProductName(this.productName)
      }
    },
    updateAttributeValue (index, event) {
      this.$store.commit('products/setAttribute', { value: event.target.value, index })
    },
    addAttributeToProduct (attribute) {
      this.$store.commit('products/addAttribute', attribute)
    },
    searchAttribute (e) {
      this.$store.dispatch('products/searchByAttributeName', e)
    },

    selectProductForCreateNew (product) {
      this.$swal({
        title: 'Вы уверены, что хотите создать новый товар на основе ' + product.name + '?',
        text: 'После подтверждения этого действия поля текущего создаваемого товара будут заполнены на основе выбранного.',
        showCancelButton: true,
        confirmButtonClass: 'bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 w-48 rounded inline-flex items-center mr-0 lg:mr-2 focus:outline-none',
        cancelButtonClass: 'bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 w-48 px-4 rounded inline-flex items-center mt-2 lg:mt-0 focus:outline-none',
        buttonsStyling: false,
        cancelButtonText: 'Отмена',
        confirmButtonText: 'Да'
      }).then((result) => {
        if (result.value) {
          this.$store.commit('products/setProductName', product.name)
          this.$store.commit('products/setProductDescription', product.description)
          this.$store.commit('products/setProductPrice', product.price)
          this.$store.commit('products/setProductStatus', 'Active')
          this.$store.commit('products/setProductTypeId', product.category.id)
          // this.$store.commit('products/setCurrentProductOriginalMedia', product.media)
          this.$store.commit('products/setProductDictionaryId', product.id)
          this.$store.commit('products/setProductBrand', product.brand)
          this.$store.commit('products/setCopiedProductAttributes', product.attributes)

          // this.originalMedia = product.media.gallery
        }
      })
    },
    async loadProductAttributes (name) {
      this.$store.dispatch('wait/start', 'loading product attributes', { root: true })
      await this.$store.dispatch('products/loadingProductsAttributes')
      // if (name !== null) {
      //   this.searchAttribute(name)
      // }
      this.$store.dispatch('wait/end', 'loading product attributes', { root: true })
    },
    declOfNum (number, titles) {
      const cases = [2, 0, 1, 1, 1, 2]
      return titles[ (number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5] ]
    },
    async getFullCategoriesList () {
      await this.$axios.$get('/api/product/fullcategorieslist')
        .then((res) => {
          this.categoriesList = res
        })
    },
    async handleSearchByProductName (e) {
      if (e !== '') {
        this.$store.dispatch('wait/start', 'loading available products', { root: true })

        await this.$axios.$post('/api/product/searchdictionary', { filter: { searchByName: e } })
          .then((res) => {
            this.foundProducts = res.data

            // this.setStoreTmpDataInterval()
          })

        this.$store.dispatch('wait/end', 'loading available products', { root: true })
      } else {
        this.foundProducts = []
      }
    },
    async deleteGalleryImage (id) {
      await this.$swal({
        title: 'Вы уверены, что хотите удалить фото?',
        text: 'После подтверждения этого действия фотография будет удалена безвозвратно.',
        showCancelButton: true,
        confirmButtonClass: 'bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 w-48 rounded inline-flex items-center mr-0 lg:mr-2 focus:outline-none',
        cancelButtonClass: 'bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 w-48 px-4 rounded inline-flex items-center mt-2 lg:mt-0 focus:outline-none',
        buttonsStyling: false,
        cancelButtonText: 'Отмена',
        confirmButtonText: 'Да'
      }).then(async (result) => {
        if (result.value) {
          this.$store.dispatch('wait/start', 'load uploaded images', { root: true })
          await this.$store.dispatch('products/deleteProductMediaItem', id).then(() => {
            this.$swal({
              toast: true,
              position: 'top-end',
              icon: 'success',
              title: 'Фотография удалена',
              timer: 5000,
              showConfirmButton: false
            })
            this.$store.dispatch('wait/end', 'load uploaded images', { root: true })
          })
        }
      })
    },
    queueCompleted () {
      this.$refs.createProductDropzone.removeAllFiles()
      this.$swal({
        toast: true,
        position: 'top-end',
        icon: 'success',
        title: 'Фото загружены',
        timer: 5000,
        showConfirmButton: false
      })
    },
    queueVideoUploadCompleted () {
      this.$refs.createProductVideoDropzone.removeAllFiles()
      this.$swal({
        toast: true,
        position: 'top-end',
        icon: 'success',
        title: 'Видео загружено',
        timer: 5000,
        showConfirmButton: false
      })
    },
    async updateUploadedImages () {
      this.$store.dispatch('wait/start', 'load uploaded images', { root: true })
      await this.$store.dispatch('products/getProductMedia', this.$store.state.products.product.id)
      this.$store.dispatch('wait/end', 'load uploaded images', { root: true })
    },
    async updateUploadedVideo () {
      this.$store.dispatch('wait/start', 'load uploaded images', { root: true })
      await this.$store.dispatch('products/getProductVideoMedia', this.$store.state.products.product.id)
      this.$store.dispatch('wait/end', 'load uploaded images', { root: true })
    },
    dropzoneSendingEvent (file, xhr, formData) {
      formData.append('model_id', this.$store.state.products.product.id)
      formData.append('model', 'App\\Models\\Product')
    },
    clearProduct () {
      this.$store.commit('products/setCurrentProductToNull')
    },
    setStoreTmpDataInterval () {
      this.interval = setInterval(() => this.storeTmpData(), 10000)
    },
    async storeTmpData () {
      if (this.productName !== null) {
        this.$store.dispatch('wait/start', 'store tmp product', { root: true })
        await this.$store.dispatch('products/storeDraftProduct')
        this.$store.dispatch('wait/end', 'store tmp product', { root: true })
      }
    },
    async createProduct () {
      clearInterval(this.interval)
      this.isShowCreateProductButton = false
      this.$store.dispatch('wait/start', 'store full product', { root: true })
      await this.$store.dispatch('products/storeProduct').then((response) => {
        this.$store.dispatch('wait/end', 'store full product', { root: true })
        this.$router.replace({ path: '/profile/products' })
      })
    },

    async submitCreateProductForm () {
      const isValid = await this.$refs.observerCreateProduct.validate()
      if (isValid) {
        // this.storeTmpData()
        this.createProduct()
      } else {
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'error',
          title: 'Для продолжения заполните поля с ошибками',
          timer: 3000,
          showConfirmButton: false
        })
      }
    },
    async goToDrafts () {
      clearInterval(this.interval)
      await this.$store.dispatch('products/storeDraftProduct')
      this.$router.replace({ path: '/profile/products', query: { type: 'draft' } })
    }
  }
}
</script>
