<template>
  <div class="flex justify-center lg:pt-32">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <profileMenu active="products" />
      <div>
        <div class="flex flex-wrap md:flex-nowrap justify-between items-center my-5">
          <h1 class="text-2xl w-full lg:w-auto text-gray-700">
            <nuxt-link :to="'/profile'">
              <b>Профиль</b>
            </nuxt-link> / <b class="text-gray-500">Моя продукция</b>
          </h1>
        </div>
      </div>
      <UserProductsList />
    </div>
  </div>
</template>

<script>
import profileMenu from '~/components/helpers/profileMenu'
import UserProductsList from '~/components/products/UserProductsList'

export default {
  layout: 'mainPage',
  components: { profileMenu, UserProductsList },
  mounted () {
    // alert(1)
    // console.log(this.$auth.loggedIn)
    // if (!this.$auth.loggedIn) {
    //   this.$router.replace('/')
    // }
  },
  methods: {

  }
}
</script>
