<template>
  <div class="h-auto">
    <v-wait for="loading product reviews" class="h-full">
      <template slot="waiting">
        <div class="flex items-center justify-center">
          <fulfilling-bouncing-circle-spinner
            :animation-duration="2500"
            :size="70"
            color="#CBD5E0"
          />
        </div>
      </template>
      <div v-if="list.length > 0">
        <div v-for="review in list" v-bind:key="review.id" class="border-dashed border-2 border-gray-200 p-3 rounded mb-2">
          <div class="flex justify-between">
            <div class="text-gray-500 text-sm flex items-center justify-start">
              <span class="mr-3">{{ $moment(review.created_at).format("DD-MM-YYYY H:mm:ss") }}</span>
              <star-rating :rating="review.rating" :star-size="13" :show-rating="false" :read-only="true" active-color="#63B3ED" />
            </div>
            <span class="text-gray-500 text-sm">{{ review.author_name }}</span>
          </div>
          <div class="text-sm">
            {{ review.body }}
          </div>
        </div>
      </div>
      <div v-if="list.length === 0" class="py-3 text-gray-500">
        Пока не добавлено ни одного отзыва. <span v-if="$store.state.auth.user !== null">Станьте первым, кто это сделает.</span>
      </div>
    </v-wait>
  </div>
</template>

<script>
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import { mapState } from 'vuex'

export default {
  components: {
    FulfillingBouncingCircleSpinner
  },
  props: {
    productId: {
      type: Number,
      default: null
    }
  },
  data: () => ({

  }),
  computed: {
    ...mapState({
      list: (state) => {
        return state.reviews.productReviews
      }
    })
  },
  mounted () {
    this.getReviews()
  },
  methods: {
    async getReviews () {
      this.$store.dispatch('wait/start', 'loading product reviews', { root: true })
      await this.$store.dispatch('reviews/getProductReviews', this.productId)
      this.$store.dispatch('wait/end', 'loading product reviews', { root: true })
    }
  }

}
</script>
