<template>
  <div class="h-auto">
    <productReviewsListComponent :productId="productId" />
    <createProductReviewComponent v-if="$store.state.auth.user" :productId="productId" />
  </div>
</template>

<script>

import createProductReviewComponent from '~/components/reviews/products/createProductReviewComponent'
import productReviewsListComponent from '~/components/reviews/products/productReviewsListComponent'

export default {
  components: {
    createProductReviewComponent, productReviewsListComponent
  },
  props: {
    productId: {
      type: Number,
      default: null
    }
  },
  data: () => ({

  }),
  mounted () {

  },
  methods: {

  }

}
</script>
