<template>
  <div>
    <div class="flex justify-center lg:pt-32">
      <div class="w-full xl:w-5/6 p-2 xl:p-0">
        <profileMenu active="shop-settings" />
        <div>
          <div class="flex flex-wrap md:flex-nowrap justify-between items-center my-5">
            <h1 class="text-2xl w-full lg:w-auto text-gray-700">
              <nuxt-link :to="'/profile'">
                <b>Профиль</b>
              </nuxt-link> / <b class="text-gray-500">Настройки витрины магазина</b>
            </h1>
          </div>
          <div class="p-5 rounded bg-green-100 text-sm my-3 border-l-2 text-gray-700 rounded-l-none border-green-400">
            Страница магазина генерируется автоматически, на основе представленных вами товаров.<br>
            Вы можете самостоятельно выбрать какие наиболее популярные товары отображать на главной странице вашего магазина, загрузить банеры акций и другие блоки.
          </div>

          <div class="flex flex-wrap items-center w-full lg:w-auto justify-between lg:justify-start">
            <div class="w-full lg:w-auto mb-2 pr-2 py-2 pl-2 xl:pl-0 text-sm border-r-0 md:border-r border-gray-200 bg-gray-200 lg:bg-white rounded bolder">
              <span :class="activeTab === 'createSections' ? 'border-0 text-gray-500' : 'border-b border-dashed cursor-pointer text-gray-700'" v-on:click="showTab('createSections')">Создание секций</span>
            </div>
            <div class="w-full lg:w-auto mb-2 p-2 text-sm border-r-0 md:border-r border-gray-200 bg-gray-200 lg:bg-white rounded bolder">
              <span :class="activeTab === 'manageSections' ? 'border-0 text-gray-500' : 'border-b border-dashed cursor-pointer text-gray-700'" v-on:click="showTab('manageSections')">Управление секциями</span>
            </div>
            <div class="w-full lg:w-auto mb-2 p-2 text-sm bg-gray-200 lg:bg-white rounded bolder">
              <span :class="activeTab === 'manageActionProducts' ? 'border-0 text-gray-500' : 'border-b border-dashed cursor-pointer text-gray-700'" v-on:click="showTab('manageActionProducts')">Акционные товары</span>
            </div>
          </div>
          <div v-if="activeTab === 'createSections'">
            <v-wait for="loading shop sections" class="h-full">
              <template slot="waiting">
                <div class="flex items-center justify-center">
                  <fulfilling-bouncing-circle-spinner
                    :animation-duration="2500"
                    :size="70"
                    color="#CBD5E0"
                  />
                </div>
              </template>
              <ValidationObserver ref="observerCreateSections" v-slot="{ invalid }">
                <form @submit.prevent="submitUpdateSections">
                  <div class="flex items-center justify-between flex-wrap">
                    <h2 class="text-gray-700 text-xl bolder w-full lg:w-auto">
                      Создание секций
                    </h2>
                    <div class="flex items-center justify-end flex-wrap">
                      <button
                        :class="'bg-gray-600 hover:bg-gray-500'"
                        :disabled="invalid"
                        type="submit"
                        class="rounded w-full lg:w-auto text-sm py-2 px-5 text-white focus:outline-none mr-0 lg:mr-2 mb-1 lg:mb-0"
                      >
                        <fa :icon="['fas', 'cloud-download-alt']" class="fill-current w-3 h-3 text-white" /> Сохранить
                      </button>
                      <button
                        :class="'bg-gray-600 hover:bg-gray-500'"
                        @click="addNewSection"
                        type="button"
                        class="rounded w-full lg:w-auto text-sm py-2 px-5 text-white focus:outline-none"
                      >
                        <fa :icon="['fas', 'plus-circle']" class="fill-current w-3 h-3 text-white" /> Добавить секцию
                      </button>
                    </div>
                  </div>
                  <div class="page-structure">
                    <section v-for="(section, index) in sections" v-bind:key="index" class="my-5">
                      <div class="flex items-center justify-between">
                        <div class="mr-2 text-gray-700 text-2xl">
                          <b>{{ index+1 }} Секция</b>
                        </div>
                        <div class="flex items-center justify-end">
                          <!-- <button v-on:click="storeSection(index)" type="button" class="ml-2 text-white text-sm rounded-full w-6 h-6 bg-gray-600 focus:outline-none flex items-center justify-center">
                      <fa :icon="['fas', 'cloud-download-alt']" />
                    </button> -->
                          <button v-on:click="deleteSection(index)" type="button" class="ml-2 text-white text-sm rounded-full w-6 h-6 gradiend-red-button focus:outline-none flex items-center justify-center">
                            <fa :icon="['fas', 'times']" />
                          </button>
                        </div>
                      </div>
                      <div class="section-header flex items-start justify-between">
                        <h2 class="flex-1 text-gray-500 text-xl flex items-center justify-start pr-2">
                          <ValidationProvider :ref="'observerSectionName'+index" v-slot="{classes, errors}" name="Заголовок секции" rules="required" class="flex-1">
                            <label class="text-sm text-gray-500">Заголовок секции</label>
                            <input v-model="section.name" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Введите заголовок секции">
                            <span class="text-sm text-red-400">{{ errors[0] }}</span>
                          </ValidationProvider>
                        </h2>

                        <div class="w-1/3 pt-035">
                          <label class="text-sm text-gray-500">Тип секции</label>
                          <select v-model="section.type" class="form-select block w-full bg-gray-200 text-sm text-gray-600 border border-white p-3">
                            <option disabled value="">
                              Выберите тип секции
                            </option>
                            <option :value="secType.val" :selected="secType.val === section.type" v-for="(secType) in sectionTypes" v-bind:key="secType.val">
                              {{ secType.name }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div v-if="section.type === 'productCarousel'" class="my-3">
                        <div class="p-5 rounded bg-blue-100 text-sm my-3 border-l-2 text-gray-700 rounded-l-none border-blue-400">
                          Выбраный тип секции: карусель товаров.<br>
                          Секция выглядит горизонтальным блоком, с прокручивающимися в ней товарами. Нажмите на кнопку "Добавить товар" и начните заполнять секцию товарами.
                        </div>
                        <div class="flex justify-between flex-wrap items-center">
                          <div v-if="section.selectedProducts" class="text-gray-500 w-full lg:w-auto text-center pb-3 lg:pb-0">
                            В секцию добавлено товаров: {{ calculateTotalSectionProducts(section.selectedProducts) }}
                          </div>
                          <button v-on:click="addProductToSection(index, 'productCarousel')" type="button" class="bg-gray-600 hover:bg-gray-500 rounded w-full lg:w-auto text-sm py-2 px-5 text-white focus:outline-none">
                            <fa :icon="['fas', 'plus-circle']" /> Добавить товар в секцию
                          </button>
                        </div>
                        <div class="px-10">
                          <client-only>
                            <carousel
                              :ref="'sectionCarousel'+index"
                              :perPage="6"
                              :paginationEnabled="true"
                              :navigationEnabled="true"
                              :paginationColor="'#e53e3e'"
                              :paginationActiveColor="'#3182ce'"
                              :perPageCustom="[[320, 3], [425, 3], [768, 4], [1024, 6]]"
                              class="mt-2"
                            >
                              <slide v-for="(product, productIndex) in section.selectedProducts" v-bind:key="productIndex" class="bg-white rounded px-2 pt-2 text-xs text-center bounceIn">
                                <div :class="product.id === null ? '' : ''" class="border-2 border-dashed border-gray-200 hover:bg-gray-200 py-5 px-2 rounded h-full flex flex-col justify-between">
                                  <div v-on:click="selectProduct(productIndex, index)" :class="product.id === null ? 'text-red-600' : ''" class="my-2 cursor-pointer hover:text-red-600">
                                    <div v-if="product.id === null">
                                      {{ product.name }}
                                    </div>
                                    <div v-if="product.id !== null">
                                      <div class="flex justify-center">
                                        <img v-lazy="product.media.mainImage.url" v-if="product.media.mainImage !== null" class="object-cover h-12 w-12 rounded">
                                        <img v-if="product.media.mainImage === null" src="~assets/img/nophoto.svg" class="object-cover h-12 w-12 rounded">
                                      </div>
                                      <div>{{ product.name }}</div>
                                    </div>
                                  </div>
                                  <div class="flex items-center justify-center">
                                    <!-- <button v-on:click="addAdditionalSectionItemParams(productIndex, index)" v-if="product.id !== null" type="button" class="bg-gray-500 hover:bg-gray-400 rounded w-auto mr-2 text-sm py-1 px-3 text-white text-xs focus:outline-none" title="Задать дополнительные параметры">
                                <fa :icon="['fas', 'info-circle']" />
                              </button> -->

                                    <button v-on:click="deleteProductFromSection(productIndex, index)" type="button" class="ml-2 text-white text-sm rounded-full w-6 h-6 gradiend-red-button focus:outline-none flex items-center justify-center">
                                      <fa :icon="['fas', 'times']" />
                                    </button>
                                  </div>
                                </div>
                              </slide>
                            </carousel>
                          </client-only>
                        </div>
                      </div>
                      <div v-if="section.type === 'productGrid'" class="my-3">
                        <div class="p-5 rounded bg-blue-100 text-sm my-3 border-l-2 text-gray-700 rounded-l-none border-blue-400">
                          Выбраный тип секции: грид (сетка) товаров.<br>
                          Товары в секиции отображаются плиткой. Нажмите на кнопку "Добавить товар" и начните заполнять секцию товарами.
                        </div>
                        <div class="flex justify-between flex-wrap items-center">
                          <div v-if="section.selectedProducts" class="text-gray-500 w-full lg:w-auto text-center pb-3 lg:pb-0">
                            В секцию добавлено товаров: {{ calculateTotalSectionProducts(section.selectedProducts) }}
                          </div>
                          <button v-on:click="addProductToSection(index, 'productGrid')" type="button" class="bg-gray-600 hover:bg-gray-500 rounded w-full lg:w-auto text-sm py-2 px-5 text-white focus:outline-none">
                            <fa :icon="['fas', 'plus-circle']" /> Добавить товар в секцию
                          </button>
                        </div>
                        <div class="flex flex-wrap -mx-1 overflow-hidden mt-2">
                          <div v-for="(product, productIndex) in section.selectedProducts" v-bind:key="productIndex" class="bg-white rounded my-1 px-1 w-1/2 lg:w-1/4 xl:w-1/5 overflow-hidden text-xs text-center bounceIn">
                            <div :class="product.id === null ? '' : ''" class="border-2 border-dashed border-gray-200 hover:bg-gray-200 py-5 px-2 rounded h-full flex flex-col justify-between">
                              <div v-on:click="selectProduct(productIndex, index)" :class="product.id === null ? 'text-red-600' : ''" class="my-2 cursor-pointer hover:text-red-600">
                                <div v-if="product.id === null">
                                  {{ product.name }}
                                </div>
                                <div v-if="product.id !== null">
                                  <div class="flex justify-center">
                                    <img v-lazy="product.media.mainImage.url" v-if="product.media.mainImage !== null" class="object-cover h-12 w-12 rounded">
                                    <img v-if="product.media.mainImage === null" src="~assets/img/nophoto.svg" class="object-cover h-12 w-12 rounded">
                                  </div>
                                  <div>{{ product.name }}</div>
                                </div>
                              </div>
                              <div class="flex items-center justify-center">
                                <button v-on:click="deleteProductFromSection(productIndex, index)" type="button" class="ml-2 text-white text-sm rounded-full w-6 h-6 gradiend-red-button focus:outline-none flex items-center justify-center">
                                  <fa :icon="['fas', 'times']" />
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div v-if="section.type === 'imageSlider'" class="my-3">
                        <div class="p-5 rounded bg-blue-100 text-sm my-3 border-l-2 text-gray-700 rounded-l-none border-blue-400">
                          Выбраный тип секции: Слайдер изображений.<br>
                          Секция выглядит горизонтальным блоком, с прокручивающимися в ней изображениями. Это могут быть банеры акций или банеры с ссылкой на подборку товаров по категории, либо ссылкой на сторонний ресурс. Нажмите на кнопку "Добавить изображение" и начните заполнять секцию.
                        </div>
                        <div>
                          <dropzone
                            id="dropzone"
                            ref="createProductDropzone"
                            :options="dropzoneOptions"
                          />
                        </div>
                      </div>
                    </section>
                  </div>
                  <selectProductModal :forTab="'createSections'" />
                </form>
              </ValidationObserver>
            </v-wait>
          </div>
          <div v-if="activeTab === 'manageSections'">
            <div class="p-5 rounded bg-blue-100 text-sm my-3 border-l-2 text-gray-700 rounded-l-none border-blue-400">
              Установите порядок отображения секций на главной странице магазина.
            </div>
            <v-wait for="loading shop sections" class="h-full">
              <template slot="waiting">
                <div class="flex items-center justify-center">
                  <fulfilling-bouncing-circle-spinner
                    :animation-duration="2500"
                    :size="70"
                    color="#CBD5E0"
                  />
                </div>
              </template>
              <div v-for="(sortedSection) in sections" v-bind:key="sortedSection.id" class="border-2 border-dashed border-blue-200 hover:border-gray-400 rounded p-2 my-3 flex items-center justify-start">
                <div class="cursor-pointer text-gray-400">
                  <fa :icon="['fas', 'bars']" />
                </div>
                <div class="ml-5 bolder text-gray-700">
                  Секция {{ sortedSection.name }}
                </div>
              </div>
            </v-wait>
          </div>
          <div v-if="activeTab === 'manageActionProducts'">
            <actionProductsComponent :forTab="'manageActionProducts'" />
          </div>
        </div>
      </div>
    </div>

    <modal
      :adaptive="true"
      :clickToClose="false"
      :maxWidth="1000"
      :scrollable="true"
      height="auto"
      name="item-additional-modal"
    >
      <div class="py-5 px-5">
        <div class="flex items-center justify-end">
          <button v-on:click="closeItemAdditionalModal" class="text-sm text-gray-600 focus:outline-none">
            <fa :icon="['fas', 'times-circle']" class="fill-current w-4 h-4" />
          </button>
        </div>
        <div>
          <h3 class="ttext-2xl text-gray-700 bolder">
            Дополнительные параметры
          </h3>
          <div class="p-5 rounded bg-green-100 text-sm my-3 border-l-2 text-gray-700 rounded-l-none border-green-400">
            Дополнительные параметры будут отображаться на карточке товара
          </div>
        </div>
      </div>
    </modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate'
import { required } from 'vee-validate/dist/rules'
import Dropzone from 'nuxt-dropzone'
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import profileMenu from '~/components/helpers/profileMenu'
import selectProductModal from '~/components/modals/selectProductModal'
import actionProductsComponent from '~/components/products/actionProductsComponent'
import 'nuxt-dropzone/dropzone.css'

extend('required', {
  ...required,
  message: 'Вам необходимо указать {_field_}'
})

export default {
  layout: 'mainPage',
  components: { profileMenu, ValidationProvider, FulfillingBouncingCircleSpinner, ValidationObserver, Dropzone, actionProductsComponent, selectProductModal },

  data () {
    return {
      activeTab: 'createSections',
      currentItemIndex: 1,
      currentSectionIndex: 1,
      activePage: 1,
      sectionTypes: [
        { val: 'productCarousel', name: 'Карусель товаров' },
        { val: 'productGrid', name: 'Грид товаров' },
        { val: 'imageSlider', name: 'Слайдер изображений' }
      ],
      sections: [
        {
          name: 'Название секции',
          position: 0,
          type: 'productCarousel',
          selectedProducts: [
            {
              id: null,
              name: 'Выберите товар..'
            }
          ]
        }
      ],
      dropzoneOptions: {
        url: process.env.API_URL + '/api/media/upload',
        thumbnailWidth: 100,
        maxFilesize: 10,
        capture: 'camera',
        acceptedFiles: 'image/*',
        headers: {
          Authorization: this.$auth.getToken('local')
        },
        dictDefaultMessage: '<span>Для загрузки кликните либо перетащите фото сюда..</span><br><span class="text-xs">Разрешенные для загрузки форматы: jpeg, jpg, png</span>'
      },
      tabsArray: ['createSections', 'manageSections', 'manageActionProducts']
    }
  },
  computed: {
    ...mapGetters({
      'filteredProductsList': 'products/getFilteredProductList'
    })
  },
  mounted () {
    this.$bus.$on('modalProductSelected-createSections', (data) => {
      this.setProductToSection(data)
    })
    if (this.$route.query.tab) {
      if (this.tabsArray.includes(this.$route.query.tab)) {
        this.showTab(this.$route.query.tab)
      } else {
        this.showTab(this.tabsArray[0])
      }
    } else {
      this.showTab(this.tabsArray[0])
    }
    this.getSections()
  },
  methods: {
    async getSections () {
      this.$store.dispatch('wait/start', 'loading shop sections', { root: true })
      await this.$axios.$get('/api/user/' + this.$store.state.auth.user.id + '/profile/sections')
        .then((res) => {
          if (res.data.length > 0) {
            this.sections = res.data
          }
        })
      this.$store.dispatch('wait/end', 'loading shop sections', { root: true })
    },
    async submitUpdateSections () {
      const isValid = await this.$refs.observerCreateSections.validate()
      if (isValid) {
        this.$store.dispatch('wait/start', 'loading shop sections', { root: true })
        await this.$axios.$post('/api/user/' + this.$store.state.auth.user.id + '/profile/updatesections', { sections: this.sections })
          .then((res) => {
            this.$swal({
              toast: true,
              position: 'top-end',
              icon: 'success',
              title: 'Секции сохранены.',
              timer: 5000,
              showConfirmButton: false
            })
          })
        this.$store.dispatch('wait/end', 'loading shop sections', { root: true })
      } else {
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'error',
          title: 'Для продолжения заполните поля с ошибками',
          timer: 3000,
          showConfirmButton: false
        })
      }
    },
    showTab (tab) {
      this.activeTab = tab
      this.$router.push({
        query: {
          ...this.$route.query,
          tab
        }
      })
    },
    addAdditionalSectionItemParams (itemIndex, sectionIndex) {
      this.currentItemIndex = itemIndex
      this.currentSectionIndex = sectionIndex
      this.$modal.show('item-additional-modal')
    },
    calculateTotalSectionProducts (sectionProducts) {
      let total = 0
      sectionProducts.forEach(function (entry) {
        if (entry !== null) {
          if (entry.id !== null) {
            total++
          }
        }
      })
      return total
    },
    deleteProductFromSection (productIndex, sectionIndex) {
      this.sections[sectionIndex].selectedProducts.splice(productIndex, 1)
    },
    setProductToSection (product) {
      this.$set(this.sections[this.currentSectionIndex].selectedProducts, this.currentItemIndex, product)
      this.currentItemIndex = null
      this.currentSectionIndex = null
    },
    clickCallback (pageNum) {
      this.$store.dispatch('products/loadProductsByPage', pageNum)
    },
    closeSeletProductModal () {
      this.$modal.hide('select-product-modal')
    },
    closeItemAdditionalModal () {
      this.$modal.hide('item-additional-modal')
    },
    selectProduct (productIndex, sectionIndex) {
      this.currentItemIndex = productIndex
      this.currentSectionIndex = sectionIndex
      this.$modal.show('select-product-modal')
    },
    addProductToSection (sectionIndex, sectionType) {
      const addedRow = this.sections[sectionIndex].selectedProducts.push({
        id: null,
        name: 'Выберите товар..'
      })

      if (sectionType === 'productCarousel') {
        // console.log(this.$refs.sectionCarousel)

        this.$refs['sectionCarousel' + sectionIndex][0].goToLastSlide()
      }

      this.selectProduct(addedRow - 1, sectionIndex)
    },
    addNewSection () {
      this.sections.push({
        name: 'Название секции',
        position: 0,
        type: 'productsCarousel',
        selectedProducts: []
      })

      this.$swal({
        toast: true,
        position: 'top-end',
        icon: 'success',
        title: 'Секция добавлена. Заполните ее товарами.',
        timer: 5000,
        showConfirmButton: false
      })
    },
    deleteSection (index) {
      const _self = this
      this.$swal({
        title: 'Вы уверены, что хотите удалить секцию?',
        text: 'После подтверждения этого действия все добавленные в нее позиции будут удалены и восстановление не возможно',
        showCancelButton: true,
        confirmButtonClass: 'bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 w-48 rounded inline-flex items-center mr-0 lg:mr-2 focus:outline-none',
        cancelButtonClass: 'bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 w-48 px-4 rounded inline-flex items-center mt-2 lg:mt-0 focus:outline-none',
        buttonsStyling: false,
        cancelButtonText: 'Отмена',
        confirmButtonText: 'Да'
      }).then((result) => {
        if (result.value) {
          _self.sections.splice(index, 1)

          this.$swal({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: 'Секция удалена',
            timer: 5000,
            showConfirmButton: false
          })
        }
      })
    }
  }
}
</script>
