<template>
  <div class="flex justify-center lg:pt-32">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <profileMenu :active="null" />
      <!-- <div class="flex items-center justify-center py-24">
        <div class="text-center">
          profile dashboard<br>
          <span class="text-gray-400">currently user statistics</span>
        </div>
      </div> -->
      <div class="flex flex-wrap md:flex-nowrap justify-between items-center my-5">
        <h1 class="text-base w-full lg:w-auto">
          <span class="text-gray-500 text-2xl"><b>Профиль</b></span>
        </h1>
      </div>
      <v-wait for="loading dashboard info" class="h-full">
        <template slot="waiting">
          <div class="flex items-center justify-center py-24">
            <fulfilling-bouncing-circle-spinner
              :animation-duration="2500"
              :size="70"
              color="#CBD5E0"
            />
          </div>
        </template>

        <div v-if="$store.state.justRegistered && $store.state.auth.user">
          <div v-if="$store.state.auth.user.role.name == 'shop' || $store.state.auth.user.role.name == 'ownproduction' || $store.state.auth.user.role.name == 'restaurant' " class="p-5 rounded bg-green-100 text-sm my-3 border-l-2 text-gray-700 rounded-l-none border-green-400">
            <b>Поздравляем с успешной регистрацией!</b><br>
            Ваш тип профиля: {{ $store.state.auth.user.role.display_name }}<br>
          </div>
        </div>

        <div v-if="!$store.state.justRegistered">
          <div class="p-5 rounded bg-blue-100 text-sm my-3 border-l-2 text-gray-700 rounded-l-none border-blue-400">
            <b>Главная страница вашего профиля.</b><br>
            После начала работы в системе, здесь будет статистика по вашим заказам, товарам и прочая полезная информация.
          </div>
        </div>
      </v-wait>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import profileMenu from '~/components/helpers/profileMenu'
// import userStatistics from '~/components/helpers/charts/userStatistics'

export default {
  layout: 'mainPage',
  components: { profileMenu, FulfillingBouncingCircleSpinner },
  computed: {
    ...mapState({
      dashboardInfo: state => state.profile.dashboardInfo
    })
  },
  mounted () {
    this.getUserDashboardInfo()
  },
  methods: {
    async getUserDashboardInfo () {
      this.$store.dispatch('wait/start', 'loading dashboard info', { root: true })
      await this.$store.dispatch('profile/getDashboardInfo')
      this.$store.dispatch('wait/end', 'loading dashboard info', { root: true })
    }
  }
}
</script>
