<template>
  <div class="flex justify-center lg:pt-32">
    <div class="w-full xl:w-2/3 p-2 xl:p-0">
      <profileMenu active="messages" />
      <div>
        <div class="flex flex-wrap md:flex-nowrap justify-between items-center my-5">
          <h1 class="text-base w-full lg:w-auto">
            <nuxt-link :to="'/profile'">
              Профиль
            </nuxt-link> / <span class="text-gray-500">Сообщения</span>
          </h1>
        </div>
        <div class="flex items-center justify-center py-12 border-2 border-dashed rounded">
          <div class="text-center">
            <div>Текущих переписок не найдено.</div>
            <div class="text-gray-500">
              Переписку с представителями объектов вы можете начать со страницы зарезервированых объектов.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import profileMenu from '~/components/helpers/profileMenu'

export default {
  layout: 'mainPage',
  components: { profileMenu },
  methods: {

  }
}
</script>
