<template>
  <div class="h-auto lg:h-screen bg-white flex items-center justify-center">
    <!-- <nuxt-link to="/">Home page</nuxt-link>
    <nuxt-link to="/auth/login">Login page</nuxt-link> -->
    <nuxt />
  </div>
</template>
