<template>
  <div class="lg:pt-28 flex justify-center">
    <div class="w-full xl:w-5/6 px-2 xl:p-0">
      <div class="p-5 rounded bg-red-100 text-xl bolder my-5 border-l-2 text-gray-700 rounded-l-none border-red-400">
        <div v-if="error.statusCode === 404">
          <h1>
            Такой страницы не существует.
          </h1>
          <p class="pt-5 text-base">
            Мы не смогли найти страницу, запрошенную Вами. Пожалуйста, попробуйте еще раз, либо перейдите на главную.
          </p>
        </div>
        <div v-else>
          <h1>
            {{ error.statusCode }} {{ error.message }}
          </h1>
          <p class="pt-5 text-base">
            Похоже, что наши программисты накосячили и они уже в курсе об этом. А чтобы искупить вину, мы готовы предоставить вам промокод на бесплатную доставку. Пожалуйста, перейдите на главную, соберите заказ и используйте промокод <b>AMORE</b>.
          </p>
        </div>

        {{ error }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  layout: 'mainPage' // you can set a custom layout for the error page
}
</script>
