<template>
  <div class="min-h-screen bg-white z-50 flex flex-col justify-between">
    <div class="lg:fixed flex items-center justify-center w-full bg-white z-50 px-0 lg:px-2 xl:px-0">
      <div class=" w-full xl:w-5/6 pt-2 lg:py-4 flex-wrap ">
        <div class="flex flex-wrap justify-between items-end lg:items-center ">
          <div class="w-auto pt-1 pb-1 lg:pb-0 lg:pt-0 pl-2 lg:pl-0">
            <nuxt-link to="/">
              <img src="~assets/img/08.svg" class="h-5">
            <!-- <span class="bolder text-gray-700">rf.market</span> -->
            </nuxt-link>
          </div>
          <a href="tel:+74951288797" class="block lg:hidden bolder pr-2 text-gray-500">
            +7 495 128 87 97
          </a>
          <!-- <div class="block lg:hidden py-1 pr-2 flex items-center justify-end">
            <nuxt-link v-if="$store.state.cart.items.length > 0" class="animate__animated animate__bounceIn w-auto mr-2" to="/cart">
              <div class="flex items-center justify-center">
                <span class="text-sm text-gray-700"><b>Корзина</b></span>
                <span class="flex items-center justify-center w-6 h-6 rounded-full bg-green-rf ml-1 text-xs text-white"><b>{{ calculateCartCountTotal() }}</b></span>
              </div>
            </nuxt-link>
            <button @click="toggleMenu" class="flex items-center px-3 py-2 rounded bg-gray-200 text-gray-700 focus:outline-none">
              <fa :icon="open ? ['fas', 'window-close'] : ['fas', 'bars']" />
            </button>
          </div> -->

          <div :class="open ? 'flex': 'hidden'" class="lg:flex items-center justify-center lg:justify-end w-full lg:w-auto mt-3 lg:mt-0 flex-wrap animate__animated animate__bounceIn animateFix">
            <nuxt-link to="/info/delivery" class="text-sm text-gray-700">
              Доставка и оплата
            </nuxt-link>
            <nuxt-link to="/info/partners" class="text-sm text-gray-700 ml-5">
              Сотрудничество
            </nuxt-link>
            <nuxt-link to="/recipes" class="text-sm text-gray-700 ml-5">
              Рецепты<sup class="ml-1 bg-red-600 p-1 rounded text-white">новинка!</sup>
            </nuxt-link>
            <div class="order-last lg:order-none ml-5 mr-5 hidden lg:block w-full lg:w-auto">
              <div class="flex items-center justify-center">
                <span class="flex items-center justify-center w-5 h-5 rounded-full bg-gray-400 mr-1 text-xs text-white">
                  <fa :icon="['fas', 'map-marker-alt']" />
                </span>
                <span class="text-sm text-gray-700 "><b>Москва</b></span>
              </div>
            </div>
            <shopsDropdown class="w-full lg:w-auto pl-0 py-2 lg:py-0 text-center" />

            <nuxt-link class="order-last lg:order-none ml-5 animate__animated animate__bounceIn hidden lg:block w-full lg:w-auto" to="/cart">
              <div class="flex items-center justify-center">
                <span class="text-sm text-gray-700"><b>Корзина</b></span>
                <client-only><span v-if="$store.state.cart.items.length > 0" class="flex items-center justify-center w-6 h-6 rounded-full bg-green-rf ml-1 text-xs text-white"><b>{{ calculateCartCountTotal() }}</b></span></client-only>
              </div>
            </nuxt-link>

            <accountPlusDropdown v-if="$store.state.auth.user" class="w-full lg:w-auto py-2 lg:py-0 ml-0 lg:ml-5 text-center" />
            <button v-on:click="logout" v-if="$store.state.auth.user" type="button" class="ml-0 lg:ml-5 py-2 lg:py-0 w-full lg:w-auto text-center">
              <span class="text-sm  text-gray-700"><b>Выйти</b></span>
            </button>
            <nuxt-link v-if="!$store.state.auth.user" to="/auth/login" class="ml-0 lg:ml-5 py-2 lg:py-0 w-full lg:w-auto text-center">
              <span class="text-sm  text-gray-700"><b>Войти</b></span>
            </nuxt-link>
          </div>
        </div>
        <oneInputSearchComponent :class="isFixSearch ? 'fixed lg:relative top-0 w-full lg:w-auto bg-white pb-2 lg:pb-0' : ''" />
      </div>
    </div>
    <!-- <nuxt-link to="/">Home page</nuxt-link>
    <nuxt-link to="/auth/login">Login page</nuxt-link> -->
    <nuxt :class="isFixSearch ? 'pt-12' : ''" />
    <div class="flex items-center justify-center w-full footer">
      <div class="w-full xl:w-5/6 rounded rounded-b-none p-2 lg:p-10 bg-gray-200">
        <div class=" flex items-start flex-wrap">
          <div class="w-1/2 lg:w-1/4">
            <ul>
              <li class="py-1">
                <span class="bolder text-gray-700">
                  Компания
                </span>
              </li>
              <li class="py-1">
                <nuxt-link class="text-gray-600" to="/info/project">
                  О проекте
                </nuxt-link>
              </li>
              <li class="py-1">
                <nuxt-link class="text-gray-600" to="/info/about">
                  О нас
                </nuxt-link>
              </li>
              <li class="py-1">
                <nuxt-link class="text-gray-600" to="/info/providers">
                  Поставщикам
                </nuxt-link>
              </li>
              <li class="py-1">
                <nuxt-link class="text-gray-600" to="/info/partners">
                  Партнерам
                </nuxt-link>
              </li>
              <li class="py-1">
                <nuxt-link class="text-gray-600" to="/info/contacts">
                  Контакты
                </nuxt-link>
              </li>
            </ul>
          </div>
          <div class="w-1/2 lg:w-1/4">
            <ul>
              <li class="py-1">
                <span class="bolder text-gray-700">
                  Покупателям
                </span>
              </li>
              <li class="py-1">
                <nuxt-link class="text-gray-600" to="/info/payment">
                  Оплата
                </nuxt-link>
              </li>
              <li class="py-1">
                <nuxt-link class="text-gray-600" to="/info/delivery">
                  Доставка
                </nuxt-link>
              </li>
              <li class="py-1">
                <nuxt-link class="text-gray-600" to="/info/return">
                  Возврат товаров
                </nuxt-link>
              </li>
              <li class="py-1">
                <nuxt-link class="text-gray-600" to="/">
                  Карта сайта
                </nuxt-link>
              </li>
            </ul>
          </div>
          <div class="w-full lg:w-2/4 flex justify-center lg:justify-end mt-3 lg:mt-0">
            <ul>
              <li class="pb-5 flex justify-center lg:justify-end">
                <nuxt-link to="/" class="text-center">
                  <img src="~assets/img/08.svg" class="h-6 lg:h-10">
                  <!-- <span class="bolder text-gray-700">rf.market</span> -->
                </nuxt-link>
              </li>
              <li class="text-gray-500 bolder text-center lg:text-right text-2xl">
                <a class="hover:text-gray-600" href="tel:+74951288797">+7 495 128 87 97</a>
              </li>
              <li class="text-gray-500 bolder text-center lg:text-right text-2xl">
                <a class="hover:text-gray-600" href="tel:+79959170596">+7 995 917 05 96</a>
              </li>
              <li class="text-gray-500 bolder text-center lg:text-right text-2xl">
                <div class="flex justify-center lg:justify-end items-center">
                  <span v-on:click="openWhatsApp" class="ml-3"><fa :icon="['fab', 'whatsapp']" class="h-8 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer" /></span>
                  <span v-on:click="openTelegram" class="ml-2"><fa :icon="['fab', 'telegram']" class="h-8 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer" /></span>
                  <span v-on:click="openViber" class="ml-2"><fa :icon="['fab', 'viber']" class="h-8 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer" /></span>
                  <span v-on:click="openFacebook" class="ml-2"><fa :icon="['fab', 'facebook']" class="h-8 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer" /></span>
                  <span v-on:click="openInstagram" class="ml-2"><fa :icon="['fab', 'instagram']" class="h-8 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer" /></span>
                  <span v-on:click="openVk" class="ml-2"><fa :icon="['fab', 'vk']" class="h-8 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer" /></span>
                </div>
              </li>
              <li class="text-center text-center lg:text-right text-blue-500 text-xl">
                <a class="hover:text-blue-600" href="mailto:hello@rf.market">hello@rf.market</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="flex flex-wrap">
          <div class="flex items-center justify-center lg:justify-start flex-wrap my-3 w-full lg:w-1/2">
            <div class="w-12 h-12 lg:w-16 lg:h-16 rounded-full bg-gray-300 flex items-center justify-center">
              <img src="~assets/img/brands/mir-logo-h14px.svg" class="h-3 lg:h-3 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer">
            </div>
            <div class="w-12 h-12 lg:w-16 lg:h-16 rounded-full bg-gray-300 flex items-center justify-center ml-2">
              <img src="~assets/img/brands/mc_vrt_pos.svg" class="h-8 lg:h-10 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer">
            </div>
            <div class="w-12 h-12 lg:w-16 lg:h-16 rounded-full bg-gray-300 flex items-center justify-center ml-2">
              <img src="~assets/img/brands/Visa_Inc._logo.svg" class="h-3 lg:h-4 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer">
            </div>
            <div class="w-12 h-12 lg:w-16 lg:h-16 rounded-full bg-gray-300 flex items-center justify-center ml-2">
              <img src="~assets/img/brands/Apple_Pay_logo.svg" class="h-4 lg:h-5 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer">
            </div>
            <div class="w-12 h-12 lg:w-16 lg:h-16 rounded-full bg-gray-300 flex items-center justify-center ml-2">
              <img src="~assets/img/brands/Google_Pay_(GPay)_Logo.svg" class="h-4 lg:h-5 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer">
            </div>
          </div>
          <div class="w-full lg:w-1/2">
            <ul>
              <li class="text-center lg:text-right pt-5">
                <nuxt-link class="text-gray-500 text-sm hover:text-gray-600" to="/info/agreement">
                  Пользовательское соглашение
                </nuxt-link>
              </li>
              <li class="text-center lg:text-right">
                <nuxt-link class="text-gray-500 text-sm hover:text-gray-600" to="/info/politics">
                  Политика защиты персональных данных
                </nuxt-link>
              </li>
            </ul>
          </div>
        </div>
        <div class="text-sm text-center text-gray-400 mt-3 lg:mt-10">
          Мы используем cookie-файлы, чтобы получить статистику, которая помогает нам улучшить сервис для Вас с целью персонализации сервисов и предложений. Вы можете прочитать подробнее о cookie-файлах или изменить настройки браузера. Продолжая пользоваться сайтом без изменения настроек, вы даёте согласие на использование ваших cookie-файлов.
        </div>
      </div>
    </div>
    <!-- <fab /> -->
    <div class="transition transform fixed lg:hidden z-100 bottom-0 inset-x-0 pb-2 px-2">
      <!-- <div class="w-full bg-white">
        <button class="rounded w-full bg-gray-200 hover:bg-gray-300 shadow-lg flex py-3 px-10 items-center justify-center text-gray-500 focus:outline-none">
          <fa :icon="['fas', 'plus']" />
          <span class="ml-2 bolder">Положить в корзину</span>
        </button>
      </div> -->
      <div class="mx-auto px-2 bg-white text-gray-700 py-4 rounded text-center shadow flex justify-between text-sm bolder animate__animated animate__bounceIn">
        <div class="w-1/4 flex items-center justify-center">
          <nuxt-link to="/" class="text-center">
            <span class="text-sm  text-gray-700"><b>Главная</b></span>
          </nuxt-link>
        </div>
        <div class="w-1/4 flex items-center justify-center">
          <nuxt-link to="/catalog" class="text-center">
            <span class="text-sm  text-gray-700"><b>Каталог</b></span>
          </nuxt-link>
        </div>

        <div class="w-1/4 flex items-center justify-center">
          <nuxt-link to="/cart">
            <div class="flex items-center justify-center">
              <span class="text-sm text-gray-700"><b>Корзина</b><client-only><sup class="pl-1">{{ calculateCartCountTotal() }}</sup></client-only></span>
              <!-- <span class="flex items-center justify-center w-6 h-6 rounded-full bg-green-rf ml-1 text-xs text-white"><b>{{ calculateCartCountTotal() }}</b></span> -->
            </div>
          </nuxt-link>
        </div>
        <div class="w-1/4 flex items-center justify-center">
          <nuxt-link v-if="!$store.state.auth.user" to="/auth/login" class="text-center">
            <span class="text-sm  text-gray-700"><b>Войти</b></span>
          </nuxt-link>
          <nuxt-link v-if="$store.state.auth.user" to="/profile" class="text-center">
            <span class="text-sm  text-gray-700"><b>Профиль</b></span>
          </nuxt-link>
        </div>
        <!-- <div class="w-1/6 flex items-center justify-center">
          <span v-on:click="openJivo" class="w-8 h-8 rounded-full bg-gray-600 flex items-center justify-center text-white cursor-pointer">
            <fa :icon="['fas', 'comment-alt']" />
          </span>
        </div> -->
      </div>
    </div>
  </div>
</template>
<script>
// import Fab from '../components/helpers/fab.vue'
import accountPlusDropdown from '~/components/helpers/accountPlusDropdown'
import shopsDropdown from '~/components/helpers/shopsDropdown'
// import catalogDropDown from '~/components/helpers/catalogDropDown'
import oneInputSearchComponent from '~/components/market/oneInputSearchComponent'

import fab from '~/components/helpers/fab'

export default {
  head () {
    return {
      link: [
        {
          rel: 'canonical',
          href: 'https://rf.market' + this.$route.path
        }
      ]
    }
  },
  components: { accountPlusDropdown, shopsDropdown, oneInputSearchComponent },
  data: () => ({
    open: false,
    isFixSearch: false,
    isScrolled: false
  }),
  mounted () {
    // this.$store.dispatch(`cart/checkUserCart`)
    // console.log(this.$echo)
    // this.$echo.private('App.User.1')
    // .notification((notification) => {
    //   console.log(notification)
    // })
    // .listen('NewOrderCreated', (data) => {
    //   console.log(data)
    // })
    // .listen('.my-event', (data) => {
    //   console.log(data)
    // })

    const _self = this

    // its works
    // this.$echo.channel(`backgroudInfo`)
    //   .listen('.NewAppVersionUpdated', (data) => {
    //     _self.$swal({
    //       toast: true,
    //       position: 'top-end',
    //       type: 'success',
    //       title: data.info,
    //       timer: 5000,
    //       showConfirmButton: false
    //     })
    //   })
  },
  beforeMount () {
    window.addEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleScroll () {
      if (window.pageYOffset > 35) {
        this.isFixSearch = true
      } else {
        this.isFixSearch = false
      }

      if (window.pageYOffset > 0) {
        this.isScrolled = true
      } else {
        this.isScrolled = false
      }
    },
    toggleMenu () {
      this.open = !this.open
    },
    openWhatsApp () {
      window.open('https://wa.me/79959170596', '_blank')
    },
    openTelegram () {
      window.open('https://t.me/rf_market', '_blank')
    },
    openJivo () {
      window.jivo_api.open()
    },
    openViber () {
      window.open('viber://chat?number=+79959170596', '_blank')
    },
    openFacebook () {
      window.open('https://www.facebook.com/rfmarketofficial/', '_blank')
    },
    openInstagram () {
      window.open('https://www.instagram.com/rf.market/', '_blank')
    },
    openVk () {
      window.open('https://vk.com/rf.market', '_blank')
    },
    calculateCartCountTotal () {
      if (process.client) {
        const totalItems = this.$store.state.cart.items.reduce((total, p) => {
          return total + p.quantity
        }, 0)

        return totalItems
      }
    },
    logout () {
      this.$store.dispatch('logout').then(() => {
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'success',
          title: 'Вы вышли из системы',
          timer: 5000,
          showConfirmButton: false
        })
        this.$router.push('/auth/login')
      })
    }
  }
}
</script>
