<template>
  <div class="min-h-screen bg-white z-50 flex flex-col justify-between">
    <div class="fixed flex items-center justify-center w-full bg-white z-50">
      <div class="w-full xl:w-5/6 py-2 lg:py-4 flex-wrap border-b border-gray-200 ">
        <div class="flex flex-wrap justify-center lg:justify-between items-center ">
          <div class="w-auto pt-1 pb-1 lg:pb-0 lg:pt-0 pl-2 lg:pl-0">
            <nuxt-link to="/">
              <img src="~assets/img/08.svg" class="h-5">
            <!-- <span class="bolder text-gray-700">rf.market</span> -->
            </nuxt-link>
          </div>

          <!-- <div class="block lg:hidden py-1 pr-2 flex items-center justify-end">
            <nuxt-link v-if="$store.state.cart.items.length > 0" class="animate__animated animate__bounceIn w-auto mr-2" to="/cart">
              <div class="flex items-center justify-center">
                <span class="text-sm text-gray-700"><b>Корзина</b></span>
                <span class="flex items-center justify-center w-6 h-6 rounded-full bg-green-rf ml-1 text-xs text-white"><b>{{ calculateCartCountTotal() }}</b></span>
              </div>
            </nuxt-link>
            <button @click="toggleMenu" class="flex items-center px-3 py-2 rounded bg-gray-200 text-gray-700 focus:outline-none">
              <fa :icon="open ? ['fas', 'window-close'] : ['fas', 'bars']" />
            </button>
          </div> -->

          <div :class="open ? 'flex': 'hidden'" class="lg:flex items-center justify-center lg:justify-end w-full lg:w-auto mt-3 lg:mt-0 flex-wrap animate__animated animate__bounceIn animateFix">
            <div v-if="$store.state.auth.user && $store.state.auth.user.profile.location" class="items-center justify-start mr-5 hidden lg:flex">
              <span class="flex items-center justify-center w-5 h-5 rounded-full bg-gray-400 ml-1 text-xs text-white">
                <fa :icon="['fas', 'map-marker-alt']" />
              </span>
              <span class="text-green-rf pl-2 cursor-pointer leading-none "><b>{{ $store.state.auth.user.profile.location.data.city }}</b></span>
            </div>
            <shopsDropdown class="w-full lg:w-auto pl-0 py-2 lg:py-0 text-center" />
            <nuxt-link v-if="$store.state.cart.items.length > 0" class="order-last lg:order-none ml-5 animate__animated animate__bounceIn hidden lg:block w-full lg:w-auto" to="/cart">
              <div class="flex items-center justify-center">
                <span class="text-sm text-gray-700"><b>Корзина</b></span>
                <span class="flex items-center justify-center w-6 h-6 rounded-full bg-green-rf ml-1 text-xs text-white"><b>{{ calculateCartCountTotal() }}</b></span>
              </div>
            </nuxt-link>
            <accountPlusDropdown v-if="$store.state.auth.user" class="w-full lg:w-auto py-2 lg:py-0 ml-0 lg:ml-5 text-center" />
            <button v-on:click="logout" v-if="$store.state.auth.user" type="button" class="ml-0 lg:ml-5 py-2 lg:py-0 w-full lg:w-auto text-center">
              <span class="text-sm  text-gray-700"><b>Выйти</b></span>
            </button>
            <nuxt-link v-if="!$store.state.auth.user" to="/auth/login" class="ml-0 lg:ml-5 py-2 lg:py-0 w-full lg:w-auto text-center">
              <span class="text-sm  text-gray-700"><b>Войти</b></span>
            </nuxt-link>
          </div>
        </div>
        <oneInputSearchComponent />
      </div>
    </div>
    <!-- <nuxt-link to="/">Home page</nuxt-link>
    <nuxt-link to="/auth/login">Login page</nuxt-link> -->
    <nuxt />

    <div class="transition transform fixed lg:hidden z-100 bottom-0 inset-x-0 pb-2 px-2">
      <div class="mx-auto px-2 bg-white text-gray-700 py-4 rounded text-center shadow flex text-sm bolder">
        <div class="w-1/4 flex items-center justify-center">
          <nuxt-link to="/" class="text-center">
            <span class="text-sm  text-gray-700"><b>Главная</b></span>
          </nuxt-link>
        </div>
        <div class="w-1/4 flex items-center justify-center">
          <nuxt-link to="/catalog" class="text-center">
            <span class="text-sm  text-gray-700"><b>Каталог</b></span>
          </nuxt-link>
        </div>
        <div class="w-1/4 flex items-center justify-center">
          <nuxt-link to="/cart">
            <div class="flex items-center justify-center">
              <span class="text-sm text-gray-700"><b>Корзина</b><sup class="pl-1">{{ calculateCartCountTotal() }}</sup></span>
              <!-- <span class="flex items-center justify-center w-6 h-6 rounded-full bg-green-rf ml-1 text-xs text-white"><b>{{ calculateCartCountTotal() }}</b></span> -->
            </div>
          </nuxt-link>
        </div>
        <div class="w-1/4 flex items-center justify-center">
          <nuxt-link v-if="!$store.state.auth.user" to="/auth/login" class="text-center">
            <span class="text-sm  text-gray-700"><b>Войти</b></span>
          </nuxt-link>
          <nuxt-link v-if="$store.state.auth.user" to="/profile" class="text-center">
            <span class="text-sm  text-gray-700"><b>Профиль</b></span>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import accountPlusDropdown from '~/components/helpers/accountPlusDropdown'
import shopsDropdown from '~/components/helpers/shopsDropdown'
// import catalogDropDown from '~/components/helpers/catalogDropDown'
import oneInputSearchComponent from '~/components/market/oneInputSearchComponent'

export default {
  components: { accountPlusDropdown, shopsDropdown, oneInputSearchComponent },
  data: () => ({
    open: false
  }),
  mounted () {
    // console.log(this.$echo)
    // this.$echo.private('App.User.1')
    // .notification((notification) => {
    //   console.log(notification)
    // })
    // .listen('NewOrderCreated', (data) => {
    //   console.log(data)
    // })
    // .listen('.my-event', (data) => {
    //   console.log(data)
    // })

    const _self = this

    // its works
    // this.$echo.channel(`backgroudInfo`)
    //   .listen('.NewAppVersionUpdated', (data) => {
    //     _self.$swal({
    //       toast: true,
    //       position: 'top-end',
    //       type: 'success',
    //       title: data.info,
    //       timer: 5000,
    //       showConfirmButton: false
    //     })
    //   })
  },

  methods: {
    toggleMenu () {
      this.open = !this.open
    },
    openWhatsApp () {
      window.open('https://wa.me/79959170596', '_blank')
    },
    openTelegram () {
      window.open('https://t.me/rf_market', '_blank')
    },
    openViber () {
      window.open('viber://chat?number=+79959170596', '_blank')
    },
    openFacebook () {
      window.open('https://www.facebook.com/rfmarketofficial/', '_blank')
    },
    openInstagram () {
      window.open('https://www.instagram.com/rf.market/', '_blank')
    },
    calculateCartCountTotal () {
      const totalItems = this.$store.state.cart.items.reduce((total, p) => {
        return total + p.quantity
      }, 0)

      return totalItems
    },
    logout () {
      this.$store.dispatch('logout').then(() => {
        this.$swal({
          toast: true,
          position: 'top-end',
          type: 'success',
          title: 'Вы вышли из системы',
          timer: 5000,
          showConfirmButton: false
        })
        this.$router.push('/auth/login')
      })
    }
  }
}
</script>
