<template>
  <div class="flex justify-center lg:pt-32">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <profileMenu active="allorders" />
      <div>
        <div class="flex flex-wrap md:flex-nowrap justify-between items-center my-5">
          <h1 class="text-2xl w-full lg:w-auto text-gray-700">
            <nuxt-link :to="'/profile'">
              <b>Профиль</b>
            </nuxt-link> / <b class="text-gray-500">Все заказы</b>
          </h1>
        </div>
        <div v-if="$store.state.auth.user">
          <ordersListAll v-if="$store.state.auth.user.id === 20" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ordersListAll from '~/components/orders/ordersListAll'

import profileMenu from '~/components/helpers/profileMenu'

export default {
  layout: 'mainPage',
  components: { profileMenu, ordersListAll },
  methods: {

  }
}
</script>
