<template>
  <div class="flex justify-center lg:pt-32">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <profileMenu active="orders" />
      <div>
        <div class="flex flex-wrap md:flex-nowrap justify-between items-center my-5">
          <h1 class="text-2xl w-full lg:w-auto text-gray-700">
            <nuxt-link :to="'/profile'">
              <b>Профиль</b>
            </nuxt-link> / <b class="text-gray-500">Мои заказы</b>
          </h1>
        </div>
        <div v-if="$store.state.auth.user">
          <ordersListForShop v-if="$store.state.auth.user.role.name === 'shop' || $store.state.auth.user.role.name === 'ownproduction' || $store.state.auth.user.role.name === 'restaurant'" class="mb-5" />
          <ordersListForIndividual v-if="$store.state.auth.user.role.name === 'individual'" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ordersListForIndividual from '~/components/orders/ordersListForIndividual'
import ordersListForShop from '~/components/orders/ordersListForShop'
import profileMenu from '~/components/helpers/profileMenu'

export default {
  layout: 'mainPage',
  components: { profileMenu, ordersListForShop, ordersListForIndividual },
  methods: {

  }
}
</script>
