<template>
  <div class="lg:pt-28 flex justify-center">
    <div class="w-full xl:w-5/6 px-2 xl:p-0">
      <div class="text-gray-500 my-0 mb-2 mt-2 lg:mt-0">
        <div class="hidden lg:flex justify-between pb-3">
          <nuxt-link class="text-gray-600 text-sm bolder hover:text-gray-500" to="/category/produkty-pitaniya-878">
            Продукты питания
          </nuxt-link>
          <nuxt-link class="text-gray-600 text-sm bolder hover:text-gray-500" to="/category/oxlazdennoe-myaso-i-ptica-986">
            Мясо и птица
          </nuxt-link>
          <nuxt-link class="text-gray-600 text-sm bolder hover:text-gray-500" to="/category/ryba-moreprodukty-1008">
            Рыба, морепродукты
          </nuxt-link>
          <nuxt-link class="text-gray-600 text-sm bolder hover:text-gray-500" to="/category/kolbasy-sosiski-delikatesy-1000">
            Колбасы
          </nuxt-link>
          <nuxt-link class="text-gray-600 text-sm bolder hover:text-gray-500" to="/category/ovoshhi-frukty-zelen-993">
            Овощи, фрукты
          </nuxt-link>
          <nuxt-link class="text-gray-600 text-sm bolder hover:text-gray-500" to="/category/krasota-i-zdorove-431">
            Красота и здоровье
          </nuxt-link>
          <nuxt-link class="text-gray-600 text-sm bolder hover:text-gray-500" to="/category/bytovaya-ximiya-1984">
            Бытовая химия
          </nuxt-link>
          <nuxt-link class="text-gray-600 text-sm bolder hover:text-gray-500" to="/brands">
            Бренды и производители
          </nuxt-link>
        </div>
        <div class="flex flex-wrap items-stretch">
          <div class="w-full lg:w-1/2 flex flex-wrap overflow-hidden">
            <div class="overflow-hidden w-1/2 mb-0 pr-1 lg:pr-0">
              <nuxt-link to="/category/zelen-salatnye-smesi-996">
                <div class="mr-0 lg:mr-2 relative">
                  <div><img src="~assets/img/category/996.jpg" class="rounded"></div>
                  <div class="absolute bottom-0 inset-x-0 w-full">
                    <div class="p-2 bg-gray-500 bg-opacity-75 rounded rounded-t-none w-full">
                      <span class="text-white bolder hidden lg:block">
                        Зелень, салатные смеси
                      </span>
                      <span class="text-white bolder block lg:hidden">
                        Зелень
                      </span>
                    </div>
                  </div>
                </div>
              </nuxt-link>
            </div>

            <div class="overflow-hidden w-1/2 mb-0 pl-1 lg:pl-0">
              <nuxt-link to="/category/oxlazdennoe-myaso-i-ptica-986">
                <div class="mr-0 lg:mr-2 relative">
                  <div><img src="~assets/img/smm/meat.jpg" class="rounded"></div>
                  <div class="absolute bottom-0 inset-x-0 w-full">
                    <div class="p-2 bg-gray-500 bg-opacity-75 rounded rounded-t-none w-full">
                      <span class="text-white bolder">
                        Мясо и птица
                      </span>
                    </div>
                  </div>
                </div>
              </nuxt-link>
            </div>

            <div class="overflow-hidden w-1/2 lg:mb-0 mt-2 lg:mt-0 pr-1 lg:pr-0">
              <nuxt-link to="/search?query=%D0%BA%D0%B0%D1%80%D1%82%D0%BE%D1%84%D0%B5%D0%BB%D1%8C">
                <div class="mr-0 lg:mr-2 relative">
                  <div><img src="~assets/img/category/kartofel.jpg" class="rounded"></div>
                  <div class="absolute bottom-0 inset-x-0 w-full">
                    <div class="p-2 bg-gray-500 bg-opacity-75 rounded rounded-t-none w-full">
                      <span class="text-white bolder">
                        Картофель
                      </span>
                    </div>
                  </div>
                </div>
              </nuxt-link>
            </div>

            <div class="overflow-hidden w-1/2 lg:mb-0 mt-2 lg:mt-0 pl-1 lg:pl-0">
              <nuxt-link to="/category/ryba-moreprodukty-1008">
                <div class="mr-0 lg:mr-2 relative">
                  <div><img src="~assets/img/smm/fish.jpeg" class="rounded"></div>
                  <div class="absolute bottom-0 inset-x-0 w-full">
                    <div class="p-2 bg-gray-500 bg-opacity-75 rounded rounded-t-none w-full">
                      <span class="text-white bolder hidden lg:block">
                        Рыба и морепродукты
                      </span>
                      <span class="text-white bolder block lg:hidden">
                        Рыба
                      </span>
                    </div>
                  </div>
                </div>
              </nuxt-link>
            </div>
          </div>
          <div class="w-full lg:w-1/2 relative order-first lg:order-last mb-2">
            <nuxt-link to="/category/ovoshhi-994">
              <div>
                <img src="~assets/img/category/994.jpg" class="rounded w-full">
                <div class="absolute bottom-0 left-0">
                  <div class="p-5 rounded mb-5 lg:mb-10 bg-gray-700 bg-opacity-75 mx-5 lg:mx-10">
                    <h3 class="bolder text-white text-xl lg:text-5xl leading-none">
                      Лучшие предложения из овощей
                    </h3>
                  </div>
                </div>
              </div>
            </nuxt-link>
          </div>
        </div>
      </div>

      <div class="w-full relative block lg:hidden">
        <nuxt-link to="/recipes">
          <div>
            <img src="~assets/img/receipt.jpg" class="rounded w-full">
            <div class="absolute bottom-0 left-0">
              <div class="p-5 rounded mb-5 lg:mb-10 bg-gray-700 bg-opacity-75 mx-5 lg:mx-10">
                <h3 class="bolder text-white text-xl lg:text-5xl leading-none">
                  Теперь у нас есть рецепты
                </h3>
              </div>
            </div>
          </div>
        </nuxt-link>
      </div>

      <div class="flex -mr-2 flex-wrap">
        <div class="w-full lg:w-1/4 mt-2 lg:mt-0">
          <h3 class="text-gray-700 bolder">
            Бытовая химия
          </h3>
          <div class="flex overflow-hidden -ml-1 mr-1">
            <div class="overflow-hidden lg:my-1 px-1 w-1/2">
              <nuxt-link to="/category/tabletki-2003?page=1">
                <img src="~assets/img/smm/chemical1.jpg" class="rounded w-full">
              </nuxt-link>
            </div>
            <div class="overflow-hidden lg:my-1 px-1 w-1/2">
              <nuxt-link to="/products/funs-clean-porosok-stiralnyi-s-fermentom-yaicnogo-belka-dlya-polnogo-ustraneniya-pyaten">
                <img src="~assets/img/smm/chemical2.jpg" class="rounded w-full">
              </nuxt-link>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/4 mt-2 lg:mt-0">
          <h3 class="text-gray-700 bolder">
            Красота и здоровье
          </h3>
          <div class="flex overflow-hidden -ml-1 mr-1">
            <div class="overflow-hidden lg:my-1 px-1 w-1/2">
              <nuxt-link to="/brands/moist-diane">
                <img src="~assets/img/smm/beauty1.jpg" class="rounded w-full">
              </nuxt-link>
            </div>
            <div class="overflow-hidden lg:my-1 px-1 w-1/2">
              <nuxt-link to="/brands/drjart">
                <img src="~assets/img/smm/beauty2.jpg" class="rounded w-full">
              </nuxt-link>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/4 mt-2 lg:mt-0">
          <h3 class="text-gray-700 bolder">
            Уход за лицом
          </h3>
          <div class="flex overflow-hidden -ml-1 mr-1">
            <div class="overflow-hidden lg:my-1 px-1 w-1/2">
              <nuxt-link to="/category/maski-442">
                <img src="~assets/img/smm/face1.jpg" class="rounded w-full">
              </nuxt-link>
            </div>
            <div class="overflow-hidden lg:my-1 px-1 w-1/2">
              <nuxt-link to="/brands/frudia">
                <img src="~assets/img/smm/face2.jpg" class="rounded w-full">
              </nuxt-link>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/4 mt-2 lg:mt-0">
          <h3 class="text-gray-700 bolder">
            Уход за телом
          </h3>
          <div class="flex overflow-hidden -ml-1 mr-1">
            <div class="overflow-hidden lg:my-1 px-1 w-1/2">
              <nuxt-link to="/products/pedison-gel-dlya-dusa-limonmyata-deo-de-body-cleanser-750ml">
                <img src="~assets/img/smm/body1.jpg" class="rounded w-full">
              </nuxt-link>
            </div>
            <div class="overflow-hidden lg:my-1 px-1 w-1/2">
              <nuxt-link to="/brands/pedison">
                <img src="~assets/img/smm/body2.jpg" class="rounded w-full">
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h3 class="text-xl bolder text-gray-700 mt-5">
          Рыба и морепродукты
        </h3>
      </div>
      <div class="flex flex-wrap overflow-hidden lg:-mx-1 items-stretch">
        <div class="w-full overflow-hidden lg:px-1">
          <mainPageProductsByCategoryComponent :items="6" :categoryId="1009" />
        </div>
      </div>
      <div>
        <h3 class="text-xl bolder text-gray-700 mt-5">
          Итальянские продукты
        </h3>
      </div>
      <div class="flex flex-wrap overflow-hidden xl:-mx-1 my-3">
        <div class="w-1/2 overflow-hidden lg:w-1/4 xl:my-1 xl:px-1 pb-2 lg:pb-0 pr-1 lg:pr-0 relative">
          <nuxt-link to="/brands/de-cecco">
            <img class="rounded" src="~assets/img/smm/dececco.jpg">
            <div class="absolute bottom-0 left-0 w-full px-0 lg:px-1 pr-1">
              <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-2 lg:mb-0">
                De Cecco
              </div>
            </div>
          </nuxt-link>
        </div>

        <div class="w-1/2 overflow-hidden lg:w-1/4 xl:my-1 xl:px-1 pb-2 lg:pb-0 pl-1 relative">
          <nuxt-link to="/brands/barilla">
            <img class="rounded" src="~assets/img/smm/barilla.jpg">
            <div class="absolute bottom-0 left-0 w-full px-0 lg:px-1 pl-1">
              <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-2 lg:mb-0">
                Barilla
              </div>
            </div>
          </nuxt-link>
        </div>

        <div class="w-1/2 overflow-hidden lg:w-1/4 xl:my-1 xl:px-1 pb-2 pr-1 lg:pb-0 relative">
          <nuxt-link to="">
            <img class="rounded" src="~assets/img/smm/delverde.jpg">
            <div class="absolute bottom-0 left-0 w-full px-0 lg:px-1 pr-1">
              <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-2 lg:mb-0">
                Delverde
              </div>
            </div>
          </nuxt-link>
        </div>

        <div class="w-1/2 overflow-hidden lg:w-1/4 xl:my-1 xl:px-1 pb-2 lg:pb-0 pl-1 relative">
          <nuxt-link to="">
            <img class="rounded" src="~assets/img/smm/mutti.jpg">
            <div class="absolute bottom-0 left-0 w-full px-0 lg:px-1 pl-1">
              <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-2 lg:mb-0">
                Mutti
              </div>
            </div>
          </nuxt-link>
        </div>
      </div>
      <div>
        <h3 class="text-xl bolder text-gray-700 mt-5">
          Охлажденное мясо и птица
        </h3>
      </div>
      <div class="flex flex-wrap overflow-hidden lg:-mx-1 items-stretch">
        <div class="w-full overflow-hidden lg:px-1">
          <mainPageProductsByCategoryComponent :items="6" :categoryId="987" />
        </div>
      </div>
      <div>
        <h3 class="text-xl bolder text-gray-700 mt-5">
          Икра
        </h3>
      </div>
      <div class="flex flex-wrap overflow-hidden lg:-mx-1 items-stretch">
        <div class="w-full overflow-hidden lg:px-1">
          <mainPageProductsByCategoryComponent :items="6" :categoryId="1011" />
        </div>
      </div>
      <div>
        <h3 class="text-xl bolder text-gray-700 mt-5">
          Полезные продукты
        </h3>
        <div class="flex -mr-2 flex-wrap">
          <div class="w-full lg:w-1/4 mt-2 lg:mt-0">
            <div class="flex overflow-hidden -ml-1 mr-1">
              <div class="overflow-hidden lg:my-1 px-1 w-1/2 relative">
                <nuxt-link to="/search?query=фермерское">
                  <img src="~assets/img/smm/pol1.jpg" class="rounded w-full">
                  <div class="absolute bottom-0 left-0 w-full px-1 ">
                    <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-0">
                      С фермы
                    </div>
                  </div>
                </nuxt-link>
              </div>
              <div class="overflow-hidden lg:my-1 px-1 w-1/2 relative">
                <nuxt-link to="/brands/vitasfera">
                  <img src="~assets/img/smm/pol2.jpg" class="rounded w-full">
                  <div class="absolute bottom-0 left-0 w-full px-1 ">
                    <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-0">
                      Перекусы
                    </div>
                  </div>
                </nuxt-link>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/4 mt-2 lg:mt-0">
            <div class="flex overflow-hidden -ml-1 mr-1">
              <div class="overflow-hidden lg:my-1 px-1 w-1/2 relative">
                <nuxt-link to="/category/chay-881">
                  <img src="~assets/img/smm/pol3.jpg" class="rounded w-full">
                  <div class="absolute bottom-0 left-0 w-full px-1 ">
                    <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-0">
                      Чай
                    </div>
                  </div>
                </nuxt-link>
              </div>
              <div class="overflow-hidden lg:my-1 px-1 w-1/2 relative">
                <nuxt-link to="/search?query=Кофе">
                  <img src="~assets/img/smm/pol4.jpg" class="rounded w-full">
                  <div class="absolute bottom-0 left-0 w-full px-1 ">
                    <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-0">
                      Кофе
                    </div>
                  </div>
                </nuxt-link>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/4 mt-2 lg:mt-0">
            <div class="flex overflow-hidden -ml-1 mr-1">
              <div class="overflow-hidden lg:my-1 px-1 w-1/2 relative">
                <nuxt-link to="/shops/38">
                  <img src="~assets/img/smm/pol5.jpg" class="rounded w-full">
                  <div class="absolute bottom-0 left-0 w-full px-1 ">
                    <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-0">
                      Масла
                    </div>
                  </div>
                </nuxt-link>
              </div>
              <div class="overflow-hidden lg:my-1 px-1 w-1/2 relative">
                <nuxt-link to="/shops/27">
                  <img src="~assets/img/smm/pol6.jpg" class="rounded w-full">
                  <div class="absolute bottom-0 left-0 w-full px-1 ">
                    <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-0">
                      Нектары
                    </div>
                  </div>
                </nuxt-link>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/4 mt-2 lg:mt-0">
            <div class="flex overflow-hidden -ml-1 mr-1">
              <div class="overflow-hidden lg:my-1 px-1 w-1/2 relative">
                <nuxt-link to="/brands/pravilnyi-myod">
                  <img src="~assets/img/smm/pol7.jpg" class="rounded w-full">
                  <div class="absolute bottom-0 left-0 w-full px-1 ">
                    <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-0">
                      Мед
                    </div>
                  </div>
                </nuxt-link>
              </div>
              <div class="overflow-hidden lg:my-1 px-1 w-1/2 relative">
                <nuxt-link to="/category/zelen-salatnye-smesi-996">
                  <img src="~assets/img/smm/pol8.jpg" class="rounded w-full">
                  <div class="absolute bottom-0 left-0 w-full px-1 ">
                    <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-0">
                      Зелень
                    </div>
                  </div>
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h3 class="text-xl bolder text-gray-700 mt-5">
          Зелень и салатные смеси
        </h3>
      </div>
      <div class="flex flex-wrap items-start">
        <div class="w-full lg:w-2/3">
          <mainPageProductsByCategoryComponent :categoryId="996" :items="4" />
        </div>
        <div class="w-full lg:w-1/3 relative mt-2 pl-0 lg:pl-2">
          <img class="object-cover w-full lg:w-auto h-full rounded" src="~assets/img/safety_pack.jpg">
          <div class="absolute bottom-0 left-0">
            <div class="p-5 rounded mb-10 bg-gray-700 bg-opacity-75 mx-10">
              <h3 class="bolder text-white text-xl lg:text-5xl">
                Безопасная упаковка
              </h3>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap overflow-hidden xl:-mx-1 my-3">
        <div class="w-1/2 overflow-hidden lg:w-1/4 xl:my-1 xl:px-1 pb-2 lg:pb-0 pr-1 lg:pr-0 relative">
          <nuxt-link to="/search?query=вареная&page=1">
            <img class="rounded" src="~assets/img/smm/kolbasa1.jpg">
            <div class="absolute bottom-0 left-0 w-full px-0 lg:px-1 pr-1">
              <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-2 lg:mb-0">
                Полезная Докторская
              </div>
            </div>
          </nuxt-link>
        </div>

        <div class="w-1/2 overflow-hidden lg:w-1/4 xl:my-1 xl:px-1 pb-2 lg:pb-0 pl-1 relative">
          <nuxt-link to="/search?query=сосиски">
            <img class="rounded" src="~assets/img/smm/kolbasa2.jpg">
            <div class="absolute bottom-0 left-0 w-full px-0 lg:px-1 pl-1">
              <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-2 lg:mb-0">
                Вкусные Сосиски
              </div>
            </div>
          </nuxt-link>
        </div>

        <div class="w-1/2 overflow-hidden lg:w-1/4 xl:my-1 xl:px-1 pb-2 pr-1 lg:pb-0 relative">
          <nuxt-link to="/search?query=сырокопченая">
            <img class="rounded" src="~assets/img/smm/kolba3.jpg">
            <div class="absolute bottom-0 left-0 w-full px-0 lg:px-1 pr-1">
              <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-2 lg:mb-0">
                Изысканная Сырокопченая
              </div>
            </div>
          </nuxt-link>
        </div>

        <div class="w-1/2 overflow-hidden lg:w-1/4 xl:my-1 xl:px-1 pb-2 lg:pb-0 pl-1 relative">
          <nuxt-link to="/category/kolbasy-sosiski-delikatesy-1000">
            <img class="rounded" src="~assets/img/smm/kolba4.jpg">
            <div class="absolute bottom-0 left-0 w-full px-0 lg:px-1 pl-1">
              <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-2 lg:mb-0">
                Еще 250 колбас
              </div>
            </div>
          </nuxt-link>
        </div>
      </div>

      <div class="flex flex-wrap overflow-hidden lg:-mx-1 items-stretch">
        <div class="w-full overflow-hidden lg:px-1">
          <mainPageProductsByCategoryComponent :items="6" :categoryId="995" />
        </div>
      </div>

      <div class="flex items-center justify-between mt-5">
        <h3 class="text-xl bolder text-gray-700">
          Магазины rf.market
        </h3>
        <!-- <nuxt-link to="/shops" class="bolder text-blue-600">
          Все магазины
        </nuxt-link> -->
      </div>

      <div class="flex flex-wrap items-stretch overflow-hidden lg:-mx-1 mt-2">
        <div v-for="shop in $store.state.shops.shopsList.slice(0, 4)" :key="shop.id" class="w-full overflow-hidden lg:my-1 lg:px-1 lg:w-1/4 mb-2 lg:mb-0">
          <div class="rounded bg-gray-200 p-2 flex hover:bg-gray-300 h-full">
            <div class="">
              <nuxt-link :to="'/shops/'+shop.id">
                <div class="flex items-center justify-start mb-2">
                  <div v-if="shop.media.mainImage !== null">
                    <img v-lazy="shop.media.mainImage.url" class="object-cover h-10 w-10 rounded">
                  </div>
                  <div v-if="shop.media.mainImage === null">
                    <img src="~assets/img/nophoto.svg" class="object-cover h-10 w-10 rounded">
                  </div>
                  <div class="text-gray-700 bolder text-xl ml-2">
                    {{ shop.name }}
                  </div>
                </div>
              </nuxt-link>
              <div class="flex items-stretch -mx-1">
                <div v-for="(k,i) in 3" :key="i" class="flex flex-col justify-start w-1/3 px-1">
                  <div class="relative">
                    <nuxt-link :to="/products/+$store.state.shops.mainPageShopsData[shop.id].data[i].url" v-if="$store.state.shops.mainPageShopsData[shop.id].data[i].media.mainImage !== null">
                      <div class="flex items-center justify-center h-auto overflow-hidden">
                        <img v-lazy="$store.state.shops.mainPageShopsData[shop.id].data[i].media.mainImage.url" :alt="$store.state.shops.mainPageShopsData[shop.id].data[i].name" class="rounded transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-150">
                      </div>
                    </nuxt-link>
                    <div class="my-1 lg:my-3 h-12 overflow-hidden">
                      <nuxt-link :to="/products/+$store.state.shops.mainPageShopsData[shop.id].data[i].url" class="text-gray-700 bolder text-sm text-left">
                        {{ $store.state.shops.mainPageShopsData[shop.id].data[i].name }}
                      </nuxt-link>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- $store.state.shops.mainPageShopsData[shop.id].data -->
        </div>
      </div>
      <div>
        <h3 class="text-xl bolder text-gray-700 mt-5">
          Ваш ежедневный рацион
        </h3>
      </div>
      <div class="flex flex-wrap overflow-hidden xl:-mx-1 my-3">
        <div class="w-1/2 overflow-hidden lg:w-1/4 xl:my-1 xl:px-1 pb-2 lg:pb-0 pr-1 lg:pr-0 relative">
          <nuxt-link to="/category/yaica-945">
            <img class="rounded" src="~assets/img/smm/bt1.jpg">
            <div class="absolute bottom-0 left-0 w-full px-0 lg:px-1 pr-1">
              <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-2 lg:mb-0">
                Яйца
              </div>
            </div>
          </nuxt-link>
        </div>

        <div class="w-1/2 overflow-hidden lg:w-1/4 xl:my-1 xl:px-1 pb-2 lg:pb-0 pl-1 relative">
          <nuxt-link to="/category/solenaya-i-kopchenaya-ryba-1012?page=1">
            <img class="rounded" src="~assets/img/smm/bt2.jpg">
            <div class="absolute bottom-0 left-0 w-full px-0 lg:px-1 pl-1">
              <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-2 lg:mb-0">
                Слабосоленая семга
              </div>
            </div>
          </nuxt-link>
        </div>

        <div class="w-1/2 overflow-hidden lg:w-1/4 xl:my-1 xl:px-1 pb-2 pr-1 lg:pb-0 relative">
          <nuxt-link to="/category/govyadina-987?page=1">
            <img class="rounded" src="~assets/img/smm/bt3.jpg">
            <div class="absolute bottom-0 left-0 w-full px-0 lg:px-1 pr-1">
              <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-2 lg:mb-0">
                Говядина
              </div>
            </div>
          </nuxt-link>
        </div>

        <div class="w-1/2 overflow-hidden lg:w-1/4 xl:my-1 xl:px-1 pb-2 lg:pb-0 pl-1 relative">
          <nuxt-link to="/category/baranina-2087?page=1">
            <img class="rounded" src="~assets/img/smm/bt4.jpg">
            <div class="absolute bottom-0 left-0 w-full px-0 lg:px-1 pl-1">
              <div class="bg-gray-700 opacity-75 rounded rounded-t-none px-2 py-1 text-white bolder mb-2 lg:mb-0">
                Баранина
              </div>
            </div>
          </nuxt-link>
        </div>
      </div>
      <div>
        <h3 class="text-xl bolder text-gray-700 mt-5">
          Лучшие предложения из магазина Mercanto Italiano
        </h3>
      </div>
      <div class="flex flex-wrap items-start">
        <div class="w-full">
          <mainPageProductsByCategoryComponent :categoryId="555" :items="7" />
        </div>
      </div>

      <div>
        <h3 class="text-xl bolder text-gray-700 mt-5">
          Лучшие предложения
        </h3>
      </div>
      <div class="flex flex-wrap overflow-hidden lg:-mx-1 items-stretch">
        <div class="w-full overflow-hidden lg:px-1">
          <mainPageProductsByCategoryComponent :items="6" :categoryId="5417" />
        </div>
      </div>

      <div class="flex flex-wrap overflow-hidden lg:-mx-1 items-stretch mb-5">
        <div class="w-full overflow-hidden lg:px-1">
          <mainPageProductsByCategoryComponent :items="6" :categoryId="946" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import axios from 'axios'
import mainPageProductsByCategoryComponent from '~/components/shops/mainPageProductsByCategoryComponent'
const getData = () => import('~/static/index.json').then(m => m.default || m)

export default {
  // head () {
  //   return {
  //     link: [
  //       {
  //         rel: 'canonical',
  //         href: 'https://rf.market' + this.$route.path
  //       }
  //     ]
  //   }
  // },
  auth: 'guest',
  // auth: false,
  components: { mainPageProductsByCategoryComponent },
  data: () => ({
    // data: null
  }),
  layout: 'mainPage',
  computed: {

  },
  async fetch ({ store, params }) {
    // const { data } = await axios.get(process.env.API_URL + `/api/index`)
    const data = await getData()
    store.commit('shops/setIndexData', data.topProductsByCategory)
    store.commit('shops/setMainPageShopsData', data.shopsProducts)
    store.commit('shops/setShops', data.shops.data)
  },
  mounted () {

  },
  methods: {

  }
}
</script>
