<template>
  <div>
    <div class="flex items-center justify-between">
      <h2 class="text-2xl text-gray-700">
        <b>Быстрый поиск товаров</b>
      </h2>
      <div class="flex justify-between items-center">
        <!-- <button class="rounded bg-red-300 hover:bg-red-400 py-1 px-2 lg:px-5 text-sm text-white focus:outline-none">
          Собрать заказ
        </button> -->
      </div>
    </div>

    <oneInputSearchComponent />

    <marketplaceProductsComponent />
    <!-- <mainPageProductsFilterComponent :shopId="null" :isShowMegaMenu="false" /> -->

    <!-- <div class="mb-5">
      <img src="~assets/img/promo.jpg" class="object-cover rounded cursor-pointer">
    </div> -->
    <!-- <div v-if="demo"> -->
    <!-- <div class="flex items-start"> -->
    <!-- <mainPageFilteredProductsComponent class="w-full" /> -->
    <!-- <div class="hidden lg:block w-1/3 pl-3">
          <mainPageShopsComponent />
        </div>
      </div> -->

    <!-- <div>
        <h2 class="text-xl text-gray-500">
          Только что купили
        </h2>
        <div class="-ml-2">
          <v-wait for="loading carousel products list" class="my-3">
            <template slot="waiting">
              <div class="flex items-center justify-center py-24">
                <fulfilling-bouncing-circle-spinner
                  :animation-duration="2500"
                  :size="70"
                  color="#CBD5E0"
                />
              </div>
            </template>
            <carousel :perPage="6" :paginationEnabled="false" :perPageCustom="[[320, 3], [425, 3], [768, 4], [1024, 6]]">
              <slide v-for="product in carouselProducts" v-bind:key="product.hash" class="bg-white rounded px-2 pt-2 text-xs text-center mr-2 bounceIn">
                <div class="border border-dashed border-gray-200 hover:bg-gray-200 py-1 px-2 rounded h-full">
                  <mainPageProductCardComponent :product="product" />
                </div>
              </slide>
            </carousel>
          </v-wait>
        </div>
      </div> -->
    <!-- </div> -->
  </div>
</template>

<script>
import { mapState } from 'vuex'
// import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
// import mainPageProductsFilterComponent from '~/components/shops/mainPageProductsFilterComponent'
import oneInputSearchComponent from '~/components/market/oneInputSearchComponent'
// import mainPageProductCardComponent from '~/components/products/mainPageProductCardComponent'
import marketplaceProductsComponent from '~/components/market/marketplaceProductsComponent'
// import mainPageShopsComponent from '~/components/shops/mainPageShopsComponent'

export default {
  layout: 'mainPage',
  components: { oneInputSearchComponent, marketplaceProductsComponent },
  data: () => ({
    interval: null,
    demo: true
  }),
  computed: {
    ...mapState({
      carouselProducts: state => state.shops.carouselProductsList
    })
  },
  destroyed () {
    clearInterval(this.interval)
  },
  mounted () {
    // this.startCountdown()
    // this.getCarouselProducts()
  },
  methods: {
    // startCountdown () {
    //   this.timeTick = () => this.getUpdateCarouselProducts()
    //   this.interval = setInterval(this.timeTick, 250000)
    // },
    // async getCarouselProducts () {
    //   this.$store.dispatch('wait/start', 'loading carousel products list', { root: true })
    //   await this.$store.dispatch('shops/getCarouselProducts')
    //   this.$store.dispatch('wait/end', 'loading carousel products list', { root: true })
    // },
    async getUpdateCarouselProducts () {
      // this.$store.dispatch('wait/start', 'loading carousel products list', { root: true })
      await this.$store.dispatch('shops/getUpdateCarouselProducts')
      // this.$store.dispatch('wait/end', 'loading carousel products list', { root: true })
    }

  }
}
</script>
