<template>
  <div class="lg:-mx-1 h-full">
    <client-only>
      <carousel
        :ref="'sectionCarousel'+categoryId"
        :perPage="6"
        :paginationEnabled="true"
        :navigationEnabled="false"
        :paginationColor="'#e53e3e'"
        :paginationActiveColor="'#3182ce'"
        :perPageCustom="[[320, 2], [425, 2], [768, 3], [1024, items]]"
        class="mt-2"
      >
        <slide v-if="categoryId === 995" class="lg:px-1 rounded">
          <div class="rounded relative h-full" style="background-color: #efeeec;">
            <img class="h-auto rounded" src="~assets/img/smm/fruits.jpg">
            <div class="absolute bottom-0 left-0">
              <div class="p-5 rounded mb-10 bg-gray-700 bg-opacity-75 mx-5">
                <h3 class="bolder text-white text-xl lg:text-xl">
                  Сочные фрукты
                </h3>
                <div class="w-auto mt-5">
                  <nuxt-link to="/category/frukty-995?page=1">
                    <span class="flex items-center justify-center bg-gray-700 hover:bg-gray-500 rounded-full w-12 h-12 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer"><fa :icon="['fas', 'angle-right']" class="text-white" /></span>
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>
        </slide>
        <slide v-if="categoryId === 1009" class="lg:px-1 rounded">
          <div class="rounded relative h-full overflow-hidden">
            <img class="h-full w-full object-cover rounded" src="~assets/img/smm/fish2.jpg">
            <div class="absolute bottom-0 left-0">
              <div class="p-5 rounded mb-10 bg-gray-700 bg-opacity-75 mx-5">
                <h3 class="bolder text-white text-xl lg:text-xl">
                  Много белка и ноль углеводов
                </h3>
                <div class="w-auto mt-5">
                  <nuxt-link to="/category/ryba-1009?page=1">
                    <span class="flex items-center justify-center bg-gray-700 hover:bg-gray-500 rounded-full w-12 h-12 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer"><fa :icon="['fas', 'angle-right']" class="text-white" /></span>
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>
        </slide>
        <slide v-for="product in $store.state.shops.indexData[categoryId].data" v-bind:key="product.id" class="bg-white rounded px-0 lg:px-1 bounceIn">
          <productCardComponent :product="product" />
        </slide>
        <slide v-if="categoryId === 946" class="lg:px-1 rounded">
          <div class="rounded relative h-full" style="background-color: #b7e1dd;">
            <img class="h-auto rounded" src="~assets/img/nemoloko.jpg">
            <div class="absolute bottom-0 left-0">
              <div class="p-5 rounded mb-10 bg-gray-700 bg-opacity-75 mx-5">
                <h3 class="bolder text-white text-xl lg:text-xl">
                  Все товары категории растительное и кокосовое молоко
                </h3>
                <div class="w-auto mt-5">
                  <nuxt-link to="/category/rastitelnoe-i-kokosovoe-moloko-946?page=1">
                    <span class="flex items-center justify-center bg-gray-700 hover:bg-gray-500 rounded-full w-12 h-12 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer"><fa :icon="['fas', 'angle-right']" class="text-white" /></span>
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>
        </slide>

        <slide v-if="categoryId === 5417" class="lg:px-1 rounded">
          <div class="rounded relative h-full" style="background-color: #fff;">
            <img class="h-full w-full object-cover rounded" src="~assets/img/smm/syner.jpg">
            <div class="absolute bottom-0 left-0">
              <div class="p-5 rounded mb-10 bg-gray-700 bg-opacity-75 mx-5">
                <h3 class="bolder text-white text-xl lg:text-xl">
                  Эко средства для уборки и стирки
                </h3>
                <div class="w-auto mt-5">
                  <nuxt-link to="/brands/5417">
                    <span class="flex items-center justify-center bg-gray-700 hover:bg-gray-500 rounded-full w-12 h-12 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer"><fa :icon="['fas', 'angle-right']" class="text-white" /></span>
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>
        </slide>
      </carousel>
    </client-only>
  </div>
</template>

<script>

import productCardComponent from '~/components/shops/productCardComponent'

export default {
  components: { productCardComponent },
  props: {
    products: {
      type: Array,
      default: null
    },
    categoryId: {
      type: Number,
      default: null
    },
    items: {
      type: Number,
      default: 5
    }
  },

  computed: {

  },
  mounted () {

  },
  methods: {

  }
}
</script>
