<template>
  <div class="w-full">
    <h2 class="text-xl text-gray-500 mt-3">
      Популярные магазины
    </h2>
    <v-wait for="loading shops" class="my-3">
      <template slot="waiting">
        <div class="flex items-center justify-center  py-24">
          <fulfilling-bouncing-circle-spinner
            :animation-duration="2500"
            :size="70"
            color="#CBD5E0"
          />
        </div>
      </template>
      <div class="flex flex-wrap">
        <div v-for="shop in shops" v-if="shop.totalProducts !== 0 && shop.priceMin !== null" class="w-full pr-0 mb-2">
          <div class="px-5 border border-dashed border-gray-200 hover:bg-gray-200 py-2 rounded">
            <nuxt-link :to="'/shops/'+shop.id">
              <div class="flex">
                <div v-if="shop.media.mainImage !== null">
                  <img :src="shop.media.mainImage.url" class="object-cover h-24 w-24 rounded">
                </div>
                <div class="pl-3">
                  <div>{{ shop.name }}</div>
                  <div class="text-gray-500 text-sm">
                    {{ shop.location.data.city }}, {{ shop.location.data.region_with_type }}
                  </div>
                  <div class="text-gray-500 text-sm">
                    {{ shop.address }}
                  </div>
                  <div class="text-xs text-gray-500">
                    Мин. сумма заказа: {{ shop.priceMin }} руб.
                  </div>
                  <!-- <div class="text-xs text-red-500">
                    Доступно к заказу товаров:{{ shop.totalProducts }}
                  </div> -->
                </div>
              </div>
            </nuxt-link>
          </div>
        </div>
      </div>
    </v-wait>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'

export default {
  layout: 'mainPage',
  components: { FulfillingBouncingCircleSpinner },
  data: () => ({

  }),
  computed: {
    ...mapState({
      shops: state => state.shops.shopsList
    })
  },
  mounted () {
    this.getShops()
  },
  methods: {
    async getShops () {
      this.$store.dispatch('wait/start', 'loading shops', { root: true })
      await this.$store.dispatch('shops/getShops')
      this.$store.dispatch('wait/end', 'loading shops', { root: true })
    }
  }
}
</script>
