<template>
  <div class="mb-5 mt-3 p-2 rounded border-dashed border-2 border-blue-300 hover:border-gray-400">
    <div class="flex items-center justify-between flex-wrap">
      <div class="w-full lg:w-2/3 pr-0 lg:pr-2 mb-2 lg:mb-0">
        <input v-debounce:1000ms="handleSearchByName" :value="searchByName" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Для поиска введите название товара..">
      </div>
      <div class="w-full lg:w-1/3 flex items-center justify-between">
        <div class="w-full lg:w-1/2 pr-2">
          <input
            v-debounce:1000ms="handleSearchByPriceMin"
            :value="searchByPriceMin"
            type="text"
            class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white"
            placeholder="Цена от.."
          >
        </div>
        <div class="w-full lg:w-1/2">
          <input
            v-debounce:1000ms="handleSearchByPriceMax"
            :value="searchByPriceMax"
            type="text"
            class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white"
            placeholder="Цена до.."
          >
        </div>
        <!-- <div class="flex-1 ml-2">
          <button class="rounded bg-gray-300 hover:bg-gray-200 border-2 border-gray-300 py-2 px-3 text-gray-400 focus:outline-none w-auto" type="button">
            <fa :icon="['fas', 'search']" />
          </button>
        </div> -->
        <div v-if="$store.state.shops.filter.searchByName !== '' || $store.state.shops.filter.searchByPriceMin !== '' || $store.state.shops.filter.searchByPriceMax !== '' || $store.state.shops.filter.classificators !== ''" class="flex-1 ml-2">
          <button v-on:click="resetFilters" class="rounded bg-gray-300 hover:bg-gray-200 border-2 border-gray-300 py-2 px-4 text-gray-400 focus:outline-none w-auto" type="button">
            <fa :icon="['fas', 'times']" />
          </button>
        </div>
      </div>
    </div>
    <v-wait for="loading popular classificators">
      <template slot="waiting">
        <div class="flex items-center justify-center  py-5">
          <fulfilling-bouncing-circle-spinner
            :animation-duration="2500"
            :size="70"
            color="#CBD5E0"
          />
        </div>
      </template>
      <div class="flex items-center justify-start mt-2 flex-wrap">
        <div v-for="classificator in popularClassificators" v-on:click="addClassificatorToFilter(classificator.id)" :class="$store.state.shops.filter.classificators === classificator.id ? 'gradiend-red-button text-white' : 'text-gray-700 bg-gray-300 hover:bg-gray-400'" class=" p-1 text-xs rounded mr-1 mb-1 cursor-pointer flex justify-start items-center">
          <span>{{ classificator.title }}</span>
        </div>
      </div>
    </v-wait>
    <transition name="slide-fade" class="w-full">
      <categoriesMegaMenuComponent ref="megaMenuComponent" @setCategory="addClassificatorToFilter" @hideCatalog="hideCatalog" v-if="isShow" class="my-5" />
    </transition>
    <div class="flex items-center justify-between mt-2 lg:mt-5 text-sm flex-wrap">
      <transition name="fade" class=" w-full lg:w-auto">
        <span v-on:click="showCatalog" v-if="!isShow" class="text-white text-xl cursor-pointer w-full lg:w-auto text-center bolder text-red-600 hover:text-red-500">Каталог товаров</span>
      </transition>
      <div v-if="isShow" />
      <div class="flex items-center justify-start lg:justify-end flex-wrap w-full lg:w-auto pt-5 lg:pt-0">
        <div class="flex items-center justify-between">
          <div class="text-gray-500">
            Отображать:
          </div>
          <div v-on:click="viewBy('list')" :class="$store.state.shops.viewBy === 'list' ? 'text-green-rf' : 'text-gray-600 cursor-pointer hover:text-gray-800'" class="ml-3 flex items-center justify-between">
            <span class="mr-2">списком</span><fa :icon="['fas', 'th-list']" />
          </div>
          <div v-on:click="viewBy('grid')" :class="$store.state.shops.viewBy === 'grid' ? 'text-green-rf' : 'text-gray-600 cursor-pointer hover:text-gray-800'" class="ml-3 mr-0 lg:mr-10 flex items-center justify-between">
            <span class="mr-2">плиткой</span><fa :icon="['fas', 'th']" />
          </div>
        </div>
        <div class="flex items-center justify-between">
          <div class="text-gray-500">
            Сортировать по:
          </div>
          <div v-on:click="sortBy('price')" class="ml-3 text-gray-600 cursor-pointer hover:text-gray-800 flex items-center justify-between">
            <span class="mr-2">стоимости</span><fa v-if="$store.state.shops.sort.field === 'price'" :icon="['fas', $store.state.shops.sort.direction === 'asc' ? 'sort-amount-down-alt' : 'sort-amount-up-alt']" />
          </div>
          <div v-on:click="sortBy('created_at')" class="ml-3 text-gray-600 cursor-pointer hover:text-gray-800 flex items-center justify-between">
            <span>обновлению</span><fa v-if="$store.state.shops.sort.field === 'created_at'" :icon="['fas', $store.state.shops.sort.direction === 'asc' ? 'sort-amount-down-alt' : 'sort-amount-up-alt']" class="ml-2" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// import { debounce } from 'vue-debounce'

import { mapState } from 'vuex'
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import categoriesMegaMenuComponent from '~/components/helpers/categoriesMegaMenuComponent'

export default {
  components: { FulfillingBouncingCircleSpinner, categoriesMegaMenuComponent },
  props: {
    shopId: {
      type: Number,
      default: null
    },
    isShowMegaMenu: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    isShow: false
  }),
  computed: {
    ...mapState({
      popularClassificators: state => state.shops.popularClassificators
    }),
    searchByName () {
      return this.$store.state.shops.filter.searchByName
    },
    searchByPriceMin () {
      return this.$store.state.shops.filter.searchByPriceMin
    },
    searchByPriceMax () {
      return this.$store.state.shops.filter.searchByPriceMax
    }
  },

  mounted () {
    this.getProductsSearchPopularClassificators()
    if (this.shopId !== null) {
      this.handleSearchByShop(this.shopId)
    }
    this.isShow = this.isShowMegaMenu
    // this.$refs.megaMenuComponent.getMainCategories()
  },

  methods: {
    viewBy (param) {
      this.$store.commit('shops/setViewBy', param)
    },
    showCatalog () {
      this.isShow = true
    },
    hideCatalog () {
      this.isShow = false
    },
    sortBy (type) {
      this.$store.dispatch('shops/sortBy', type)
    },
    addClassificatorToFilter (id) {
      // console.log(id)
      if (this.$store.state.shops.filter.classificators !== id) {
        this.$store.dispatch('shops/filterSearchByClassificator', id)
        this.hideCatalog()
      } else {
        this.resetFilters()
      }
    },
    async getProductsSearchPopularClassificators () {
      this.$store.dispatch('wait/start', 'loading popular classificators', { root: true })
      await this.$store.dispatch('shops/getProductsSearchPopularClassificators', this.shopId)
      this.$store.dispatch('wait/end', 'loading popular classificators', { root: true })
    },
    resetFilters () {
      this.$store.dispatch('shops/resetFilters', this.shopId)
      // this.showCatalog()
    },
    handleSearchByName (e) {
      this.$store.dispatch('wait/start', 'loading filtered products list', { root: true })
      this.$store.dispatch('shops/filterSearchByName', e)
      this.$store.dispatch('wait/end', 'loading filtered products list', { root: true })
      this.hideCatalog()
    },
    handleSearchByPriceMin (e) {
      this.$store.dispatch('shops/filterSearchByPriceMin', e)
      this.hideCatalog()
    },
    handleSearchByPriceMax (e) {
      this.$store.dispatch('shops/filterSearchByPriceMax', e)
      this.hideCatalog()
    },
    handleSearchByShop (shopId) {
      this.$store.dispatch('shops/filterSearchByShop', shopId)
    }
  }
}
</script>
