<template>
  <div class="h-full shadow-sm rounded">
    <div
      v-if="$store.state.shops.viewBy === 'grid'"
      :class="isForGroup ? 'border-white bg-white' : 'border-gray-100'"
      class="p-1 h-full flex flex-col justify-between border rounded"
    >
      <div class="flex flex-col justify-start">
        <div v-if="product.media !== null" class="relative">
          <nuxt-link :to="/products/+product.url" v-if="product.media.mainImage !== null">
            <div class="flex items-center justify-center h-auto overflow-hidden">
              <img v-lazy="product.media.mainImage.url" :alt="product.name" class="rounded transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-150">
            </div>
            <div v-if="!isForGroup" class="absolute top-0 right-0 flex items-center justify-end">
              <div v-if="product.action" class="bg-red-600 bolder text-xs text-white py-1 px-2 rounded mt-1 mr-1">
                акция
              </div>
              <div v-if="product.new" class="bg-green-rf bolder text-xs text-white py-1 px-2 rounded mt-1 mr-1">
                новинка
              </div>
              <div v-if="product.popular" class="bg-orange-400 bolder text-xs text-white py-1 px-2 rounded mt-1 mr-1">
                топ
              </div>
              <div v-if="product.halyal" class="bg-green-400 bolder text-xs text-white py-1 px-2 rounded mt-1 mr-1">
                халяль
              </div>
            </div>
          </nuxt-link>
        </div>
        <!-- <nuxt-link :to="/products/+product.url" v-if="product.media.mainImage === null && product.media.video !== null">
          <div class="flex items-center justify-center h-56 overflow-hidden">
            <video
              v-if="product.media.video.length > 0"
              :poster="product.media.mainImage ? product.media.mainImage.url : '~assets/img/nophoto.svg' "
              autoplay
              muted
              loop
              class="h-full object-cover w-full rounded"
            >
              <source :src="product.media.video[0].url" :type="product.media.video[0].type">
            </video>
          </div>
        </nuxt-link> -->
        <nuxt-link :to="/products/+product.url" v-if="product.media.mainImage === null">
          <div class="flex items-center justify-center h-40 lg:h-56 overflow-hidden">
            <img src="~assets/img/nophoto.svg" class="h-full object-cover filter-grayscale">
          </div>
        </nuxt-link>
        <div class="my-1 lg:my-3">
          <nuxt-link :to="/products/+product.url" class="text-gray-700 bolder text-left truncate-4-lines">
            {{ product.name }}<br><span v-if="product.country !== null" class="text-gray-500 text-sm">{{ product.country }}</span>
          </nuxt-link>
        </div>
      </div>
      <div class="flex flex-col justify-end">
        <div :class="product.brand ? 'justify-between flex-wrap': 'justify-end'" class="flex items-center my-1 lg:my-3">
          <div v-if="product.brand">
            <nuxt-link :to="/brands/+product.brand.slug" class="text-blue-rf px-2 py-1 rounded text-xs bg-gray-200 bolder">
              {{ product.brand.name }}
            </nuxt-link>
          </div>
          <div v-if="!isForGroup">
            <star-rating :rating="4" :read-only="true" :star-size="13" :show-rating="false" active-color="#ECC94B" />
          </div>
        </div>

        <div>
          <nuxt-link :to="product.category.slug" class="text-sm text-gray-500">
            {{ product.category.title }}
          </nuxt-link>
        </div>
        <div>
          <div v-if="product.priceWithDiscount !== null">
            <div :class="!isForGroup ? 'text-green-rf' : 'text-gray-700'" class="text-base lg:text-2xl bolder flex items-center justify-center">
              <span>{{ product.priceWithDiscount | numFormat }}</span>
              <span class="text-gray-500 ml-1 text-base"><fa :icon="['fas', 'ruble-sign']" /></span>
              <span v-if="!product.isWeightedGoods" class="ml-2 text-gray-500 text-xs lg:text-sm">за шт.</span>
              <span v-if="product.isWeightedGoods" class="ml-2 text-gray-500 text-xs lg:text-sm">за {{ product.weight }} {{ product.measure }}</span>
            </div>
            <div v-if="!isForGroup" class="flex items-center justify-center">
              <div class="leading-5 line-through bolder" style="text-decoration-color: #b7b7b7;">
                <span class="text-gray-500 text-base">{{ product.price | numFormat }}</span>
                <span class="text-gray-500 text-base line-through pt-1">₽</span>
                <span v-if="!product.isWeightedGoods" class=" text-gray-500 text-xs lg:text-sm">за шт.</span>
                <span v-if="product.isWeightedGoods" class=" text-gray-500 text-xs lg:text-sm">за {{ product.weight }} {{ product.measure }}</span>
              </div>
            </div>
          </div>
          <div v-if="product.priceWithDiscount === null" class="text-base lg:text-2xl text-gray-700 bolder flex items-center justify-center">
            <span>{{ product.price | numFormat }}</span>
            <span class="text-gray-500 ml-1 text-base"><fa :icon="['fas', 'ruble-sign']" /></span>
            <span v-if="!product.isWeightedGoods" class="ml-2 text-gray-500 text-xs lg:text-sm">за шт.</span>
            <span v-if="product.isWeightedGoods" class="ml-2 text-gray-500 text-xs lg:text-sm">за {{ product.weight }} {{ product.measure }}</span>
          </div>
        </div>
        <div v-if="isShowInCartBtn" class="w-full lg:w-auto text-center text-green-rf flex justify-between items-center flex-wrap">
          <button v-if="!checkInCart(product.id)" @click="addProductToCart(product)" title="Добавить в корзину" class="rounded w-full h-12 bg-gray-200 hover:bg-gray-300 shadow-lg flex items-center justify-center text-gray-500 focus:outline-none">
            <fa :icon="['fas', 'plus']" v-if="!isAddingToCart" />
            <span v-if="!isAddingToCart" class="ml-2 bolder text-gray-500 text-base">В корзину</span>
            <fulfilling-bouncing-circle-spinner
              :animation-duration="2500"
              :size="20"
              v-if="isAddingToCart"
              color="#CBD5E0"
            />
          </button>
          <div v-if="checkInCart(product.id)" class="w-full animate__animated animate__bounceIn">
            <div class="flex items-center justify-center w-full">
              <button v-on:click="changeItemCartQuantity('minus', product.id)" class="bg-gray-400 mr-2 text-white text-sm shadow-lg rounded-full w-6 h-6 focus:outline-none flex items-center justify-center">
                <fa :icon="['fas', 'minus-circle']" />
              </button>
              <input v-if="!product.isWeightedGoods" :value="getCurrentProductQuantity(product.id)" type="number" disabled class="bolder py-3 shadow-lg bg-gray-200 w-1/2 text-center text-sm text-gray-700 rounded">
              <input v-if="product.isWeightedGoods" :value="getCurrentProductWeight(product.id)+' '+product.measure" type="text" disabled class="bolder py-3 shadow-lg bg-gray-200 w-1/2 text-center text-sm text-gray-7 00 rounded">
              <button v-on:click="changeItemCartQuantity('plus', product.id)" class="ml-2 text-white text-sm rounded-full shadow-lg w-6 h-6 bg-gray-400 focus:outline-none flex items-center justify-center">
                <fa :icon="['fas', 'plus-circle']" />
              </button>
            </div>
          </div>
        </div>
        <div class="text-xs lg:text-sm text-center my-2 text-gray-400">
          <span v-if="![23, 45, 24, 42].includes(product.shopId)">со склада РФ маркет</span>
          <span v-if="[23, 45, 24, 42].includes(product.shopId)">со склада поставщика</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
export default {
  components: { FulfillingBouncingCircleSpinner },
  props: {
    product: {
      type: Object,
      default: null
    },
    isShowInCartBtn: {
      type: Boolean,
      default: true
    },
    isForGroup: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    isAddingToCart: false
  }),
  methods: {
    getCurrentProductQuantity (id) {
      const CartProduct = this.$store.state.cart.items.find(prod => prod.product.id === id)
      return CartProduct.quantity
    },
    getCurrentProductWeight (id) {
      const CartProduct = this.$store.state.cart.items.find(prod => prod.product.id === id)
      return CartProduct.weight
    },
    changeItemCartQuantity (param, productId) {
      if (param === 'plus') {
        this.$store.dispatch('cart/plusOneItemOfProductInCart', productId).then(() => {
          this.$swal({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: 'Количество товаров позиции увеличено на один',
            timer: 3000,
            showConfirmButton: false
          })
        })
      } else {
        this.$store.dispatch('cart/minusOneItemOfProductInCart', productId).then(() => {
          this.$swal({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: 'Количество товаров позиции уменьшено на один',
            timer: 3000,
            showConfirmButton: false
          })
        })
      }
    },
    isButtonActive (item) {
      if (item.isWeighted) {
        if (item.weight === item.minWeight) {
          return false
        } else {
          return true
        }
      } else if (item.quantity === 1) {
        return false
      } else {
        return true
      }
    },
    checkInCart (id) {
      if (this.$store.state.cart.items.filter(e => e.product.id === id).length > 0) {
        return true
      } else {
        return false
      }
    },
    async addProductToCart (product) {
      this.isAddingToCart = true
      this.$yandexMetrika.reachGoal('В корзину')
      // this.$store.dispatch('wait/start', 'adding to cart', { root: true })
      await this.$store.dispatch('cart/addProductToCart', product).then(() => {
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'success',
          title: 'Товар добавлен в корзину',
          timer: 5000,
          showConfirmButton: false
        })
        this.isAddingToCart = false
      })
      // this.$store.dispatch('wait/end', 'adding to cart', { root: true })
    }
  }
}
</script>
