<template>
  <div>
    <v-wait for="loading sections" class="h-full">
      <template slot="waiting">
        <div class="flex items-center justify-center py-10">
          <fulfilling-bouncing-circle-spinner
            :animation-duration="2500"
            :size="70"
            color="#CBD5E0"
          />
        </div>
      </template>
      <div v-if="sections.length === 0">
        <div class="p-5 rounded bg-blue-100 text-sm my-3 border-l-2 text-gray-700 rounded-l-none border-blue-400">
          Магазин пока не настроил свою страницу. Попробуйте зайти позже.<br>
          Если вы являетесь владельцем магазина, зайдите в настрйоки витрины организации и добавьте стартовые товары.
        </div>
      </div>
      <div v-if="sections.length > 0">
        <div v-for="(section, index) in sections" v-bind:key="section.id">
          <h2 class="text-2xl text-gray-700 bolder">
            {{ section.name }}
          </h2>
          <div v-if="section.type === 'productCarousel'">
            <client-only>
              <carousel
                :ref="'sectionCarousel'+index"
                :perPage="6"
                :paginationEnabled="true"
                :navigationEnabled="false"
                :paginationColor="'#e53e3e'"
                :paginationActiveColor="'#3182ce'"
                :perPageCustom="[[320, 2], [425, 2], [768, 4], [1024, 5]]"
                class="-mx-1"
              >
                <slide v-for="(product, productIndex) in section.selectedProducts" v-bind:key="productIndex" class="bg-white rounded px-1 bounceIn">
                  <productCardComponent :product="product" />
                </slide>
              </carousel>
            </client-only>
          </div>
          <div v-if="section.type === 'productGrid'" class="flex flex-wrap -mx-1 overflow-hidden">
            <div v-for="(product, productIndex) in section.selectedProducts" v-bind:key="productIndex" class="my-1 px-1 w-1/2 lg:w-1/4 xl:w-1/5 overflow-hidden bounceIn">
              <productCardComponent :product="product" />
            </div>
          </div>
        </div>
      </div>
    </v-wait>
  </div>
</template>
<script>
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import productCardComponent from '~/components/shops/productCardComponent'

export default {
  components: { FulfillingBouncingCircleSpinner, productCardComponent },
  props: {
    shopId: {
      type: Number,
      default: null
    }
  },
  data: () => ({
    sections: []
  }),
  computed: {

  },

  mounted () {
    this.getShopSections()
  },

  methods: {
    async getShopSections () {
      this.$store.dispatch('wait/start', 'loading sections', { root: true })
      await this.$axios.$get('/api/shops/sections/' + this.shopId)
        .then((res) => {
          this.sections = res.data
        })
      this.$store.dispatch('wait/end', 'loading sections', { root: true })
    }
  }
}
</script>
