<template>
  <div>
    <v-wait for="loading shop products list" class="mb-5">
      <template slot="waiting">
        <div class="flex items-center justify-center py-24">
          <fulfilling-bouncing-circle-spinner
            :animation-duration="2500"
            :size="70"
            color="#CBD5E0"
          />
        </div>
      </template>
      <div>
        <div v-if="filteredProducts" class="flex flex-wrap overflow-hidden lg:-mx-2">
          <div v-for="product in filteredProducts" v-bind:key="product.id" class="w-1/2 overflow-hidden my-1 lg:my-2 px-1 lg:px-2 lg:w-1/4 xl:w-1/5">
            <productCardComponent :product="product" />
          </div>

          <div v-if="filteredProducts.length === 0" class="mx-2 my-5">
            По вашим условиям поиска ничего не найдено. Попробуйте изменить запрос или выбрать другую категорию.
          </div>
        </div>
      </div>
    </v-wait>
    <div v-if="typeof $store.state.shops.pagination.meta !== 'undefined' && $store.state.shops.pagination.meta.last_page !== 0" class="mt-5 mb-10 flex justify-center">
      <paginate
        :page-count="$store.state.shops.pagination.meta.last_page"
        v-model="currentPage"
        :page-range="3"
        :margin-pages="2"
        :click-handler="clickCallback"
        :prev-text="'Предыдущая'"
        :next-text="'Следующая'"
        :container-class="'flex items-center justify-center text-gray-700'"
        :page-class="'py-2 px-3 bg-gray-200 rounded-full w-10 h-10 mx-1 text-xs lg:text-base flex justify-center items-center bolder'"
        :active-class="'text-red-400'"
        :page-link-class="'focus:outline-none'"
        :prev-link-class="'hidden lg:block focus:outline-none bolder'"
        :next-link-class="'hidden lg:block focus:outline-none bolder'"
        v-if="$store.state.shops.pagination.meta !== null"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import productCardComponent from '~/components/shops/productCardComponent'

export default {
  layout: 'mainPage',
  components: { FulfillingBouncingCircleSpinner, productCardComponent, Paginate },
  props: {
    shopId: {
      type: Number,
      default: null
    }
  },
  data: () => ({
    currentPage: 1
  }),
  computed: {
    ...mapState({
      filteredProducts: state => state.shops.filteredProducts
    })
  },
  mounted () {
    this.$store.commit('shops/setShopIdFilter', this.shopId)
    if (this.$route.query.page) {
      this.currentPage = parseInt(this.$route.query.page)
    }
    this.getShopProducts(this.currentPage)
    this.updateUrl(this.currentPage)
  },
  methods: {
    clickCallback (pageNum) {
      this.currentPage = pageNum
      this.updateUrl(this.currentPage)
      this.getShopProducts(pageNum)
    },
    updateUrl (pageNum) {
      this.$router.push({
        query: {
          ...this.$route.query,
          page: pageNum,
          tab: 'catalog'
        }
      })
    },
    async getShopProducts (pageNum) {
      await this.$store.dispatch('shops/getProducts', pageNum)
    }
  }
}
</script>
