<template>
  <modal
    :adaptive="true"
    :clickToClose="false"
    :maxWidth="1000"
    :scrollable="true"
    height="auto"
    name="select-product-modal"
  >
    <div class="py-5 px-5">
      <div class="flex items-center justify-between">
        <h3 class="text-2xl text-gray-700 bolder">
          Выбор товара
        </h3>
        <button v-on:click="closeSeletProductModal" type="button" class="text-sm text-gray-600 focus:outline-none">
          <fa :icon="['fas', 'times-circle']" class="fill-current w-4 h-4" />
        </button>
      </div>
      <div>
        <ProductsFilterComponent :isShowPricesFields="false" />
        <v-wait for="loading user products" class="h-full">
          <template slot="waiting">
            <div class="flex items-center justify-center">
              <fulfilling-bouncing-circle-spinner
                :animation-duration="2500"
                :size="70"
                color="#CBD5E0"
              />
            </div>
          </template>
          <div class="h-64 overflow-y-scroll p-5 rounded border-2 border-dashed border-gray-200">
            <div v-for="(product, index) in filteredProductsList" v-bind:key="product.id" v-on:click="productSelect(product)" :class="index % 2 === 1 ? 'bg-gray-200': 'bg-white'" class="truncate text-sm p-2 hover:bg-green-100 flex cursor-pointer">
              {{ product.name }}
            </div>
          </div>
        </v-wait>
        <div v-if="filteredProductsList">
          <div v-if="filteredProductsList.length > 0" class="my-10 flex justify-center">
            <paginate
              v-model="activePage"
              :page-count="$store.state.products.pagination.meta.last_page"
              :page-range="3"
              :margin-pages="2"
              :click-handler="clickCallback"
              :prev-text="'Предыдущая'"
              :next-text="'Следующая'"
              :container-class="'flex items-center justify-center text-gray-700'"
              :page-class="'py-2 px-3 bg-gray-200 rounded mx-1 text-xs lg:text-base'"
              :active-class="'text-red-400'"
              :page-link-class="'focus:outline-none'"
              :prev-link-class="'hidden lg:block focus:outline-none'"
              :next-link-class="'hidden lg:block focus:outline-none'"
              v-if="$store.state.products.pagination.meta !== null"
            />
          </div>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
import { mapGetters } from 'vuex'
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import ProductsFilterComponent from '~/components/products/ProductsFilterComponent'

export default {
  components: {
    ProductsFilterComponent, Paginate, FulfillingBouncingCircleSpinner
  },
  props: {
    forTab: {
      type: String,
      default: ''
    },
    products: {
      type: String,
      default: 'currentUser'
    }
  },
  data () {
    return {
      activePage: 1
    }
  },
  computed: {
    ...mapGetters({
      'filteredProductsList': 'products/getFilteredProductList'
    })
  },

  created () {
    this.clickCallback(this.activePage)
    // console.log(this.forTab)
  },
  methods: {
    closeSeletProductModal () {
      this.$modal.hide('select-product-modal')
      this.$store.dispatch('products/resetFilters')
    },
    productSelect (product) {
      // console.log(this.forTab)
      this.$bus.$emit('modalProductSelected-' + this.forTab, product)
      this.closeSeletProductModal()
    },
    clickCallback (pageNum) {
      this.$store.dispatch('products/loadProductsByPageForProfile', { page: pageNum, type: 'active', user: this.products })
    }
  }
}
</script>
