<template>
  <modal
    :adaptive="true"
    :clickToClose="false"
    :maxWidth="1000"
    :scrollable="true"
    height="auto"
    name="select-category-modal"
  >
    <div class="py-5 px-5">
      <div class="flex items-center justify-between">
        <h3 class="text-2xl text-gray-700 bolder">
          Выбор категории
        </h3>
        <button v-on:click="closeSeletCategoryModal" class="text-sm text-gray-600 focus:outline-none">
          <fa :icon="['fas', 'times-circle']" class="fill-current w-4 h-4" />
        </button>
      </div>
      <div>
        <treeselect
          v-model="category"
          :multiple="false"
          :disable-branch-nodes="true"
          :options="categoriesList"
          :alwaysOpen="true"
          :appendToBody="true"
          search-nested
          placeholder="Выберите категорию товара..."
          no-options-text="Варианты категорий не найдены"
        >
          <div slot="value-label" slot-scope="{ node }" class="text-gray-600 text-sm">
            {{ node.raw.label }}
          </div>
          <label slot="option-label" slot-scope="{ node}" class="text-gray-600 text-sm">
            {{ node.raw.label }}

          </label>
        </treeselect>
      </div>
    </div>
  </modal>
</template>

<script>
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'

export default {
  components: {
    Treeselect
  },
  props: {
    forTab: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      category: null,
      categoriesList: []
    }
  },
  computed: {

  },

  mounted () {
    this.getFullCategoriesList()
  },
  methods: {
    closeSeletCategoryModal () {
      this.$modal.hide('select-category-modal')
    },
    async getFullCategoriesList () {
      await this.$axios.$get('/api/product/fullcategorieslist')
        .then((res) => {
          this.categoriesList = res
        })
    }
  }
}
</script>
