<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="h-full w-full xl:w-5/6 p-2 xl:p-0">
      <div v-if="shop.media" class="relative">
        <img v-if="shop.media.background !== null" v-lazy="shop.media.background[0].url" class="object-cover h-m24 w-full rounded">
        <img v-if="shop.media.background === null" src="~assets/img/nophoto.svg" class="object-cover h-m24 w-full rounded filter-grayscale">
        <div class="absolute w-full text-center lg:text-left left-0 top-0 py-8 px-10 shop-title-wrapper flex items-center justify-between flex-wrap rounded-t">
          <div class="w-full lg:w-auto">
            <div class="text-3xl font-helvetica-heavy lg:text-5xl text-white">
              {{ shop.name }}
            </div>
            <div v-if="shop.location" class="text-white text-xl">
              {{ shop.location.data.city }}, {{ shop.address }}
            </div>
          </div>
          <div v-if="shop.media" class="w-full lg:w-auto flex justify-center lg:justify-end mt-5 lg:mt-0">
            <img v-if="shop.media.mainImage !== null" v-lazy="shop.media.mainImage.url" class="object-cover h-24 w-24 rounded bounceIn">
            <img v-if="shop.media.mainImage === null" src="~assets/img/nophoto.svg" class="object-cover h-24 w-24 rounded bounceIn">
          </div>
        </div>
        <div class="absolute w-full text-white text-center lg:text-left left-0 bottom-0 py-3 px-10 shop-title-wrapper flex flex-wrap items-center justify-between rounded-b">
          <div class="w-full lg:w-auto bolder">
            Минимальная сумма заказа: {{ shop.priceMin }} ₽
          </div>
          <div class="w-full lg:w-auto text-sm lg:text-base bolder">
            Время обработки заказов: {{ shop.workTimeFrom }} - {{ shop.workTimeTo }}
          </div>
        </div>
      </div>
      <nav class="relative flex flex-wrap items-center justify-between py-2 lg:py-0 px-2 navbar-expand-lg bg-gray-200 rounded my-3">
        <div class="container px-4 mx-auto flex flex-wrap items-center justify-center">
          <div class="w-full relative flex justify-center lg:w-auto  px-4 lg:static lg:block lg:justify-start">
            <button v-on:click="toggleNavbar()" class="text-gray-700 cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button">
              <fa :icon="['fas', 'bars']" />
            </button>
          </div>
          <div v-bind:class="{'hidden': !showMenu, 'flex': showMenu}" class="lg:flex lg:flex-grow items-center animate__animated animate__bounceIn">
            <ul class="flex flex-col lg:flex-row list-none ml-auto">
              <li class="nav-item">
                <div v-on:click="setTab('products')" :class="active === 'products' ? '' : 'cursor-pointer hover:bg-gray-200'" class="bolder w-full lg:w-auto text-center lg:text-left p-3 text-base">
                  <span :class="active === 'products' ? 'text-green-rf' : 'text-gray-700'">Витрина магазина</span>
                </div>
              </li>
              <li class="nav-item">
                <div v-on:click="setTab('catalog')" :class="active === 'catalog' ? '' : 'cursor-pointer hover:bg-gray-200'" class="bolder w-full lg:w-auto text-center lg:text-left p-3 text-base">
                  <span :class="active === 'catalog' ? 'text-green-rf' : 'text-gray-700'">Каталог товаров</span>
                </div>
              </li>
              <li class="nav-item">
                <div v-on:click="setTab('reviews')" :class="active === 'reviews' ? '' : 'cursor-pointer hover:bg-gray-200'" class="bolder w-full lg:w-auto text-center lg:text-left p-3 text-base">
                  <span :class="active === 'reviews' ? 'text-green-rf' : 'text-gray-700'">Отзывы покупателей</span>
                </div>
              </li>
              <li class="nav-item">
                <div v-on:click="setTab('delivery')" :class="active === 'delivery' ? '' : 'cursor-pointer hover:bg-gray-200'" class="bolder w-full lg:w-auto text-center lg:text-left p-3 text-base">
                  <span :class="active === 'delivery' ? 'text-green-rf' : 'text-gray-700'">Доставка</span>
                </div>
              </li>
              <li class="nav-item">
                <div v-on:click="setTab('contacts')" :class="active === 'contacts' ? '' : 'cursor-pointer hover:bg-gray-200'" class="bolder w-full lg:w-auto text-center lg:text-left p-3 text-base">
                  <span :class="active === 'contacts' ? 'text-green-rf' : 'text-gray-700'">Контакты</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div v-if="active === 'products'">
        <shopSectionsComponent :shopId="shop.id" />
      </div>
      <div v-if="active === 'catalog'">
        <shopFilteredProductsComponent :shopId="shop.id" class="w-full" />
      </div>
      <div v-if="active === 'reviews'">
        <shopReviewsComponent :shopId="shop.id" />
      </div>
      <div v-if="active === 'about'" />
      <div v-if="active === 'delivery'">
        <h2 class="text-2xl text-gray-700">
          <b>Доставка</b>
        </h2>
        <div class="text-gray-700 leading-relaxed">
          <ul class="py-5 list-disc ml-5">
            <li>Соблюдение температурных режимов на складе и при доставке.</li>
            <li>100% контроль качества и свежести.</li>
            <li>Удобные 2-х часовые интервалы.</li>
            <li>Широкий ассортимент свежих продуктов и товаров на каждый день.</li>
            <li>Возможность отказаться от любого товара при получении бесплатно.</li>
          </ul>
          <h3 class="bolder text-xl">
            МЫ ЗАБОТИМСЯ О БЕЗОПАСНОСТИ ДОСТАВКИ:
          </h3>
          <ul class="py-5 list-disc ml-5">
            <li>Курьеры обеспечены медицинскими масками и санитайзерами для обработки рук.</li>
            <li>Все сотрудники склада и службы доставки проходят ежедневные медосмотры.</li>
            <li>Введена бесконтактная доставка. Во время оформления заказа отметьте галочкой функцию "Оставить у двери" и оплатите заказ онлайн. Курьер оставит заказ у вашей двери, позвонит и скажет, что заказ доставлен.</li>
          </ul>
          <h3 class="bolder text-xl">
            Доставка курьером по Москве в пределах МКАД
          </h3>
          <ul class="py-5 list-disc ml-5">
            <li>при заказе до 3 000 рублей стоимость доставки 249 рублей</li>
            <li>при заказе от 3 000 рублей доставка бесплатная</li>
          </ul>
          <h3 class="bolder text-xl">
            Доставка курьером за пределы МКАД
          </h3>
          <ul class="py-5 list-disc ml-5">
            <li>при заказе до 3 500 рублей стоимость доставки 349 рублей</li>
            <li>при заказе от 3 500 рублей доставка бесплатная</li>
          </ul>
          <p class="pt-5">
            Доставляем своими курьерами.
          </p>
          <h3 class="bolder text-xl py-5">
            Наши партнеры по доставке
          <!-- Поставить логотип – Почта России, Сдек, ДПД, Яндекс такси, Гетт такси -->
          </h3>

          <div class="flex justify-start items-center mb-10 flex-wrap">
            <div class="mt-3 lg:mt-0">
              <img class="h-10" src="~assets/img/ruspost.svg">
            </div>
            <div class="ml-5 mt-3 lg:mt-0">
              <img class="h-10" src="~assets/img/cdek.svg">
            </div>
            <div class="ml-5 mt-3 lg:mt-0">
              <img class="h-10" src="~assets/img/dpd.svg">
            </div>
            <div class="ml-5 mt-3 lg:mt-0">
              <img class="h-10" src="~assets/img/gett.svg">
            </div>
            <div class="ml-5 mt-3 lg:mt-0">
              <img class="h-10" src="~assets/img/yataxi.svg">
            </div>
          </div>
        </div>
      </div>
      <div v-if="active === 'contacts'">
        <h2 class="text-2xl text-gray-700">
          <b>Контакты магазина</b>
        </h2>
        <div class="text-gray-700 leading-relaxed">
          <h3 class="bolder text-xl py-5">
            Отдел по работе с покупателями:
          </h3>
          <div class="flex items-end">
            <ul class="bolder">
              <li class="text-xl">
                +7 495 128 87 97
              </li>
              <li class="text-xl">
                +7 995 917 05 96
              </li>
            </ul>
            <div class="flex ml-5">
              <span v-on:click="openWhatsApp" class="ml-3"><fa :icon="['fab', 'whatsapp']" class="h-8 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer" /></span>
              <span v-on:click="openTelegram" class="ml-2"><fa :icon="['fab', 'telegram']" class="h-8 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer" /></span>
              <span v-on:click="openViber" class="ml-2"><fa :icon="['fab', 'viber']" class="h-8 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer" /></span>
              <span v-on:click="openFacebook" class="ml-2"><fa :icon="['fab', 'facebook']" class="h-8 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer" /></span>
              <span v-on:click="openInstagram" class="ml-2"><fa :icon="['fab', 'instagram']" class="h-8 transition duration-500 ease-in-out transform hover:scale-125 cursor-pointer" /></span>
            </div>
          </div>
          <h3 class="bolder text-xl py-5">
            Отдел закупок и продаж B2B:
          </h3>
          <ul class="bolder">
            <li class="text-xl">
              +7 995 905 75 55
            </li>
          </ul>
          <ul class="pt-10 list-disc ml-5">
            <li><span class="bolder">ИТ офис:</span> г. Москва, Ленинский проспект 109, офис 89</li>
            <li><span class="bolder">Логистика:</span> г. Москва, Калужское шоссе 22-киллометр. 10</li>
          </ul>
          <h3 class="bolder text-xl py-5">
            Социальные сети:
          </h3>
          <ul class="pb-5 list-disc ml-5">
            <li>Инстаграмм <a class="text-blue-600" href="https://www.instagram.com/rf.market/">https://www.instagram.com/rf.market/</a></li>
            <li>Facebook <a class="text-blue-600" href="https://www.facebook.com/rfmarketofficial/">https://www.facebook.com/rfmarketofficial/</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import shopFilteredProductsComponent from '~/components/shops/shopFilteredProductsComponent'
import shopSectionsComponent from '~/components/shops/shopSectionsComponent'
import shopReviewsComponent from '~/components/reviews/shopReviewsComponent'

export default {
  layout: 'mainPage',
  auth: false,
  components: { shopReviewsComponent, shopSectionsComponent, shopFilteredProductsComponent },
  data: () => ({
    active: 'products',
    showMenu: false,
    bottomMapOptions: {
      disableDefaultUI: true,
      scrollwheel: false,
      styles: []
    },
    bottomMapMarkers: [
      {
        icon: '/marker.svg',
        position: {
          lat: 55.601085, lng: 37.470744
        }
      }
    ]
  }),
  async asyncData ({ params }) {
    const { data } = await axios.get(process.env.API_URL + `/api/shops/${params.id}`)
    return { shop: data.data }
  },
  mounted () {
    if (this.$route.query.tab) {
      this.active = this.$route.query.tab
    }
  },
  methods: {
    toggleNavbar () {
      this.showMenu = !this.showMenu
    },
    setTab (tab) {
      this.active = tab
      this.showMenu = false
      this.$router.push({
        query: {
          // ...this.$route.query,
          tab
        }
      })
    },
    openWhatsApp () {
      window.open('https://wa.me/79959170596', '_blank')
    },
    openTelegram () {
      window.open('https://t.me/rf_market', '_blank')
    },
    openViber () {
      window.open('viber://chat?number=+79959170596', '_blank')
    },
    openFacebook () {
      window.open('https://www.instagram.com/rf.market/', '_blank')
    },
    openInstagram () {
      window.open('https://www.facebook.com/rfmarketofficial/', '_blank')
    }
  }
}
</script>
