<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <v-wait for="loading order info" class="w-full">
        <template slot="waiting">
          <div class="flex items-center justify-center">
            <fulfilling-bouncing-circle-spinner
              :animation-duration="2500"
              :size="70"
              color="#CBD5E0"
            />
          </div>
        </template>
        <div v-if="orderUnite !== null">
          <h1 class="text-gray-700 text-5xl bolder leading-none text-center">
            Ваш заказ <nuxt-link :to="'/profile/orders'" class="text-green-rf">
              № {{ orderUnite.orderId }}
            </nuxt-link> от {{ $moment(orderUnite.created_at).format("DD-MM-YYYY") }}<br>успешно создан!
          </h1>
          <p class="text-center py-3 bolder text-gray-500">
            В ближайшее время наши менеджеры свяжуться с Вами для проверки и подтверждения заказа.
          </p>
          <div class="my-5 flex items-start flex-wrap">
            <div class="w-full lg:w-1/3 order-2">
              <div class="bg-gray-200 rounded p-5">
                <h2 class="text-2xl text-gray-700">
                  <b>Информация о доставке:</b>
                </h2>
                <div class="mt-5">
                  <span class="mr-2 text-gray-500">Куда:</span><span>{{ orderUnite.orders.data[0].userLocation.value }}<br>{{ orderUnite.orders.data[0].userAddress }}</span>
                </div>
                <div>
                  <span class="mr-2 text-gray-500">Кому:</span><span>{{ orderUnite.orders.data[0].userLastName }} {{ orderUnite.orders.data[0].userFirstName }} {{ orderUnite.orders.data[0].userSurName }}</span>
                </div>
                <div>
                  <span class="mr-2 text-gray-500">Телефон:</span><span>+{{ orderUnite.orders.data[0].userPhone }}</span>
                </div>
                <div>
                  <span class="mr-2 text-gray-500">E-mail:</span><span>{{ orderUnite.orders.data[0].userEmail }}</span>
                </div>
                <div>
                  <span class="mr-2 text-gray-500">Дата доставки:</span><span>{{ $moment(orderUnite.orders.data[0].deliveryDate).format("DD-MM-YYYY") }}</span>
                </div>
                <div>
                  <span class="mr-2 text-gray-500">Желаемое время доставки:</span><span>{{ orderUnite.orders.data[0].deliveryTimeFrom }} - {{ orderUnite.orders.data[0].deliveryTimeTo }}</span>
                </div>

                <div class="p-5 rounded bg-blue-100 text-sm my-5 border-l-2 rounded-l-none border-blue-400">
                  Время доставки заказа может быть изменено, в зависимости от загрузки курьеров. Более точную информацию о заказе Вы получите по смс, после того, как Ваш заказ будет скомплектован и готов для доставки.
                </div>
              </div>
              <div class="my-5 flex justify-end">
                <nuxt-link to="/" class="rounded bg-gray-600 w-full lg:w-auto hover:bg-gray-500 py-2 px-10 text-sm text-white text-center focus:outline-none">
                  Продолжить покупки
                </nuxt-link>
              </div>
            </div>
            <div class="w-full lg:w-2/3 order-1 pr-10">
              <h2 class="text-2xl text-gray-700">
                <b>Товары Вашего заказа:</b>
              </h2>
              <div v-for="order in orderUnite.orders.data" v-bind:key="order.id" class="my-5">
                <h3 class="text-2xl text-gray-500 bolder">
                  Товары из магазина {{ order.shopName }}
                </h3>
                <div v-for="(item, index) in order.products" v-bind:key="item.id" class="flex items-center justify-between flex-wrap text-sm py-1 px-3 rounded hover:border-gray-400 hover:bg-gray-200">
                  <div class="flex items-top items-center justify-start w-full lg:w-auto">
                    <div class="px-3 hidden lg:block text-gray-400">
                      {{ index+1 }}
                    </div>
                    <div class="flex items-center justify-start">
                      <div class="mr-2">
                        <nuxt-link :to="/products/+item.productDataAtOrderTime.url" v-if="item.productDataAtOrderTime.media.mainImage !== null">
                          <img v-lazy="item.productDataAtOrderTime.media.mainImage.url" class="filter-grayscale object-cover rounded w-10 h-10">
                        </nuxt-link>
                        <nuxt-link :to="/products/+item.productDataAtOrderTime.url" v-if="item.productDataAtOrderTime.media.mainImage === null">
                          <img src="~assets/img/nophoto.svg" class=" object-cover rounded w-10 h-10 filter-grayscale">
                        </nuxt-link>
                      </div>
                      <div>
                        <nuxt-link :to="/products/+item.productDataAtOrderTime.url">
                          {{ item.productDataAtOrderTime.name }}
                        </nuxt-link>
                      </div>
                    </div>
                  </div>
                  <div class="flex justify-center lg:justify-end items-center w-full lg:w-auto">
                    <div class="w-full lg:w-auto text-center lg:text-right">
                      <span class="bolder text-base">{{ item.productPrice | numFormat }}</span><span class="ml-1"><fa :icon="['fas', 'ruble-sign']" /></span>
                      <span v-if="item.productDataAtOrderTime.isWeightedGoods" class="ml-2 text-gray-500 text-base">/ {{ item.productDataAtOrderTime.weight }} {{ item.productDataAtOrderTime.measure }}</span>
                      <span v-if="!item.productDataAtOrderTime.isWeightedGoods" class="ml-2 text-gray-500 text-base">/ 1 шт</span>
                    </div>
                    <div class="ml-5 w-full lg:w-auto text-center lg:text-left">
                      x
                    </div>
                    <div class="ml-5 w-full lg:w-12">
                      <div class="flex items-center justify-center lg:justify-end bolder text-base">
                        <span v-if="!item.productDataAtOrderTime.isWeightedGoods">{{ item.quantity }} шт</span>
                        <span v-if="item.productDataAtOrderTime.isWeightedGoods">{{ item.weight }} {{ item.productDataAtOrderTime.measure }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex items-center justify-end p-3 flex-wrap">
                <div class="text-xl w-full lg:w-auto text-center order-first lg:order-last mb-2 lg:mb-0">
                  <b class="text-xl lg:text-2xl text-gray-700">Итого по заказу: </b>
                  <animated-number
                    :value="orderUnite.totalPriceWithPromocode !== null ? orderUnite.totalPriceWithPromocode : orderUnite.totalPrice"
                    :formatValue="formatToPrice"
                    :duration="500"
                    class="text-3xl text-gray-700"
                    style="font-weight: bolder;"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- <div>{{ orderUnite }}</div> -->
        </div>
      </v-wait>
    </div>
  </div>
</template>

<script>
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import AnimatedNumber from 'animated-number-vue'

export default {
  layout: 'mainPage',
  auth: false,
  components: { FulfillingBouncingCircleSpinner, AnimatedNumber },
  data: () => ({
    orderUnite: null
  }),
  computed: {

  },
  mounted () {
    this.getOrderInfo(this.$route.query.signature)
  },
  methods: {
    formatToPrice (value) {
      return `${this.$options.filters.numFormat(value.toFixed(2), '0,0') + '<span class="text-gray-500">' + this.$options.filters.numFormat(value.toFixed(2), '.00 $') + '</span>'}`
    },
    async getOrderInfo (signature) {
      this.$store.dispatch('wait/start', 'loading order info', { root: true })
      await this.$axios.$get('/api/orders/infobysignature/' + signature)
        .then((res) => {
          this.orderUnite = res.data
        })
      this.$store.dispatch('wait/end', 'loading order info', { root: true })
    }
  }
}
</script>
