<template>
  <div class="flex justify-center lg:pt-32">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <profileMenu active="products" />
      <div>
        <div class="flex flex-wrap md:flex-nowrap justify-between items-center my-5">
          <h1 class="text-2xl w-full lg:w-auto text-gray-700">
            <nuxt-link :to="'/profile'">
              <b>Профиль</b>
            </nuxt-link> /
            <nuxt-link :to="'/profile/products'">
              <b>Моя продукция</b>
            </nuxt-link> /
            <nuxt-link :to="'/profile/products?type=group'">
              <b>Акционные группы товаров</b>
            </nuxt-link> /
            <b class="text-gray-500">Создание акционной группы</b>
          </h1>
        </div>

        <ValidationObserver ref="observerCreateProductsGroup">
          <form @submit.prevent="submitCreateProductsGroup">
            <div class="flex justify-end pl-0 lg:pl-5 w-full lg:w-auto order-first lg:order-last">
              <button class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-2 lg:px-10 text-white focus:outline-none w-full lg:w-auto mr-2" type="submit">
                Создать группу
              </button>
              <button v-on:click="addProductToGroup" class="rounded bg-gray-600 hover:bg-gray-500 py-2 text-sm px-2 lg:px-10 text-white focus:outline-none w-full lg:w-auto" type="button">
                Добавить товар
              </button>
            </div>
            <div class="flex items-end justify-between flex-wrap">
              <ValidationProvider v-slot="{classes, errors}" name="Заголовок группы" rules="required" class="w-full lg:w-auto flex-1">
                <label class="text-sm text-gray-500">Заголовок группы</label>
                <input v-model="name" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full" placeholder="Введите заголовок группы">
                <span class="text-sm text-red-400">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>
            <div>
              <div class="my-5 flex flex-wrap justify-start items-top bg-gray-100 p-2 rounded rounded-r-none border-r-2 border-red-400">
                <div class="w-full lg:w-1/2 pt-5">
                  <label class="flex items-start justify-start">
                    <input v-model="isReceipt" type="checkbox" class="form-radio mt-1" value="0" name="isReceipt">
                    <div class="ml-3 text-sm text-gray-700 leading-tight">
                      Является рецептом<br>
                      <span class="text-sm text-gray-500">Будет установлен признак рецепта и флажок рецепта</span>
                      <span class="bg-red-600 bolder text-xs text-white py-1 px-2 rounded mt-1 mr-1">
                        рецепт
                      </span>
                    </div>
                  </label>
                </div>
                <div v-if="isReceipt" class="w-full lg:w-1/4 pr-0 lg:pr-2 pb-2 lg:pb-0 animate__animated animate__bounceIn">
                  <label class="text-sm text-gray-500">На какое количество персон</label>
                  <input v-model="receiptPersonsCount" type="number" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Укажите количество персон">
                </div>
              </div>
              <div v-if="isReceipt">
                <ValidationProvider ref="observerCreateProdcutDescription" v-slot="{classes, errors}" name="Подробное описание рецепта" class="w-full">
                  <label class="text-sm text-gray-500">Подробное описание рецепта</label>
                  <textarea v-model="receiptDescription" rows="5" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full border border-white" placeholder="Подробное описание рецепта" />
                  <span class="text-sm text-red-400">{{ errors[0] }}</span>
                </ValidationProvider>
              </div>
            </div>
            <div class="p-5 rounded bg-blue-100 text-sm my-3 border-l-2 text-gray-700 rounded-l-none border-blue-400">
              Вы можете создать группу из неограниченного числа товаров. Для добавления товара в группу нажмите кнопку "Добавить товар" и выберите из списка необходимый товар.
            </div>
            <div class="my-5">
              <h2 class="text-gray-700 text-3xl bolder">
                {{ groupFinalName() }}
              </h2>
            </div>
            <div class="w-full p-5 rounded bg-gray-100 text-sm border-l-2 text-gray-700 rounded-l-none border-gray-400 h-auto lg:h-full">
              <div class="text-gray-700 flex flex-wrap">
                <div class="flex items-center my-2  w-full lg:w-1/2 justify-between pr-5">
                  <label class="text-gray-700 text-xl bolder">Скидка в процентах</label>
                  <input v-model="discount" type="number" class="p-3 bg-gray-200 text-gray-600 rounded w-32 text-center border">
                </div>
                <div class="flex items-center justify-between w-full lg:w-1/2">
                  <span class="text-xl bolder">Стоимость товаров:</span>
                  <animated-number
                    :value="calculateTotal()"
                    :formatValue="formatToPrice"
                    :duration="500"
                    class="text-xl text-gray-700 w-auto ml-2"
                    style="font-weight: bolder;"
                  />
                </div>

                <div class="flex items-center justify-between w-full lg:w-1/2 pr-5">
                  <span class="text-xl bolder">
                    Стоимость со скидкой:
                  </span>
                  <animated-number
                    :value="calculateTotalWithDiscount()"
                    :formatValue="formatToPrice"
                    :duration="500"
                    class="text-xl text-gray-700 text-right"
                    style="font-weight: bolder;"
                  />
                </div>
                <div class="flex items-center justify-between w-full lg:w-1/2">
                  <span class="text-xl bolder">
                    Цена продажи к цене закупки, %:
                  </span>
                  <animated-number
                    :value="calculatePercent()"
                    :formatValue="formatToNumber"
                    :duration="500"
                    class="text-xl text-gray-700 text-right"
                    style="font-weight: bolder;"
                  />
                </div>
              </div>
            </div>
            <div class="my-5">
              <div class="w-full flex items-start justify-start flex-wrap">
                <div v-for="(product, index) in selectedProducts" v-bind:key="index" class="flex items-center flex-wrap mb-5">
                  <div class="border-2 border-dashed border-gray-200 hover:bg-gray-200 py-5 px-2 rounded h-full flex flex-col justify-between text-xs text-center bounceIn w-64">
                    <div v-on:click="selectProduct(index)" class="my-2 cursor-pointer hover:text-red-600">
                      <div v-if="product.id === null">
                        {{ product.name }}
                      </div>
                      <div v-if="product.id !== null">
                        <div class="flex justify-center">
                          <img v-lazy="product.media.mainImage.url" v-if="product.media.mainImage !== null" class="object-cover h-12 w-12 rounded">
                          <img v-if="product.media.mainImage === null" src="~assets/img/nophoto.svg" class="object-cover h-12 w-12 rounded">
                        </div>
                        <div>{{ product.name }}</div>
                        <div class="text-center w-full lg:w-auto text-2xl bolder flex items-center justify-center">
                          <span>{{ product.price | numFormat }}</span><span class="text-gray-500 ml-1 text-sm"><fa :icon="['fas', 'ruble-sign']" /></span>
                          <span v-if="!product.isWeightedGoods" class="ml-2 text-gray-500 text-sm">за шт.</span>
                          <span v-if="product.isWeightedGoods" class="ml-2 text-gray-500 text-sm">за {{ product.weight }} {{ product.measure }}</span>
                        </div>
                        <div class="text-center w-full lg:w-auto text-sm flex items-center justify-center text-gray-500">
                          <span class="pr-2">Себестоимость:</span>
                          <span>{{ product.costPrice | numFormat }}</span><span class="text-gray-500 ml-1 text-sm"><fa :icon="['fas', 'ruble-sign']" /></span>
                          <span v-if="!product.isWeightedGoods" class="ml-2 text-gray-500 text-sm">за шт.</span>
                          <span v-if="product.isWeightedGoods" class="ml-2 text-gray-500 text-sm">за {{ product.weight }} {{ product.measure }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="flex items-center justify-center">
                      <button v-on:click="deleteProduct(index)" type="button" class="ml-2 text-white text-sm rounded-full w-6 h-6 gradiend-red-button focus:outline-none flex items-center justify-center">
                        <fa :icon="['fas', 'times']" />
                      </button>
                    </div>
                  </div>
                  <div v-if="index+1 < selectedProducts.length" class="text-gray-700 mx-3">
                    <fa :icon="['fas', 'plus']" />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </ValidationObserver>
        <client-only><selectProductModal :forTab="'createActionGroup'" :products="'allUsers'" /></client-only>
      </div>
    </div>
  </div>
</template>

<script>
import AnimatedNumber from 'animated-number-vue'
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate'
import { required } from 'vee-validate/dist/rules'
import selectProductModal from '~/components/modals/selectProductModal'
import profileMenu from '~/components/helpers/profileMenu'

extend('required', {
  ...required,
  message: 'Вам необходимо указать {_field_}'
})

export default {
  layout: 'mainPage',
  components: { selectProductModal, AnimatedNumber, profileMenu, ValidationProvider, ValidationObserver },
  data () {
    return {
      discount: 5,
      name: '',
      isReceipt: 0,
      receiptPersonsCount: '',
      receiptDescription: '',
      currentItemIndex: null,
      selectedProducts: [
        {
          id: null,
          name: 'Выберите товар..'
        },
        {
          id: null,
          name: 'Выберите товар..'
        },
        {
          id: null,
          name: 'Выберите товар..'
        }
      ]
    }
  },

  computed: {

  },
  watch: {

  },
  mounted () {
    this.$bus.$on('modalProductSelected-createActionGroup', (data) => {
      this.setProduct(data)
    })
  },
  methods: {
    calculateTotalWithDiscount () {
      const totalPrice = this.selectedProducts.reduce((total, p) => {
        if (p.id !== null) {
          return total + p.price
        } else {
          return 0
        }
      }, 0)

      return totalPrice - totalPrice / 100 * this.discount
    },
    calculatePercent () {
      const totalPrice = this.selectedProducts.reduce((total, p) => {
        if (p.id !== null) {
          return total + p.price
        } else {
          return 0
        }
      }, 0)

      const totalPriceCost = this.selectedProducts.reduce((total, p) => {
        if (p.id !== null) {
          return total + p.costPrice
        } else {
          return 0
        }
      }, 0)

      return (totalPrice - totalPriceCost) / totalPrice * 100
    },
    calculateTotal () {
      const totalPrice = this.selectedProducts.reduce((total, p) => {
        if (p.id !== null) {
          return total + p.price
        } else {
          return 0
        }
      }, 0)

      // return this.$options.filters.numFormat(totalPrice.toFixed(2))
      return totalPrice
    },
    formatToPrice (value) {
      if (process.client) {
        return `${this.$options.filters.numFormat(value.toFixed(2), '0,0') + '<span class="text-gray-500">' + this.$options.filters.numFormat(value.toFixed(2), '.00 $') + '</span>'}`
      }
    },
    formatToNumber (value) {
      if (process.client) {
        return `${this.$options.filters.numFormat(value.toFixed(2), '0,0') + '<span class="text-gray-500">' + this.$options.filters.numFormat(value.toFixed(2), '.00') + '</span>'}`
      }
    },
    async submitCreateProductsGroup () {
      const isValid = await this.$refs.observerCreateProductsGroup.validate()
      if (isValid) {
        const result = this.selectedProducts.filter((obj) => {
          return obj.id === null
        })

        if (result.length > 0) {
          this.$swal({
            toast: true,
            position: 'top-end',
            icon: 'error',
            title: 'Для продолжения укажите продукты',
            timer: 3000,
            showConfirmButton: false
          })
        } else {
          const group = {
            name: this.name,
            isReceipt: this.isReceipt ? '1' : '0',
            receiptPersonsCount: this.receiptPersonsCount,
            receiptDescription: this.receiptDescription,
            price: this.calculateTotal(),
            priceWithDiscount: this.calculateTotalWithDiscount(),
            selectedProducts: this.selectedProducts,
            discount: this.discount
          }

          await this.$axios.$post('/api/productgroups', { group })
            .then((res) => {
              this.$swal({
                toast: true,
                position: 'top-end',
                icon: 'success',
                title: 'Группа товаров создана',
                timer: 5000,
                showConfirmButton: false
              })

              this.$router.replace({ path: '/profile/products?type=group' })
            })
        }
      } else {
        this.$swal({
          toast: true,
          position: 'top-end',
          icon: 'error',
          title: 'Для продолжения заполните поля с ошибками',
          timer: 3000,
          showConfirmButton: false
        })
      }
    },
    groupFinalName () {
      let resultName = ''
      this.selectedProducts.forEach((element) => {
        if (element.id !== null) {
          resultName = resultName + element.name + ' + '
        }
      })
      return resultName.slice(0, -2)
    },
    deleteProduct (index) {
      this.selectedProducts.splice(index, 1)
    },
    addProductToGroup () {
      const addedRow = this.selectedProducts.push({
        id: null,
        name: 'Выберите товар..'
      })
      this.selectProduct(addedRow - 1)
    },
    selectProduct (index) {
      this.currentItemIndex = index
      this.$modal.show('select-product-modal')
    },
    setProduct (product) {
      this.$set(this.selectedProducts, this.currentItemIndex, product)
      this.currentItemIndex = null
    }
  }
}
</script>
