<template>
  <div class="w-full md:w-1/2 px-5 md:px-0">
    <default-logo-component />

    <h1 class="font-bold my-5 text-2xl text-gray-700">
      <b>Завершение заполнения профиля и сохранение введенных данных.</b>
    </h1>

    <div v-if="type == 'shop' || type == 'restaurant' || type == 'ownproduction'" class="p-5 border rounded border-gray-200 text-sm text-gray-700">
      Благодарим за регистрацию на нашем сервисе. После нажатия кнопки "Завершить" вы будете перенаправлены в свой профиль, где можете начать размещать информацию о товарах, которые вы готовы продавать и доставлять людям, находящимся на изоляции.
    </div>

    <div v-if="type == 'courier'" class="p-5 border rounded border-gray-200 text-sm">
      Благодарим за регистрацию на нашем сервисе. После нажатия кнопки "Завершить" вы будете перенаправлены в свой профиль, где можете разместить подробную информацию о себе, удобном для вас месте и времени выполнения доставки.
    </div>

    <div v-if="type == 'individual'" class="p-5 border rounded border-gray-200 text-sm">
      Благодарим за регистрацию на нашем сервисе. После нажатия кнопки "Завершить" вы будете перенаправлены на главную страницу сервиса, где можете сделать свой первый заказ.
    </div>

    <ValidationObserver ref="observerFinishStep">
      <form @submit.prevent="submitFinishStepInitForm">
        <div class="my-5">
          <button class="bg-gray-600 hover:bg-gray-500 rounded py-2 px-10 text-white w-full text-sm focus:outline-none" type="submit">
            Завершить
          </button>
        </div>
        <div class="my-5 flex items-center justify-center">
          <button v-on:click="goBack" type="button" class="text-blue-500 text-sm">
            Вернуться назад..
          </button>
        </div>
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
import { ValidationObserver, extend } from 'vee-validate'
import { is_not } from 'vee-validate/dist/rules'
import defaultLogoComponent from '~/components/helpers/defaultLogoComponent'

extend('is_not', {
  ...is_not,
  message: 'Вам необходимо выбрать {_field_}'
})

export default {
  layout: 'defaultInner',
  transition: 'slide-fade',
  components: { ValidationObserver, defaultLogoComponent },
  computed: {
    type: {
      get () {
        return this.$store.state.auth.user.profile.profile_type
      }
    }
  },
  methods: {
    async submitFinishStepInitForm () {
      const isValid = await this.$refs.observerFinishStep.validate()
      if (isValid) {
        this.$store.dispatch('updateProfile')
          .then((response) => {
            // if (response.success) {
            this.$swal({
              toast: true,
              position: 'top-end',
              icon: 'success',
              title: 'Профиль успешно сохранен',
              timer: 5000,
              showConfirmButton: false
            })
            if (this.$store.state.auth.user.role.name === 'individual') {
              this.$router.push({ path: '/' })
            } else {
              this.$router.push({ path: '/profile' })
            }

            // }
          })
      }
    },
    goBack () {
      this.$router.go(-1)
    }
  }
}
</script>
