<template>
  <div class="w-full md:w-1/2 px-5 md:px-0">
    <default-logo-component />

    <div class="flex items-center">
      <div class="flex-1">
        <h1 class="font-bold my-5 text-2xl text-gray-700">
          <b>Укажите Ваш регион или город (населенный пункт)</b>
        </h1>
      </div>
      <div class="w-10 text-right">
        <button v-on:click="locateUser" type="button" class="text-xl text-blue-600">
          <fa :icon="['fas', 'street-view']" class="fill-current w-4 h-4" />
        </button>
      </div>
    </div>

    <ValidationObserver ref="observerThirdStep">
      <form @submit.prevent="submitThirdStepInitForm">
        <div>
          <ValidationProvider ref="observerLocation" v-slot="v" name="Ваш город (населенный пункт)" rules="required">
            <label class="text-sm text-gray-500">Ваш город (населенный пункт)</label>
            <dadata-autocomplete ref="locationAutocomplete" v-model="location" type="address" />
            <span class="text-sm text-red-400">{{ v.errors[0] }}</span>
          </ValidationProvider>
        </div>

        <div v-if="userLocatedCoordinates !== null" class="text-gray-500 py-3 text-sm">
          Мы определили ваши координаты: {{ userLocatedCoordinates.latitude }}, {{ userLocatedCoordinates.longitude }}<br>
          Выберите подходящий населеный пункт из предложеных выше.
        </div>

        <div class="my-2">
          <ValidationProvider ref="observerAddress" v-slot="v" name="Ваше адрес" rules="required">
            <label class="text-sm text-gray-500">Ваш адрес (куда будет осуществляться доставка товаров)</label>
            <input v-model="address" type="text" class="p-3 bg-gray-200 text-sm text-gray-600 rounded w-full" placeholder="Введите Ваш адрес">
            <span class="text-sm text-red-400">{{ v.errors[0] }}</span>
          </ValidationProvider>
        </div>

        <div class="my-5">
          <button class="bg-gray-600 hover:bg-gray-500 rounded py-2 px-10 text-white w-full text-sm focus:outline-none" type="submit">
            Продолжить
          </button>
        </div>
        <!-- <div class="my-5 flex items-center justify-center">
          <button v-on:click="goBack" type="button" class="text-blue-500 text-sm">
            Вернуться назад..
          </button>
        </div> -->
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate'
import { required } from 'vee-validate/dist/rules'
import dadataAutocomplete from '~/components/helpers/dadataAutocomplete'
import defaultLogoComponent from '~/components/helpers/defaultLogoComponent'

extend('required', {
  ...required,
  message: 'Вам необходимо указать {_field_}'
})

export default {
  layout: 'defaultInner',
  transition: 'slide-fade',
  components: { ValidationObserver, ValidationProvider, dadataAutocomplete, defaultLogoComponent },
  data () {
    return {
      userLocatedCoordinates: null
    }
  },
  computed: {
    location: {
      get () {
        return this.$store.state.auth.user.profile.location
      },
      set (value) {
        this.$store.commit('updateLocationProfileField', value)
      }
    },
    address: {
      get () {
        return this.$store.state.auth.user.profile.address
      },
      set (value) {
        this.$store.commit('updateAddrProfileField', value)
      }
    }
  },
  created () {
    this.$store.commit('updateProfileType', 'indevidual')
  },
  methods: {
    locateUser () {
      const _self = this
      if ('geolocation' in navigator) {
      // check if geolocation is supported/enabled on current browser
        navigator.geolocation.getCurrentPosition(
          function success (position) {
            _self.userLocatedCoordinates = {
              latitude: position.coords.latitude,
              longitude: position.coords.longitude
            }
            _self.$refs.locationAutocomplete.findByCoordinates(position.coords.latitude, position.coords.longitude)
            // console.log('latitude', position.coords.latitude, 'longitude', position.coords.longitude)
          },
          function error (errorMessage) {
            // for when getting location results in an error
            // console.log('An error has occured while retrieving location', errorMessage)
          }
        )
      } else {
        // geolocation is not supported
        // get your location some other way
        // console.log('geolocation is not enabled on this browser')
      }
    },
    async submitThirdStepInitForm () {
      const isValid = await this.$refs.observerThirdStep.validate()
      if (isValid) {
        this.$router.push({ path: '/profile/initial/finish' })
      }
    },
    goBack () {
      this.$router.go(-1)
    }
  }
}
</script>
