<template>
  <div class="w-full md:w-1/2 px-5 md:px-0">
    <default-logo-component />
    <h1 class="font-bold my-5 text-2xl text-gray-700">
      <b>Укажите желаемый тип Вашего профиля</b>
    </h1>
    <ValidationObserver ref="observerFirstStep">
      <form @submit.prevent="submitFirstStepInitForm">
        <div>
          <ValidationProvider v-slot="v" rules="is_not:not_selected" name="Тип Вашего профиля">
            <ul>
              <li>
                <label class="flex items-top justify-start bg-gray-200 rounded p-3 mb-2">
                  <input v-model="type" type="radio" class="form-radio mt-1" name="profileType" value="wholesale">
                  <div class="ml-3">
                    <h2 class="bolder text-gray-700">
                      Крупный опт и РЦ
                    </h2>
                    <p class="text-sm text-gray-600">
                      Готовы продавать товары большими партиями и работать напрямую с реализаторами?
                    </p>
                  </div>
                </label>
              </li>
              <li>
                <label class="flex items-top justify-start bg-gray-200 rounded p-3 mb-2">
                  <input v-model="type" type="radio" class="form-radio mt-1" name="profileType" value="ownproduction">
                  <div class="ml-3">
                    <h2 class="bolder text-gray-700">
                      Прямой производитель
                    </h2>
                    <p class="text-sm text-gray-600">
                      У вас свое производство и вы хотите продавать товары напрямую?
                    </p>
                  </div>
                </label>
              </li>
              <li>
                <label class="flex items-top justify-start bg-gray-200 rounded p-3 mb-2">
                  <input v-model="type" type="radio" class="form-radio mt-1" name="profileType" value="shop">
                  <div class="ml-3">
                    <h2 class="bolder text-gray-700">
                      Магазин
                    </h2>
                    <p class="text-sm text-gray-600">
                      Являетесь торговой организацией, желающей увеличить свои продажи через интеренет?
                    </p>
                  </div>
                </label>
              </li>
              <li>
                <label class="flex items-top justify-start bg-gray-200 rounded p-3 mb-2">
                  <input v-model="type" type="radio" class="form-radio mt-1" name="profileType" value="restaurant">
                  <div class="ml-3">
                    <h2 class="bolder text-gray-700">
                      Ресторан, кафе
                    </h2>
                    <p class="text-sm text-gray-600">
                      Создаете уникальные блюда и напитки, хотите повысить круг своих клиентов?
                    </p>
                  </div>
                </label>
              </li>
              <li>
                <label class="flex items-top justify-start bg-gray-200 rounded p-3 mb-2">
                  <input v-model="type" type="radio" class="form-radio mt-1" name="profileType" value="courier">
                  <div class="ml-3">
                    <h2 class="bolder text-gray-700">
                      Курьер, таксист, частный извозчик
                    </h2>
                    <p class="text-sm text-gray-600">
                      Можете доставлять заказы людям, хотите иметь дополнительную работу и увеличить заработок?
                    </p>
                  </div>
                </label>
              </li>
              <li>
                <label class="flex items-top justify-start bg-gray-200 rounded p-3 mb-2">
                  <input v-model="type" type="radio" class="form-radio mt-1" name="profileType" value="individual">
                  <div class="ml-3">
                    <h2 class="bolder text-gray-700">
                      Физическое лицо
                    </h2>
                    <p class="text-sm text-gray-600">
                      Планируете приобретать товары на площадке?
                    </p>
                  </div>
                </label>
              </li>
            </ul>
            <div class="text-sm text-red-400">
              {{ v.errors[0] }}
            </div>
          </ValidationProvider>
        </div>
        <div class="my-5">
          <button class="rounded text-sm gradiend-blue-button py-2 px-10 text-white w-full focus:outline-none" type="submit">
            Продолжить
          </button>
        </div>
        <!-- <div class="my-5 flex items-center justify-center">
          <button v-on:click="goToMainPage" type="button" class="text-blue-500 text-sm">
            Пропустить, заполню позже!
          </button>
        </div> -->
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate'
import { is_not } from 'vee-validate/dist/rules'
import defaultLogoComponent from '~/components/helpers/defaultLogoComponent'

extend('is_not', {
  ...is_not,
  message: 'Вам необходимо выбрать {_field_}'
})

export default {
  layout: 'defaultInner',
  transition: 'slide-fade',
  components: { ValidationObserver, ValidationProvider, defaultLogoComponent },
  computed: {
    type: {
      get () {
        return this.$store.state.auth.user.profile.profile_type
      },
      set (value) {
        this.$store.commit('updateProfileType', value)
      }
    }
  },
  methods: {
    async submitFirstStepInitForm () {
      const isValid = await this.$refs.observerFirstStep.validate()
      if (isValid) {
        switch (this.type) {
          case 'shop':
            this.$router.push({ path: '/profile/initial/step2shop' })
            break
          case 'restaurant':
            this.$router.push({ path: '/profile/initial/step2shop' })
            break
          case 'ownproduction':
            this.$router.push({ path: '/profile/initial/step2shop' })
            break
          case 'wholesale':
            this.$router.push({ path: '/profile/initial/step2shop' })
            break
          case 'courier':
            this.$router.push({ path: '/profile/initial/step2courier' })
            break
          default:
            this.$router.push({ path: '/profile/initial/step2individual' })
            break
        }
      }
    },
    goToMainPage () {
      this.$router.push({ path: '/' })
    }
  }
}
</script>
