<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="h-full w-full xl:w-5/6 p-2 xl:p-0">
      <div class="flex items-center justify-between flex-wrap mt-3">
        <h1 class="text-gray-700 text-3xl lg:text-5xl bolder leading-none">
          Выберите свой город
        </h1>
      </div>
      <div class="my-5">
        <div class="relative w-full lg:w-1/2">
          <div class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none text-gray-500 text-sm">
            <fa :icon="['fas', 'search']" />
          </div>
          <input
            v-debounce:500ms="searchCity"
            v-model="searchCityQuery"
            :class="'rounded'"
            type="text"
            class="py-3 pr-3 z-50 pl-10 bg-gray-200 text-sm text-gray-600 w-full focus:outline-none"
            placeholder="Введите название города.."
          >
          <button v-if="searchCityQuery !== ''" v-on:click="clearCityQuery" class="z-50 absolute inset-y-0 right-0 pr-4 flex items-center text-gray-500 text-sm cursor-pointer focus:outline-none">
            <fa :icon="['fas', 'times']" />
          </button>
        </div>
      </div>
      <div class="mt-5">
        <div v-for="(region, index) in filteredCities" :key="index" class="mb-10">
          <h2 class="text-gray-500 text-2xl bolder mb-1 lg:mb-5">
            {{ region.name }}
          </h2>
          <div class="flex justify-start flex-wrap">
            <div v-for="city in region.childs" :key="city.id" class="pr-10 text-gray-700 bolder w-1/2 lg:w-1/6 py-1 lg:py-3">
              <span v-on:click="setCity(city.city)" class="text-sm lg:text-base border-dashed border-b border-gray-500 cursor-pointer hover:text-green-500">{{ city.city }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  layout: 'mainPage',
  auth: false,
  components: {},
  data: () => ({
    searchCityQuery: ''

  }),

  async asyncData ({ params }) {
    const { data } = await axios.get(process.env.API_URL + `/api/cities`)
    return { cities: data, filteredCities: data }
  },
  methods: {
    searchCity () {
      if (this.searchCityQuery !== '') {
        // make filter logic here
        const searchResults = []
        const searchTerm = this.searchCityQuery.toLowerCase()

        this.cities.forEach(function (region) {
          const regionCities = []
          region.childs.forEach(function (city) {
            if (city.city.toLowerCase().includes(searchTerm)) {
              regionCities.push(city)
            }
          })

          if (regionCities.length > 0) {
            searchResults.push({ name: region.name, childs: regionCities })
          }
        })

        this.filteredCities = searchResults
      } else {
        this.filteredCities = this.cities
      }
    },
    clearCityQuery () {
      this.searchCityQuery = ''
      this.filteredCities = this.cities
    },
    setCity (city) {
      this.$store.commit('updateCurrentCity', city)
      this.$router.push('/')
    }
  }
}
</script>
