<template>
  <div class="lg:pt-32 flex justify-center">
    <div class="w-full xl:w-5/6 p-2 xl:p-0">
      <h2 class="text-2xl text-gray-700">
        <nuxt-link :to="'/'">
          <b>Каталог</b>
        </nuxt-link> /
        <nuxt-link :to="'/cart'">
          <b>Корзина</b>
        </nuxt-link> /
        <b>Оформление заказа</b>
      </h2>
      <client-only>
        <div v-if="!isGoingToPaymentPage" class="flex flex-wrap my-3 items-stretch">
          <div :class="$store.state.cart.items.length > 0 ? 'w-full lg:w-2/3': 'w-full'" class="order-2 lg:order-1 h-full">
            <checkoutComponent @goToPayment="setGoToPayment" />
          </div>
          <div v-if="$store.state.cart.items.length > 0" class="w-full lg:w-1/3 pl-0 lg:pl-5 order-1 lg:order-2 mb-5">
            <div class="p-5 rounded bg-green-100 text-sm my-3 border-l-2 text-gray-700 rounded-l-none border-green-400 h-auto lg:h-full">
              <b class="text-2xl">Итого по заказу:</b><br>
              <span>Заказ из {{ sortedByShopProducts.length+' '+declOfNum(sortedByShopProducts.length, ['магазина', 'магазинов', 'магазинов']) }} на общую сумму</span><br>
              <div class="mt-3">
                <animated-number
                  :value="calculateTotal()"
                  :formatValue="formatToPriceDiscount"
                  :duration="500"
                  class="text-3xl"
                  style="font-weight: bolder;"
                />
              </div>
              <div v-if="$store.state.cart.promocode !== null" class="mb-3">
                <div v-if="$store.state.cart.promocode.code !== 'AMORE'">
                  <div class="flex items-center justify-start">
                    <span class="mr-2 text-gray-500">Стоимость без промокода:</span>
                    <animated-number
                      :value="calculateTotalWithoutPromocode()"
                      :formatValue="formatToPrice"
                      :duration="500"
                      class="text-xl text-gray-500"
                    />
                  </div>
                  <div class="flex items-center justify-start">
                    <span class="mr-2 text-green-500">Ваша скидка:</span>
                    <animated-number
                      :value="calculateDiscount()"
                      :formatValue="formatToPriceDiscount"
                      :duration="500"
                      class="text-xl text-green-500"
                    />
                    <span class="text-xl text-green-500 ml-3 bg-green-200 px-2 py-1 rounded">- {{ $store.state.cart.promocode.reward }}%</span>
                  </div>
                </div>
              </div>
              <div v-if="sortedByShopProducts.length > 1">
                <!-- Заказ будет разбит на <b>{{ sortedByShopProducts.length+' '+declOfNum(sortedByShopProducts.length, ['заказ', 'заказа', 'заказов']) }}</b> и отправлен соответствующими магазинами. После формирования заказа в личном кабинете вы сможете отследить каждый из сформированных заказов отдельно. -->
                Заказ будет доставлен <b>одним курьером</b>. После формирования заказа вы сможете отслеживать его в личном кабинете.
              </div>
              <div v-if="$store.state.cart.user.location !== null" class="my-3">
                <div class="bolder text-2xl">
                  Доставка:
                </div>
                <div v-if="$store.state.cart.user.location !== null">
                  {{ getUserLocation($store.state.cart.user.location) }} {{ $store.state.cart.user.address }}
                </div>
                <!-- <span v-if="$store.state.cart.user.location !== null && typeof $store.state.cart.user.location.data !== 'undefined'"></span><br> -->
                <div>{{ $moment($store.state.cart.user.deliveryDate).format("DD-MM-YYYY") }} с {{ $store.state.cart.user.deliveryTime[0] }} до {{ $store.state.cart.user.deliveryTime[1] }}</div>
                <div class="bolder">
                  {{ checkDeliverySeparation() }}
                </div>
                <div class="text-gray-500">
                  По умолчанию мы формируем доставку заказа на следующий день, но, если вам необходимо получить его срочно, укажите об этом в комментариях, в 99% привозим оперативно.
                </div>
              </div>
              <div v-if="calculateTotal() < 5000">
                <div v-if="$store.state.cart.promocode !== null">
                  <div v-if="$store.state.cart.promocode.code !== 'AMORE'">
                    <span class="bolder">Стоимость доставки: 349</span><span class="ml-1 text-xs"><fa :icon="['fas', 'ruble-sign']" /></span><br><span>(включена в итоговую стоимость)</span>
                  </div>
                </div>
                <div v-if="$store.state.cart.promocode === null">
                  <span class="bolder">Стоимость доставки: 349</span><span class="ml-1 text-xs"><fa :icon="['fas', 'ruble-sign']" /></span><br><span>(включена в итоговую стоимость)</span>
                </div>
              </div>
              <div v-if="calculateTotal() >= 5000">
                <span class="bolder">Бесплатная доставка</span>
              </div>
              <div class="my-3">
                <div>
                  <b>Оплата:</b><br>
                  <span>{{ formatPayment($store.state.cart.user.payment) }}</span><br>
                </div>
                <div v-if="$store.state.cart.user.payment === 'online'" class="flex items-center justify-start my-3">
                  <!-- <span class="bg-gray-200 rounded px-3 text-2xl text-gray-500 mr-2 py-2">
                  <img src="~assets/img/tinkoff.svg" class="h-5">
                </span> -->
                  <span class="bg-gray-200 rounded px-3 text-2xl text-gray-500 mr-2 py-2">
                    <img src="~assets/img/visa.svg" class="h-4">
                  </span>
                  <span class="bg-gray-200 rounded px-3 py-2 text-2xl text-gray-500 mr-2">
                    <img src="~assets/img/master.svg" class="h-4">
                  </span>
                  <span class="bg-gray-200 rounded px-3 py-2 text-2xl text-gray-500 mr-2">
                    <img src="~assets/img/mir.svg" class="h-4">
                  </span>
                </div>
              </div>

              <div class="my-5">
                <b>Промокод</b><br>
                Если вы имеете промокод, вы можете воспользоваться им и получить скидку. Для этого введите его в поле ниже:<br>

                <v-wait for="check promocode" class="flex">
                  <template slot="waiting" class="w-full">
                    <div class="flex items-center justify-center w-full py-5">
                      <fulfilling-bouncing-circle-spinner
                        :animation-duration="2500"
                        :size="30"
                        color="#CBD5E0"
                      />
                      <div class="ml-2 text-gray-500">
                        Проверка промокода..
                      </div>
                    </div>
                  </template>
                  <ValidationObserver ref="observerPromocode" v-slot="{ errors }" class="w-full">
                    <form @submit.prevent="submitPromocodeForm">
                      <div class="flex mt-3 items-start w-full">
                        <div class="w-2/3">
                          <ValidationProvider ref="observerPromocodeInput" name="Промокод" rules="required" class="w-full">
                            <input v-model="promocode" type="text" class="p-2 bg-gray-200 text-sm text-gray-600 rounded-l w-full" placeholder="Введите промокод">
                          </ValidationProvider>
                        </div>
                        <div class="w-1/3">
                          <button class="rounded-r bg-gray-600 text-center w-full hover:bg-gray-500 py-2 px-5 text-sm text-white focus:outline-none" type="submit">
                            Применить
                          </button>
                        </div>
                      </div>
                      <div class="my-3">
                        <span v-if="errors['Промокод']" class="text-sm text-red-400">{{ errors['Промокод'][0] }}</span>
                        <div v-if="$store.state.cart.promocode !== null" class="text-sm text-green-500 flex items-center justify-start">
                          <fa :icon="['fas', 'check-circle']" />
                          <span v-if="$store.state.cart.promocode.code !== 'AMORE'" class="ml-2">Промокод "{{ $store.state.cart.promocode.code }}" принят (скидка -{{ $store.state.cart.promocode.reward }}%)</span>
                          <span v-if="$store.state.cart.promocode.code === 'AMORE'" class="ml-2">Промокод "{{ $store.state.cart.promocode.code }}" принят (бесплатная доставка)</span>
                          <span v-on:click="deletePromocode" class="ml-2 border-b border-dashed text-blue-600 border-blue-600 cursor-pointer">удалить</span>
                        </div>
                      </div>
                    </form>
                  </ValidationObserver>
                </v-wait>
              </div>
            </div>
          </div>
        </div>
      </client-only>
      <div v-if="isGoingToPaymentPage">
        <div class="flex items-center justify-center my-5">
          <fulfilling-bouncing-circle-spinner
            :animation-duration="2500"
            :size="50"
            color="#CBD5E0"
          />
          <div class="ml-5">
            <b class="text-base text-gray-700">Переходим к оплате..</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import AnimatedNumber from 'animated-number-vue'
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate'
import { required } from 'vee-validate/dist/rules'
import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
import checkoutComponent from '~/components/cart/checkoutComponent'

extend('required', {
  ...required,
  message: 'Вам необходимо указать {_field_}'
})

export default {
  layout: 'mainPage',
  auth: false,
  components: { checkoutComponent, AnimatedNumber, ValidationProvider, ValidationObserver, FulfillingBouncingCircleSpinner },
  data: () => ({
    promocode: '',
    isGoingToPaymentPage: false
  }),
  computed: {
    ...mapGetters({
      sortedByShopProducts: 'cart/sortedByShopProducts'
    })
  },
  mounted () {

  },
  methods: {
    checkDeliverySeparation () {
      // let deliveryCounter = 1
      // this.sortedByShopProducts.map((shop) => {
      //   if ([23, 45, 24, 42].includes(shop.shop)) {
      //     deliveryCounter++
      //   }
      // })
      // if (deliveryCounter > 1) {
      //   return 'Доставка вашего заказа будет разбита и произведена ' + deliveryCounter + ' ' + this.declOfNum(deliveryCounter, ['курьером', 'курьерами', 'курьерами'])
      // }
      return ''
    },
    getUserLocation (location) {
      if (typeof location !== 'undefined') {
        return location.data.city + ', '
      }
    },
    setGoToPayment () {
      this.isGoingToPaymentPage = true
    },
    async deletePromocode () {
      this.$store.dispatch('wait/start', 'check promocode', { root: true })
      await this.$store.dispatch('cart/deletePromocode')
      this.promocode = ''
      this.$store.dispatch('wait/end', 'check promocode', { root: true })
    },
    async submitPromocodeForm () {
      const _self = this
      const isValid = await this.$refs.observerPromocode.validate()
      if (isValid) {
        this.$store.dispatch('wait/start', 'check promocode', { root: true })

        await this.$store.dispatch('cart/checkPromocode', this.promocode).then((response) => {
          if (response.data.success) {
            // const reward = response.data.success.promocode.reward

            this.$store.dispatch('cart/setPromocode', response.data.success.promocode)

            this.$swal({
              toast: true,
              position: 'top-end',
              icon: 'success',
              title: response.data.success.message,
              timer: 3000,
              showConfirmButton: false
            })
          }
        }).catch((err) => {
          if (err.response) {
            this.$swal({
              toast: true,
              position: 'top-end',
              icon: 'error',
              title: err.response.data.error.message,
              timer: 3000,
              showConfirmButton: false
            })
            setTimeout(function () {
              _self.$refs.observerPromocode.setErrors({
                'Промокод': [err.response.data.error.message]
              })
            }, 100)
          }
        })
        this.$store.dispatch('wait/end', 'check promocode', { root: true })
      }
    },
    formatPayment (payment) {
      switch (payment) {
        case 'courierMoney': return 'Наличными курьеру при получении'
        case 'courierCard': return 'Оплата картой курьеру при получении'
        case 'online': return 'Онлайн-оплата'
        case 'transfer': return 'Перевод денег на карту'
        default: return ''
      }
    },
    formatToPrice (value) {
      return `${this.$options.filters.numFormat(value.toFixed(2), '0,0') + '<span class="text-gray-500">' + this.$options.filters.numFormat(value.toFixed(2), '.00 $') + '</span>'}`
    },
    formatToPriceDiscount (value) {
      return `${this.$options.filters.numFormat(value.toFixed(2), '0,0.00')} ₽`
    },
    declOfNum (number, titles) {
      const cases = [2, 0, 1, 1, 1, 2]
      return titles[ (number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5] ]
    },
    calculateTotal () {
      let totalPrice = this.$store.state.cart.items.reduce((total, p) => {
        let price = p.product.price
        if (p.product.priceWithDiscount !== null) {
          price = p.product.priceWithDiscount
        }

        if (p.isWeighted) {
          return total + price * p.weight / p.minWeight
        } else {
          return total + price * p.quantity
        }
      }, 0)

      if (totalPrice < 5000) {
        totalPrice = totalPrice + 349
      }

      if (this.$store.state.cart.promocode !== null) {
        if (this.$store.state.cart.promocode.code === 'AMORE') {
          if (totalPrice < 5000) {
            totalPrice = totalPrice - 349
          }
          return totalPrice.toFixed(2)
        } else {
          const discount = totalPrice.toFixed(2) / 100 * this.$store.state.cart.promocode.reward
          return totalPrice.toFixed(2) - discount
        }
      } else {
        return totalPrice.toFixed(2)
      }
    },
    calculateTotalWithoutPromocode () {
      let totalPrice = this.$store.state.cart.items.reduce((total, p) => {
        let price = p.product.price
        if (p.product.priceWithDiscount !== null) {
          price = p.product.priceWithDiscount
        }
        if (p.isWeighted) {
          return total + price * p.weight / p.minWeight
        } else {
          return total + price * p.quantity
        }
      }, 0)

      if (totalPrice < 5000) {
        totalPrice = totalPrice + 349
      }

      return totalPrice.toFixed(2)
    },
    calculateDiscount () {
      let totalPrice = this.$store.state.cart.items.reduce((total, p) => {
        let price = p.product.price
        if (p.product.priceWithDiscount !== null) {
          price = p.product.priceWithDiscount
        }
        if (p.isWeighted) {
          return total + price * p.weight / p.minWeight
        } else {
          return total + price * p.quantity
        }
      }, 0)

      if (totalPrice < 5000) {
        totalPrice = totalPrice + 349
      }

      if (this.$store.state.cart.promocode !== null) {
        return totalPrice.toFixed(2) - (totalPrice.toFixed(2) - totalPrice.toFixed(2) / 100 * this.$store.state.cart.promocode.reward)
      } else {
        return totalPrice.toFixed(2)
      }
    }
  }
}
</script>
